<template>
  <div class="app-container">
    <div class="section statistic">
      <div class="title">数据统计</div>
      <ul class="statisticUl">
        <li>今日新增协助书{{ statisticList[0] }}份</li>
        <li>今日打回{{ statisticList[1] }}份</li>
        <li>待处理{{ statisticList[2] }}份</li>
        <li>今日出结论书{{ statisticList[3] }}份</li>
        <li>今日出函{{ statisticList[4] }}份</li>
      </ul>
    </div>

    <div class="section">
      <div class="title">网上提出</div>
      <div class="my-el-table">
        <el-table :data="tableData" max-height="250" size="mini">
          <el-table-column
            fixed
            prop="sort"
            label="序号"
            align="center"
            width="60"
          />
          <el-table-column prop="identify" label="网上提出编号" align="center">
            <template slot-scope="scope">
              <el-link
                type="primary"
                :underline="false"
                @click="
                  $router.push({
                    path: '/entrust/submit-case',
                    query: { id: scope.row.identify }
                  })
                "
              >{{ scope.row.identify }}</el-link>
            </template>
          </el-table-column>
          <el-table-column prop="fileName" label="文件名" align="center" />
          <el-table-column
            prop="caseName"
            label="案件名"
            align="center"
            width="160"
          />

          <el-table-column
            prop="organize"
            label="提出机关"
            align="center"
            width="160"
          />
          <el-table-column
            prop="proposer"
            label="提出人"
            align="center"
            width="80"
          />
          <el-table-column
            prop="phone"
            label="联系电话"
            align="center"
            width="100"
          />

          <el-table-column
            prop="firstDate"
            label="首次提出日期"
            align="center"
            width="140"
          />
          <el-table-column
            prop="proposeDate"
            label="提出日期"
            align="center"
            width="140"
          />
          <el-table-column
            prop="endDate"
            label="约取结论日期"
            align="center"
            width="100"
          />

          <el-table-column
            prop="agent"
            label="经办人"
            align="center"
            width="80"
          />
          <el-table-column prop="status" label="状态" align="center" width="80" />
        </el-table>
      </div>
    </div>

    <div class="section">
      <div class="title">领导派单</div>
      <div class="my-el-table">
        <el-table :data="tableData" max-height="250" size="mini">
          <el-table-column
            fixed
            prop="sort"
            label="序号"
            align="center"
            width="60"
          />
          <el-table-column prop="identify" label="网上提出编号" align="center">
            <template slot-scope="scope">
              <el-link
                type="primary"
                :underline="false"
                @click="
                  $router.push({
                    path: '/entrust/distribute-bill',
                    query: { id: scope.row.identify }
                  })
                "
              >{{ scope.row.identify }}</el-link>
            </template>
          </el-table-column>
          <el-table-column prop="fileName" label="文件名" align="center" />
          <el-table-column
            prop="caseName"
            label="案件名"
            align="center"
            width="160"
          />

          <el-table-column
            prop="organize"
            label="提出机关"
            align="center"
            width="160"
          />
          <el-table-column
            prop="proposer"
            label="提出人"
            align="center"
            width="80"
          />
          <el-table-column
            prop="phone"
            label="联系电话"
            align="center"
            width="100"
          />

          <el-table-column
            prop="firstDate"
            label="首次提出日期"
            align="center"
            width="140"
          />
          <el-table-column
            prop="proposeDate"
            label="提出日期"
            align="center"
            width="140"
          />
          <el-table-column
            prop="endDate"
            label="约取结论日期"
            align="center"
            width="100"
          />

          <el-table-column
            prop="agent"
            label="经办人"
            align="center"
            width="160"
          />
        </el-table>
      </div>
    </div>

    <div class="section">
      <div class="title">某某的现场勘验</div>
      <div class="my-el-table">
        <el-table :data="tableData" max-height="250" size="mini">
          <el-table-column
            fixed
            prop="sort"
            label="序号"
            align="center"
            width="60"
          />
          <el-table-column prop="identify" label="网上提出编号" align="center" />
          <el-table-column prop="fileName" label="文件名" align="center" />

          <el-table-column
            prop="organize"
            label="提出机关"
            align="center"
            width="300"
          />
          <el-table-column
            prop="proposer"
            label="提出人"
            align="center"
            width="220"
          />
          <el-table-column
            prop="phone"
            label="联系电话"
            align="center"
            width="220"
          />

          <el-table-column
            prop="proposeDate"
            label="提出日期"
            align="center"
            width="140"
          />

          <el-table-column prop="agent" label="状态" align="center" width="160" />
        </el-table>
      </div>
    </div>

    <div class="section">
      <div class="title">某某市场调查</div>
      <div class="my-el-table">
        <el-table :data="tableData" max-height="250" size="mini">
          <el-table-column
            fixed
            prop="sort"
            label="序号"
            align="center"
            width="60"
          />
          <el-table-column prop="identify" label="受理号" align="center">
            <template slot-scope="scope">
              <el-link
                type="primary"
                :underline="false"
                @click="
                  $router.push({
                    path: '/entrust/market-examine',
                    query: { id: scope.row.identify }
                  })
                "
              >{{ scope.row.identify }}</el-link>
            </template>
          </el-table-column>
          <el-table-column prop="fileName" label="文件名" align="center" />

          <el-table-column prop="organize" label="提出机关" align="center" />
          <el-table-column
            prop="proposer"
            label="市场调查人"
            align="center"
            width="200"
          />
          <el-table-column
            prop="phone"
            label="认定总值"
            align="center"
            width="200"
          />

          <el-table-column
            prop="proposeDate"
            label="日期"
            align="center"
            width="150"
          />
        </el-table>
      </div>
    </div>

    <div class="section">
      <div class="title">某某的认定</div>
      <div class="my-el-table">
        <el-table :data="tableData" max-height="250" size="mini">
          <el-table-column
            fixed
            prop="sort"
            label="序号"
            align="center"
            width="60"
          />
          <el-table-column prop="identify" label="受理号" align="center" />
          <el-table-column prop="fileName" label="文件名" align="center" />

          <el-table-column prop="organize" label="提出机关" align="center" />
          <el-table-column
            prop="proposer"
            label="经办人"
            align="center"
            width="200"
          />
          <el-table-column
            prop="phone"
            label="审核人"
            align="center"
            width="200"
          />

          <el-table-column
            prop="proposeDate"
            label="日期"
            align="center"
            width="150"
          />
        </el-table>
      </div>
    </div>

    <div class="section">
      <div class="title">某某的出函</div>
      <div class="my-el-table">
        <el-table :data="tableData" max-height="250" size="mini">
          <el-table-column
            fixed
            prop="sort"
            label="序号"
            align="center"
            width="60"
          />
          <el-table-column prop="identify" label="受理号" align="center" />
          <el-table-column prop="fileName" label="文件名" align="center" />

          <el-table-column prop="organize" label="提出机关" align="center" />
          <el-table-column
            prop="proposer"
            label="经办人"
            align="center"
            width="200"
          />
          <el-table-column
            prop="phone"
            label="审核人"
            align="center"
            width="200"
          />

          <el-table-column
            prop="proposeDate"
            label="日期"
            align="center"
            width="150"
          />
        </el-table>
      </div>
    </div>

    <div class="section">
      <div class="title">某某的审核</div>
      <div class="my-el-table">
        <el-table :data="tableData" max-height="250" size="mini">
          <el-table-column
            fixed
            prop="sort"
            label="序号"
            align="center"
            width="60"
          />
          <el-table-column prop="identify" label="受理号" align="center" />
          <el-table-column prop="fileName" label="文件名" align="center" />

          <el-table-column prop="organize" label="提出机关" align="center" />
          <el-table-column
            prop="proposer"
            label="经办人"
            align="center"
            width="200"
          />
          <el-table-column
            prop="phone"
            label="审核人"
            align="center"
            width="200"
          />

          <el-table-column
            prop="proposeDate"
            label="日期"
            align="center"
            width="150"
          />
        </el-table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tableData: [
        {
          sort: '2',
          identify: 'A4403085100002020046004_33013_2020',
          fileName: '关于汽车损失价格的价格认定协助书',
          caseName: '罗炎坤被故意损毁财物案',
          organize: '深圳市公安局海山派出所',
          proposer: '王誓崧',
          phone: '18100286483',
          firstDate: '2020-04-09 16:02:35',
          proposeDate: '2020-04-09 16:02:35',
          endDate: '7',
          agent: '无',
          status: '未受理'
        },
        {
          sort: '2',
          identify: 'A4403085100002020046004_33013_2020',
          fileName: '关于汽车损失价格的价格认定协助书',
          caseName: '罗炎坤被故意损毁财物案',
          organize: '深圳市公安局海山派出所',
          proposer: '王誓崧',
          phone: '18100286483',
          firstDate: '2020-04-09 16:02:35',
          proposeDate: '2020-04-09 16:02:35',
          endDate: '7',
          agent: '无',
          status: '未受理'
        }
      ],
      statisticList: ['15', '20', '30', '30', '30']
    }
  },

  methods: {
    // toEntrust(id) {
    //   this.$router.push({ path: "/entrust/submit-case", query: { id } });
    // }
    // toDistribute(id) {
    //   this.$router.push({ path: "/entrust/distribute-bill", query: { id } });
    // }
    // toMarketExamine(id) {
    //   this.$router.push({ path: "/entrust/market-examine", query: { id } });
    // }
  }
}
</script>

<style lang="scss" scope>
.section {
  .title {
    margin: 24px 0 12px 0;
    padding-left: 12px;
    border-left: 2px solid #409eff;
  }
}

.statistic {
  .title {
    margin-top: 12px;
  }

  .statisticUl {
    display: flex;
    align-items: center;
    li {
      padding: 24px;
      margin-right: 18px;
      color: white;

      &:nth-child(1) {
        background: #4893ca;
        margin-left: 0;
      }
      &:nth-child(2) {
        background: #f39d42;
      }
      &:nth-child(3) {
        background: #e85140;
      }
      &:nth-child(4) {
        background: #78c359;
      }
      &:nth-child(5) {
        background: #da6a9d;
      }
    }
  }
}
</style>
