<template>
  <div class="login">
    <div>
      <h2 class="login-title">{{ title }}</h2>

      <div class="login-main">
        <el-tabs v-if="loginShow" v-model="activeName" @tab-click="handleClick">
          <el-tab-pane label="账号登录" name="1">
            <el-form
              ref="loginForm"
              :model="loginForm"
              :rules="loginRules"
              label-position="left"
              label-width="0px"
              class="login-form"
              size="medium"
            >
              <el-form-item prop="username">
                <el-input v-model="loginForm.username" placeholder="账号">
                  <svg-icon
                    slot="prefix"
                    icon-class="user"
                    class="el-input__icon input-icon"
                  />
                </el-input>
              </el-form-item>
              <el-form-item prop="password">
                <el-input
                  v-model="loginForm.password"
                  type="password"
                  show-password
                  placeholder="密码"
                  @keyup.enter.native="handleLogin"
                >
                  <svg-icon
                    slot="prefix"
                    icon-class="password"
                    class="el-input__icon input-icon"
                  />
                </el-input>
              </el-form-item>
              <el-form-item prop="code">
                <el-input
                  v-model="loginForm.code"
                  placeholder="验证码"
                  style="width: 65%"
                  @keyup.enter.native="handleLogin"
                >
                  <svg-icon
                    slot="prefix"
                    icon-class="validCode"
                    class="el-input__icon input-icon"
                  />
                </el-input>
                <div class="login-code">
                  <img ref="verifyCode" :src="codeUrl" @click="getCode">
                </div>
              </el-form-item>
              <el-form-item>
                <el-button
                  :loading="loading"
                  type="primary"
                  style="width:100%;margin-top:20px"
                  @click.native.prevent="handleLogin"
                >
                  <span v-if="!loading">登 录</span>
                  <span v-else>登 录 中...</span>
                </el-button>

                <!-- 账号注册 -->
                <!-- <el-button

                  type=""
                  style="width:100%;margin:20px 0 0 0"
                  @click="loginShow = false"
                >
                  注册账号

                </el-button> -->
              </el-form-item>
            </el-form>
          </el-tab-pane>
          <el-tab-pane label="扫码登录" name="2">
            <div id="code-wrap" />
          </el-tab-pane>
        </el-tabs>

        <!-- 账号注册表单 -->
        <!-- <el-form
          v-else
          ref="registerForm"
          :model="registerForm"
          :rules="registerRules"

          label-width="80px"
          class="register-form"
        >

          <el-form-item prop="userID" label="登录账号">
            <el-input
              v-model="registerForm.userID"
              placeholder="请输入登录账号"
            />
          </el-form-item>

          <el-form-item prop="userName" label="用户名称">
            <el-input
              v-model="registerForm.userName"
              placeholder="请输入用户名称"
            />
          </el-form-item>

          <el-form-item prop="password" label="账号密码">
            <el-input
              v-model="registerForm.password"
              show-password
              type="password"
              placeholder="请输入账号密码"
            />
          </el-form-item>

          <el-form-item prop="phone" label="手机号码">
            <el-input
              v-model="registerForm.phone"
              placeholder="请输入手机号码"
            />
          </el-form-item>
          <el-form-item label-width="0">
            <div class="register-button">
    
              <el-button

                size="medium"
                type="danger"
                style="width:350px;"
                @click="submitRegister"
              >
                注 册

              </el-button>

              <el-button

                size="medium"
                type=""
                style="width:350px;margin:20px 0 0 0"
                @click="loginShow = true"
              >
                返回登录

              </el-button>
            </div>
          </el-form-item>
        </el-form> -->
      </div>
    </div>
  </div>
</template>

<script>
import {getVerifyCode, register} from '@/api/login'

import defaultSettings from '@/settings'

export default {
  name: 'Login',
  data() {
    return {
      activeName: '1',
      loginShow: true,

      title: defaultSettings.title,
      codeUrl: '',
      loginForm: {
        username: '',
        password: '',
        code: ''
      },

      // 注册表单
      // registerForm: {
      //   userID: '',
      //   userName: '',
      //   password: '',

      //   phone: ''

      // },
      loginRules: {
        username: [
          {required: true, trigger: 'blur', message: '用户名不能为空'}
        ],
        password: [
          {required: true, trigger: 'blur', message: '密码不能为空'}
        ],
        code: [
          {required: true, trigger: 'change', message: '验证码不能为空'}
        ],
        uuid: ''
      },
      // 注册表单校验规则
      // registerRules: {

      //   userID: [
      //     {required: true, message: '登录账号不能为空'}
      //   ],
      //   userName: [
      //     {required: true, message: '用户名不能为空'}
      //   ],
      //   password: [
      //     {required: true, message: '密码不能为空'}
      //   ],
      //   phone: [
      //     {required: true, message: '手机号码不能为空'}
      //   ]

      // },
      loading: false
    }
  },
  created() {
    this.getCode()
  },

  methods: {
    getCode() {
      getVerifyCode().then(res => {
        this.codeUrl = res.data.captchaCode
        this.loginForm.uuid = res.data.captchaGUID
      })
    },
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        const user = {
          username: this.loginForm.username,
          password: this.loginForm.password,
          code: this.loginForm.code,
          uuid: this.loginForm.uuid
        }
        if (valid) {
          this.loading = true
          this.$store
            .dispatch('Login', user)
            .then(response => {
              this.loading = false
              if (response.statusCode === 200) {
                this.$router.push({path: '/home'})
              } else {
                this.getCode()
              }
            })
            .catch(() => {
              this.loading = false
              this.getCode()
            })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },

    // 账号注册
    // submitRegister() {
    //   this.$refs.registerForm.validate(valid => {
    //     if (valid) {
    //       register(this.registerForm).then(() => {
    //         this.loginShow = true

    //         this.$notify({
    //           title: '成功',
    //           message: '注册账号成功！',
    //           type: 'success'
    //         })
    //       })
    //     } else {
    //       console.log('error submit!!')
    //       return false
    //     }
    //   })
    // },

    // 微信企业扫码登录
    handleWwLogin() {
      window.WwLogin({
        id: 'code-wrap',
        appid: 'wwd6fba68063d4c8bc',
        agentid: '1000003',
        redirect_uri: 'http%3a%2f%2fhonya123.gicp.net%3a88%2fDefault.aspx',
        state: '3828293919281',
        href: ''
      })
    },

    handleClick() {
      if (this.activeName === '2') {
        this.handleWwLogin()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f4f4f4;
  background-size: cover;

  background-image: url("../assets/images/background.svg");

  .login-title {
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    margin: 0 auto 30px auto;
    text-align: center;
    letter-spacing: 2px;
    color: #606266;
  }

  .login-main {
    border-radius: 6px;
    background: #ffffff;
    padding: 25px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

    .el-tabs {
      margin-bottom: 0;
    }

    .login-form {
      width: 350px;

      .input-icon {
        width: 14px;
        margin-left: 2px;
      }
    }

    .register-form {
      padding-top: 10px;
      width: 350px;
    }

    .register-button {
      text-align: center;
      margin-top: 20px;
    }

    .login-tip {
      font-size: 13px;
      text-align: center;
      color: #bfbfbf;
    }
    .login-code {
      width: 33%;
      display: inline-block;
      height: 38px;
    }

    .login-code img {
      cursor: pointer;
      vertical-align: middle;
    }
  }
}
</style>
