<template>

  <div class="header-navigation">

    <nav class="menu">

      <div>
        <img src="/image/logo.png" alt="">
      </div>

      <ul class="my-ul menu-one">
        <li class="menu-one-item">
          <nuxt-link to="/introduce">
            首页
          </nuxt-link>
        </li>
        <li class="menu-one-item">
          <nuxt-link to="/">
            关于宏扬
          </nuxt-link>

          <ul class="my-ul menu-two ">

            <li class="menu-two-item">
              <nuxt-link to="/">
                宏扬简介
              </nuxt-link>
            </li>
            <li class="menu-two-item">
              <nuxt-link to="/">
                董事长致辞
              </nuxt-link>
            </li>

          </ul>

        </li>
        <li class="menu-one-item">
          <nuxt-link to="/">
            关于宏扬
          </nuxt-link>
        </li>
        <li class="menu-one-item">
          <nuxt-link to="/">
            关于宏扬
          </nuxt-link>
        </li>
        <li class="menu-one-item">
          <nuxt-link to="/">
            关于宏扬
          </nuxt-link>
        </li>
        <li class="menu-one-item">
          <nuxt-link to="/">
            关于宏扬
          </nuxt-link>
        </li>
        <li class="menu-one-item">
          <nuxt-link to="/">
            关于宏扬
          </nuxt-link>

          <ul class="my-ul menu-two">
            <li class="menu-two-item">
              <nuxt-link to="/">
                宏扬简介
              </nuxt-link>
            </li>
            <li class="menu-two-item">
              <nuxt-link to="/">
                董事长致辞
              </nuxt-link>
            </li>
          </ul>

        </li>

      </ul>
    </nav>
  </div>

</template>

<script>
export default {
  data() {
    return {

    }
  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>
.menu{

    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/image/nav_bg.png') repeat-x;

    .menu-one{
        display: flex;
        align-items: center;
        z-index: 9;
        position: relative;

    // height: 100px;

        .menu-one-item{
            position: relative;
            padding: 8px;

            a{
                color: white;
                font-weight: bold;
            }
            &:hover{
                background: #FFFFFF;

            border-bottom: 4px solid #151c25;

                a{
                    color: #000000;
                }
                .menu-two{

                    display: block;

                }
            }
            .menu-two{
                background: linear-gradient(#454f5b,#151c25);

                display: none;
                position: absolute;
                top: 42px;
                left: 0;
                width: 200px;

                // padding: 8px;
                .menu-two-item{
                    padding: 8px;
                    &:hover{
                        background: white;

                        a{
                            color: black;
                        }
                    }

                    a{
                       font-weight: normal;
                       color: white;
                    }
                }
            }
        }

    }

}
</style>

<style lang="scss">
.header-navigation{

}

</style>
