<template>
  <div class="">
    <van-popup
      v-model="show"
      position="bottom"
      :close-on-click-overlay="false"
      round
      :style="{ width: '100%' }"
      :overlay="false"
      :class="open ? 'open' : ''"
    >
      <div class="icon-wrap" @click="open = !open">
        <van-icon :name="open ? 'arrow-down' : 'arrow-up'" color="white" />
      </div>

      <div class="main">
        <div class="flex" @click="open = !open">
          <div class="mr-m">统计概览</div>
          <div class="count">总计：{{ totalCount }}处</div>
        </div>

        <div>
          <div class="title">街道分布</div>
          <div id="street-pie"></div>
        </div>

        <div>
          <div class="title">类别分布</div>
          <div id="category-pie"></div>
        </div>
      </div>
    </van-popup>
  </div>
</template>

<script>
import { queryChart } from '@/api/home'

import * as echarts from 'echarts'

export default {
  name: 'SiteDeatailPopup',

  components: {},
  props: {
    street: {
      default: '',
      type: String,
    },
    category: {
      default: '',
      type: String,
    },
    grade: {
      default: '',
      type: String,
    },
  },
  data() {
    return {
      show: true,

      height: '80px',

      open: true,
      streetChartData: [],
      categoryChartData: [],
      totalCount: '',
    }
  },

  created() {
    console.log('this.street')

    this.handleQueryChart()
  },

  mounted() {},

  watch: {
    street() {
      this.handleQueryChart()
    },
    category() {
      this.handleQueryChart()
    },
    grade() {
      this.handleQueryChart()
    },
  },

  methods: {
    handleQueryChart() {
      console.log(this.street)
      queryChart({
        street: this.street,
        category: this.category,
        identity: this.grade,
      }).then((res) => {
        this.streetChartData = res.data.streetLists
        this.categoryChartData = res.data.cateLists
        this.totalCount = res.data.totalCount

        this.initStreetPie()

        this.inintCategoryPie()
      })
    },

    inintCategoryPie() {
      console.log(document.getElementById('street-pie'))

      // 基于准备好的dom，初始化echarts实例
      let myChart = echarts.init(document.getElementById('category-pie'))

      // 指定图表的配置项和数据
      let option = {
        tooltip: {
          trigger: 'item',
        },

        series: [
          {
            type: 'pie',
            // radius: [10, 80],

            // roseType: 'area',
            itemStyle: {
              borderRadius: 5,
            },
            data: this.categoryChartData,
          },
        ],
      }

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option)
    },

    initStreetPie() {
      console.log(document.getElementById('street-pie'))

      // 基于准备好的dom，初始化echarts实例
      let myChart = echarts.init(document.getElementById('street-pie'))

      // 指定图表的配置项和数据
      let option = {
        tooltip: {
          trigger: 'item',
        },

        series: [
          {
            type: 'pie',
            // radius: [10, 80],

            // roseType: 'area',
            itemStyle: {
              borderRadius: 5,
            },
            data: this.streetChartData,
          },
        ],
      }

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option)
    },
  },
}
</script>
<style lang="scss" scoped>
.van-popup {
  background-color: rgba(0, 0, 0, 0.9);
  height: 55px;
  transition: 0.5s;

  .icon-wrap {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .main {
    color: white;
    margin: 15px;
    // margin-top: 30px;

    .count {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.8);
    }

    .title {
      padding-left: 10px;
      border-left: 4px solid rgba(255, 255, 255, 0.8);
      line-height: 12px;
      margin-top: 20px;
      //   margin-bottom: 10px;
      //   color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
    }
  }
}

.van-popup.open {
  height: 460px;
}

#street-pie {
  width: 100%;
  height: 170px;
}

#category-pie {
  width: 100%;
  height: 170px;
}
</style>
