<template>
  <div class="">
    <van-popup
      v-model="show"
      closeable
      :style="{ height: '100%', width: '100%' }"
      @closed="closedPopup"
      :overlay="false"
    >
      <div class="main">
        <div class="flex mb-xl">
          <span class="fs-xl mr-xs">{{ site.name }}</span>
          <van-tag type="primary">{{ site.category }}</van-tag>
        </div>

        <div>
          <div class="title">视频</div>

          <div>
            <video
              width="100%"
              class="video"
              controls
              v-if="site.mediaUrl"
              preload
              id="site-video"
            >
              <source :src="baseUrl + site.mediaUrl" type="video/mp4" />
            </video>

            <div v-else class="fs-s color-s">视频拍摄中。敬请期待...</div>
          </div>
        </div>

        <div v-if="site.content">
          <div class="title">记载</div>

          <div class="fs-s" style="color: rgba(255, 255, 255, 0.9)">
            {{ site.content }}
          </div>
        </div>

        <div>
          <div class="title">相册</div>

          <div
            class="flex overflow-a"
            v-if="site.picLists && site.picLists.length > 0"
          >
            <van-image
              :src="baseUrl + item.picUrl"
              v-for="(item, index) in site.picLists"
              :key="index"
              @click="handleImagePreview(site.picLists, index)"
            />
          </div>

          <div v-else class="fs-s color-s">相册拍摄中。敬请期待...</div>
        </div>

        <div>
          <div class="title">详情</div>

          <div>
            <van-row type="flex" v-if="site.number">
              <van-col span="8">编号</van-col>
              <van-col span="16">{{ site.number }}</van-col>
            </van-row>

            <van-row type="flex" v-if="site.address">
              <van-col span="8">地址</van-col>
              <van-col span="16">{{ site.address }}</van-col>
            </van-row>
            <van-row type="flex" v-if="site.state">
              <van-col span="8">保存现状</van-col>
              <van-col span="16">{{ site.state }}</van-col>
            </van-row>
            <van-row type="flex" v-if="site.years">
              <van-col span="8">年代</van-col>
              <van-col span="16">{{ site.years }}</van-col>
            </van-row>
            <van-row type="flex" v-if="site.user">
              <van-col span="8">年使用单位/人代</van-col>
              <van-col span="16">{{ site.user }}</van-col>
            </van-row>
            <van-row type="flex" v-if="site.society">
              <van-col span="8">隶属关系</van-col>
              <van-col span="16">{{ site.society }}</van-col>
            </van-row>
            <van-row type="flex" v-if="site.property">
              <van-col span="8">产权</van-col>
              <van-col span="16">{{ site.property }}</van-col>
            </van-row>

            <van-row type="flex" v-if="site.section">
              <van-col span="8">科</van-col>
              <van-col span="16">{{ site.section }}</van-col>
            </van-row>
            <van-row type="flex" v-if="site.genus">
              <van-col span="8">属</van-col>
              <van-col span="16">{{ site.genus }}</van-col>
            </van-row>
            <van-row type="flex" v-if="site.species">
              <van-col span="8">树种</van-col>
              <van-col span="16">{{ site.species }}</van-col>
            </van-row>
            <van-row type="flex" v-if="site.latinName">
              <van-col span="8">拉丁名</van-col>
              <van-col span="16">{{ site.latinName }}</van-col>
            </van-row>
            <van-row type="flex" v-if="site.growingPlace">
              <van-col span="8">生长场所</van-col>
              <van-col span="16">{{ site.growingPlace }}</van-col>
            </van-row>
            <van-row type="flex" v-if="site.distribution">
              <van-col span="8">分布</van-col>
              <van-col span="16">{{ site.distribution }}</van-col>
            </van-row>
            <van-row type="flex" v-if="site.age">
              <van-col span="8">估测树龄</van-col>
              <van-col span="16">{{ site.age }}</van-col>
            </van-row>
            <van-row type="flex" v-if="site.soilType">
              <van-col span="8">土壤类型</van-col>
              <van-col span="16">{{ site.soilType }}</van-col>
            </van-row>
            <van-row type="flex" v-if="site.density">
              <van-col span="8">土壤紧密度</van-col>
              <van-col span="16">{{ site.density }}</van-col>
            </van-row>

            <van-row type="flex" v-if="site.health">
              <van-col span="8">健康情况</van-col>
              <van-col span="16">{{ site.health }}</van-col>
            </van-row>

            <van-row type="flex" v-if="site.environment">
              <van-col span="8">生长环境</van-col>
              <van-col span="16">{{ site.environment }}</van-col>
            </van-row>

            <van-row type="flex" v-if="site.form">
              <van-col span="8">形态</van-col>
              <van-col span="16">{{ site.form }}</van-col>
            </van-row>
          </div>
        </div>
      </div>
    </van-popup>
  </div>
</template>

<script>
import { getSiteDetail } from '@/api/home'

import * as echarts from 'echarts'

import { ImagePreview } from 'vant'

export default {
  name: 'SiteDeatailPopup',

  components: {},
  props: {
    show: {
      default: false,
      type: Boolean,
    },
    siteId: {
      required: true,
    },
    lng: {
      required: true,
    },
    lat: {
      required: true,
    },
  },
  data() {
    return {
      site: {},

      active: '1',

      baseUrl: process.env.VUE_APP_BASE_API,
    }
  },

  created() {
    console.log('SiteDeatailPopup')
  },

  mounted() {},

  watch: {
    siteId(newValue) {
      console.log('newValue')

      this.id = newValue
      this.handleGetSiteDetail()
    },
  },

  methods: {
    closedPopup() {
      let video = document.getElementById('site-video')
      video && video.pause()

      this.$emit('update:show', false)
    },

    handleImagePreview(list, index) {
      let images = list.map((item) => {
        return this.baseUrl + item.picUrl
      })
      console.log(images)
      ImagePreview({
        images,
        startPosition: index,
      })
    },

    handleGetSiteDetail() {
      getSiteDetail({ id: this.id }).then((res) => {
        this.site = res.data
      })
    },

    tabsChange() {
      console.log(this.active)

      if (this.active === 2) {
        console.log('this.active')

        this.initStreetPie()
      }
    },

    initStreetPie() {
      console.log(document.getElementById('street-pie'))

      // 基于准备好的dom，初始化echarts实例
      let myChart = echarts.init(document.getElementById('street-pie'))

      // 指定图表的配置项和数据
      let option = {
        tooltip: {
          trigger: 'item',
        },
        legend: {
          orient: 'vertical',
          left: 'left',
        },

        series: [
          {
            name: 'Access From',
            type: 'pie',
            radius: '50%',
            data: [
              { value: 1048, name: 'Search Engine' },
              { value: 735, name: 'Direct' },
              { value: 580, name: 'Email' },
              { value: 484, name: 'Union Ads' },
              { value: 300, name: 'Video Ads' },
            ],
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)',
              },
            },
          },
        ],
      }

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option)
    },
  },
}
</script>
<style lang="scss" scoped>
.van-popup {
  background-color: rgba(0, 0, 0, 0.9);

  .main {
    color: white;
    margin: 15px;
    margin-top: 30px;

    .title {
      padding-left: 10px;
      border-left: 4px solid white;
      line-height: 16px;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .van-image {
      width: 110px;
      height: 110px;
      margin-right: 8px;
      flex: none;
    }

    .video {
      height: 180px;
    }

    .van-row {
      .van-col {
        border: 1px solid rgba(255, 255, 255, 0.4);
        padding: 2px;
        font-size: 14px;
        border-bottom: none;
        border-right: none;
        padding: 4px;
        color: rgba(255, 255, 255, 0.8);

        &:last-child {
          border-right: 1px solid rgba(255, 255, 255, 0.4);
        }
      }

      &:last-child {
        .van-col {
          border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important;
        }
      }
    }
  }
}

#street-pie {
  width: 100%;
  height: 270px;
}
</style>
