<template>
  <div class="tabbar">
    <van-tabbar
      route
      :active-color="activeColor"
      :inactive-color="inactiveColor"
      placeholder=""
    >
      <van-tabbar-item
        replace
        :to="item.path"
        :icon="item.meta.icon"
        v-for="(item, index) in list"
        :key="index"
        >{{ item.meta.title }}

        <template #icon="props" v-if="item.meta.activeIcon">
          <img
            :src="
              props.active
                ? require('@/assets/images/' + item.meta.activeIcon)
                : require('@/assets/images/' + item.meta.inactiveIcon)
            "
          />
        </template>
      </van-tabbar-item>
    </van-tabbar>
  </div>
</template>

<script>
export default {
  name: 'Tabbar',

  props: {
    activeColor: {
      default: '#1989fa',
      type: String,
    },

    inactiveColor: {
      default: '#646566',
      type: String,
    },
  },

  data() {
    return {
      list: [],
    }
  },

  created() {
    console.log(this.$router.options.routes)

    this.list = this.$router.options.routes.filter((item) => item.meta?.tabbar)
  },

  methods: {},
}
</script>
<style lang="scss" scoped></style>
