<template>
  <div v-show="show" :style="style" class="contextmenus">
    <slot />
  </div>
</template>
<script>
export default {
  name: 'context-menu',
  data() {
    return {
      x: null,
      y: null,
      style: {},
      show: false,
    }
  },
  methods: {
    bindShowEvents(event) {
      this.style = {
        left: event.clientX + 'px',
        top: event.clientY + 'px',
      }
      this.show = true
      document.addEventListener('click', this.bindHideEvents)
    },
    // 绑定隐藏菜单事件
    bindHideEvents() {
      this.show = false
      document.removeEventListener('click', this.bindHideEvents)
    },
  },
}
</script>
<style>
.contextmenus li {
  display: block;
  line-height: 30px;
  text-align: center;
}
.contextmenus li:not(:last-child) {
  border-bottom: 1px solid #e4e7ed;
}
.contextmenus {
  position: fixed;
  background: #ffffff;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);

  border: 1px solid #e4e7ed;

  width: 100px;
  font-size: 12px;
  color: #606266;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1000;
}
.contextmenus li:hover {
  cursor: pointer;
  background: #f4f4f4;
}
</style>
