<template>
  <div class="baidu-map" :style="{ height }">
    <div class="flex mb-s">
      <div>
        <el-input
          v-model="lng"
          placeholder="请输入经度"
          class="width-s"
          @input="latlngSearch"
        >
          <template slot="prepend">经度</template>
        </el-input>
        <el-input
          v-model="lat"
          placeholder="请输入纬度"
          class="width-s"
          @input="latlngSearch"
        >
          <template slot="prepend">纬度</template>
        </el-input>
      </div>

      <el-autocomplete
        ref="autocompleteRef"
        v-model="title"
        :fetch-suggestions="querySearchAsync"
        placeholder="请输入搜索地址"
        class="width-m ml-a"
        @select="handleSelect"
        popper-class="address-autocomplete"
        :popper-append-to-body="false"
      >
        <i slot="prefix" class="el-input__icon el-icon-search" />

        <template slot-scope="{ item }">
          <div class="">{{ item.title }}</div>
          <span class="color-info fs-xs">{{ item.address }}</span>
        </template>
      </el-autocomplete>
    </div>
    <div :id="id" class="map-container" v-loading="loading" />
  </div>
</template>

<script>
import { createScript, guid, BdMapToTxMap, TxMapToBdMap } from '@/utils'

// let map = ''

export default {
  props: {
    initLat: {
      default: '',
    },
    initLng: {
      default: '',
    },
    id: {
      type: String,
      default: 'baidumap-' + guid(),
    },

    height: {
      default: '500px',
    },
  },
  data() {
    return {
      map: '',
      lat: this.initLat,
      lng: this.initLng,
      // 建筑坐标地址
      address: '',
      loading: false,
      surroundingPois: [],
      // 建筑坐标名称

      title: '',
    }
  },

  watch: {
    id(newValue, oldValue) {
      this.initLocation()
    },
    initLat(newValue) {
      console.log(newValue, 'initLat')
      this.lat = newValue
      this.initLocation()
    },
    initLng(newValue) {
      console.log('initLng')

      this.lng = newValue
      this.initLocation()
    },
  },

  mounted() {
    // 引入百度地图
    createScript(
      '//api.map.baidu.com/getscript?type=webgl&v=1.0&ak=Z9c2RrODkOxSTKCQ6uHKjibM91G0yN8L'
    )
      .then(() => {
        this.initLocation()
      })
      .catch((err) => {
        if (err === 'exist') {
          this.initLocation()
        }
      })
  },
  methods: {
    // 返回当前坐标信息
    getPoi() {
      // let { lng, lat } = BdMapToTxMap(this.lng, this.lat)
      return {
        lat: this.lat,
        lng: this.lng,
        address: this.address,
        title: this.title,
      }
    },

    // 判断有没传入经纬度、无则获取当前定位经纬度
    initLocation() {
      console.log(this.lat, this.lng, '99')

      if (this.lat && this.lng) {
        // let { lng, lat } = TxMapToBdMap(this.initLng, this.initLat)

        this.lat = this.initLat

        this.lng = this.initLng

        this.initBMap()
      } else {
        this.loading = true

        let geolocation = new BMapGL.Geolocation()
        // 获取当前定位
        geolocation.getCurrentPosition((res) => {
          console.log(res)
          // 获取定位失败时传入默认定位
          this.lat = res ? res.point.lat : 23.166395

          this.lng = res ? res.point.lng : 113.468981

          this.initBMap()

          this.loading = false
        })
      }
    },

    // 初始化地图
    initBMap() {
      this.map = new BMapGL.Map(this.id)
      this.map.centerAndZoom(new BMapGL.Point(this.lng, this.lat), 12)

      let locationControl = new BMapGL.LocationControl() // 定位控件
      this.map.addControl(locationControl)

      this.map.enableScrollWheelZoom(true) //开启鼠标滚轮缩放

      this.handleGetLocation()

      // 地图点击事件
      this.map.addEventListener('click', (e) => {
        console.log(e)
        this.lat = e.latlng.lat
        this.lng = e.latlng.lng

        this.handleGetLocation()
      })
    },

    // 查询周边建筑坐标
    querySearchAsync(queryString, cb) {
      console.log(this.title, queryString, 123)

      if (queryString) {
        // 当搜索关键词存在时

        let options = {
          onSearchComplete: function (results) {
            if (local.getStatus() == BMAP_STATUS_SUCCESS) {
              cb(results._pois)
              console.log(results._pois)
            }
          },
          renderOptions: { map: this.map, autoViewport: true },
        }

        let local = new BMapGL.LocalSearch(this.map, options)

        local.search(queryString)
      } else {
        // 当点击地图或初始化进来搜索关键词不存在时下拉显示当前经纬度周边建筑坐标

        console.log(this.surroundingPois, 999)
        cb(this.surroundingPois)
      }
    },

    // 点击下拉项
    handleSelect(item) {
      this.lat = item.point.lat
      this.lng = item.point.lng
      this.title = item.title

      this.address = item.address

      let local = new BMapGL.LocalSearch(this.map, {
        renderOptions: { map: this.map },
      })

      local.search(this.title)
    },

    // 根据经纬度获取建筑坐标信息
    handleGetLocation() {
      // 创建地理编码实例
      let myGeo = new BMapGL.Geocoder()
      // 根据坐标得到地址描述

      console.log(this.lng, this.lat)

      myGeo.getLocation(new BMapGL.Point(this.lng, this.lat), (result) => {
        console.log(result)

        if (result.surroundingPois.length === 1) {
          this.address = result.surroundingPois[0].address
          this.title = result.surroundingPois[0].title

          this.$nextTick(() => {
            this.$refs.autocompleteRef.focus()
          })
        } else {
          this.surroundingPois = result.surroundingPois

          this.address = result.address
          this.title = ''

          // 输入框聚焦弹窗下拉框
          this.$refs.autocompleteRef.focus()
        }
      })
    },

    // 经纬度获取位置
    latlngSearch() {
      console.log(this.lat, this.lng)
      if (this.lat && this.lng) {
        this.handleGetLocation()
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.baidu-map {
  width: 100%;

  .map-container {
    overflow: hidden;
    width: 100%;
    height: calc(100% - 44px);
  }

  ::v-deep .el-autocomplete-suggestion.address-autocomplete li {
    line-height: normal !important;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
</style>
