<template>
  <div>
    <div class="goods-table">
      <div class="goods-table-title">
        <span class="title-text">一般物品标的清单</span>

        <div style="display:flex">
          <el-upload
            action="https://jsonplaceholder.typicode.com/posts/"
            :show-file-list="false"
          >
            <el-button
              size="mini"
              style="margin: 0 12px"
              type="info"
            >导入EXCEL</el-button>
          </el-upload>

          <el-button size="mini" type="success">下载EXCEL</el-button>

          <el-button
            size="mini"
            type="primary"
            @click="handleCreate"
          >新增一行</el-button>
        </div>
      </div>  

      <div class="my-el-table">
        <el-table :data="tableData" border style="width: 100%" size="mini">
          <el-table-column
            fixed
            prop="date"
            label="序号"
            width="60"
            type="index"
            align="center"
          />

          <el-table-column prop="articleCateText" label="物品分类" align="center" />
          <el-table-column prop="articelName" label="标的名称" align="center" />
          <el-table-column prop="model" label="品牌规格型号" align="center" min-width="120" />

          <el-table-column label="标的形态" align="center">
            <el-table-column prop="isLost" label="是否灭失" align="center">
              <template slot-scope="scope">
                <span>{{ scope.row.isLost ? "是" : "否" }}</span>
              </template>
            </el-table-column>

            <el-table-column
              prop="basicDayHaveBigChange"
              label="基准日形态是否已发生重大改变"
              align="center"
              width="120"
            >
              <template slot-scope="scope">
                <span>{{ scope.row.basicDayHaveBigChange ? "是" : "否" }}</span>
              </template>
            </el-table-column>
          </el-table-column>

          <el-table-column prop="counts" label="数量" align="center" />
          <el-table-column prop="unit" label="单位" align="center" />
          <el-table-column prop="buyPrice" label="原购单价" align="center" />

          <el-table-column prop="currency" label="币种" align="center" />

          <el-table-column prop="buyStatuesText" label="购置时状态" align="center" min-width="100" />
          <el-table-column prop="newDegree" label="新旧程度" align="center" />
          <el-table-column prop="buyTime" label="购置时间" align="center" min-width="100" />

          <el-table-column
            prop="priceBasicDay"
            label="价格认定基准日"
            align="center"
            min-width="120"
          />
          <el-table-column label="价格内涵" align="center">
            <el-table-column
              prop="priceConnotation"
              label="价格内涵"
              align="center"
            />
            <el-table-column
              prop="priceConnotationOther"
              label="价格内涵其他"
              align="center"
              min-width="120"
            />

            <el-table-column
              prop="repairPlan"
              label="修复方案"
              align="center"
      
              min-width="100"
            />

            <el-table-column
              prop="damageDegree"
              label="损坏程度"
              align="center"
       
              min-width="100"
            />

            <el-table-column
              prop="damagePart"
              label="毁坏部位和范围"
              align="center"
              width="120"
            />
          </el-table-column>
          <el-table-column
            prop="basicDaySituationSureText"
            label="基准日状况按何种状况确定"
            align="center"
            width="150"
          />

          <el-table-column
            prop="basicDaySituationSureother"
            label="基准日形态按何种状况确定其他"
            align="center"
            width="150"
          />

          <el-table-column label="其他要求" align="center">
            <el-table-column
              prop="isNormalse"
              label="是否能够正常使用"
              align="center"
            >
              <template slot-scope="scope">
                <span>{{ scope.row.isNormalse ? "是" : "否" }}</span>
              </template>
            </el-table-column>

            <el-table-column prop="others" label="其他" align="center" />
          </el-table-column>

          <el-table-column
            fixed="right"
            label="操作"
            width="150"
            align="center"
          >
            <template slot-scope="scope">
              <el-button
                type="primary"
                size="mini"
                @click="handleEdit(scope.row)"
              >编辑</el-button>
              <el-button type="danger" size="mini" @click="handleDeleteProduct(scope.row.id)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>

    <el-dialog
      title="物品标编辑"
      :visible.sync="dialogVisible"
      width="76%"
      top="10vh"
    >
      <div class="form-container">
        <el-form
          ref="form"
          :model="form"
          :rules="rules"
          label-width="210px"
       
          inline
        >
          <el-form-item label="标的名称" prop="articelName">
            <el-input v-model="form.articelName" />
          </el-form-item>

          <el-form-item label="物品分类" prop="articleCate">
            <el-select v-model="form.articleCate" placeholder="请选择物品分类">
              <el-option
                v-for="(item, index) in articleCateOption"
                :key="index"
                :label="item.objName"
                :value="item.id"
              />
            </el-select>
          </el-form-item>

          <el-form-item label="规格型号" prop="model">
            <el-input v-model="form.model" />
          </el-form-item>

          <el-form-item label="计量单位" prop="unit">
            <el-select v-model="form.unit" placeholder="请选择物品分类">
              <el-option
                v-for="(item, index) in unitOption"
                :key="index"
                :label="item.name"
                :value="item.name"
              />
            </el-select>
          </el-form-item>

          <el-form-item label="基准日形态已发生重大改变" prop="basicDayHaveBigChange">
            <el-select v-model="form.basicDayHaveBigChange">
              <el-option label="否" :value="0" />
              <el-option label="是" :value="1" />
            </el-select>
          </el-form-item>

          <el-form-item label="原购单价" prop="buyPrice">
            <el-input v-model="form.buyPrice" />
          </el-form-item>
          <el-form-item label="币种" prop="currency">
            <el-select v-model="form.currency" placeholder="请选择币种">
              <el-option
                v-for="(item, index) in currencyOption"
                :key="index"
                :label="item"
                :value="item"
              />
            </el-select>
          </el-form-item>

          <el-form-item label="数量" prop="counts">
            <el-input-number
              v-model="form.counts"
              controls-position="right"
              :min="0"
            />
          </el-form-item>

          <el-form-item label="购置时间" prop="buyTime">
            <el-date-picker
              v-model="form.buyTime"
              type="date"
              value-format="yyyy-MM-dd"
              placeholder="选择日期"
            />
          </el-form-item>

          <el-form-item label="购置时状态" prop="buyStatues">
            <el-select v-model="form.buyStatues" placeholder="请选择购置时状态">
              <el-option
                v-for="(item, index) in buyStatusOption"
                :key="index"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </el-form-item>

          <!-- <el-form-item label="选择（其他）请填写" prop="priceConnotationOther">
            <el-input v-model="form.priceConnotationOther" />
          </el-form-item> -->

          <el-form-item label="价格认定基准日" prop="priceBasicDay">
            <el-date-picker
              v-model="form.priceBasicDay"
              type="date"
              value-format="yyyy-MM-dd"

              placeholder="选择日期"
            />
          </el-form-item>

          <el-form-item label="是否能够正常使用" prop="isNormalse">
            <el-select v-model="form.isNormalse">
              <el-option label="否" :value="0" />
              <el-option label="是" :value="1" />
            </el-select>
          </el-form-item>

          <el-form-item label="是否灭失" prop="isLost" :style="{display:form.isLost ? 'inline-block' : 'block'}">
            <el-select v-model="form.isLost">
              <el-option label="否" :value="0" />
              <el-option label="是" :value="1" />
            </el-select>
          </el-form-item>

          <el-form-item v-if="form.isLost" label="新旧程度" prop="newDegree">
            <el-input v-model="form.newDegree" />
          </el-form-item>

          <el-form-item label="基准日状况按何种状况确定" prop="basicDaySituationSure" :style="{display:form.basicDaySituationSure === '3' ? 'inline-block' : 'block'}">
            <el-select
              v-model="form.basicDaySituationSure"
              placeholder="请选择基准日状况按何种状况确定"
            >
              <el-option
                v-for="(item, index) in basicDaySituationOption"
                :key="index"
                :label="item.label"
                :value="item.value"
              />
            </el-select>

            <div style="color:#909399"> <i class="el-icon-info" />无实物选其他</div>
          </el-form-item>

          <el-form-item v-if="form.basicDaySituationSure === '3'" label="基准日形态按何种状况确定其他" prop="basicDaySituationSureother">
            <el-input v-model="form.basicDaySituationSureother" />
          </el-form-item>

          <el-form-item label="价格内涵" prop="priceConnotation" :style="{display:form.priceConnotation === '其他' || form.priceConnotation === '损失价格' ? 'inline-block' : 'block'}">
            <el-select
              v-model="form.priceConnotation"
              placeholder="请选择价格内涵"
            >
              <el-option
                v-for="(item, index) in priceConnotationOption"
                :key="index"
                :label="item.connotation"
                :value="item.connotation"
              />
            </el-select>

          </el-form-item>

          <el-form-item v-if="form.priceConnotation === '其他'" label="其他价格内涵" prop="priceConnotationOther">
            <el-input v-model="form.priceConnotationOther" />
          </el-form-item>

          <el-form-item v-if="form.priceConnotation === '损失价格'" label="损坏程度" prop="damageDegree">
            <el-input v-model="form.damageDegree" />
          </el-form-item>

          <el-form-item v-if="form.priceConnotation === '损失价格'" label="毁坏部位和范围" prop="damagePart">
            <el-input v-model="form.damagePart" />
          </el-form-item>

          <el-form-item v-if="form.priceConnotation === '损失价格'" label="修复方案" prop="repairPlan">
            <el-input v-model="form.repairPlan" />
          </el-form-item>

          <el-form-item label="其他" prop="others">
            <el-input v-model="form.others" />
          </el-form-item>
        </el-form>
      </div>

      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitForm('form')">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>

import {getObjectCase, getBuyStatues, getPriceConnotation, getBasicDaySituationSure, addProduct, updateProduct, deleteProduct, queryProduct, getMeasure} from '@/api/proposer'
export default {
  props: {
    priceConnotationOption: {
      type: Array,
      default: function() {
        return []
      }
    },
    requireCode: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      form: {
        id: '',
        basicDaySituationSure: '',
        isNormalse: 0,
        priceConnotation: '',
        others: '',
        counts: '',
        priceBasicDay: '',
        buyTime: '',
        articleCate: '',
        isLost: 0,
        basicDayHaveBigChange: 0,
        currency: '',
        buyStatues: '',

        baseStatus: '',
        priceConnotationOther: '',
        buyPrice: '',
        articelName: '',
        unit: '',
        model: '',
        newDegree: '',
        damageDegree: '',
        damagePart: '',
        repairPlan: '',
        basicDaySituationSureother: ''
      },

      articleCateOption: [],

      unitOption: [],

      dialogVisible: false,

      currencyOption: ['人民币', '美元', '欧元', '港币'],

      // priceConnotationOption: [],
      buyStatusOption: [],
      basicDaySituationOption: [],
      rules: {
        basicDaySituationSure: {
          required: true,
          message: '请选择基准日状况按何种状况确定',
          trigger: 'blur'
        },

        articelName: {
          required: true,
          message: '请输入标的名称'
    
        },

        damagePart: {
          required: true,
          message: '请输入损坏部位和范围'
    
        },

        repairPlan: {
          required: true,
          message: '请输入修复方案'
    
        },

        model: {
          required: true,
          message: '请输入规格型号'
    
        },

        articleCate: {
          required: true,
          message: '请选择物品分类'
    
        },

        damageDegree: {
          required: true,
          message: '请输入损坏程度'
    
        },

        unit: {
          required: true,
          message: '请选择物计量单位'
    
        },

        buyPrice: {
          required: true,
          message: '请输入原购单价'
    
        },

        basicDaySituationSureother: {
          required: true,
          message: '请输入基准日形态按何种状况确定其他'
    
        },
        priceBasicDay: {
          required: true,
          message: '请选择价格认定基准日'
    
        },

        buyStatues: {
          required: true,
          message: '请选择购置状态'
    
        },

        currency: {
          required: true,
          message: '请选择币种'
    
        },
     
        buyTime: {
          required: true,
          message: '请选择购置时间',
          trigger: 'change'
        },
        priceConnotation: {
          required: true,
          message: '请选择价格内涵',
          trigger: 'change'
        },
        counts: {
          required: true,
          message: '请输入数量',
          trigger: 'change'
        },
        newOldLevel: {
          required: true,
          message: '请输入新旧程度'
       
        },
        priceConnotationOther: {
          required: true,
          message: '请输入其他价格内涵'
       
        }
      },

      tableData: []
    }
  },

  created() {
    this.handleGetObjectCase()
    this.handleGetBuyStatues()
    this.handleQueryProduct()
    this.handleGetMeasure()
    getBasicDaySituationSure().then(res => {
      this.basicDaySituationOption = res.data
    })
  },

  methods: {

    handleGetMeasure() {
      getMeasure().then(res => {
        this.unitOption = res.data
      })
    },

    handleQueryProduct() {
      queryProduct({requireCode: this.requireCode}).then(res => {
        this.tableData = res.data
      })
    },

    handleGetBuyStatues() {
      getBuyStatues().then(res => {
        this.buyStatusOption = res.data
      })
    },

    handleGetObjectCase() {
      getObjectCase().then(res => {
        this.articleCateOption = res.data
      })
    },

    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.form.requireCode = this.requireCode

          if (this.form.id) {
            updateProduct(this.form).then(() => {
              this.handleQueryProduct()

              this.dialogVisible = false
              
              this.$notify({
                title: '成功',
                message: '更新物品成功！',
                type: 'success'
              })
            })
          } else {
            addProduct(this.form).then(() => {
              this.handleQueryProduct()

              this.dialogVisible = false
              this.$notify({
                title: '成功',
                message: '新增物品成功！',
                type: 'success'
              })
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },

    handleCreate() {
      this.dialogVisible = true

      this.$nextTick(() => {
        this.$refs.form.clearValidate()
      })
    },

    handleEdit(row) {
      this.form = JSON.parse(JSON.stringify(row))

      this.dialogVisible = true
    },
    handleDeleteProduct(id) {
      this.deleteConfirm(deleteProduct, {id}).then(() => this.handleQueryProduct())
    }
  }
}
</script>

<style lang="scss" scoped>
.goods-table {
  margin-bottom: 24px;
  .goods-table-title {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    align-items: center;

    .title-text {
      border-left: 2px solid #409eff;
      padding-left: 12px;
    }
  }
}

.form-container {
  .el-input,
  .el-select,
  .el-input-number {
    width: 280px;
  }
}
</style>
