<template>
  <div class="case-entrust body-show">
    <price-entrust-edit
      v-if="entrustEditShow"
      :car-table-visible="false"
    />

    <div v-else>
      <div class="my-el-button">
        <el-button
          type="primary"
          @click="handleEntrustEdit"
        >录入协助书</el-button>

        <div style="margin-left:auto">
          <el-input v-model="input3" placeholder="请输入搜索内容" size="small">
            <el-select slot="prepend" v-model="select" placeholder="请选择">
              <el-option label="案件名称" value="1" />
              <el-option label="受理号" value="2" />
              <el-option label="填表人" value="3" />
            </el-select>
          </el-input>
        </div>
      </div>

      <div class="my-el-table">
        <el-table :data="tableData" style="width: 100%" border="">
          <el-table-column label="序号" width="60" type="index" align="center" />

          <el-table-column label="委托编号" prop="identify" align="center" />

          <el-table-column label="标题" prop="title" align="center" />

          <el-table-column label="案件性质" prop="caseNature" align="center" />

          <el-table-column
            label="填表人"
            prop="writePeople"
            align="center"
            width="80"
          />

          <el-table-column label="填表日期" prop="writeDate" align="center" />

          <el-table-column label="委托日期" prop="entrustDate" align="center" />

          <el-table-column label="受理状况" prop="status" align="center" />

          <el-table-column label="操作" align="center" width="240">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="primary"
                @click="handleEdit(scope.$index, scope.row)"
              >下载不予受理</el-button>
              <el-button
                size="mini"
                type="success"
                @click="handleDelete(scope.$index, scope.row)"
              >查看附件</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <div class="my-el-pagination">
        <el-pagination
          :current-page="currentPage"
          :page-sizes="[15, 25, 35, 45]"
          :page-size="pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalPage"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </div>
  </div>
</template>

<script>
import PriceEntrustEdit from '@/components/PriceEntrustEdit'
export default {
  components: {
    PriceEntrustEdit
  },
  data() {
    return {
      tableData: [
        {
          identify: '深公福价字[2018]第1520号PCS4403201811120000000708395538',
          caseNature: '诈骗',
          title: '关于史思媛被诈骗案的价格认定协助书',
          writeDate: '2018-11-12 10:15:02',
          entrustDate: '2018-11-12 10:15:02',
          writePeople: '盖行星',
          status: '已提交'
        }
      ],

      input3: '',
      select: '',

      currentPage: 1,
      totalPage: 0,
      pageSize: 15,
      entrustEditShow: false
    }
  },

  methods: {
    handleEdit(index, row) {
      console.log(index, row)
    },
    handleDelete(index, row) {
      console.log(index, row)
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`)
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`)
    },
    handleEntrustEdit() {
      this.entrustEditShow = true
    }
  }
}
</script>

<style lang="scss" scoped>
.case-entrust {
  .el-select {
    width: 100px;
  }
  .el-input {
    width: 380px;
  }
}
</style>
