<template>
  <div class="company-manage app-container">
    <EditForm v-if="tabsVisible" :init-rule-form="initRuleForm" @closeTabs="handleCloseTabs" />

    <div v-else>
      <div class="app-main-button">
        <el-button type="primary" @click="createCompany">新增机构</el-button>
        <el-button
          type="danger"
          @click="handleDeleteCompany(multipleSelection)"
        >删除机构</el-button>

        <el-input
          v-model="queryText"
          style="width:250px;margin-left:auto"
          placeholder="请输入内容"
          prefix-icon="el-icon-search"
        />
      </div>

      <div class="my-el-table">
        <el-table
          :data="tableData"
          style="width: 100%"
          border=""
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            type="selection"
            width="55"
            align="center"
          />

          <el-table-column label="ID" prop="id" align="center" />

          <el-table-column label="机构名称" prop="name" align="center" />

          <el-table-column label="机构简称" prop="simpleName" align="center" />
          <el-table-column
            label="机构资格证书证号"
            prop="certificateCard"
            width="180"
            align="center"
          />

          <el-table-column label="法人代表" prop="legal" align="center" />

          <el-table-column
            label="价格鉴证"
            prop="priceIdentify"
            align="center"
          />

          <el-table-column label="价格鉴定文号序号" prop="priceIdentifyNo" align="center" />

          <el-table-column label="拍卖文号序号" prop="auctionNo" align="center" />

          <el-table-column label="状态" width="150" align="center">
            <template slot-scope="scope">

              <el-select v-model="scope.row.isEnable" @change="enableChange(scope.row)">
                <el-option label="启用" :value="1" />

                <el-option label="禁用" :value="0" />
              </el-select>
     
            </template>
          </el-table-column>

          <el-table-column label="操作" width="160" align="center">
            <template slot-scope="scope">
              <el-button
                type="primary"
                @click="handleEdit(scope.row)"
              >编辑</el-button>
              <el-button
                type="danger"
                @click="handleDeleteCompany([scope.row.id])"
              >删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <pagination v-show="totalCount > 0" :total="totalCount" :page.sync="pageIndex" :limit.sync="pageSize" @pagination="handleQueryIdentify" />
    
    </div>
  </div>
</template>

<script>
import EditForm from './components/EditForm'

import {queryIdentify, deleteIdentify, uploadIdentifyEnable} from '@/api/identify'
export default {
  components: {
    EditForm
  },
  data() {
    return {
      queryText: '',
      tableData: [],

      pageIndex: 1,
      pageSize: 15,
      totalCount: 0,

      tabsVisible: false,
    
      multipleSelection: [],
      initRuleForm: {}
    }
  },

  created() {
    this.handleQueryIdentify()
  },
  methods: {

    handleQueryIdentify() {
      queryIdentify({
        queryText: this.queryText,
        pageIndex: this.pageIndex,
        pageSize: this.pageSize
      }).then(res => {
        this.tableData = res.data.dataSource

        this.totalCount = res.data.totalCount
      })
    },

    handleEdit(row) {
      this.tabsVisible = true
      this.initRuleForm = JSON.parse(JSON.stringify(row))

      console.log(row)
    },
    handleDeleteCompany(ids) {
      if (ids.length > 0) {
        this.deleteConfirm(deleteIdentify, {ids}).then(() => this.handleQueryIdentify())
      } else {
        this.$message.error('请选中删除认定单位机构！')
      }
    },
    createCompany() {
      this.initRuleForm = {
        redTitleBase64: '',
        redTitle: '',
        chapter: '',
        chapterBase64: '',
        isEnable: 1
      }
      this.tabsVisible = true
    },
   
    handleSelectionChange(val) {
      this.multipleSelection = val.map(item => item.id)
    },
    handleCloseTabs() {
      this.handleQueryIdentify()

      this.tabsVisible = false
    },
    enableChange(row) {
      uploadIdentifyEnable({
        id: row.id,
        isEnable: row.isEnable
      }).then(() => {
        this.$notify({
          type: 'success',
          message: '修改状态成功！',
          title: '成功'
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.company-manage {
}
</style>
