<template>
  <div class="mete-unit app-container">
    <div class="app-main-button">
      <el-button
        type="primary"
        icon="el-icon-plus"
        @click="handleCreateArea"
      >新增</el-button>
      <el-button
        type="danger"
        icon="el-icon-delete"
        @click="handleDelete(multipleSelection)"
      >删除</el-button>

      <el-input
        v-model="queryText"
        placeholder="请输入内容"
        prefix-icon="el-icon-search"
        style="width:250px;margin-left:auto"

        @input="handleGetMeasure"
      />
    </div>

    <div class="my-el-table">
      <el-table
        ref="multipleTable"
        :data="tableData"
        tooltip-effect="dark"
        style="width: 100%"
        border=""
        height="80vh"
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column label="编号" align="center" prop="code" />
        <el-table-column prop="name" label="计量单位" align="center" />

        <el-table-column label="操作" width="200" align="center">
          <template slot-scope="scope">
            <el-button
     
              type="primary"
              @click="handleEdit(scope.row)"
            >编辑</el-button>
            <el-button
        
              type="danger"
              @click="handleDelete([scope.row.id])"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <el-dialog title="计量单位编辑" :visible.sync="dialogFormVisible">
      <el-form ref="ruleForm" :model="form" :rules="rules" label-width="120px"> 
        <el-form-item
          label="编号"
          
          prop="code"
        >
          <el-input
            v-model.number="form.code"
            autocomplete="off"
            style="width:300px"
          />
        </el-form-item>

        <el-form-item
          label="计量单位"
          prop="name"
        >
          <el-input
            v-model="form.name"
            autocomplete="off"
            style="width:300px"
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="submitForm('ruleForm')"
        >确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>

import {getMeasure, addMeasure, updateMeasure, deleteMeasure} from '@/api/identify'

export default {
  data() {
    return {
      queryText: '',
      tableData: [],
      multipleSelection: [],

      dialogFormVisible: false,
      form: {
        name: '',
        code: ''
      },

      rules: {
        code: [
          {
            required: true,
            message: '请输入编号'
          },
          {
            type: 'number',
            message: '输入编号需为数值'
          }
        ],
        name: [
          {
            required: true,
            message: '请输入计量单位名称'
          }
        ]
      }
    }
  },

  created() {
    this.handleGetMeasure()
  },

  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val.map(item => item.id)
    },

    handleCreateArea() {
      this.dialogFormVisible = true

      this.form = {
        name: '',
        code: null
      }
      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.form.id) {
            updateMeasure(this.form).then(() => {
              this.handleGetMeasure()
              this.$notify({
                title: '成功',
                message: '修改计量单位成功！',
                type: 'success'
              })
            })
          } else {
            addMeasure(this.form).then(() => {
              this.handleGetMeasure()
              this.$notify({
                title: '成功',
                message: '新增计量单位成功！',
                type: 'success'
              })
            })
          }
          this.dialogFormVisible = false
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    handleEdit(row) {
      this.dialogFormVisible = true

      this.form = JSON.parse(JSON.stringify(row))

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },
    handleDelete(ids) {
      if (ids.length > 0) {
        console.log(this.deleteConfirm)
        this.deleteConfirm(deleteMeasure, {ids}).then(() => this.handleGetMeasure())
      } else {
        this.$message.error('请选中删除计量单位！')
      }
    },
    handleGetMeasure() {
      getMeasure({

        queryText: this.queryText

      }).then(res => {
        this.tableData = res.data
        console.log(res)
      })
    }
  }
}
</script>

<style lang="scss" scoped></style>
