<template>
  <div class="entrust-preview app-container">
    <div v-if="denyAcceptVisibl " class="deny-accept-container">
      <deny-accept @backEntrust="denyAcceptVisible = false" />
    </div>

    <div v-if="repulseVisible">
      <Repulse @backEntrust="repulseVisible = false" />
    </div>
    <div v-if="!repulseVisible && !denyAcceptVisible && !entrustEditShow" class="entrust-container">
      <PriceDefineEntrust :require-code="requireCode" />

      <div class="my-el-menu">

        <el-button type="primary" icon="el-icon-menu" />

        <el-menu v-if="state === 'ok'">
       
          <el-menu-item @click="acceptEntrust">
            <span slot="title">受理协助书</span>  
          </el-menu-item>
          <el-menu-item @click="sceneInquest">
            <span slot="title">现场勘验</span>
          </el-menu-item>
          <el-menu-item @click="handleDenyAccept">
            <span slot="title">不予受理</span>
          </el-menu-item>
          <el-menu-item @click="handleRepulse">
            <span slot="title">打回</span>
          </el-menu-item>
          <el-menu-item @click="acceptEntrust">
            <span slot="title">查看附件</span>
          </el-menu-item>

          <el-menu-item
            @click="
              $router.push({
                path: '/entrust/submit-case',
              })
            "
          >
            <span slot="title">返回列表</span>
          </el-menu-item>
   
        </el-menu>

        <div v-else>

          <el-menu v-if="state === 0 || state === 3 || state === 11">
       
            <el-menu-item @click="entrustEditShow = true">
              <span slot="title">编 辑</span>
            </el-menu-item>
            <el-menu-item @click="handleSubmitAssist">
              <span slot="title">提 交</span>
            </el-menu-item>
            <el-menu-item @click="handleDenyAccept">
              <span slot="title">查看日志</span>
            </el-menu-item>
            <el-menu-item
              @click="
                $router.push({
                  path: '/proposer/case-entrust',
                })
              "
            >
              <span slot="title">返回列表</span>
            </el-menu-item>
   
          </el-menu>

          <el-menu v-else>
   
            <el-menu-item
              @click="
                $router.push({
                  path: '/proposer/case-entrust',
                })
              "
            >
              <span slot="title">返回列表</span>
            </el-menu-item>
   
          </el-menu>

        </div>
      
      </div>

      <el-dialog title="协助书受理" :visible.sync="dialogFormVisible">
        <el-form :model="form">
          <el-form-item label="提出机关" :label-width="formLabelWidth">
            <span>圳市公安局桃源派出所</span>
          </el-form-item>
          <el-form-item label="提 出 人" :label-width="formLabelWidth">
            <span>占壮</span>
          </el-form-item>
          <el-form-item label="经办人" :label-width="formLabelWidth">
            <el-select v-model="form.region" placeholder="请选择活动区域">
              <el-option label="区域一" value="shanghai" />
              <el-option label="区域二" value="beijing" />
            </el-select>

            <el-select v-model="form.region" placeholder="请选择活动区域">
              <el-option label="区域一" value="shanghai" />
              <el-option label="区域二" value="beijing" />
            </el-select>
          </el-form-item>

          <el-form-item label="提 出 人" :label-width="formLabelWidth">
            <el-input
              v-model="form.name"
              autocomplete="off"
              type="textarea"
              style="width:415px"
            />
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button
            type="primary"
            @click="dialogFormVisible = false"
          >受 理</el-button>
          <el-button
            type="success"
            @click="dialogFormVisible = false"
          >预受理</el-button>
        </div>
      </el-dialog>

      <el-dialog title="现场勘验" :visible.sync="sceneVisible" width="70%">
        <div class="scene-form">
          <el-form ref="ruleForm" :model="form" inline :rules="rules">
            <el-form-item
              label="价格认定项目"
              :label-width="formLabelWidth"
              prop="project"
            >
              <el-input v-model="form.project" autocomplete="off" />
            </el-form-item>

            <el-form-item label="勘验标的" :label-width="formLabelWidth">
              <el-input v-model="form.mark" autocomplete="off" />
            </el-form-item>
            <el-form-item label="提出机关" :label-width="formLabelWidth">
              <el-input v-model="form.organize" autocomplete="off" />
            </el-form-item>
            <el-form-item label="勘验地点" :label-width="formLabelWidth">
              <el-input v-model="form.place" autocomplete="off" />
            </el-form-item>
            <el-form-item label="勘验时间" :label-width="formLabelWidth">
              <el-date-picker
                v-model="form.date"
                type="datetime"
                placeholder="选择日期时间"
              />
            </el-form-item>

            <el-form-item label="勘验情况" :label-width="formLabelWidth">
              <el-input
                v-model="form.situation"
                autocomplete="off"
                type="textarea"
              />
            </el-form-item>
            <el-form-item
              label="其他记录"
              :label-width="formLabelWidth"
              style="display:block"
            >
              <el-checkbox v-model="form.isRecord">录音</el-checkbox>
              <el-input
                v-model="form.recordDuration"
                style="width:60px"
                size="mini"
              />
              <span style="margin-right:24px">时长</span>
              <el-checkbox v-model="form.isVideo">摄像</el-checkbox>
              <el-input
                v-model="form.videoDuration"
                style="width:60px"
                size="mini"
              />
              <span style="margin-right:24px">时长</span>

              <el-checkbox v-model="form.isPicture">照片</el-checkbox>
              <el-input
                v-model="form.pictureNumber"
                style="width:60px"
                size="mini"
              />
              <span style="margin-right:24px">张</span>
            </el-form-item>
            <el-form-item label="标的状况" :label-width="formLabelWidth">
              <el-radio
                v-model="form.markSituation"
                :label="1"
              >与提出机关(函件)描述一致</el-radio>
              <el-radio
                v-model="form.markSituation"
                :label="0"
              >与提出机关(函件)描述不一致</el-radio>
            </el-form-item>
            <el-form-item
              label="勘验人员签名"
              :label-width="formLabelWidth"
              style="display:block"
            >
              <el-input
                v-model="form.inquestSign"
                autocomplete="off"
              />
            </el-form-item>

            <el-form-item
              label="其他参加人员签名"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.otherSign" autocomplete="off" />
            </el-form-item>
          </el-form>
        </div>

        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button
            type="primary"
            @click="submitForm('ruleForm')"
          >确 定</el-button>
        </div>
      </el-dialog>

      <div class="my-el-backtop">
        <el-backtop>
          UP
        </el-backtop>

      </div>

    </div>

    <PriceEntrustEdit v-if="entrustEditShow" :require-code="requireCode" @closeEntrustEdit="closeEntrustEdit" />

  </div>
</template>

<script>
import PriceDefineEntrust from '@/components/PriceDefineEntrust'

import PriceEntrustEdit from '@/components/PriceEntrustEdit'

import DenyAccept from './components/DenyAccept'
import Repulse from './components/Repulse'

import {submitAssist} from '@/api/proposer'

export default {
  components: {
    PriceDefineEntrust,
    DenyAccept,
    Repulse,
    PriceEntrustEdit
  },
  data() {
    return {

      entrustEditShow: false,
      dialogFormVisible: false,
      sceneVisible: false,
      denyAcceptVisible: false,
      repulseVisible: false,

      requireCode: '',
      state: '',

      form: {
        project: '',
        mark: '',
        organize: '',
        place: '',
        date: '',
        situation: '',
        isRecord: 0,
        recordDuration: '',
        isVideo: 0,
        videoDuration: '',
        isPicture: 0,
        pictureNumber: '',
        markSituation: 0,
        inquestSign: '',
        otherSign: ''
      },
      formLabelWidth: '120px',

      rules: {
        project: {
          required: true,
          message: '请输入价格认定项目',
          trigger: 'blur'
        }
      }
    }
  },

  created() {
    console.log(this.$route)
    this.requireCode = this.$route.query.id

    this.state = this.$route.query.state
  },

  // mounted() {
  //   console.log(this.$route)
  //   this.requireCode = this.$route.query.id

  //   this.state = this.$route.query.state
  // },

  // beforeRouteEnter(to, from, next) {
  //   if (from.path === 'p') {

  //   }
  //   console.log(to, 1, from, 2, next, 3)
  //   next()
  //   // 在渲染该组件的对应路由被 confirm 前调用
  //   // 不！能！获取组件实例 `this`
  //   // 因为当守卫执行前，组件实例还没被创建
  // },

  methods: {

    handleSubmitAssist() {
      submitAssist({requireCode: this.requireCode}).then(() => {
        this.$notify({
          title: '成功',
          message: '提交协助书成功！',
          type: 'success'
        })
      })
    },

    closeEntrustEdit() {
      this.entrustEditShow = false
    },

    acceptEntrust() {
      this.dialogFormVisible = true
    },
    sceneInquest() {
      this.sceneVisible = true
    },

    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          alert('submit!')
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    handleDenyAccept() {
      this.denyAcceptVisible = true
    },

    handleRepulse() {
      this.repulseVisible = true
    }
  }
}
</script>

<style lang="scss" scoped>
.entrust-preview {
  .deny-accept-container {
    .case-container {
      width: 90%;
      margin: auto;
    }
  }

  .entrust-container {
    .case-container {
      width: 60%;
      margin: auto;
      margin-top: 24px;
    }

    .goods-container {
      width: 85%;
      margin: auto;
      margin-top: 24px;
    }

    .car-container {
      width: 85%;
      margin: auto;
      margin-top: 24px;
    }
    .scene-form {
      .el-input {
        width: 300px;
      }
      .el-textarea {
        width: 400px;
      }
      .el-checkbox {
        margin-right: 6px;
      }
    }
  }
}
</style>
