<template>
  <div class="price-define-entrust">
    <div class="header">
      <div class="header-item">案件编号：FJDSAKFJKDSJKFJDSKA</div>
      <div class="header-item">案件状态：已受理</div>
      <div class="header-item">受理号：FJDSAKFJKDSJKFJDSKA</div>
    </div>

    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="协助书" name="0">
        <div class="case-container">
          <h2>（案值）价格认定协助书</h2>

          <div class="case-content">
            <!-- <div class="subtitle">{{ assistBook.subtitle }}</div> -->

            <div>{{ assistBook.identifyName }}：</div>

            <div>我单位办理的{{ assistBook.assistPurpose }}一案，需对{{ assistBook.identifiedTitle }}在{{ assistBook.priceBasicDay }}（价格认定基准日）的{{ assistBook.priceConnotation }}（价格内涵）进行认定。请你单位按照有关规定和下列要求进行价格认定，为办理该案件提供价格依据。</div>
            <div>价格认定内容及要求：{{ assistBook.contentRequire }}</div>

            <div style="margin-top:12px">案件性质：{{ assistBook.caseNature }}</div>

            <div class="check-list">
              <span class="check-title">特别声明：</span>

              <ul class="custom-ul">
                <li>
                  <CheckBox :check="true" label="本单位提供的协助书和有关附件材料客观真实，真实性由我单位负责。" />
                </li>
                <li>
                  <CheckBox :check="assistBook.statement === '0'" label="本次认定&quot;标的&quot;之前没有进行过价格认定。" />
                </li>
                <li>
                  <CheckBox :check="assistBook.statement === '1'" label="本次认定&quot;标的&quot;之前已经做过价格认定。" />
                </li>
              </ul>
            </div>

            <div class="check-list">
              <span class="check-title">实物勘察方式：</span>

              <ul class="custom-ul">
                <li>
                  <CheckBox :check="assistBook.entitySurvey === 1" label="有实物，可携带实物到认定单位勘查。" />
                </li>
                <li>
                  <CheckBox :check="assistBook.entitySurvey === 2" label="物品大，电话联系勘查时间，前往勘查。" />
                </li>
                <li>
                  <CheckBox :check="assistBook.entitySurvey === 3" label="无实物。" />
                </li>
                <li>
                  <CheckBox :check="assistBook.entitySurvey === 4" label="部分有实物部分无实物。" />
                </li>
              </ul>
            </div>

            <div>联系人（经办人）：{{ assistBook.assistAgent }}</div>
            <div>电话：{{ assistBook.assistPhone }}</div>
            <div>地址：{{ assistBook.address }}</div>
            <div>邮编：{{ assistBook.postCode }}</div>
            <div>负责人：{{ assistBook.assistHead }}</div>
            <div>负责人电话：{{ assistBook.assistHeadPhone }}</div>

            <div class="date">{{ assistBook.hopeConclusionDate }}</div>
            <div class="organize">{{ assistBook.organizeName }}</div>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="一般物品" name="1">
        <div class="goods-container">
          <h2>（物品）价格认定标的明细表</h2>

          <div class="my-el-table">
            <el-table :data="productList" style="width: 100%" border="">
              <el-table-column label="序号" prop="orders" align="center" width="60" />

              <el-table-column label="标的名称及数量" align="center">
                <template slot-scope="scope">
                  <div>{{ scope.row.articelName }}（{{ scope.row.counts }}）</div>
                </template>
              </el-table-column>

              <el-table-column label="标的形态" header-align="center">
                <template slot-scope="scope">
                  <div>
                    <div class="">
                      1、是否灭失
                      <div class="check-box-container">
                        <CheckBox :check="scope.row.isLost" label="是" />
                        <CheckBox :check="scope.row.isLost ? 0 : 1" label="否" />
                      </div>
                    </div>

                    <div>
                      2、基准日形态是否已发生重大改变
                      <div class="check-box-container">
                        <CheckBox :check="scope.row.basicDayHaveBigChange" label="是" />
                        <CheckBox :check="scope.row.basicDayHaveBigChange ? 0 : 1" label="否" />
                      </div>
                    </div>
                  </div>
                </template>
              </el-table-column>

              <el-table-column label="标的详细描述" header-align="center">
                <template slot-scope="scope">
                  <div>
                    <div>品牌规格型号：{{ scope.row.model }}</div>

                    <div>购置时间：{{ scope.row.buyTime }}</div>

                    <div>原购单价：{{ scope.row.buyPrice }}</div>
                    <div>
                      购置时状态：
                      <div class="check-box-container">
                        <CheckBox :check="scope.row.buyStatues" label="全新" />
                        <CheckBox :check="scope.row.buyStatues ? 0 : 1" label="二手" />
                      </div>
                    </div>

                    <div>新旧程度：{{ scope.row.newDegree }}</div>
                  </div>
                </template>
              </el-table-column>

              <el-table-column label="基准日期" prop="priceBasicDay" align="center" width="100" />

              <el-table-column label="价格内涵" align="center">
                <template slot-scope="scope">
                  <CheckBox v-for="(item, index) in priceConnotationList" :key="index" :check="scope.row.priceConnotation === item.connotation" :label="item.connotation" />
                </template>
              </el-table-column>

              <el-table-column label="基准日状况按何种状况确定" header-align="center">
                <template slot-scope="scope">
                  <CheckBox v-for="(item, index) in basicDaySistuationList" :key="index" :check="scope.row.basicDaySituationSure === item.value" :label="item.label" />
                </template>
              </el-table-column>

              <el-table-column label="其他要求" header-align="center" width="150">
                <template slot-scope="scope">
                  <div>
                    <div>
                      是否能够正常使用：
                      <div class="check-box-container">
                        <CheckBox :check="scope.row.isNormalse" label="是" />
                        <CheckBox :check="scope.row.isNormalse ? 0 : 1" label="否" />
                      </div>
                    </div>

                    <div>其他：{{ scope.row.others }}</div>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="机动车" name="2">
        <div class="car-container">
          <h2>（机动车）价格认定标的明细表</h2>

          <div v-if="carList.length > 0">
            <div v-for="(item, index) in carList" :key="index" class="car-table">
              <el-row>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  标的名称
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  {{ item.articelName }}
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  品牌/系列/型号
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">{{ item.brand }}/{{ item.series }}/{{ item.model }}</div></el-col>
              </el-row>

              <el-row>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  车牌号/合格证号
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  {{ item.carPlate }}
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  发动机号/车架号
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">{{ item.engineNumber }}/{{ item.chassisNumber }}</div></el-col>
              </el-row>

              <el-row>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  累计行程（表显）
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  {{ item.trip }}
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  初次登记日期
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  {{ item.firstCheckDate }}
                </div></el-col>
              </el-row>

              <el-row>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  使用性质
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  {{ item.userNature }}
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  原购置价格（元）
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  {{ item.exBuyPirce }}
                </div></el-col>
              </el-row>

              <el-row>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  标的形态
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">是否灭失 :{{ item.isLost ? '是' : '否' }}</div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">是否提供实物：{{ item.haveEntity ? '是' : '否' }}</div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">基准日形态是否发生重大改变：{{ item.basicDayHaveBigChange ? '是' : '否' }}</div></el-col>
              </el-row>

              <el-row>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  环保达标情况
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  {{ item.environmentCondition }}
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  维修记录（大修次数）
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  {{ item.repairTimes }}
                </div></el-col>
              </el-row>

              <el-row>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  价格认定基准日
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  {{ item.priceBasicDay }}
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  价格内涵
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  {{ item.priceConnotation }}
                </div></el-col>
              </el-row>

              <el-row>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  毁坏部位、范围
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  被毁坏程度
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  修复方案
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  质保协议情况
                </div></el-col>
              </el-row>

              <el-row v-for="(each, idx) in item.carDetail" :key="idx">
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  {{ each.damagePart }}
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  {{ each.damageDegree }}
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  {{ each.repairPlan }}
                </div></el-col>
                <el-col
                  :span="6"
                ><div class="grid-content ">
                  {{ each.qualityCondition }}
                </div></el-col>
              </el-row>
            </div>
          </div>

          <div v-else style="text-align:center">
            <img src="@/assets/images/empty.png" alt="" style="width:30%">
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="附件预览" name="3">
        <div class="car-container">
          <h2>附件预览明细表</h2>

          <div v-if="pictureList.length > 0">
            <ul class="picture-list custom-ul">
              <li v-for="(item, index) in pictureList" :key="index">
                <el-image style="width: 100%; " :src="item" :preview-src-list="pictureList" />
              </li>
            </ul>
          </div>

          <div class="car-table-container my-el-table">
            <el-table :data="uploadList" style="width: 100%" border="">
              <el-table-column width="60" sortable="" type="index" align="center" />
              <el-table-column prop="fileName" label="文件名" align="center" />
              <el-table-column prop="fileType" label="类型" align="center" />
              <el-table-column prop="remark" label="文件备注" align="center" />
              <el-table-column prop="createName" label="上传人" align="center" />
              <el-table-column prop="fileSize" label="文件大小" align="center" />
              <el-table-column prop="isOut" label="外部" align="center">
                <template slot-scope="scope">
                  <span>{{ scope.row.isOut ? '是' : '否' }}</span>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="流转文件" name="4">
        <el-table :data="consultationList" style="width: 100%" border="">
          <el-table-column prop="序号" type="index" width="50" align="center" />
          <el-table-column prop="letterNo" label="文号" align="center" />
          <el-table-column prop="assistPurpose" label="案件名" align="center" />
          <el-table-column prop="letterText" label="文书类型" align="center" />
          <el-table-column prop="organizeName" label="提出单位" align="center" />
          <el-table-column prop="identifyName" label="认定中心" align="center" />
          <el-table-column prop="consulaDate" label="签发时间" align="center" />
        </el-table>

        <div class="material-container">
          <h2 class="notice-title">补充材料通知书</h2>
          <div class="notice-content">
            <div>提出单位：深圳市公安局平南派出</div>

            <ul class="custom-ul">
              <li v-for="(item, index) in contentList" :key="index" :style="{ textIndent: item.isSpace ? '2em' : '0' }">
                {{ item.name }}
              </li>
            </ul>

            <!-- <div class="my-el-table notice-table">
              <el-table :data="tableData" border="">
                <el-table-column label="序号" width="100" align="center" prop="orders" />

                <el-table-column label="需要补充的材料内容" align="center">
                  <template slot-scope="scope">
                    <el-autocomplete
                      v-model="scope.row.content"
                      style="width:90%"
                      class="inline-input"
                      :fetch-suggestions="querySearch"
                      placeholder="请输入内容"
                      value-key="replenish"
                      @select="handleSelect"
                    />
                  </template>
                </el-table-column>
          
              </el-table>
              <el-button icon="el-icon-plus" size="mini" style="margin-top:12px" @click="addLine">新增一行</el-button>
            </div> -->

            <ul class="custom-ul">
              <li v-for="(item, index) in replenishList" :key="index" :style="{ textIndent: item.isSpace ? '2em' : '0' }">
                {{ item.name }}
              </li>
            </ul>
          </div>

          <div class="notice-foot">
            <p style="text-align:right">
              经办人：待定1
            </p>
            <p style="text-align:right">
              认定单位：深圳市龙岗区价格认证中心
            </p>
          </div>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import CheckBox from '@/components/CheckBox'

import {getAssistModel, getBasicDaySituationSure, getPriceConnotation} from '@/api/proposer'

export default {
  components: {
    CheckBox
  },

  props: ['requireCode'],
  data() {
    return {
      activeName: 0,

      assistBook: {
        // subtitle: '深龙价认定[2020]33023号',
        identifyName: '',
        identifiedTitle: '',
        contentRequire: '',
        assistPurpose: '',
        priceBasicDay: '',
        priceConnotation: '',
        caseNature: '',
        hopeConclusionDate: '',

        organizeName: '',
        assistPhone: '',

        postCode: '',
        assistAgent: '',
        address: '',

        assistHead: '',
        assistHeadPhone: '',

        statement: '',

        entitySurvey: ''
      },

      uploadList: [],

      basicDaySistuationList: [],
      priceConnotationList: [],
      productList: [],
      carList: [],

      consultationList: [],
      pictureList: []
      //   carTable: {
      //     markName: ""
      //   }
    }
  },

  created() {
    getBasicDaySituationSure().then(res => {
      this.basicDaySistuationList = res.data
    })
    getPriceConnotation().then(res => {
      this.priceConnotationList = res.data
    })

    getAssistModel({requireCode: this.requireCode}).then(res => {
      let {assistBook, productList, carList, uploadList, consultationList} = res.data
      this.assistBook = assistBook
      this.productList = productList
      this.carList = carList
      this.uploadList = uploadList
      this.consultationList = consultationList
      this.pictureList = uploadList.map(item => {
        if (item.isImg) {
          return process.env.VUE_APP_BASE_API + item.fileSrc
        }
      })
    })
  },
  methods: {
    handleClick() {}
  }
}
</script>

<style lang="scss" scoped>
.price-define-entrust {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;

    .header-item {
      margin: 12px;
      font-size: 14px;
    }
  }

  h2 {
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
  }
  .case-container {
    margin-bottom: 24px;

    .case-content {
      font-size: 15px;

      background: rgb(244, 244, 245);
      padding: 24px;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
      line-height: 24px;

      // .subtitle {
      //   text-align: center;
      // }

      .date {
        text-align: right;
      }

      .organize {
        
          text-align: right;
      }
      .check-list {
        display: flex;
        margin-bottom: 6px;

        .check-title {
          width: 110px;
        }
      }
    }
  }
  .goods-container {
    // margin-top: 24px;

    .check-box-container {
      display: flex;
    }
  }

  .car-container {
    // margin-top: 24px;
    .picture-list {
      border: 1px solid #dcdfe6;
      display: flex;
      flex-wrap: wrap;
      li {
        width: 160px;
        margin: 12px;
      }
    }

    .car-table {
      margin: 12px 0;
      font-size: 14px;

      .el-row {
        .el-col {
          border: 1px solid #dcdfe6;
          padding: 12px;

          .grid-content {
            min-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          &:not(:nth-child(4n)) {
            border-right: none;
          }
        }

        &:not(:nth-child(1)) {
          .el-col {
            border-top: none;
          }
        }
      }
    }

    // .car-table-container {
    //   // margin-top: 12px;
    // }
  }

  .material-container {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
    background: #f4f4f5;
    padding: 24px;
    font-size: 15px;
    margin: 24px 0;
  }
}
</style>
