<template>
  <div class="app-container">
    <div class="mb-s">
      <el-button type="primary" @click="handleCreateCategory"
        >新增分类</el-button
      >
      <el-button type="danger" @click="handleDelete(multipleSelection)"
        >删除分类</el-button
      >
    </div>
    <el-table
      :data="tableData"
      style="width: 100%"
      border=""
      height="calc(100vh - 250px)"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" align="center" width="55">
      </el-table-column>
      <el-table-column label="名称" prop="columnName" align="center">
      </el-table-column>

      <el-table-column label="排序" prop="columnSort" align="center">
      </el-table-column>

      <el-table-column label="操作" align="center">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope.row)" type="primary"
            >编辑</el-button
          >
          <el-button
            size="mini"
            type="danger"
            @click="handleDelete([scope.row.columnId])"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      :total="total"
      :page.sync="queryParams.pageIndex"
      :limit.sync="queryParams.pageSize"
      @pagination="handleQueryCategory"
    />

    <el-dialog title="分类编辑" :visible.sync="dialogFormVisible">
      <el-form :model="form" :rules="rules" ref="ruleForm">
        <el-form-item
          label="分类名称"
          :label-width="formLabelWidth"
          prop="columnName"
        >
          <el-input v-model="form.columnName"></el-input>
        </el-form-item>

        <el-form-item
          label="排序"
          :label-width="formLabelWidth"
          prop="columnSort"
        >
          <el-input-number
            v-model="form.columnSort"
            controls-position="right"
          ></el-input-number>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitForm('ruleForm')"
          >确 定</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  queryCategory,
  createCategory,
  updateCategory,
  deleteCategory,
} from '@/api/category'
export default {
  data() {
    return {
      multipleSelection: [],
      tableData: [],
      dialogFormVisible: false,
      form: {},
      baseUrl: process.env.VUE_APP_BASE_API,
      rules: {
        columnName: [{ required: true, message: '请输入分类名称' }],

        columnSort: [
          {
            required: true,
            message: '请输入分类排序',
          },
        ],
      },
      formLabelWidth: '120px',
      total: 0,
      queryParams: {
        orderBy: '',
        sort: '',
        pageIndex: 1,
        pageSize: 20,
      },
    }
  },

  created() {
    this.handleQueryCategory()
  },
  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val.map((item) => item.columnId)
    },

    handleQueryCategory() {
      queryCategory(this.queryParams).then((res) => {
        this.tableData = res.data.dataSource
        this.total = res.data.totalCount
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.form.columnId) {
            updateCategory(this.form).then(() => {
              this.handleQueryCategory()
              this.dialogFormVisible = false

              this.$notify({
                title: '成功',
                message: '更新礼品成功！',
                type: 'success',
              })
            })
          } else {
            createCategory(this.form).then(() => {
              this.handleQueryCategory()
              this.dialogFormVisible = false

              this.$notify({
                title: '成功',
                message: '新增礼品成功！',
                type: 'success',
              })
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    handleCreateCategory() {
      this.form = {
        columnId: '',
        columnName: '',

        columnSort: 0,
      }

      this.dialogFormVisible = true

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },
    handleEdit(row) {
      this.form = this._.cloneDeep(row)
      this.dialogFormVisible = true
    },
    handleDelete(ids) {
      this.deleteConfirm(deleteCategory, ids).then(() => {
        this.handleQueryCategory()
      })
    },
  },
}
</script>
