<template>
  <div class="user-center app-container">
    <!--    用户资料    -->
    <el-tabs v-model="activeName">
      <el-tab-pane label="用户资料" name="user">
        <div class="mt-m">
          <el-form
            ref="form"
            :model="userForm"
            label-width="100px"
            :rules="rules"
          >
            <el-row :gutter="20">
              <el-col :span="16">
                <el-row :gutter="20">
                  <el-col :span="12">
                    <el-form-item label="用户名称" prop="address">
                      <el-input
                        v-model="userForm.userID"
                        disabled=""
                        maxlength="100"
                        placeholder=" 请输入地址"
                      />
                    </el-form-item>
                  </el-col>

                  <el-col :span="12">
                    <el-form-item label="用户昵称" prop="nickName">
                      <el-input
                        v-model="userForm.nickName"
                        clearable
                        maxlength="50"
                        placeholder="请输入用户昵称"
                      />
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-row :gutter="20">
                  <el-col :span="12">
                    <el-form-item label="手机号码" prop="phone" required="">
                      <el-input
                        v-model="userForm.phone"
                        clearable
                        maxlength="12"
                        placeholder="请输入手机号码"
                      />
                    </el-form-item>
                  </el-col>

                  <el-col :span="12">
                    <el-form-item label="邮 箱" prop="email">
                      <el-input
                        v-model="userForm.email"
                        clearable
                        maxlength="12"
                        type="email"
                        placeholder="请输入邮箱"
                      />
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-row :gutter="20">
                  <el-col :span="12">
                    <el-form-item label="Q Q" prop="qq">
                      <el-input
                        v-model="userForm.qq"
                        clearable
                        maxlength="12"
                        placeholder="请输入QQ"
                      />
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="出生日期" prop="birthday">
                      <el-date-picker
                        v-model="userForm.birthday"
                        type="date"
                        placeholder="选择出生日期"
                        value-format="yyyy-MM-dd"
                      />
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-row :gutter="20">
                  <el-col :span="12">
                    <el-form-item label="">
                      <el-button
                        type="primary"
                        :loading="loading"
                        icon="el-icon-check"
                        @click="handleSubmit"
                        >确 定</el-button
                      >
                    </el-form-item>
                  </el-col>
                </el-row>
              </el-col>
              <el-col :span="8">
                <div style="text-align: center">
                  <el-upload
                    class="avatar-uploader"
                    :action="baseUrl + '/api/userCenter/AvatarUpload'"
                    :headers="headers"
                    :on-success="handleAvatarSuccess"
                    :show-file-list="false"
                  >
                    <img
                      v-if="userForm.avatarUrl"
                      fits="cover"
                      :src="baseUrl + userForm.avatarUrl"
                      class="avatar"
                    />
                    <i v-else class="el-icon-plus avatar-uploader-icon" />
                  </el-upload>
                  <div class="mt-m">用户头像上传</div>
                </div>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-tab-pane>
      <el-tab-pane label="修改密码" name="password">
        <div class="password-form">
          <el-form
            ref="passwordForm"
            :model="passwordForm"
            :rules="passwordRules"
            label-width="100px"
          >
            <el-form-item label="原密码" prop="currentPassword">
              <el-input
                v-model="passwordForm.currentPassword"
                maxlength="20"
                placeholder="请输入新密码"
                show-password
              />
            </el-form-item>

            <el-form-item label="新密码" prop="confirmPassword">
              <el-input
                v-model="passwordForm.confirmPassword"
                maxlength="20"
                placeholder="请输入新密码"
                show-password
              />
            </el-form-item>

            <el-form-item label="确认密码" prop="newPassword">
              <el-input
                v-model="passwordForm.newPassword"
                maxlength="20"
                placeholder="请再次输入新密码"
                show-password
              />
            </el-form-item>

            <el-form-item label="">
              <el-button
                type="primary"
                icon="el-icon-check"
                @click="submitPasswordForm"
                >确 定</el-button
              >
            </el-form-item>
          </el-form>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import { getUserInfo } from '@/api/login'
import { updateUser, updatePassword } from '@/api/users/usercenter'
import { getToken } from '@/utils/token'
export default {
  name: 'center',
  data() {
    return {
      // 标签页
      activeName: 'user',

      baseUrl: process.env.VUE_APP_BASE_API,
      headers: { SYSTOKEN: getToken() },
      // 加载中
      loading: false,
      // 图片路径
      imageUrl: '',
      // 用户信息列表
      userForm: {},
      // 密码列表
      passwordForm: {},
      // 校验规则
      rules: {
        nickName: [
          {
            required: true,
            message: '请输入用户昵称',
          },
          {
            min: 2,
            max: 20,
            message: '长度在 2 到 20 个字符',
          },
        ],
      },
      // 重置密码表单校验
      passwordRules: {
        currentPassword: [
          { required: true, message: '原密码不能为空' },
          { min: 8, message: '用户密码长度至少8位' },
        ],
        confirmPassword: [
          { required: true, message: '用户密码不能为空' },
          { min: 8, message: '用户密码长度至少8位' },
        ],
        newPassword: [
          { required: true, message: '确认密码不能为空' },
          { min: 8, message: '用户密码长度至少8位' },
        ],
      },
    }
  },
  created() {
    this.getUserInfo()
  },
  methods: {
    // 获取用户信息
    getUserInfo() {
      getUserInfo().then((response) => {
        this.userForm = response.data
      })
    },
    // 点击确定按钮
    handleSubmit: function () {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          updateUser(this.userForm).then(() => {
            this.loading = true
            this.$notify({
              title: '成功',
              message: '修改用户信息成功！',
              type: 'success',
            })

            this.getUserInfo()
            this.loading = false
          })
        }
      })
    },
    // 修改密码提交
    submitPasswordForm() {
      this.$refs['passwordForm'].validate((valid) => {
        if (valid) {
          if (
            this.passwordForm.newPassword !== this.passwordForm.confirmPassword
          ) {
            this.$message.error('两次密码输入不一致')
            return
          }
          updatePassword({
            currentPassword: this.passwordForm.currentPassword,
            confirmPassword: this.passwordForm.confirmPassword,
          }).then(() => {
            this.$refs.passwordForm.resetFields()
            this.$notify({
              title: '成功',
              message: '重置密码成功成功！',
              type: 'success',
            })
          })
        }
      })
    },
    // 图片上传成功
    handleAvatarSuccess() {
      this.getUserInfo()
      this.$message({
        message: '图片上传成功',
        type: 'success',
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.user-center {
  .password-form {
    margin-top: 15px;

    .el-input {
      width: 350px;
    }
  }
}
</style>
