<template>
  <div class="mark-classify app-container">
    <div class="app-main-button">
      <el-button
        type="primary"
        icon="el-icon-plus"
        @click="handleCreateMark"
      >新增</el-button>
    </div>

    <div class="main">
      <div class="my-el-table table-container">
        <el-table
          v-loading="loading"
          size="mini"
          :data="tableData"
          row-key="id"
          border
          :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
          height="80vh"
        >
          <el-table-column
            prop="objName"
            label="标的分类名称"
          />
          <el-table-column
            prop="countryName"
            label="对应国家分类"
            align="center"
          />

          <el-table-column prop="yearLimit" label="年限" align="center" width="80" />

          <el-table-column label="操作" width="250">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="primary"
                @click="handleEditMark(scope.row)"
              >编辑</el-button>

              <el-button
                size="mini"
                type="success"
                @click="handleCreateChild(scope.row)"
              >新增子类</el-button>
              <el-button
                v-if="scope.row.children === null"
                size="mini"
                type="danger"
                @click="handleDeleteMark(scope.row.id)"
              >删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <div class="classify-container">
        <div class="title">国家标的分类列表</div>
        <div class="search-container">
          <span class="search-tip">关键词搜索：</span>
          <el-input
            v-model="searchInput"
            placeholder="请输入内容"
            prefix-icon="el-icon-search"
            style="width:300px"
            @input="getCountryObjectCate()"
          />
        </div>

        <div class="list-container">
          <el-tag
            v-for="(item, index) in markList"
            :key="index"
            type="info"
            class="list-item"
            @click="handleCopy(item.name, $event)"
          >{{ item.name }}</el-tag>
        </div>
      </div>
    </div>

    <el-dialog title="标分类编辑" :visible.sync="dialogFormVisible">
      <el-form ref="ruleForm" :model="form" :rules="rules" label-width="120px">
        <el-form-item
          label="标的分类名称"
          
          prop="objName"
        >
          <el-input
            v-model="form.objName"
            style="width:300px"
          />
        </el-form-item>

        <el-form-item
          label="对应国家分类"
          prop="countryName"
        >
          <el-input
            v-model="form.countryName"
            style="width:300px"
          />
        </el-form-item>

        <el-form-item label="CODE" prop="code">

          <el-input
            v-model.number="form.code"
            style="width:300px"
          />
      
        </el-form-item>

        <el-form-item
          label="年限"
          prop="yearLimit"
        >
          <el-input-number
            v-model="form.yearLimit"
            controls-position="right"
            :min="0"
          />
        </el-form-item>

      </el-form>
      <div slot="footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="submitForm('ruleForm')"
        >确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import clip from '@/utils/clipboard' 
import {getObjectCate, addObjectCate, updateObjectCate, getCountryObjectCate, deleteObjectCate} from '@/api/identify'

export default {
  data() {
    return {

      loading: false,
      searchInput: '',
      tableData: [],
      markList: [],
      dialogFormVisible: false,
      form: {
        objName: '',
        countryName: '',
        yearLimit: '',
        code: ''
      },

      rules: {
        objName: [
          {required: true, message: '请输入标的分类名称'}
        ],
        countryName: [
          {required: true, message: '请输入对应国家分类'}
        ],
        yearLimit: [
          {
            required: true,
            message: '请输入年限'
          }
        ],
        code: [
          {required: true, message: '请输入CODE'},
          {type: 'number', message: 'CODE必须为数字'}
        ]
      }
    }
  },

  created() {
    this.handleGetObjectCate()

    this.getCountryObjectCate()
  },
  methods: {

    getCountryObjectCate() {
      getCountryObjectCate({
        search: this.searchInput

      }).then(res => {
        this.markList = res.data
      })
    },

    handleGetObjectCate() {
      this.loading = true
      getObjectCate().then((res) => {
        this.loading = false
        this.tableData = res.data
      })
    },

    handleCreateMark() {
      this.dialogFormVisible = true

      this.form = {
        objName: '',
        countryName: '',
        yearLimit: '',
        code: '',
        parentID: 0
      }

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },

    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.form.id) {
            updateObjectCate(this.form).then(() => {
              this.handleGetObjectCate()
              this.dialogFormVisible = false
              this.$notify({
                title: '成功',
                message: '更新物品分类成功！',
                type: 'success'
              })
            })
          } else {
            addObjectCate(this.form).then(() => {
              this.handleGetObjectCate()
              this.dialogFormVisible = false
              this.$notify({
                title: '成功',
                message: '新增物品分类成功！',
                type: 'success'
              })
            })
          }
        } else {
          return false
        }
      })
    },

    handleEditMark(row) {
      this.dialogFormVisible = true
      this.form = JSON.parse(JSON.stringify(row))

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },
    handleCreateChild(row) {
      this.dialogFormVisible = true

      this.form = {
        objName: '',
        countryName: '',
        yearLimit: '',
        code: '',
        parentID: row.id
      }

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },
    handleCopy(text, event) {
      clip(text, event)
    },

    handleDeleteMark(id) {
      this.deleteConfirm(deleteObjectCate, {id}).then(() => this.handleGetObjectCate())
    }
  }
}
</script>

<style lang="scss" scoped>
.mark-classify {
  .main {
    display: flex;
    justify-content: space-between;
    .table-container {
      width: 58%;
    }
    .classify-container {
      width: 40%;
      border: 1px solid #e4e7ed;
       height: 80vh;

      .title {
        text-align: center;
        padding: 12px;
        background: rgb(244, 244, 245);
      }

      .search-container {
        display: flex;
        align-items: center;
        padding-bottom: 12px;
        margin: 12px 12px 0 12px;
        border-bottom: 1px solid #e4e7ed;

        .search-tip {
          color: #606266;
          font-size: 16px;
        }
      }

      .list-container {
        display: flex;
        flex-wrap: wrap;
        height: 87%;
        overflow-y: auto;
        justify-content: space-around;

        &::-webkit-scrollbar {
    display: none;
  }

        .list-item {
          margin: 8px ;
        }
      }
    }
  }
}
</style>
