<template>
  <view class="news">
    <view 
      v-if="list.length > 0" 
    >
      <view class="custom-list">
        <view 
          v-for="(item,index) in list" 
          :key="index" 
          class="custom-list-item"
          @click="toDetail(item.id)">
	  		
          <view class= "flex-row">
	  	
            <image 
			v-if="item.picturePath"
			:src="'https://wsl.gdsrxh.com:52' + item.picturePath"
			style="width: 200rpx;height: 200rpx;" 
			mode=""/>
	  			
            <view class="flex-column flex-start">
				
              <view class="date">
                {{ item.publishTime.split(' ')[0] }}
              </view>
	  			  
              <view class="title ellipsis-1 bold">
                {{ item.title }}
              </view>
              <view class="subtitle ellipsis-3">
                {{ item.subTitle }}
              </view>
            </view>
          </view>
	  	  
        </view>
	  	  
      </view>
	  	
      <u-loadmore 
        v-if="list.length > queryParams.pageSize" 
        :status="status"/>
    </view>
	  
    <view 
      v-else 
      class="my-u-empty">
      <u-empty mode="list"/>
    </view>

  </view>
</template>

<script>
export default {
  data() {
    return {
      status: 'loadmore',
      queryParams: {
        pageIndex: 1,
        pageSize: 10,
        columnId: 18,
        orderBy: '',
        sort: ''
      },
	  list: []
				
    }
  },
  onLoad() {
    this.handleQueryNews()
  },
  
  	onReachBottom() {
  			if (this.status === 'nomore') return
			
    this.queryParams.pageIndex++ 
			
    this.handleQueryNews()
  		},
  
  methods: {
	  
	  handleQueryNews() {
		  this.$u.api.queryNews(this.queryParams).then(res => {
		    this.list.push(...res.data.dataSource)
			
        if (res.data.dataSource.length < this.queryParams.pageSize) {
          this.status = 'nomore'
        }
		  })
	  },
	  toDetail(id) {
		  this.$u.route('/pages/mpweixin/news-detail', {id})
	  }
  }
  
}
</script>

<style lang="scss" scoped>

</style>

<style lang="scss">
	page{
		background: #F4F4F4
		
	}

</style>
