<template>
  <div class="app-container">
    <div class="mb-s">
      <el-button type="primary" @click="handleCreateCypher"
        >新增兑换码</el-button
      >
      <el-button type="danger" @click="handleDeleteCypher(multipleSelection)"
        >删除兑换码</el-button
      >
    </div>
    <el-table
      :data="tableData"
      style="width: 100%"
      border=""
      @selection-change="handleSelectionChange"
      height="calc(100vh - 250px)"
    >
      <el-table-column type="selection" width="55" align="center">
      </el-table-column>

      <el-table-column label="兑换码" prop="exchangeCode" align="center">
      </el-table-column>

      <el-table-column label="是否使用" align="center" prop="statusName">
      </el-table-column>

      <el-table-column label="创建时间" align="center" prop="addDate">
      </el-table-column>

      <el-table-column label="操作" align="center">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="danger"
            @click="handleDeleteCypher([scope.row.id])"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      :total="total"
      :page.sync="queryParams.pageIndex"
      :limit.sync="queryParams.pageSize"
      @pagination="handleQueryCypher"
    />

    <el-dialog title="兑换码编辑" :visible.sync="dialogFormVisible">
      <el-form :model="form" :rules="rules" ref="ruleForm">
        <el-form-item
          label="兑换码个数"
          :label-width="formLabelWidth"
          prop="number"
        >
          <el-input-number
            v-model="form.number"
            controls-position="right"
          ></el-input-number>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitForm('ruleForm')"
          >确 定</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { queryCypher, createCypher, deleteCypher } from '@/api/cypher'
export default {
  data() {
    return {
      tableData: [],
      dialogFormVisible: false,
      form: {},

      rules: {
        number: [{ required: true, message: '请输入生成兑换码数量' }],
      },
      multipleSelection: [],
      formLabelWidth: '120px',
      total: 0,
      queryParams: {
        pageIndex: 1,
        pageSize: 20,
        orderBy: '',
        sort: '',
      },
    }
  },

  created() {
    this.handleQueryCypher()
  },
  methods: {
    handleDeleteCypher(ids) {
      this.deleteConfirm(deleteCypher, ids).then(() => {
        this.handleQueryCypher()
      })
    },

    handleQueryCypher() {
      queryCypher(this.queryParams).then((res) => {
        this.tableData = res.data.dataSource
        this.total = res.data.totalCount
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          createCypher(this.form).then((res) => {
            this.handleQueryCypher()

            this.dialogFormVisible = false

            this.$notify({
              title: '成功',
              message: '新增兑换码成功！',
              type: 'success',
            })
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },

    handleSelectionChange(val) {
      this.multipleSelection = val.map((item) => item.id)
    },
    handleCreateCypher() {
      this.form = {
        number: 1,
      }

      this.dialogFormVisible = true

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },
  },
}
</script>
