<template>
  <div class="examine-record">
    <el-dialog
      title="价格调查录入"
      :visible.sync="dialogVisible"
      top="10vh"
      width="76%"
      @close="$emit('closeExamineRecord')"
    >
      <div>
        <div>
          <h2 style="margin-top:0">标的状况</h2>
          <div class="my-el-row">
            <el-row>
              <el-col :span="4"><div class="grid-content grid-bg">物品名称</div></el-col>
              <el-col :span="8"><div class="grid-content ">iPhone6sPlus</div></el-col>

              <el-col :span="4"><div class="grid-content grid-bg">单位</div></el-col>
              <el-col :span="8"><div class="grid-content ">部</div></el-col>
            </el-row>

            <el-row>
              <el-col :span="4"><div class="grid-content grid-bg">物品型号</div></el-col>
              <el-col :span="20"><div class="grid-content ">
                Apple iPhone6sPlus(A1699)32G 玫瑰金色 移动联通电信4G手机
              </div></el-col>
            </el-row>

            <el-row>
              <el-col :span="4"><div class="grid-content grid-bg">基准日期</div></el-col>
              <el-col :span="8"><div class="grid-content ">
                2010-09-09
              </div></el-col>

              <el-col :span="4"><div class="grid-content grid-bg">调查日期</div></el-col>
              <el-col :span="8"><div class="grid-content ">2010-09-09</div></el-col>
            </el-row>
          </div>
        </div>

        <div>
          <h2>录入市场调查</h2>

          <div class="my-el-table">
            <el-table :data="gridData" size="mini">
              <el-table-column
                property="date"
                label="序号"
                width="60"
                type="index"
                align="center"
              />

              <el-table-column label="价格">
                <template slot-scope="scope">
                  <el-input v-model="scope.row.price" size="mini" />
                </template>
              </el-table-column>

              <el-table-column label="地点">
                <template slot-scope="scope">
                  <el-input v-model="scope.row.place" size="mini" />
                </template>
              </el-table-column>

              <el-table-column label="图片地址">
                <template slot-scope="scope">
                  <div style="display:flex">
                    <el-input
                      v-model="input"
                      placeholder="请输入内容"
                      size="mini"
                    />
                    <el-upload
                      ref="upload"
                      class="upload-demo"
                      action="https://jsonplaceholder.typicode.com/posts/"
                      :on-preview="handlePreview"
                      :on-remove="handleRemove"
                      :auto-upload="false"
                      :show-file-list="false"
                    >
                      <el-button
                        slot="trigger"
                        size="mini"
                        type="text"
                        style="margin-left:6px"
                      >选取图片</el-button>
                    </el-upload>
                  </div>
                </template>
              </el-table-column>

              <el-table-column label="引用受理号">
                <template slot-scope="scope">
                  <el-input
                    v-model="scope.row.acceptNumber"
                    size="mini"
                  />
                </template>
              </el-table-column>

              <el-table-column align="center" width="80">
                <template slot="header" slot-scope="scope">
                  <el-button type="text"
                             size="mini"
                             @click="createExamine"
                  >新增</el-button>
                </template>
                <template slot-scope="scope">
                  <el-button
                    size="mini"
                    type="text"
                    style="color:#F56C6C"
                    @click="deleteExamine(scope.$index, scope.row)"
                  >删除</el-button>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>

        <div>
          <h2>搜索</h2>

          <el-input
            v-model="input2"
            placeholder="请输入内容"
            prefix-icon="el-icon-search"
            size="mini"
            style="width:300px;margin-bottom:12px"
          />

          <div class="my-el-table">
            <el-table
              :data="tableData"
              style="width: 100%"
              size="mini"
              border=""
            >
              <el-table-column
                label="序号"
                width="60"
                type="index"
                align="center"
              />

              <el-table-column label="物品名称" prop="goodsName" align="center" />

              <el-table-column
                label="物品型号"
                prop="goodsModel"
                align="center"
              />

              <el-table-column
                label="基准日期"
                prop="goodsModel"
                align="center"
              />

              <el-table-column
                label="调查日期"
                prop="goodsModel"
                align="center"
              />

              <el-table-column label="价格" prop="price" align="center" />

              <el-table-column label="地点" prop="place" align="center" />

              <el-table-column label="图片地址" prop="src" align="center" />

              <el-table-column
                label="引用受理号"
                prop="goodsModel"
                align="center"
              />

              <el-table-column label="操作" align="center" width="60">
                <template slot-scope="scope">
                  <el-button
                    size="mini"
                    type="text"
                    @click="handleQuote(scope.row)"
                  >引用</el-button>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>

        <div>
          <h2>数据操作</h2>
          <div class="my-el-row">
            <el-row>
              <el-col :span="4"><div class="grid-content grid-bg">取值原因</div></el-col>
              <el-col :span="8"><div class="grid-content ">
                <el-select v-model="value" placeholder="请选择" size="mini">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  />
                </el-select></div></el-col>

              <el-col :span="4"><div class="grid-content grid-bg">取值</div></el-col>
              <el-col :span="8"><div class="grid-content ">
                <el-input v-model="getValue" size="mini" /></div></el-col>
            </el-row>

            <el-row>
              <el-col :span="4"><div class="grid-content grid-bg">扣减价格</div></el-col>
              <el-col :span="8"><div class="grid-content ">
                <el-input v-model="deductPrice" size="mini" /></div></el-col>
              <el-col :span="4"><div class="grid-content grid-bg">净值</div></el-col>
              <el-col :span="8"><div class="grid-content ">
                <el-input v-model="bareValue" size="mini" />
              </div>
              </el-col>
            </el-row>
          </div>
        </div>
      </div>

      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitForm">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  props: {
    initDialogVisible: {
      default: false,
      type: Boolean
    }
  },
  data() {
    return {
      gridData: [
        {
          price: '2016-05-02',
          place: '王小虎',
          src: '上海市普陀区金沙江路 1518 弄',
          acceptNumber: 'FDAFD'
        },
        {
          price: '',
          place: '',
          src: '',
          acceptNumber: ''
        }
      ],

      dialogVisible: false,

      tableData: [
        {
          price: '2016-05-02',
          place: '王小虎',
          src: '上海市普陀区金沙江路 1518 弄',
          acceptNumber: 'FDAFD'
        }
      ],

      options: [
        {
          value: '选项1',
          label: '黄金糕'
        },
        {
          value: '选项2',
          label: '双皮奶'
        }
      ],
      value: ''
    }
  },

  watch: {
    initDialogVisible() {
      this.dialogVisible = this.initDialogVisible
    }
  },

  methods: {
    deleteExamine(index, row) {
      this.gridData = this.gridData.filter((item, order) => {
        return index !== order
      })
      console.log(index, row)
    },
    createExamine() {
      this.gridData.push({
        price: '',
        place: '',
        src: '',
        acceptNumber: ''
      })
    },
    handleQuote(row) {
      this.gridData.push(row)
    },
    submitForm() {
      this.dialogVisible = false
    },

    handleRemove(file, fileList) {
      console.log(file, fileList)
    },
    handlePreview(file) {
      console.log(file)
    }
  }
}
</script>

<style lang="scss" scoped>
.examine-record {
  /deep/ .el-dialog__body {
    padding-top: 0;
  }

  h2 {
    font-size: 14px;
    font-weight: bold;
    border-left: 2px solid #409eff;
    padding-left: 12px;
  }
}
</style>
