<template>
  <div>
    <div class="car-table">
      <div class="car-table-title">
        <span class="title-text">机动车辆标的清单</span>

        <el-button
          size="mini"
          type="primary"
          @click="handleCreate"
        >新增一行</el-button>
      </div>

      <div class="my-el-table">
        <el-table :data="tableData" border style="width: 100%" size="mini">
          <el-table-column
            fixed
            prop="date"
            label="序号"
            width="60"
            type="index"
            align="center"
          />

          <el-table-column prop="articleCate" label="车辆分类" align="center" />
          <!-- <el-table-column prop="markName" label="车辆类型" align="center" /> -->
          <el-table-column prop="brand" label="品牌" align="center" />

          <el-table-column prop="brand" label="系列" align="series" />

          <el-table-column prop="brand" label="型号" align="model" />

          <el-table-column prop="carPlate" label="车牌号" align="center" />

          <el-table-column prop="engineNumber" label="发动机号" align="center" />

          <el-table-column prop="chassisNumber" label="车架号" align="center" />

          <el-table-column prop="environmentCondition" label="环保达标情况" align="center" min-width="100" />

          <el-table-column prop="exBuyPirce" label="原购置价格" align="center" min-width="100" />

          <el-table-column prop="firstCheckDate" label="初次登记日期" align="center" min-width="100" />

          <el-table-column prop="haveEntity" label="是否提供实物" align="center" min-width="100">

            <template slot-scope="scope">
              {{ scope.row.haveEntity ? "是" : "否" }}
            </template>
          </el-table-column>

          <el-table-column prop="qualifyPlate" label="合格证" align="center" min-width="100" />

          <el-table-column prop="repairTimes" label="维修次数" align="center" min-width="100" />

          <el-table-column prop="trip" label="累计行程" align="center" min-width="100" />

          <el-table-column prop="userNature" label="使用性质" align="center" min-width="100" />

          <el-table-column label="标的形态" align="center">
            <el-table-column prop="isLost" label="是否灭失" align="center">
              <template slot-scope="scope">
                {{ scope.row.isLost ? "是" : "否" }}
              </template>
            </el-table-column>

            <el-table-column
              prop="basicDayHaveBigChange"
              label="基准日形态是否已发生重大改变"
              align="center"
              width="120"
            >
              <template slot-scope="scope">
                {{ scope.row.basicDayHaveBigChange ? "是" : "否" }}
              </template>
            </el-table-column>
          </el-table-column>

          <el-table-column prop="buyStatues" label="购置时状态" align="center" />
          <!-- <el-table-column prop="unit" label="新旧程度" align="center" /> -->

          <el-table-column label="价格内涵" align="center">
            <el-table-column
              prop="priceConnotation"
              label="价格内涵"
              align="center"
            />
            <el-table-column
              prop="priceConnotationOther"
              label="价格内涵其他"
              align="center"
              width="120"
            />
          </el-table-column>
          <!-- <el-table-column
            prop="basedayStatus"
            label="基准日状况按何种状况确定(无实物选其他)"
            align="center"
            width="150"
          /> -->

          <el-table-column
            prop="buyDate"
            label="登记日期/购置时间"
            align="center"
            min-width="130"
          />

          <el-table-column
            prop="priceBasicDay"
            label="价格认定基准日"
            align="center"
            min-width="120"
          />

          <!-- <el-table-column prop="price" label="购买价格" align="center" /> -->

          <!-- <el-table-column prop="price" label="币种" align="center" /> -->
          <!-- <el-table-column prop="price" label="其他要求" align="center"> -->
          <!-- <el-table-column
              prop="isUse"
              label="是否能够正常使用"
              align="center"
            >
              <template slot-scope="scope">
                {{ scope.row.isUse ? "是" : "否" }}
              </template>
            </el-table-column> -->

          <!-- <el-table-column prop="price" label="其他" align="center" /> -->
          <!-- </el-table-column> -->

          <el-table-column
            fixed="right"
            label="操作"
            width="150"
            align="center"
          >
            <template slot-scope="scope">
              <el-button
                type="primary"
                size="mini"
                @click="handleEdit(scope.row)"
              >编辑</el-button>
              <el-button type="danger" size="mini" @click="handleDeleteCar(scope.row.id)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>

    <el-dialog
      title="机动车编辑"
      :visible.sync="dialogVisible"
      width="78%"
      top="10vh"
    >
      <div class="car-form-container">
        <el-form
          ref="form"
          :model="form"
          :rules="rules"
          label-width="180px"
      
          inline
        >

          <el-form-item label="标的名称" prop="articelName">
            <el-input v-model="form.articelName" />
          </el-form-item>

          <el-form-item label="车辆分类" prop="articleCate">
            <el-select v-model="form.articleCate" placeholder="请选择车辆分类">
              <el-option
                v-for="(item, index) in articleCateOption"
                :key="index"
                :label="item.objName"
                :value="item.id"
              />
            </el-select>
          </el-form-item>

          <!-- <el-form-item label="车辆类型" prop="carKind">
            <el-input v-model="form.carKind" />
          </el-form-item> -->

          <el-form-item label="品牌" prop="brand">
            <el-input v-model="form.brand" />
          </el-form-item>

          <el-form-item label="系列" prop="series">
            <el-input v-model="form.series" />
          </el-form-item>

          <el-form-item label="型号" prop="model">
            <el-input v-model="form.model" />
          </el-form-item>

          <el-form-item label="车牌号码" prop="carPlate">
            <el-input v-model="form.carPlate" />
          </el-form-item>

          <el-form-item label="合格证" prop="qualifyPlate">
            <el-input v-model="form.qualifyPlate" />
          </el-form-item>

          <el-form-item label="发动机型号" prop="engineNumber">
            <el-input v-model="form.engineNumber" />
          </el-form-item>

          <el-form-item label="车架号" prop="chassisNumber">
            <el-input v-model="form.chassisNumber" />
          </el-form-item>

          <el-form-item label="累计行程" prop="trip">
            <el-input v-model="form.trip" />
          </el-form-item>

          <el-form-item label="初次登记日期" prop="firstCheckDate">
            <el-date-picker
              v-model="form.firstCheckDate"
              type="date"
              value-format="yyyy-MM-dd"
              placeholder="选择日期"
            />
          </el-form-item>

          <el-form-item label="使用性质" prop="userNature">
            <el-input v-model="form.userNature" />
          </el-form-item>

          <el-form-item label="原购置价格" prop="exBuyPirce">
            <el-input v-model="form.exBuyPirce" />
          </el-form-item>

          <el-form-item label="是否灭失" prop="isLost">
            <el-select v-model="form.isLost">
              <el-option label="否" :value="0" />
              <el-option label="是" :value="1" />
            </el-select>
          </el-form-item>
          
          <el-form-item label="是否提供实物" prop="haveEntity">
            <el-select v-model="form.haveEntity">
              <el-option label="否" :value="0" />
              <el-option label="是" :value="1" />
            </el-select>
          </el-form-item>

          <el-form-item label="基准日形态已发生重大改变" prop="basicDayHaveBigChange">
            <el-select v-model="form.basicDayHaveBigChange">
              <el-option label="否" :value="0" />
              <el-option label="是" :value="1" />
            </el-select>
          </el-form-item>

          <el-form-item label="环保达标情况" prop="environmentCondition">
            <el-input v-model="form.environmentCondition" />
          </el-form-item>

          <el-form-item label="维修次数" prop="repairTimes">
            <el-input-number
              v-model="form.repairTimes"
              controls-position="right"
              :min="0"
            />
          </el-form-item>

          <!-- <el-form-item label="数量" prop="region">
            <el-input-number
              v-model="form.num"
              controls-position="right"
              :min="0"
            />
          </el-form-item> -->

          <!-- <el-form-item label="新旧程度" prop="name">
            <el-input v-model="form.name" />
          </el-form-item> -->

          <el-form-item label="购置时状态" prop="buyStatues">
            <el-select v-model="form.buyStatues" placeholder="请选择购置时状态">
              <el-option
                v-for="(item, index) in buyStatuesOption"
                :key="index"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </el-form-item>

          <el-form-item label="购置时间" prop="buyDate">
            <el-date-picker
              v-model="form.buyDate"
              type="date"
              value-format="yyyy-MM-dd"

              placeholder="选择日期"
            />
          </el-form-item>

          <el-form-item label="价格认定基准日" prop="priceBasicDay">
            <el-date-picker
              v-model="form.priceBasicDay"
              type="date"
              value-format="yyyy-MM-dd"

              placeholder="选择日期"
            />
          </el-form-item>
      
          <el-form-item label="价格内涵" prop="priceConnotation" :style="{display:form.priceConnotation === '其他' ? 'inline-block' : 'block'}">
            <el-select
              v-model="form.priceConnotation"
              placeholder="请选择价格内涵"
            >
              <el-option
                v-for="(item, index) in priceConnotationOption"
                :key="index"
                :label="item.connotation"
                :value="item.connotation"
              />
            </el-select>

          </el-form-item>

          <el-form-item v-if="form.priceConnotation === '其他'" label="其他价格内涵" prop="priceConnotationOther">
            <el-input v-model="form.priceConnotationOther" />
          </el-form-item>

          <el-form-item label="排序" prop="orders">
            <el-input-number
              v-model="form.orders"
              controls-position="right"
              :min="0"
            />
          </el-form-item>

          <el-form-item label="备注" prop="remark">
            <el-input v-model="form.remark" />
          </el-form-item>
          
        </el-form>

        <div class="my-el-table">
          <el-table
            :data="carDetailTable"
            style="width: 100%"
            size="mini"
          >
            <el-table-column
              prop="damagePart"
              label="毁坏部位"
              align="center"
            >
              <template slot-scope="scope">
                <el-input v-model="scope.row.damagePart" />
              </template>
            </el-table-column>

            <el-table-column
              prop="damageDegree"
              label="被毁坏程度"
              align="center"
            >
              <template slot-scope="scope">
                <el-input v-model="scope.row.damageDegree" />
              </template>
            </el-table-column>

            <el-table-column
              prop="repairPlan"
              label="修复方案"
              align="center"
            >
              <template slot-scope="scope">
                <el-input v-model="scope.row.repairPlan" />
              </template>
            </el-table-column>

            <el-table-column
              prop="qualityCondition"
              label="质保协议情况"
              align="center"
            >
              <template slot-scope="scope">
                <el-input v-model="scope.row.qualityCondition" />
              </template>
            </el-table-column>

            <el-table-column label="操作" align="center" width="100">
              <template slot-scope="scope">
  
                <el-button
                  size="mini"
                  type="danger"
                  @click="deleteCarDetail(scope.$index)"
                >删除</el-button>
              </template>
            </el-table-column>
         
          </el-table>

          <div class="plus-button">
            <el-button icon="el-icon-plus" size="mini" type="primary" @click="createCarDetail">新增一行</el-button>
          </div>
        </div>

      </div>

      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitForm('form')">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>

import {getObjectCase, getBuyStatues, getPriceConnotation, getBasicDaySituationSure, addCar, updateCar, deleteCar, queryCar} from '@/api/proposer'

import createGuid from '@/utils/guid'

export default {
  props: {
    priceConnotationOption: {
      type: Array,
      default: function() {
        return []
      }
    },
    requireCode: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      form: {},

      dialogVisible: false,

      articleCateOption: [],

      buyStatuesOption: [],
     
      // basedayStatusList: [
      //   {
      //     id: '0',
      //     label: '全新'
      //   },
      //   {
      //     id: '1',
      //     label: '其他'
      //   }
      // ],
      rules: {
       
        articelName: {required: true, message: '请输入标的名称'},
        articleCate: {required: true, message: '请选择车辆分类'},
        brand: {required: true, message: '请输入品牌'},
        series: {required: true, message: '请输入系列'},
        model: {required: true, message: '请输入型号'},
        carPlate: {required: true, message: '请输入车牌号码'},
        trip: {required: true, message: '请输入累计行程'},
        firstCheckDate: {required: true, message: '请选择初次登记时间'},
        userNature: {required: true, message: '请输入使用性质'},
        environmentCondition: {required: true, message: '请输入环保达标情况'},
        repairTimes: {required: true, message: '请输入维修次数'},
        buyStatues: {required: true, message: '请选择购置时状态'},
        buyDate: {required: true, message: '请选择购置时间'},
        priceBasicDay: {required: true, message: '请选择价格认定基准日'},
        priceConnotation: {required: true, message: '请选择价格内涵'},
        priceConnotationOther: {required: true, message: '请输入价格内涵其他'}
   
      },

      tableData: [],

      carDetailTable: []
    }
  },

  created() {
    this.handleGetObjectCase()
    this.handleGetBuyStatues()

    this.handleQueryCar()

    this.form = this.resetForm()

    // initCarDetailTable = {
    //   id: createGuid(),
    //   requireCode: this.requireCode,
    //   damagePart: '',
    //   carID: this.form.id,
    //   damageDegree: '',
    //   repairPlan: '',
    //   qualityCondition: '',
    //   orders: 0

    // }
  },

  methods: {

    resetForm() {
      return {

        id: createGuid(),
        remark: '',
        articelName: '',
        articleCate: '',
        model: '',
        series: '',
        qualifyPlate: '',
        trip: '',
        firstCheckDate: '',
        exBuyPirce: '',
        environmentCondition: '',
        userNature: '',
        haveEntity: 0,
        repairTimes: '',
        orders: 0,
  
        buyDate: '',
        priceBasicDay: '',
  
        isLost: 0,
        basicDayHaveBigChange: 0,
        chassisNumber: '',
 
        engineNumber: '',
        carPlate: '',
        brand: '',
        buyStatues: '',
        priceConnotation: '',
        priceConnotationOther: ''

      }
    },

    handleDeleteCar(id) {
      this.deleteConfirm(deleteCar, {id}).then(() => this.handleQueryCar())
    },

    handleQueryCar() {
      queryCar({requireCode: this.requireCode}).then(res => {
        this.tableData = res.data
      })
    },

    deleteCarDetail(carIndex) {
      this.carDetailTable = this.carDetailTable.filter((item, index) => index !== carIndex)
    },

    createCarDetail() {
      this.carDetailTable.push({
        id: createGuid(),
        requireCode: this.requireCode,
        damagePart: '',
        carID: this.form.id,
        damageDegree: '',
        repairPlan: '',
        qualityCondition: '',
        orders: this.carDetailTable.length
      })
    },

    handleGetBuyStatues() {
      getBuyStatues().then(res => {
        this.buyStatuesOption = res.data
      })
    },

    handleGetObjectCase() {
      getObjectCase().then(res => {
        this.articleCateOption = res.data
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.form.carDetail = this.carDetailTable

          if (this.form.requireCode) {
            updateCar(this.form).then(() => {
              this.handleQueryCar()
              this.dialogVisible = false

              this.$notify({
                title: '成功',
                message: '修改机动车成功！',
                type: 'success'
              })
            })
          } else {
            this.form.requireCode = this.requireCode

            addCar(this.form).then(() => {
              this.handleQueryCar()
              this.dialogVisible = false

              this.$notify({
                title: '成功',
                message: '新增机动车成功！',
                type: 'success'
              })
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },

    handleCreate() {
      this.dialogVisible = true

      this.form = this.resetForm()

      this.$nextTick(() => {
        this.$refs.form.clearValidate()
      })

      console.log(this.form)

      this.form.id = createGuid()

      this.carDetailTable = [{
        id: createGuid(),
        requireCode: this.requireCode,
        damagePart: '',
        carID: this.form.id,
        damageDegree: '',
        repairPlan: '',
        qualityCondition: '',
        orders: 0
      }]
    },
    handleEdit(row) {
      this.form = JSON.parse(JSON.stringify(row))

      this.carDetailTable = this.form.carDetail

      this.dialogVisible = true
    }
  }
}
</script>

<style lang="scss" scoped>
.car-table {
  margin-bottom: 24px;
  .car-table-title {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    align-items: center;

    .title-text {
      border-left: 2px solid #409eff;
      padding-left: 12px;
    }
  }
}

.car-form-container {
  .el-input,
  .el-select,
  .el-input-number {
    width: 280px;
  }

  .plus-button{
    text-align: center;
    margin-top: 20px;

  }
}
</style>
