<template>
  <div class="navbar">
    <div class="left-menu">
      <div v-if="headerTitleShow" class="title-wrap">
        <img v-if="logoShow" src="@/assets/images/logo.png" class="logo" />

        <div class="title">{{ title }}</div>
      </div>
      <div style="display: flex; align-items: center">
        <hamburger
          id="hamburger-container"
          :is-active="sidebar.opened"
          class="hamburger-container"
          @toggleClick="toggleSideBar"
        />
        <breadcrumb id="breadcrumb-container" class="breadcrumb-container" />
      </div>
    </div>

    <div class="right-menu">
      <template v-if="device !== 'mobile'">
        <search id="header-search" class="right-menu-item" />

        <size-select id="size-select" class="right-menu-item hover-effect" />

        <!-- <el-popover
          placement="top-start"
          width="200"
          popper-class="tips-popover"
          trigger="hover"
        >
          <el-badge :value="tips.total">
            <div class="title">通知</div>
          </el-badge>

          <div class="tips">
            <div
              v-for="(item, index) in tips.list"
              :key="index"
              class="tips-item"
              @click="toTipsDetail(item.title)"
            >
              {{ item.title }}
            </div>

            <div v-if="tips.total === 0" style="margin-top: 15px">暂无通知</div>
          </div>

          <div
            v-if="tips.total !== 0"
            class="more"
            @click="toTipsDetail('未查收')"
          >
            查看更多
          </div>

          <svg-icon
            slot="reference"
            class="right-menu-item right-menu-message hover-effect heartbeat"
            :class="tips.total !== 0 ? 'active' : ''"
            icon-class="notice-fill"
          />
        </el-popover> -->
      </template>

      <el-dropdown
        class="avatar-container right-menu-item hover-effect"
        trigger="hover"
      >
        <div class="avatar-wrapper">
          <el-avatar
            v-if="userInfo.avatarUrl"
            shape="square"
            :src="baseUrl + userInfo.avatarUrl"
            class="user-avatar"
          />

          <div v-if="userInfo.userName" class="user-name">
            <span>{{ userInfo.userName }}</span>
            <i class="el-icon-caret-bottom" />
          </div>
        </div>
        <el-dropdown-menu slot="dropdown">
          <span
            v-if="nodeEnv === 'development'"
            style="display: block"
            @click="show = true"
          >
            <el-dropdown-item> 布局设置 </el-dropdown-item>
          </span>
          <router-link to="/users/center">
            <el-dropdown-item> 个人中心 </el-dropdown-item>
          </router-link>
          <span style="display: block" @click="open">
            <el-dropdown-item divided> 退出登录 </el-dropdown-item>
          </span>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrumb'
import Hamburger from '@/components/Hamburger'

import SizeSelect from '@/components/SizeSelect'
import Search from '@/components/HeaderSearch'
import Avatar from '@/assets/images/avatar.png'

import Config from '@/settings'

import { mapState } from 'vuex'

export default {
  components: {
    Breadcrumb,
    Hamburger,

    SizeSelect,
    Search,
  },
  data() {
    return {
      baseUrl: process.env.VUE_APP_BASE_API,
      Avatar: Avatar,
      dialogVisible: false,
      title: Config.title,
      nodeEnv: process.env.NODE_ENV,
    }
  },

  computed: {
    ...mapState({
      sidebar: (state) => state.app.sidebar,

      device: (state) => state.app.device,

      userInfo: (state) => state.user.userInfo,

      logoShow: (state) => state.settings.logoShow,

      headerTitleShow: (state) => state.settings.headerTitleShow,

      tips: (state) => state.app.message,
    }),
    show: {
      get() {
        return this.$store.state.settings.showSettings
      },
      set(val) {
        this.$store.dispatch('settings/changeSetting', {
          key: 'showSettings',
          value: val,
        })
      },
    },
  },

  methods: {
    toTipsDetail(query) {
      this.$router.push({
        path: '/message-notice/message-notice',
        query: { query },
      })
    },
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar')
    },
    open() {
      this.$confirm('确定注销并退出系统吗？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      }).then(() => {
        this.logout()
      })
    },
    logout() {
      this.$store.dispatch('LogOut').then(() => {
        location.reload()
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.navbar {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 15px;

  .left-menu {
    .title-wrap {
      display: flex;
      align-items: center;
      height: 44px;
      line-height: 44px;
      .logo {
        margin-right: 15px;
        height: 36px;
      }
      .title {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        color: #303133;
      }
    }
  }

  .hamburger-container {
    height: 100%;
    cursor: pointer;
  }

  .errLog-container {
    display: inline-block;
    vertical-align: top;
  }

  .right-menu {
    height: 100%;
    display: flex;
    align-items: center;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      font-size: 20px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
      }
    }

    .right-menu-message.active {
      color: #f56c6c;
    }

    .avatar-container {
      .avatar-wrapper {
        margin-top: 2px;
        display: flex;
        align-items: center;
        cursor: pointer;

        .user-name {
          font-size: 14px;
          margin-left: 6px;
        }
      }
    }
  }
}

.headerTitleShow .navbar {
  align-items: flex-start;
}

.tips-popover {
  .title {
    padding-bottom: 4px;
    margin-right: 10px;
  }

  .tips {
    font-size: 12px;
    border-top: 1px solid #ebeef5;
    padding: 2px 0;

    .tips-item {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      margin: 8px 0;
      cursor: pointer;
      &:hover {
        color: #409eff;
      }
    }
  }

  .more {
    text-align: center;
    padding-top: 6px;
    font-size: 12px;
    cursor: default;
  }
}
</style>
