<template>
  <div class="mark-classify app-container">
    <EditTabs v-if="tabsVisible" :id="currentTemplateId" @closeTbas="tabsVisible = false" @refreshData="handleGetTemplateList" />

    <div v-else>
      <div class="app-main-button">
        <el-button
          type="primary"
          icon="el-icon-plus"
          size="small"
          @click="handleCreateTemplate"
        >新增</el-button>

      </div>

      <div class="main">
        <div class="table-wrapper my-el-table">
          <el-table
            :data="tableData"
            style="width: 100%;margin-bottom: 20px;"
            border
            size="mini"
          >

            <el-table-column
              prop="code"
              label="对应机构code"
              align="center"
            />

            <el-table-column
              prop="name"
              label="模板名称"
              align="center"
            />

            <el-table-column prop="isEnable" label="状态" align="center">
              <template slot-scope="scope">
                <span>{{ scope.row.isEnable === 0 ? "禁用" : "启用" }}</span>
              </template>
            </el-table-column>

            <el-table-column
              prop="isOrder"
              label="排序"
              align="center"
              sortable=""
            />

            <el-table-column label="操作" width="240" align="center">
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  type="primary"
                  @click="handleEditMark(scope.row)"
                >编辑</el-button>
                <el-button
                  size="mini"
                  type="success"
                  @click="previewTemplate(scope.row.id)"
                >预览</el-button>
                <el-button
                  size="mini"
                  type="danger"
                  @click="handleDeleteTemplate(scope.row.id)"
                >删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>

        <div class="classify-container">
          <div class="title">机构code对应机构名称</div>

          <div class="code-table-container">
            <el-table :data="codeTableData" style="width: 100%">
              <el-table-column prop="id" label="code" align="center" />
              <el-table-column prop="name" label="机构名" align="center" />
            </el-table>
          </div>
        </div>
      </div>
    </div>

    <el-dialog
      title="结论书预览"
      :visible.sync="previewDialogVisible"
      width="70%"
      top="10vh"
    >
      <div class="custom-scrollbar">
        <ul class="custom-ul">
          <li v-for="(item,index) in previewList" :key="index" :style="{textIndent:item.isSpace ? '2em' : '0'}">{{ item.name }}</li>
        </ul>
      </div>
    </el-dialog>

  </div>
</template>

<script>
import EditTabs from './components/EditTabs'
import {getTemplateList, getPreviewTemplate, deleteTemplate, getIdentifyAll} from '@/api/identify'

export default {
  components: {
    EditTabs
  },

  data() {
    return {
      previewDialogVisible: false,

      currentTemplateId: null,
      previewList: [],

      tableData: [],

      codeTableData: [],

      tabsVisible: false

    }
  },

  computed: {

  },

  created() {
    this.handleGetTemplateList()
    getIdentifyAll().then(res => {
      this.codeTableData = res.data
    })
  },

  methods: {

    previewTemplate(id) {
      getPreviewTemplate({id}).then(res => {
        this.previewList = res.data
      })

      this.previewDialogVisible = true
    },

    handleDeleteTemplate(id) {
      this.deleteConfirm(deleteTemplate, {id}).then(() => { this.handleGetTemplateList() })
    },

    handleGetTemplateList() {
      getTemplateList().then(res => {
        this.tableData = res.data
      })
    },

    handleCreateTemplate() {
      this.currentTemplateId = null

      this.tabsVisible = true
    },

    handleEditMark(row) {
      this.currentTemplateId = row.id
      this.tabsVisible = true
    }

  }
}
</script>

<style lang="scss" scoped>
.mark-classify {
  .main {
    display: flex;
    justify-content: space-between;
    .table-wrapper {
      width: 58%;
    }
    .classify-container {
      width: 40%;
      border: 1px solid #e4e7ed;

      .title {
        text-align: center;
        padding: 12px;
        background: rgb(244, 244, 245);
      }

      .code-table-container {
        margin: 12px;
      }
    }
  }
}
</style>
