// 重置默认标签样式

html {
  font-size: 13.33vw;

  @media screen and (max-width: 375px) {
    font-size: 50px;
  }

  @media screen and (max-width: 414px) {
    font-size: 55.2px;
  }

  @media screen and (min-width: 750px) {
    font-size: 100px;
  }
}

body {
  margin: 0;
  font-size: 16px;
}

// 项目element-ui样式
.my-el-carousel {
  /deep/ .el-carousel__arrow {
    width: 50px;
    height: 50px;
    i {
      font-size: 24px;
    }
  }

  /deep/ .el-carousel__button {
    height: 4px;
    border-radius: 2px;
  }
}

// 项目默认标签样式

.my-ul,
.my-ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.my-dl dd {
  margin: 0;
  padding: 0;
}
