<template>
  <div class="ww-login">
    <!-- 扫码登录 -->
    <div id="code-wrap" />
  </div>
</template>

<script>
import { createScript } from '@/utils'

export default {
  name: 'login',

  data() {
    return {}
  },

  mounted() {
    createScript(
      'http://wwcdn.weixin.qq.com/node/wework/wwopen/js/wwLogin-1.2.4.js'
    ).then(() => {
      this.handleWwLogin()
    })
  },

  methods: {
    // 微信企业扫码登录
    handleWwLogin() {
      new WwLogin({
        id: 'code-wrap',
        appid: 'wwd6fba68063d4c8bc',
        agentid: '1000004',
        redirect_uri: encodeURIComponent(
          'http://honya123.gicp.net:900/#/login'
        ),
        state: '3828293919281',
        href: '',
      })
    },
  },
}
</script>

<style lang="scss" scoped></style>
