<template>
  <div>
    <!-- <WangEditor :html="html" /> -->
    <!-- <WangEditor
      :html="html1"
      v-if="show2"
      @change="change2"
      ref="WangEditor2"
    /> -->

    <el-dialog
      title="提示"
      :visible.sync="show"
      width="30%"
      :before-close="handleClose"
    >
      <div v-if="show">
        <WangEditor :html.sync="html2" />
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button @click="show = false">取 消</el-button>
        <el-button type="primary" @click="show = false">确 定</el-button>
      </span>
    </el-dialog>

    <!-- <div v-if="show">
      <WangEditor :html.sync="html1" @change="change1" ref="WangEditor" />
    </div>

    <div v-if="show2">
      <WangEditor :html.sync="html2" @change="change2" ref="WangEditor" />
    </div> -->

    <div @click="click1">编辑</div>

    <div @click="click2">编辑2</div>
    <div>{{ html1 }}</div>

    <div>{{ html2 }}</div>

    <el-upload
      class="upload-demo"
      action="https://jsonplaceholder.typicode.com/posts/"
      :on-preview="handlePreview"
      :on-remove="handleRemove"
      :before-remove="beforeRemove"
      multiple
      :limit="3"
      :on-exceed="handleExceed"
      :file-list="fileList"
      :before-upload="beforUpload"
    >
      <el-button size="small" type="primary">点击上传</el-button>
      <div slot="tip" class="el-upload__tip">
        只能上传jpg/png文件，且不超过500kb
      </div>
    </el-upload>
  </div>
</template>

<script>
import WangEditor from '@/components/WangEditor'

import { downloadFile } from '@/utils'
export default {
  name: 'home',
  components: {
    WangEditor,
  },

  data() {
    return {
      html: '<div>123456</div>',
      html1: '<div>aavsdvs</div>',
      html2: '<div>fdsafd8s9898</div>',

      show: false,
      show2: false,
      fileList: [
        {
          name: 'food.jpeg',
          url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100',
        },
        {
          name: 'food2.jpeg',
          url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100',
        },
      ],
    }
  },
  methods: {
    beforUpload(file) {
      downloadFile(file)
    },
    handleRemove(file, fileList) {
      console.log(file, fileList)

      let formData = new FormData()

      formData.append('file', file)
      // downloadByBlob(file, 'food', 'jpeg')
    },
    handlePreview(file) {
      console.log(file)
    },
    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${
          files.length + fileList.length
        } 个文件`
      )
    },
    beforeRemove(file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`)
    },
    click2() {
      this.show = !this.show

      this.html2 = this.html1

      // show2 = !show2
    },

    click1() {
      downloadFile('http://hpmeettest.transfounder.com/upload/123.pdf')
      // this.show = !this.show

      // this.html2 = this.html

      // show2 = !show2
    },
    change2(html) {
      this.html2 = html
      console.log(this.$refs.WangEditor.getHtml())
    },

    change1(html) {
      this.html1 = html
      console.log(this.$refs.WangEditor.getHtml())
    },

    // change2(html) {
    //   this.html1 = html
    //   console.log(this.$refs.WangEditor2.getHtml())
    // },
  },
}
</script>
