<template>
	<view class="home">
		<view>home</view>
		<u-tabbar :list="vuex_tabbar" active-color="#2979ff" />
	</view>
</template>

<script>
export default {
  data() {
    return {
			
    }
  },

  onLoad() {
    uni.showToast({
      icon: 'error',
      title: '错误提示'
    })
  },
  methods: {}
}
</script>

<style lang="scss" scoped></style>
