<template>
  <div class="edit-tabs">
    <el-tabs v-model="activeName" type="border-card" @tab-click="handleClick">
      <el-tab-pane label="模板基本信息" name="1">
        <el-form ref="ruleForm" :model="form" :rules="rules">
          <el-form-item
            label="模板名称"
            :label-width="formLabelWidth"
            prop="name"
          >
            <el-input
              v-model="form.name"
              autocomplete="off"
              style="width:350px"
            />
          </el-form-item>

          <el-form-item
            label="所属机构CODE"
            :label-width="formLabelWidth"
            prop="code"
          >
            <el-input
              v-model.number="form.code"
              autocomplete="off"
              style="width:350px"
            />
          </el-form-item>

          <el-form-item
            label="状态"
            :label-width="formLabelWidth"
            prop="isEnable"
          >
            <el-select v-model="form.isEnable">
              <el-option label="启用" :value="1" />
              <el-option label="禁止" :value="0" />
            </el-select>
          </el-form-item>

          <el-form-item
            label="序号"
            :label-width="formLabelWidth"
            prop="isOrder"
          >
            <el-input-number
              v-model="form.isOrder"
              controls-position="right"
            />
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="模板内容" name="2">

        <div class="my-el-table">

          <el-table
            :data="form.checkView"
            style="width: 100%;margin-bottom: 20px;"
            row-key="id"

            :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
            size="mini"
          >

            <el-table-column label="" align="center" width="60" type="">
              <template slot-scope="scope">
                <el-checkbox v-model="scope.row.check" @change="checkChange(scope.row)" />
              </template>
            </el-table-column>

            <!-- <el-table-column type="selection" width="50" align="center" /> -->
            <el-table-column prop="name" label="条文名称" />
          
            <el-table-column prop="isSpace" label="是否空格" align="center" width="80">
              <template slot-scope="scope">
                <span>{{ scope.row.isSpace === 0 ? "否" : "是" }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="isNumber" label="是否序号" align="center" width="80">
              <template slot-scope="scope">
                <span>{{ scope.row.isNumber === 0 ? "否" : "是" }}</span>
              </template>
            </el-table-column>
            
            <el-table-column
              prop="isOrder"
              label="排序"
              align="center"
              sortable=""
              width="120"
            >

              <template slot-scope="scope">
                <el-input-number v-model="scope.row.isOrder" controls-position="right" size="mini" />
              </template>

            </el-table-column>

            <el-table-column label="操作" width="240">
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  type="primary"
                  @click="handleEditMark(scope.row)"
                >编辑</el-button>

                <el-button
                  size="mini"
                  type="success"
                  @click="handleCreateChild(scope.row)"
                >新增子类</el-button>
                <el-button
                  v-if="scope.row.children.length === 0"
                  size="mini"
                  type="danger"
                  @click="handleDeleteTemplate(scope.row)"
                >删除</el-button>
              </template>
            </el-table-column>
          </el-table>

        </div>

      </el-tab-pane>
    </el-tabs>

    <div class="btn-container">
      <el-button v-if="id" type="success" @click="previewTemplate">预 览</el-button>

      <el-button type="primary" @click="submitForm('ruleForm')">提 交</el-button>
      <el-button @click="$emit('closeTbas')">返 回</el-button>
    </div>

    <el-dialog title="认定模板编辑" :visible.sync="dialogFormVisible">
      <el-form ref="ruleForm" :model="lawForm" :rules="rules">
        <el-form-item
          label="条文名称"
          :label-width="formLabelWidth"
          prop="name"
        >
          <el-input
            v-model="lawForm.name"
            autocomplete="off"
            style="width:300px"
          />
        </el-form-item>

        <el-form-item label="是否空格" :label-width="formLabelWidth">
          <el-radio v-model="lawForm.isSpace" :label="1" border>是</el-radio>
          <el-radio v-model="lawForm.isSpace" :label="0" border>否</el-radio>
        </el-form-item>

        <el-form-item label="是否排序" :label-width="formLabelWidth">
          <el-radio v-model="lawForm.isNumber" :label="1" border>是</el-radio>
          <el-radio v-model="lawForm.isNumber" :label="0" border>否</el-radio>
        </el-form-item>

        <el-form-item label="排序" :label-width="formLabelWidth" prop="isOrder">
          <el-input-number
            v-model="lawForm.isOrder"
            controls-position="right"
            :min="0"
          />
        </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="submitLawForm('ruleForm')"
        >确 定</el-button>
      </div>
    </el-dialog>

    <!-- <div class="dialog-container"> -->
    <el-dialog
      title="结论书预览"
      :visible.sync="previewDialogVisible"
      width="70%"
      top="10vh"
    >
      <div class="custom-scrollbar">
        <ul class="custom-ul">
          <li v-for="(item,index) in previewList" :key="index" :style="{textIndent:item.isSpace ? '2em' : '0'}">{{ item.name }}</li>
        </ul>
      </div>
    </el-dialog>
    <!-- </div> -->

  </div>
</template>
<script>

import {getTemplate, getLawEnable, addTemplate, updateTemplate, getPreviewTemplate} from '@/api/identify'

export default {
  props: {
    id: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      previewDialogVisible: false,
      currentLaw: '',

      activeName: '1',

      dialogFormVisible: false,

      previewList: [],

      lawForm: {
        name: '',
        isSpace: 1,
        isOrder: 0,
        isNumber: 1
      },

      form: {
        name: '',
        code: '',
        isEnable: 1,
        isOrder: 0,
        checkView: []
      },
      formLabelWidth: '120px',

      rules: {
        name: [
          {required: true, message: '请输入模板名称'}
        ],
        code: [
          {required: true, message: '请输入所属机构CODE'},
          {type: 'number', message: '输入所属机构CODE需为数值'}
        ]
      },
      activeIndex: 0,

      defaultProps: {
        children: 'children',
        label: 'label'
      }

    }
  },

  created() {
    if (this.id) {
      this.handleGetTemplate()
    } else {
      this.handleGetLawEnable()
      this.form = {
        name: '',
        code: '',
        isEnable: 1,
        isOrder: 0,
        checkView: []

      }
    }
  },
  methods: {

    checkChange(row) {
      this.iterateCheck(row)
    },

    iterateCheck(list) {
      if (list.children.length > 0) {
        for (let item of list.children) {
          item.check = list.check
          if (item.children.length > 0) {
            this.iterateCheck(item)
          }
        }
      }
    },

    previewTemplate() {
      getPreviewTemplate({id: this.id}).then(res => {
        this.previewList = res.data
      })

      this.previewDialogVisible = true
    },

    handleEditMark(row) {
      this.dialogFormVisible = true

      this.lawForm = JSON.parse(JSON.stringify(row))

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })

      this.currentLaw = row
    },

    handleCreateChild(row) {
      this.dialogFormVisible = true

      this.lawForm = {

        name: '',
        isSpace: 1,
        isOrder: 0,

        isNumber: 1

      }

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })

      this.currentLaw = row
    },

    handleDeleteTemplate(row) {
      // this.deleteConfirm(deleteObjectCate, {id}).then(() => this.handleGetObjectCate())

      this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.form.checkView = this.form.checkView.filter(item => {
          return item.id !== row.id
        })

        console.log(this.form.checkView)

        for (let item of this.form.checkView) {
          if (item.children.length > 0) {
            item.children = item.children.filter(item => {
              return item.id !== row.id
            })
          }
        }

        this.$notify({
          title: '成功',
          message: '删除成功！',
          type: 'success'
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },

    handleGetLawEnable() {
      getLawEnable().then(res => {
        this.form.checkView = res.data
      })
    },

    handleGetTemplate() {
      getTemplate({id: this.id}).then(res => {
        this.form = res.data
      })
    },
    handleClick(tab, event) {
      console.log(tab, event)
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.form.id) {
            updateTemplate(this.form).then(() => {
              this.$emit('closeTbas')
              this.$emit('refreshData')

              this.$notify({
                title: '成功',
                message: '修改模板成功！',
                type: 'success'
              })
            })
          } else {
            addTemplate(this.form).then(() => {
              this.$emit('closeTbas')
              this.$emit('refreshData')

              this.$notify({
                title: '成功',
                message: '新增模板成功！',
                type: 'success'
              })
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },

    submitLawForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.lawForm.id = parseInt(new Date().getTime().toString().substring(4))

          if (this.lawForm.id) {
            Object.assign(this.currentLaw, this.lawForm)
          } else {
            if (this.currentLaw.children) {
              this.currentLaw.children.push(this.lawForm)
            } else {
              this.currentLaw.children = [this.lawForm]
            }
          }

          this.dialogFormVisible = false
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },

    handleSelect(index) {
      this.activeIndex = index
    }

  }

}
</script>

<style lang="scss" scoped>
.edit-tabs {
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .el-tabs {
    min-height: 78vh;
  }

  .menu-content {
    margin: 18px;
    .content-item {
      margin-bottom: 12px;
    }
  }

  .custom-tree-node{
    width: 98%;
    margin: 6px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
</style>

<style lang="scss">
.edit-tabs{

  .el-input-number--mini{

    width: 100px;
  }

//     .el-tree-node__content{
//     height: auto;

//     .el-checkbox{
//       width: 90%;
//       display: flex;
//       align-items: center;

//  .el-checkbox__label{
//       width: 100%;
//       white-space: normal;

//     }
//     }

//   }

}

</style>
