<template>
  <div class="app-container">
    <div class="flex mb-s">
      <el-button
        v-permission="['PRIV_OPTIONS_CREATE']"
        type="primary"
        icon="el-icon-plus"
        size="mini"
        @click="handleCreate()"
        >新增字典</el-button
      >

      <el-input
        v-model="queryParams.queryText"
        placeholder="请输入查询字典名称"
        clearable
        prefix-icon="el-icon-search"
        class="width-m ml-a"
        @input="getList"
      />
    </div>

    <!-- 表格内容设置 -->

    <el-table
      v-loading="loading"
      :data="dataResult.dataSource"
      row-key="id"
      stripe
      border
      :default-sort="{ prop: queryParams.orderby, order: queryParams.sort }"
      height="calc(100vh - 248px)"
      @sort-change="handleSortable"
    >
      <el-table-column
        type="index"
        :index="handleIndexCalc"
        label="排序"
        align="center"
        width="60"
      />
      <el-table-column
        prop="option"
        label="字典名称"
        sortable
        :show-overflow-tooltip="true"
        align="center"
      />
      <el-table-column prop="label" label="字典标签" align="center" />
      <el-table-column prop="value" label="标签值" align="center" />
      <el-table-column prop="sortIndex" label="排序" sortable align="center" />
      <el-table-column
        prop="remark"
        :show-overflow-tooltip="true"
        label="备注"
        align="center"
      />
      <el-table-column
        label="操作"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button-group>
            <el-button
              v-permission="['PRIV_OPTIONS_UPDATE']"
              type="primary"
              size="mini"
              icon="el-icon-edit"
              @click="handleUpdate(scope.row)"
            />
            <el-button
              v-permission="['PRIV_OPTIONS_DELETE']"
              type="danger"
              size="mini"
              icon="el-icon-delete"
              @click="handleDelete(scope.row)"
            />
          </el-button-group>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="queryParams.pageIndex"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />
    <!-- 添加或修改字典对话框 -->

    <el-dialog
      :title="title"
      :visible.sync="open"
      width="800px"
      append-to-body
      :close-on-click-modal="false"
      @close="cancel"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-row>
          <el-col :span="24">
            <el-form-item label="字典名称" prop="option">
              <el-input
                v-model="form.option"
                maxlength="50"
                placeholder="请输入字典名称"
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="字典标签" prop="label">
              <el-input
                v-model="form.label"
                maxlength="50"
                placeholder="请输入字典标签"
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="标签值" prop="value">
              <el-input
                v-model="form.value"
                maxlength="50"
                placeholder="请输入标签值"
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="排 序" prop="sortIndex">
              <el-input-number
                v-model="form.sortIndex"
                :max="999"
                step-strictly
                controls-position="right"
                :min="0"
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="字典备注" prop="remark">
              <el-input
                v-model="form.remark"
                type="textarea"
                :autosize="{ minRows: 4 }"
                show-word-limit
                maxlength="100"
                placeholder="请输入字典备注"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="open = false">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  queryOption,
  createOption,
  updateOption,
  deleteOption,
} from '@/api/system/options'
export default {
  name: 'Options',
  data() {
    return {
      // 遮罩层
      loading: true,
      // 菜单表格树数据
      dataResult: [],
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      open: false,
      // 合计条数
      total: 0,
      // 查询参数
      queryParams: {
        queryText: '',
        pageIndex: 1,
        pageSize: 20,
        orderby: 'createTime',
        sort: 'ascending',
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        option: [{ required: true, message: '字典名称不能为空' }],
        label: [{ required: true, message: '字典标签不能为空' }],
        value: [{ required: true, message: '标签值不能为空' }],
        sortIndex: [{ required: true, message: '排序不能为空' }],
      },
    }
  },
  created() {
    this.getList()
  },
  methods: {
    /** 查询菜单列表 */
    getList() {
      this.loading = true
      queryOption(this.queryParams).then((response) => {
        this.dataResult = response.data
        this.total = this.dataResult.totalCount
        this.loading = false
      })
    },
    // 取消按钮
    cancel() {
      this.open = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = {
        id: undefined,
        option: undefined,
        label: undefined,
        value: undefined,
        sortIndex: 1,
        remark: undefined,
      }
    },

    /** 新增按钮操作 */
    handleCreate() {
      this.reset()
      this.open = true
      this.title = '添加字典'
      this.$refs.form.resetFields()
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset()
      this.form = row
      this.open = true
      this.title = '修改菜单'
    },
    /** 提交按钮 */
    submitForm: function () {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          if (this.form.id !== undefined) {
            updateOption(this.form).then((response) => {
              if (response.statusCode === 200) {
                this.$notify({
                  title: '成功',
                  message: '更新字典成功！',
                  type: 'success',
                })

                this.open = false
                this.getList()
              }
            })
          } else {
            createOption(this.form).then((response) => {
              if (response.statusCode === 200) {
                this.$notify({
                  title: '成功',
                  message: '新增字典成功！',
                  type: 'success',
                })

                this.open = false
                this.getList()
              }
            })
          }
        }
      })
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      this.$confirm(
        '是否确认删除名称为"' + row.option + ' - ' + row.label + '"的数据项?',
        '警告',
        {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
        }
      )
        .then(() => {
          deleteOption(row.id).then((response) => {
            if (response.statusCode === 200) {
              this.getList()

              this.$notify({
                title: '成功',
                message: '删除字典成功！',
                type: 'success',
              })
            }
          })
        })
        .catch(function () {})
    },
    // 自动计算分页 Id
    handleIndexCalc(index) {
      return (
        (this.queryParams.pageIndex - 1) * this.queryParams.pageSize + index + 1
      )
    },
    // 排序操作
    handleSortable(val) {
      this.queryParams.orderby = val.prop
      this.queryParams.sort = val.order
      this.getList()
    },
  },
}
</script>
