<template>
  <div class="login">
    <div>
      <h2 class="login-title">{{ title }}</h2>

      <div class="login-main">
        <el-tabs v-model="activeName">
          <!-- 账号登录 -->
          <el-tab-pane label="账号登录" name="1">
            <el-form
              ref="loginForm"
              :model="loginForm"
              :rules="loginRules"
              label-position="left"
              label-width="0px"
              class="login-form"
              size="medium"
            >
              <el-form-item prop="username">
                <el-input v-model="loginForm.username" placeholder="账号">
                  <svg-icon
                    slot="prefix"
                    icon-class="user-fill"
                    class="el-input__icon input-icon"
                  />
                </el-input>
              </el-form-item>
              <el-form-item prop="password">
                <el-input
                  v-model="loginForm.password"
                  type="password"
                  show-password
                  placeholder="密码"
                  @keyup.enter.native="handleLogin"
                >
                  <svg-icon
                    slot="prefix"
                    icon-class="password"
                    class="el-input__icon input-icon"
                  />
                </el-input>
              </el-form-item>
              <el-form-item prop="code">
                <div class="form-item-code">
                  <el-input
                    v-model="loginForm.code"
                    placeholder="验证码"
                    style="width: 65%"
                    @keyup.enter.native="handleLogin"
                  >
                    <svg-icon
                      slot="prefix"
                      icon-class="shield-fill"
                      class="el-input__icon input-icon"
                    />
                  </el-input>
                  <img class="code-img" :src="codeUrl" @click="getCode" />
                </div>
              </el-form-item>
              <el-form-item>
                <el-button
                  :loading="loading"
                  type="primary"
                  style="width: 100%; margin-top: 20px"
                  @click.native.prevent="handleLogin"
                >
                  <span v-if="!loading">登 录</span>
                  <span v-else>登 录 中...</span>
                </el-button>

                <!-- 账号注册 -->
                <!-- <el-button
                  type=""
                  style="width: 100%; margin: 20px 0 0 0"
                  @click="dialogRegisterVisible = true"
                >
                  注册账号
                </el-button> -->
              </el-form-item>
            </el-form>
          </el-tab-pane>

          <!-- 扫码登录 -->
          <!-- <el-tab-pane label="扫码登录" name="2">
            <div class="tab-content">
              <WwLogin />
            </div>
          </el-tab-pane> -->
        </el-tabs>

        <!-- <el-dialog
          title="注册账号"
          :visible.sync="dialogRegisterVisible"
          destroy-on-close
        >
          <Register @closeRegister="dialogRegisterVisible = false" />
        </el-dialog> -->
      </div>
    </div>
  </div>
</template>

<script>
import { getVerifyCode } from '@/api/login'

import Register from './components/Register'

import WwLogin from './components/WwLogin'

import defaultSettings from '@/settings'

let md5 = require('md5')

import store from '@/store'

export default {
  name: 'login',

  components: {
    Register,
    WwLogin,
  },
  data() {
    return {
      activeName: '1',
      dialogRegisterVisible: false,

      title: defaultSettings.title,
      codeUrl: '',
      // 登录表单
      loginForm: {
        username: '',
        password: '',
        code: '',
      },

      loginRules: {
        username: [{ required: true, message: '用户名不能为空' }],
        password: [{ required: true, message: '密码不能为空' }],
        code: [{ required: true, message: '验证码不能为空' }],
        uuid: '',
      },

      loading: false,
    }
  },

  // watch: {
  //   $route(to, from) {
  //     if (to.query.code) {
  //       store
  //         .dispatch('ScanLogin', to.query.code)
  //         .then(() => {
  //           this.$router.push({ path: '/home' })
  //         })
  //         .catch((err) => {
  //           console.log(err)
  //         })
  //     }
  //   },
  // },

  created() {
    console.log('create')
    this.getCode()
  },

  mounted() {},

  methods: {
    // 获取验证码
    getCode() {
      getVerifyCode().then((res) => {
        this.codeUrl = res.data.captchaCode
        this.loginForm.uuid = res.data.captchaGUID
      })
    },

    // 登录按钮
    handleLogin() {
      // console.log('login')

      this.$refs.loginForm.validate((valid) => {
        let user = {
          username: this.loginForm.username,
          password: md5(this.loginForm.password).toUpperCase(),
          code: this.loginForm.code,
          uuid: this.loginForm.uuid,
        }
        if (valid) {
          this.loading = true
          this.$store
            .dispatch('Login', user)
            .then((response) => {
              this.loading = false
              if (response.statusCode === 200) {
                console.log(this.$route)
                if (this.$route.query.redirect) {
                  this.$router.push({ path: this.$route.query.redirect })
                } else {
                  this.$router.push({ path: '/' })
                }
              } else {
                this.getCode()
              }
            })
            .catch(() => {
              this.loading = false
              this.getCode()
            })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  background-size: cover;
  background-image: url('../../assets/images/background.svg');

  .login-title {
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    margin: 0 auto 30px auto;
    text-align: center;
    letter-spacing: 2px;
    color: #606266;
  }

  .login-main {
    border-radius: 6px;
    background: #ffffff;
    padding: 25px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

    .login-form {
      width: 350px;

      .input-icon {
        width: 14px;
        margin-left: 2px;
      }

      .form-item-code {
        display: flex;
        align-items: center;
      }
    }

    .code-img {
      width: 33%;
      cursor: pointer;
      margin-left: 10px;
    }

    .tab-content {
      width: 350px;
      text-align: center;
    }
  }
}
</style>
