<template>
  <div class="file-upload">

    <span class="file-upload-title">附件管理</span>

    <el-upload
      style="margin:12px 0"
      drag
      action=""
      multiple
      :http-request="submitUpload"
      :show-file-list="false"
    >
      <i class="el-icon-upload" />
      <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>

    </el-upload>

    <div>
      <ul class="picture-list custom-ul">
        <li v-for="(item, index) in imageList" :key="index">
          <el-image
            style="width: 100%; height:100%"
            :src="item"
            :preview-src-list="imageList"
          />
        </li>
      </ul>
    </div>

    <div class="car-table-container my-el-table">
      <el-table :data="tableData" style="width: 100%" border="" size="mini">
        <el-table-column
          prop="index"
          label="序号"
          width="100"
          sortable=""
          type="index"
          align="center"
        />
        <el-table-column prop="fileName" label="文件名" align="center" />
        <el-table-column prop="fileType" label="类型" align="center" />
        <el-table-column prop="remark" label="文件备注" align="center" />
        <el-table-column prop="createName" label="上传人" align="center" />
        <el-table-column prop="fileSize" label="文件大小" align="center" />
        <el-table-column prop="isOut" label="外部" align="center">
          <template slot-scope="scope">
            <span>{{ scope.row.isOut === 1 ? "是" : "否" }}</span>
          </template>
        </el-table-column>

        <el-table-column label="操作" align="center" width="120">
          <template slot-scope="scope">
            <el-button type="danger" @click="handleDelete(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>

      </el-table>
    </div>

  </div>
</template>

<script>
import {uploadAssist, getUploadList, deleteUploadFile} from '@/api/proposer'
export default {

  props: {
  
    requireCode: {
      type: String,
      default: ''
    }
  },
 
  data() {
    return {
      baseUrl: process.env.VUE_APP_BASE_API,
 
      tableData: [],
     
      imageList: []

    }
  },

  created() {
    this.handleGetUploadList()
  },
  methods: {

    handleDelete(id) {
      this.deleteConfirm(deleteUploadFile, {id}).then(() => { this.handleGetUploadList() })
    },

    handleGetUploadList() {
      getUploadList({requireCode: this.requireCode}).then(res => {
        this.tableData = res.data.allFileList

        this.imageList = res.data.imageList.map(item => process.env.VUE_APP_BASE_API + item.fileSrc)
        
        console.log(this.imageList)
      })
    },

    submitUpload(option) {
      console.log(option)

      const formData = new FormData()
      formData.append('file', option.file)

      formData.append('requireCode', this.requireCode)

      uploadAssist(formData).then(() => {
        this.handleGetUploadList()
        this.$notify({
          title: '成功',
          message: '上传附件成功！',
          type: 'success'
        })
      })
    }
  }
}
</script>

<style lang="scss" scope>

.file-upload {
  margin-top: 24px;
  .picture-list {
    border: 1px solid #dcdfe6;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 150px;
      height: 200px;
      margin: 12px;
      border: 1px solid rgb(233, 233, 235);
    }
  }

  .car-table-container {
    margin-top: 12px;
  }

   .file-upload-title {
      border-left: 2px solid #409eff;
      padding-left: 12px;
    }

}
</style>
