<template>
  <div class="case-character app-container">
    <div class="app-main-button">
      <el-button
        type="primary"
        icon="el-icon-plus"
  
        @click="handleCreateMark"
      >新增</el-button>

      <el-button
        icon="el-icon-delete"
    
        type="danger"
        @click="handleDeleteCase(multipleSelection)"
      >删除</el-button>

      <el-input
        v-model="queryText"
        placeholder="请输入内容"
        prefix-icon="el-icon-search"
        style="width:250px;margin-left:auto"

        @input="handleGetCaseNature"
      />
    </div>

    <div class="main">
      <div class="my-el-table table-container">
        <el-table
          height="80vh"
          :data="tableData"
          style="width: 100%"
          border
          size="mini"
          @selection-change="handleSelectionChange"
        >
          <el-table-column type="selection" sortable width="50" align="center" />

          <el-table-column
            prop="code"
            label="编号"
            sortable
            width="180"
            align="center"
          />
          <el-table-column prop="name" label="	案件性质" align="center" />
          <el-table-column
            prop="countryName"
            label="	国家事项性质"
            align="center"
          />

          <el-table-column label="操作" width="160" align="center">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="primary"
                @click="handleEditMark(scope.row)"
              >编辑</el-button>

              <el-button
                size="mini"
                type="danger"
                @click="handleDeleteCase([scope.row.id])"
              >删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <div class="classify-container">
        <div class="title">国家事项性质列表</div>
        <div class="search-container">
          <span class="search-tip">关键词搜索：</span>
          <el-input
            v-model="search"
            placeholder="请输入内容"
            prefix-icon="el-icon-search"
            style="width:300px"
        
            @input="handleGetCountryCaseNature"
          />
        </div>
        
        <div class="list-container custom-scrollbar">
          <el-tag
            v-for="(item, index) in markList"
            :key="index"
            type="info"
            class="list-item"
            @click="handleCopy(item, $event)"
          >{{ item.name }}</el-tag>
        </div>
      </div>
    </div>

    <el-dialog title="案件性质编辑" :visible.sync="dialogFormVisible">
      <el-form ref="ruleForm" :model="form" :rules="rules">
        <el-form-item
          label="对应编号"
          :label-width="formLabelWidth"
          prop="code"
        >
          <el-input
            v-model="form.code"
            autocomplete="off"
            style="width:300px"
          />
        </el-form-item>

        <el-form-item
          label="案件性质"
          :label-width="formLabelWidth"
          prop="name"
        >
          <el-input
            v-model="form.name"
            autocomplete="off"
            style="width:300px"
          />
        </el-form-item>

        <el-form-item
          label="国家事项性质"
          :label-width="formLabelWidth"
          prop="countryName"
        >
          <el-input
            v-model="form.countryName"
            autocomplete="off"
            style="width:300px"
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="submitForm('ruleForm')"
        >确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import clip from '@/utils/clipboard' 
import {getCaseNature, addCaseNature, updateCaseNature, deleteCaseNature, getCountryCaseNature} from '@/api/identify'

export default {
  data() {
    return {
      search: '',
      queryText: '',
      tableData: [],
      markList: [],

      dialogFormVisible: false,
      form: {
        code: '',
        name: '',
        countryName: ''
      },
      formLabelWidth: '120px',

      rules: {
        code: [
          {required: true, message: '请输入对应编号'},
          {type: 'number', message: '输入对应编号需为数值'}

        ],
        name: [
          {required: true, message: '请输入案件性质'}
        ],
        countryName: [
          {
            required: true,
            message: '请输入国家事项性质'
          }
        ]
      },
      multipleSelection: []
    }
  },

  created() {
    this.handleGetCaseNature()
    this.handleGetCountryCaseNature()
  },
  methods: {

    handleGetCountryCaseNature() {
      getCountryCaseNature({
        search: this.search
      }).then(res => {
        this.markList = res.data
      })
    },

    handleCreateMark() {
      this.dialogFormVisible = true

      this.form = {
        code: '',
        name: '',
        countryName: ''
      }

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },

    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.form.id) {
            updateCaseNature(this.form).then(() => {
              this.handleGetCaseNature()

              this.dialogFormVisible = false

              this.$notify({
                title: '成功',
                message: '修改案件性质成功！',
                type: 'success'
              })
            })
          } else {
            addCaseNature(this.form).then(() => {
              this.handleGetCaseNature()

              this.dialogFormVisible = false

              this.$notify({
                title: '成功',
                message: '新增案件性质成功！',
                type: 'success'
              })
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },

    handleEditMark(row) {
      this.dialogFormVisible = true
      this.form = JSON.parse(JSON.stringify(row))

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },
    handleSelectionChange(val) {
      this.multipleSelection = val.map(item => item.id)
    },

    handleDeleteCase(ids) {
      if (ids.length > 0) {
        this.deleteCaseNature(deleteLaw, {id}).then(() => this.handleGetCaseNature())
      } else {
        this.$message.error('请选中删除案件性质！')
      }
    },
    handleCopy(text, event) {
      clip(text, event)
    },
    handleGetCaseNature() {
      getCaseNature({
        queryText: this.queryText
      }).then(res => {
        this.tableData = res.data
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.case-character {
  .main {
    display: flex;
    justify-content: space-between;
    .table-container {
      width: 58%;

    }
    .classify-container {
      width: 40%;
      border: 1px solid #e4e7ed;

      .title {
        text-align: center;
        padding: 12px;
        background: rgb(244, 244, 245);
      }

      .search-container {
        display: flex;
        align-items: center;
        padding-bottom: 12px;
        margin: 12px;
        border-bottom: 1px solid #e4e7ed;

        .search-tip {
          color: #606266;
          font-size: 16px;
        }
      }

      .list-container {
        height: 65vh;
        overflow-y: auto;

        .list-item {
          margin: 8px ;
        }
      }
    }
  }
}
</style>

<style lang="scss">
.case-character{

  .table-container{

.el-table__body-wrapper{

max-height: 75vh;

}
  }

}

</style>
