

//自定义样式

  
  .app-container {
    padding: 15px;
    background: #ffffff;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
    min-height: calc(100vh - 74px);
    box-sizing: border-box;
  
  }


// // 存在头部标题时
  .headerTitleShow .app-container{
    min-height: calc(100vh - 110px);
  }

  // 存在标签链接
  .tagsViewShow .app-container{
    min-height: calc(100vh - 114px);
  }

// 存在头部标题和标签链接时
  .headerTitleShow.tagsViewShow .app-container{
    min-height: calc(100vh - 150px);
  }
  

  
  // 通用标题
  .custom-title{
  
    margin: 10px 0 20px 0;
    color: #303133;
    width: fit-content;
  
  
    &.border{
      padding-right:8px;
      border-right:2px solid rgba(0,0,0,0.2);
  
    }
  
    &.bold{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
  
    }

    &.center{
      margin: auto;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    &.right{
      margin-left: auto;
    }
  
  }


  // 通用内容
  .custom-content{
    font-size: 14px;
    color: #303133;
    line-height: 20px;
  }
  
  
  
  // 自定义ul、li标签样式
  .custom-ul {
    margin: 0;
    padding: 0;
  }
  
  .custom-ul li {
    list-style: none;
    line-height: 24px;
  }
  
  // 自定义滚动条
  .custom-scrollbar {
    overflow: auto;
    &::-webkit-scrollbar {
      width: 6px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: rgb(235, 235, 235);
      border-radius: 3px;
      &:hover{
        background-color: rgba(144,147,153,.5);
      }
    }
  
  }
  
  

  

    // 根据表单尺寸设置下拉树组件尺寸
.el-form{
    .el-form-item--small{
      .vue-treeselect{
        .vue-treeselect__control{
          height: 32px;
        }
      }
    }
  
  
    .el-form-item--mini{
      .vue-treeselect{
        .vue-treeselect__control{
          height: 30px;
          .vue-treeselect__placeholder{
            line-height: 30px;
          }
        }
      }
    }
  
  }
  
  // 下拉树组件字体大小
  .vue-treeselect{
    font-size: 14px;
    .vue-treeselect__control{
      height: 32px;
    }
  }


// 自定义element样式
  
// 自定义卡片组件样式
  .my-el-card{
    margin: 15px;
    .el-card{
      overflow: auto;
    }
    .el-card__header{
      .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
  
      }
      padding: 10px 15px;
    }
  
  }
  

  
  // 自定义置顶组件样式
  .my-el-backtop {
    .el-backtop {
      border-radius: 12px;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    }
  }
  
  // 头像上传样式
  .avatar-uploader{
    .el-upload {
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      &:hover{
          border-color: #409EFF;
      }
  
      .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
      }
  
      .avatar {
        width: 178px;
        height: 178px;
        display: block;
      }
  
    }
  
  }
  
  