@media print {




// 重置element表格样式
.el-table{

    color: #000000;


    thead{
    color: #000000;

    }

    .el-table__header{
        border-collapse: collapse;

        table-layout: auto;
    }
    
    
    .el-table__body{

        table-layout: auto;
        border-collapse: collapse;

        width: 100% !important;

    }
    
    
    
    .el-table__footer{


        table-layout: auto;
        border-collapse: collapse;

    }



     th.el-table__cell.is-leaf{

border-bottom: none;

    }
    
    
    
    
    td.el-table__cell{


border-bottom:none


    }


}


.el-table--border{
    border: none;

    .el-table__cell{

        border-right:none


    }

}


.el-table::before{

    height: 0;

}

.el-table--group::after{

    height: 0;

}



.el-table--border::after{

    height: 0;

}


// 重置element表单元格样式

.el-descriptions{



    .el-descriptions__body{

        color: #000000;
    }
    

    .el-descriptions-item__label.is-bordered-label{

            color: #000000;

    }

    
     .is-bordered{


        .el-descriptions-item__cell{

            border: 1px solid #000000;
        }

     }
    

}


}





