<template>
  <div class="flow app-container">
    <div v-if="!tabsShow">
      <div class="app-main-button">
        <el-button type="primary" @click="handlerAddFlow">新增流程</el-button>
      </div>

      <el-table :data="flowTableData" style="width: 100%" border name="0">
        <el-table-column label="序号" type="index" width="80" align="center" />

        <el-table-column label="流程号" prop="flowNo" align="center" />

        <el-table-column label="流程名称" prop="flowName" align="center" />

        <el-table-column label="流程备注" prop="remark" align="center" />

        <el-table-column label="操作" align="center">
          <template slot-scope="scope">
            <el-button size="mini" type="primary" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
            <el-button size="mini" @click="handlePreview(scope.$index, scope.row)">预览</el-button>

            <el-button size="mini" type="danger" @click="handleDelete(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <pagination v-show="totalCount > 0" :total="totalCount" :page.sync="pageIndex" :limit.sync="pageSize" @pagination="getFlowList" />
   
    </div>

    <el-tabs v-if="tabsShow" v-model="activeTab" type="border-card" @tab-click="switchTab">
      <el-tab-pane v-if="previewShow" label="流程预览" style="margin:0 12px" name="0">
        <div class="add-flow">
          <el-form ref="ruleForm" :model="form.flowUpdate" :rules="rules" inline>
            <el-form-item label="流程名称：" label-width="84px">
              <span>{{ form.flowUpdate.flowName }}</span>
            </el-form-item>

            <el-form-item label="流程号：" :label-width="formLabelWidth">
              <span>{{ form.flowUpdate.flowNo }}</span>
            </el-form-item>

            <el-form-item label="备注：" :label-width="formLabelWidth">
              <span>{{ form.flowUpdate.remark }}</span>
            </el-form-item>
          </el-form>

          <div class="relative-table">
            <div style="margin:12px 0">
              流程节点
            </div>

            <el-table :data="form.flowNode" style="width: 100%" border size="mini">
              <el-table-column label="节点ID" prop="nodeId" align="center" />

              <el-table-column label="节点名称" prop="nodeName" align="center" />

              <el-table-column label="备注" prop="remark" align="center" />

              >
            </el-table>
          </div>

          <div>
            <div style="margin-top:24px">
              流程线
            </div>

            <el-table :data="flowLineTable" style="width: 100%" border>
              <el-table-column label="当前节点" prop="preNodeName" align="center" />

              <el-table-column label="下一节点" prop="nextNodeName" align="center" />

              <el-table-column label="备注" prop="remark" align="center" />

              >
            </el-table>
          </div>
        </div>

        <div class="footer-btn">
          <el-button type="primary" @click="tabsShow = false">确定</el-button>
        </div>
      </el-tab-pane>

      <el-tab-pane label="流程编辑" style="margin:0 12px" name="1">
        <div class="add-flow">
          <el-form ref="ruleForm" :model="form.flowUpdate" :rules="rules">
            <el-form-item label="流程名称" :label-width="formLabelWidth" prop="flowName">
              <el-input v-model="form.flowUpdate.flowName" autocomplete="off" />
            </el-form-item>

            <el-form-item label="流程号" :label-width="formLabelWidth" prop="flowNo">
              <el-input v-model.number="form.flowUpdate.flowNo" autocomplete="off" :disabled="form.flowUpdate.id ? true : false" />
            </el-form-item>

            <el-form-item label="备注" :label-width="formLabelWidth" prop="remark">
              <el-input v-model="form.flowUpdate.remark" autocomplete="off" />
            </el-form-item>
          </el-form>

          <div class="relative-table">
            <div style="margin:12px 0">
              流程节点
            </div>

            <el-table :data="form.flowNode" style="width: 100%" border size="mini">
              <el-table-column label="节点ID" prop="nodeId" align="center">
                <template slot-scope="scope">
                  <el-input v-model="scope.row.nodeId" size="mini" :disabled="scope.row.flowNo === '' ? false : true" />
                </template>
              </el-table-column>

              <el-table-column label="节点名称" prop="nodeName" align="center">
                <template slot-scope="scope">
                  <el-input v-model="scope.row.nodeName" size="mini" />
                </template>
              </el-table-column>

              <el-table-column label="备注" prop="remark" align="center">
                <template slot-scope="scope">
                  <el-input v-model="scope.row.remark" size="mini" />
                </template>
              </el-table-column>

              >

              <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                  <el-button size="mini" type="danger" @click="deleteNode(scope.$index)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>

            <div class="add-btn">
              <el-button icon="el-icon-plus" size="mini" @click="addNode">新增节点</el-button>
            </div>
          </div>
        </div>

        <div class="footer-btn">
          <el-button @click="tabsShow = false">取消</el-button>
          <el-button type="primary" @click="saveFlow('ruleForm')">保存</el-button>
        </div>
      </el-tab-pane>
      <el-tab-pane v-if="flowLineShow" label="流程线管理" style="margin:0 12px" name="2">
        <div class="flow-line">
          <div class="add-btn">
            <el-button type="primary" @click="addFlowLine">新增流程线</el-button>
          </div>

          <el-table :data="flowLineTable" style="width: 100%" border>
            <el-table-column label="当前节点" prop="prevNodeID" align="center">
              <template slot-scope="scope">
                <el-select v-model="scope.row.prevNodeID" placeholder="请选择当前节点" size="mini">
                  <el-option v-for="item in options" :key="item.id" :label="item.nodeName" :value="item.nodeId" />
                </el-select>
              </template>
            </el-table-column>

            <el-table-column label="下一节点" prop="nextNodeID" align="center">
              <template slot-scope="scope">
                <el-select v-model="scope.row.nextNodeID" placeholder="请选择下一节点" size="mini">
                  <el-option v-for="item in options" :key="item.id" :label="item.nodeName" :value="item.nodeId" />
                </el-select>
              </template>
            </el-table-column>

            <el-table-column label="备注" prop="remark" align="center">
              <template slot-scope="scope">
                <el-input v-model="scope.row.remark" size="mini" />
              </template>
            </el-table-column>

            >

            <el-table-column label="操作" align="center">
              <template slot-scope="scope">
                <el-button size="mini" type="danger" @click="deleteFlowLine(scope.$index)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>

        <div class="footer-btn">
          <el-button @click="tabsShow = false">取消</el-button>
          <el-button type="primary" @click="saveFlowLine">保存</el-button>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import {queryFlow, getFlow, addFlow, updateFlow, deleteFlow, addFlowLine, getNodeList} from '@/api/identify'
export default {
  name: 'Flow',
  data() {
    return {
      tabsShow: false,
      previewShow: false,
      pageIndex: 1,
      pageSize: 15,
      totalCount: 0,

      flowLineShow: false,
      flowTableData: [],
      form: {
        flowUpdate: {
          flowName: '',
          flowNo: '',
          remark: '',
          id: ''
        },

        flowNode: [
          {
            nodeName: '',
            remark: '',
            nodeId: '',
            flowNo: ''
          }
        ]
      },
      formLabelWidth: '150px',

      flowLineTable: [
        {
          prevNodeID: '',
          nextNodeID: '',
          remark: '',
          flowNo: ''
        }
      ],

      rules: {
        flowName: [{required: true, message: '请输入流程名称'}],
        flowNo: [{required: true, message: '请输入流程号'}, {type: 'number', message: '输入流程号需为数值'}]
      },

      options: [],
      activeTab: '1'
    }
  },

  created() {
    // 获取流程列表
    this.getFlowList()
  },

  methods: {
    // 编辑流程
    handleEdit(index, row) {
      getFlow(row.id).then((res) => {
        this.form.flowUpdate = res.data.flow

        this.form.flowNode = res.data.flowNodeList

        this.flowLineTable = res.data.flowLineList

        this.activeTab = '1'
      })
      this.previewShow = true
      this.tabsShow = true
      this.flowLineShow = true
    },
    // 删除流程
    handleDelete(id) {
      this.deleteConfirm(deleteFlow, {id}).then(() => { this.getFlowList() })
    },
    addNode() {
      // 新增流程节点
      this.form.flowNode.push({
        nodeName: '',
        remark: '',
        nodeId: '',
        flowNo: ''
      })
    },

    addFlowLine() {
      // 新增流程线
      this.flowLineTable.push({
        prevNodeID: '',
        nextNodeID: '',
        remark: ''
      })
    },

    deleteNode(index) {
      // 删除流程节点
      if (this.form.flowNode.length > 1) {
        this.form.flowNode.splice(index, 1)
      }
    },

    deleteFlowLine(index) {
      // 删除流程线
      this.flowLineTable.splice(index, 1)
    },

    saveFlow(formName) {
      // 保存提交流程
      this.$refs[formName].validate((valid) => {
        if (valid) {
          // 节点ID和节点名称必填
          for (const item of this.form.flowNode) {
            if (item.nodeId === '') {
              this.$message.error('请输入节点ID！')

              return
            } else if (item.nodeName === '') {
              this.$message.error('请输入节点名称！')

              return
            }
          }

          // 流程id存在则修改流程，不存在则新增流程
          if (this.form.flowUpdate.id) {
            for (const item of this.form.flowNode) {
              item.flowNo = this.form.flowUpdate.flowNo
            }
            updateFlow(this.form).then(() => {
              this.getFlowList()

              this.$notify({
                title: '成功',
                message: '修改流程成功！',
                type: 'success'
              })
            })
          } else {
            for (const item of this.form.flowNode) {
              item.flowNo = this.form.flowUpdate.flowNo
            }
            addFlow(this.form)
              .then((res) => {
                this.form.flowUpdate.id = res.data
                this.getFlowList()

                this.flowLineShow = true

                getNodeList(this.form.flowUpdate.flowNo).then((res) => {
                  this.options = res.data
                })

                this.activeTab = '2'

                this.$notify({
                  title: '成功',
                  message: '新增流程成功！',
                  type: 'success'
                })
              })
              .catch(() => {
                for (const item of this.form.flowNode) {
                  item.flowNo = ''
                }
              })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },

    // 标签页切换
    switchTab() {
      if (this.activeTab === '2') {
        getNodeList(this.form.flowUpdate.flowNo).then((res) => {
          this.options = res.data
        })
      }
    },

    // 保存提交流程线
    saveFlowLine() {
      for (const item of this.flowLineTable) {
        // 当前节点和下一节点必填
        if (item.prevNodeID === '') {
          this.$message.error('请选择当前节点！')

          return
        } else if (item.nextNodeID === '') {
          this.$message.error('请选择下一节点！')

          return
        }

        item.flowNo = this.form.flowUpdate.flowNo
      }

      addFlowLine(this.flowLineTable).then(() => {
        this.$notify({
          title: '成功',
          message: '添加流程线成功！',
          type: 'success'
        })
      })
    },

    // 获取流程列表
    getFlowList() {
      queryFlow({
        pageIndex: this.pageIndex,
        pageSize: this.pageSize,
        orderBy: '',
        sort: '',
        name: ''
      }).then((res) => {
        this.flowTableData = res.data.dataSource
        this.totalCount = res.data.totalCount
      })
    },

    // 新增流程
    handlerAddFlow() {
      // 1为流程管理tabs
      this.activeTab = '1'
      this.previewShow = false
      this.tabsShow = true
      this.flowLineShow = false

      // 表单和表格初始化
      this.form.flowUpdate = {}

      this.form.flowNode = [
        {
          nodeName: '',
          remark: '',
          nodeId: '',
          flowNo: ''
        }
      ]

      this.flowLineTable = [
        {
          prevNodeID: '',
          nextNodeID: '',
          remark: '',
          flowNo: ''
        }
      ]

      // 清除校验
      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },

    // 预览
    handlePreview(index, row) {
      getFlow(row.id).then((res) => {
        this.form.flowUpdate = res.data.flow

        this.form.flowNode = res.data.flowNodeList

        this.flowLineTable = res.data.flowLineList

        this.activeTab = '0'

        this.tabsShow = true
        this.previewShow = true
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.flow {
  .btn-group {
    margin-bottom: 12px;
  }

  .footer-btn {
    margin-top: 24px;
  }

  .page-container {
    text-align: center;
    margin-top: 12px;
  }

  .footer-btn {
    margin-bottom: 12px;
    text-align: right;
  }

  .add-flow {
    width: 80%;
    margin: auto;

    .el-form {
      .el-input {
        width: 280px;
      }
    }

    .relative-table {
      margin-top: 36px;
      /deep/ input {
        border: none;
      }

      .add-btn {
        text-align: center;
        margin: 12px 0;
      }
    }
  }

  .flow-line {
    /deep/ input {
      border: none;
    }

    .add-btn {
      margin-bottom: 12px;
    }
  }
}
</style>
