// cover some element-ui styles
// 面包屑字体不加粗
.el-breadcrumb {
  .el-breadcrumb__inner a {
    font-weight: normal;
  }
}


// 重置下拉框宽度100%
.el-select{
  width: 100%;
}


// 重置表头颜色
  .el-table {
    .el-table__header{
      th {
        background: #f4f4f4;
      }
    }
  }

// 重置弹窗样式
.el-dialog{
  .el-dialog__body{
    padding: 20px;
  }
  
  .el-dialog__header{
    background: #f4f4f4;
    padding:15px 20px 10px 20px;
    height: 25px;
    .el-dialog__headerbtn{
      font-size: 18px;
      transition: all 0.5s;
      top: 17px;
      &:hover{
        transform:scale(1.5);
      }
  
    }
  
  
  }

}





