@import "variables";
@import "mixin";
@import "transition";
@import "element-ui";
@import "sidebar";
@import "btn";
@import "eladmin";


// 重置html样式

html{


  line-height: normal;
}



a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}






/** 基础通用 **/



// 右内边距
.padding-xs {
  padding: 6px !important;
}

.padding-s {
  padding: 12px !important ;
}

.padding-m {
  padding: 18px !important;
}

.padding-l {
  padding: 24px !important;
}
.padding-xl {
  padding: 48px !important;
}

.padding-a{
  padding: auto !important;
}
.padding-n{
  padding: 0 !important;
}



// 上内边距
.pt-xs {
  padding-top: 6px !important;
}

.pt-s {
  padding-top: 12px !important;
}

.pt-m {
  padding-top: 18px !important;
}

.pt-l {
  padding-top: 24px !important;
}
.pt-xl {
  padding-top: 48px !important;
}
.pt-a{
  padding-top: auto !important;
}
.pt-n{
  padding-top: 0 !important;
}


// 下内边距
.pb-xs {
  padding-bottom: 6px !important;
}

.pb-s {
  padding-bottom: 12px !important;
}

.pb-m {
  padding-bottom: 18px !important;
}

.pb-l {
  padding-bottom: 24px !important;
}
.pb-xl {
  padding-bottom: 48px !important;
}
.pb-a{
  padding-bottom: auto !important;
}
.pb-n{
  padding-bottom: 0 !important;
}

// 左内边距
.pl-xs {
  padding-left: 6px !important;
}

.pl-s {
  padding-left: 12px !important;
}

.pl-m {
  padding-left: 18px !important;
}

.pl-l {
  padding-left: 24px !important;
}
.pl-xl {
  padding-left: 48px !important;
}
.pl-a{
  padding-left: auto !important;
}
.pl-n{
  padding-left: 0 !important;
}

// 右内边距
.pr-xs {
  padding-right: 6px !important;
}

.pr-s {
  padding-right: 12px !important ;
}

.pr-m {
  padding-right: 18px !important;
}

.pr-l {
  padding-right: 24px !important;
}
.pr-xl {
  padding-right: 48px !important;
}

.pr-a{
  padding-right: auto !important;
}
.pr-n{
  padding-right: 0 !important;
}



// 下外边距
.margin-xs {
  margin-bottom: 6px !important;
}

.margin-s {
  margin: 12px !important;
}

.margin-m {
  margin: 18px !important ;
}

.margin-l {
  margin: 24px !important;
}

.margin-xl {
  margin: 48px !important;
}


.margin-a{
  margin: auto !important;
}

.margin-n{
  margin: 0 !important;
}

// 右外边距
.mr-xs {
  margin-right: 6px !important;
}

.mr-s {
  margin-right: 12px !important;
}

.mr-m {
  margin-right: 18px !important;
}

.mr-l {
  margin-right: 24px !important;
}

.mr-xl {
  margin-right: 48px !important;
}

.mr-a{
  margin-right: auto !important;
}
.mr-n{
  margin-right: 0 !important;
}


// 左外边距
.ml-xs {
  margin-left: 6px !important;
}

.ml-s {
  margin-left: 12px !important;
}

.ml-m {
  margin-left: 18px !important;
}

.ml-l {
  margin-left: 24px !important;
}
.ml-xl {
  margin-left: 48px !important;
}

.ml-a{
  margin-left: auto !important;
}
.ml-n{
  margin-left: 0 !important;
}




// 上外边距
.mt-xs {
  margin-top: 6px !important;
}

.mt-s {
  margin-top: 12px !important;
}

.mt-m {
  margin-top: 18px !important;
}

.mt-l {
  margin-top: 24px !important;
}

.mt-xl {
  margin-top: 48px !important;
}


.mt-a{
  margin-top: auto !important;
}
.mt-n{
  margin-top: 0 !important;
}


// 下外边距
.mb-xs {
  margin-bottom: 6px !important;
}

.mb-s {
  margin-bottom: 12px !important;
}

.mb-m {
  margin-bottom: 18px !important ;
}

.mb-l {
  margin-bottom: 24px !important;
}

.mb-xl {
  margin-bottom: 48px !important;
}


.mb-a{
  margin-bottom: auto !important;
}

.mb-n{
  margin-bottom: 0 !important;
}

// 文本水平对齐方式
.ta-c{
  text-align: center !important;

}
.ta-l{
  text-align: left !important;

}
.ta-r{
  text-align: right !important;

}



// 宽度

.width-xs{
  width: 100px !important;
}
.width-s{
  width: 200px !important;
}

.width-m{
  width: 300px !important;
}
.width-l{
  width: 400px !important;
}

.width-f{
  width: 100% !important;
}

// 字体大小
.fs-xs{
  font-size: 12px !important;
}
.fs-s{
  font-size: 14px !important;
}
.fs-m{
  font-size: 16px !important;
}
.fs-l{
  font-size: 18px !important;
}
.fs-l{
  font-size: 18px !important;
}

.fs-xl{
  font-size: 22px !important;
}

.fs-xxl{
  font-size: 26px !important;
}


// 用来控制字体粗细的功能类


.fw-b{
  font-weight: bold !important;
}
.fw-n{
  font-weight: normal !important;
}



// 颜色主题
.color-primary{
  color: #409EFF !important;
}

.color-success{
  color: #67C23A !important;
}

.color-warning{
  color: #E6A23C !important;
}

.color-danger{
  color: #F56C6C !important;
}

.color-info{
  color: #909399 !important;
}


// 中性色
.color-l{
  color: #303133 !important;
}

.color-m{
  color: #606266 !important;
}
.color-s{
  color: #909399 !important;
}
.color-xs{
  color: #C0C4CC !important;

}


.color-b{
  color: #000000 !important;
}

.color-w{
  color: #FFFFFF !important;
}

// 边框颜色

.border-xs{
  border: 1px solid #F2F6FC !important;
}
.border-s{
  border: 1px solid #EBEEF5 !important;
}
.border-m{
  border: 1px solid #E4E7ED !important;
}
.border-l{
  border: 1px solid #DCDFE6 !important;
}


  
  // 下边框颜色
  .bb-xs{
    border-bottom: 1px solid #F2F6FC !important;
  }
  .bb-s{
    border-bottom: 1px solid #EBEEF5 !important;
  }
  .bb-m{
    border-bottom: 1px solid #E4E7ED !important;
  }
  .bb-l{
    border-bottom: 1px solid #DCDFE6 !important;
  }
  
  
  
  // 上边框颜色
  .bt-xs{
    border-top: 1px solid #F2F6FC !important;
  }
  .bt-s{
    border-top: 1px solid #EBEEF5 !important;
  }
  .bt-m{
    border-top: 1px solid #E4E7ED !important;
  }
  .bt-l{
    border-top: 1px solid #DCDFE6 !important;
  }


// 背景颜色主题
.bc-primary{
  background-color: #409EFF !important;
}

.bc-success{
  background-color: #67C23A !important;
}

.bc-warning{
  background-color: #E6A23C !important;
}

.bc-danger{
  background-color: #F56C6C !important;
}

.bc-info{
  background-color: #909399 !important;
}


.bc-w{
  background-color: #FFFFFF !important;
}


.bc-b{
  background-color: #000000 !important;
}

.bc-n{
  background-color: transparent !important;	
}




// flex布局

.flex{
  display: flex;
  align-items: center;
}

// 控制 Flex 子项的方向的功能类


.fd-c{

  flex-direction: column !important;


}

.fd-r{

  flex-direction: row !important;


}

// 换行

.fw-w{
  
  flex-wrap: wrap !important;

}



// 用于控制 flex 项目放大和缩小的功能类。

.flex-n{
  flex: none !important;
}


.flex-a{
  flex: 1 1 auto !important;

}


.flex-1{
  flex: 1 1 0% !important;

}



// Y轴对齐方式
.jc-c{
  justify-content: center !important;
}

.jc-sb{
  justify-content: space-between !important;
}

.jc-fe{
  justify-content: flex-end !important;
}

.jc-sa{
  justify-content: space-around !important;
}

.jc-fs{
  justify-content: flex-start !important;

}

.jc-se{
  justify-content: space-evenly !important;


}



// X轴对齐方式
.ai-fs{
  align-items: flex-start !important;
}

.ai-fe{
  align-items: flex-end !important;
}
.ai-b{
  align-items: baseline !important;
}
.ai-s{
  align-items: stretch !important;
}
.ai-c{
  align-items: center !important;

}

// align-self属性允许单个项目有与其他项目不一样的对齐方式
.as-fs{
  align-self: flex-start !important;
}
.as-fe{
  align-self: flex-end !important;
}
.as-c{
  align-self: center !important;
}
.as-b{
  align-self: baseline !important;
}
.as-s{
  align-self: stretch !important;
}

// 清浮动
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// 用于控制元素的盒状阴影的功能类。
.bs-s{

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12) !important;
}
.bs-m{

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.24) !important;
}
.bs-l{

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.36) !important;
}




// 当鼠标悬停在一个元素上时，用于控制光标样式的功能类。

.cursor-p	{
  cursor: pointer !important;
}

.cursor-n-a	{
  cursor: not-allowed !important;
}

.cursor-m	{
  cursor: move !important;
}

.cursor-d	{
  cursor: default !important;
}

.cursor-t	{
  cursor: text !important;

}

.cursor-w	{
  cursor: wait !important;
}

.cursor-a	{
  cursor: auto !important;
}

.cursor-h	{
  cursor: help !important;
}

// 用于控制元素中的换行符的功能类。


.wb-ba{
  word-break: break-all !important;

}

.wb-bw{
  word-break: break-word !important;

}







//   边框圆角
.br-n{
  border-radius: 0 !important;
}

.br-s{
  border-radius:4px !important;
}
.br-m{
  border-radius: 8px !important;
}

.br-l{
  border-radius: 16px !important;
}

.br-f{
  border-radius: 999em !important;
}



// 控制元素显示类型
.display-b{

  display: block !important;
}

.display-ib{

  display: inline-block !important;

}

.display-i{

  display: inline !important;

}


// 定位
.position-s{
  position: sticky !important;
}


.position-f{
  position: fixed !important;
}


.position-a{
  position: absolute !important;
}

.position-r{
  position: relative !important;
}



// 用于控制元素如何处理超出容器的内容的功能类。



.overflow-a{
  overflow: auto !important;

}


.overflow-s{
  overflow: scroll !important;


}


.overflow-h{
  overflow: hidden !important;


}
.overflow-v{
   overflow: visible !important;


}






  //   指定元素内的空白怎样处理
  
  .ws-n{
    white-space:nowrap

}
.ws-p{
    white-space:pre

}

.ws-pw{
    white-space:pre-wrap

}

.ws-pl{
    white-space:pre-line

}

