<template>
  <div>
    <!-- 账号注册表单 -->

    <el-row type="flex" justify="center">
      <el-col :span="24" :lg="18">
        <el-form
          ref="registerForm"
          :model="registerForm"
          :rules="registerRules"
          label-width="80px"
        >
          <el-form-item prop="userID" label="登录账号">
            <el-input
              v-model="registerForm.userID"
              placeholder="请输入登录账号"
            />
          </el-form-item>

          <el-form-item prop="userName" label="用户名称">
            <el-input
              v-model="registerForm.userName"
              placeholder="请输入用户名称"
            />
          </el-form-item>

          <el-form-item prop="password" label="账号密码">
            <el-input
              v-model="registerForm.password"
              show-password
              type="password"
              placeholder="请输入账号密码"
            />
          </el-form-item>

          <el-form-item prop="phone" label="手机号码">
            <el-input
              v-model="registerForm.phone"
              placeholder="请输入手机号码"
            />
          </el-form-item>

          <div class="mt-l flex column">
            <el-button
              size="medium"
              type="danger"
              @click="submitRegister"
              class="sure-button"
            >
              注 册
            </el-button>

            <el-button
              size="medium"
              type=""
              class="back-button"
              @click="$emit('closeRegister')"
            >
              返回登录
            </el-button>
          </div>
        </el-form>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { register } from '@/api/login'

export default {
  data() {
    return {
      // 注册表单
      registerForm: {
        userID: '',
        userName: '',
        password: '',
        phone: '',
      },

      // 注册表单校验规则
      registerRules: {
        userID: [{ required: true, message: '登录账号不能为空' }],
        userName: [{ required: true, message: '用户名不能为空' }],
        password: [{ required: true, message: '密码不能为空' }],
        phone: [{ required: true, message: '手机号码不能为空' }],
      },
    }
  },

  methods: {
    // 账号注册
    submitRegister() {
      this.$refs.registerForm.validate((valid) => {
        if (valid) {
          register(this.registerForm).then(() => {
            this.$emit('closeRegister')

            this.$notify({
              title: '成功',
              message: '注册账号成功！',
              type: 'success',
            })
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.sure-button {
  margin-top: 40px;
  width: 350px;
}

.back-button {
  width: 350px;

  margin: 20px 0 20px 0;
}
</style>
