<template>
  <div class="drawer-container">
    <div>
      <h3 class="drawer-title">系统布局设置</h3>

      <div class="drawer-item">
        <span>主题颜色</span>
        <theme-picker
          style="float: right; height: 26px; margin: -3px 8px 0 0"
          @change="themeChange"
        />
      </div>

      <div class="drawer-item">
        <span>显示LOGO</span>
        <el-switch v-model="logoShow" class="drawer-switch" />
      </div>

      <div class="drawer-item">
        <span>显示导航菜单头部</span>
        <el-switch v-model="sidebarLogo" class="drawer-switch" />
      </div>

      <div class="drawer-item">
        <span>显示导航标签</span>
        <el-switch v-model="tagsView" class="drawer-switch" />
      </div>

      <div class="drawer-item">
        <span>显示头部标题</span>
        <el-switch v-model="headerTitleShow" class="drawer-switch" />
      </div>

      <div class="drawer-item">
        <span>固定头部</span>
        <el-switch v-model="fixedHeader" class="drawer-switch" />
      </div>

      <div class="drawer-item">
        <span>布局方式</span>
        <div>
          <svg-icon
            icon-class="layout-1"
            class="layout-icon"
            @click="handleSetLayout(1)"
          />
          <svg-icon
            icon-class="layout-2"
            class="layout-icon"
            @click="handleSetLayout(2)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ThemePicker from '@/components/ThemePicker'

export default {
  components: { ThemePicker },
  data() {
    return {}
  },
  computed: {
    fixedHeader: {
      get() {
        return this.$store.state.settings.fixedHeader
      },
      set(val) {
        this.$store.dispatch('settings/changeSetting', {
          key: 'fixedHeader',
          value: val,
        })
      },
    },
    tagsView: {
      get() {
        return this.$store.state.settings.tagsView
      },
      set(val) {
        this.$store.dispatch('settings/changeSetting', {
          key: 'tagsView',
          value: val,
        })
      },
    },

    logoShow: {
      get() {
        return this.$store.state.settings.logoShow
      },
      set(val) {
        this.$store.dispatch('settings/changeSetting', {
          key: 'logoShow',
          value: val,
        })
      },
    },

    headerTitleShow: {
      get() {
        return this.$store.state.settings.headerTitleShow
      },
      set(val) {
        this.$store.dispatch('settings/changeSetting', {
          key: 'headerTitleShow',
          value: val,
        })
      },
    },

    sidebarLogo: {
      get() {
        return this.$store.state.settings.sidebarLogo
      },
      set(val) {
        this.$store.dispatch('settings/changeSetting', {
          key: 'sidebarLogo',
          value: val,
        })
      },
    },
  },
  methods: {
    themeChange(val) {
      this.$store.dispatch('settings/changeSetting', {
        key: 'theme',
        value: val,
      })
    },

    handleSetLayout(mode) {
      this.$store.dispatch('settings/changeSetting', {
        key: 'layoutMode',
        value: mode,
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.drawer-container {
  padding: 24px;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;

  .drawer-title {
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 22px;
  }

  .drawer-item {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    padding: 12px 0;

    .layout-icon {
      font-size: 40px;
      margin: 10px 20px 0 0;
      cursor: pointer;
    }
  }

  .drawer-switch {
    float: right;
  }
}
</style>
