<template>
  <div class="app-container">
    <div class="mb-s flex">
      <el-button type="primary" @click="handleCreateGift">新增礼品</el-button>
      <el-button type="danger" @click="handleDelete(multipleSelection)"
        >删除礼品</el-button
      >

      <el-select
        v-model="queryParams.columnId"
        placeholder="请选择分类"
        class="width-m ml-a"
        @change="handleQueryGift"
        clearable
      >
        <el-option
          v-for="item in options"
          :key="item.columnId"
          :label="item.columnName"
          :value="item.columnId"
        >
        </el-option>
      </el-select>
    </div>
    <el-table
      :data="tableData"
      style="width: 100%"
      border=""
      height="calc(100vh - 250px)"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" align="center" width="55">
      </el-table-column>
      <el-table-column label="名称" prop="giftName" align="center">
      </el-table-column>

      <el-table-column label="分类" prop="columnName" align="center">
      </el-table-column>

      <el-table-column label="图片" align="center">
        <template slot-scope="scope">
          <el-image
            style="width: 80px; height: 80px"
            :src="baseUrl + scope.row.picUrl"
            :preview-src-list="[baseUrl + scope.row.picUrl]"
          >
          </el-image>
        </template>
      </el-table-column>
      <el-table-column label="价格" prop="price" align="center">
      </el-table-column>

      <el-table-column label="剩余数量" prop="number" align="center">
      </el-table-column>

      <el-table-column label="排序" prop="sort" align="center">
      </el-table-column>

      <el-table-column label="创建时间" prop="addDate" align="center">
      </el-table-column>

      <el-table-column label="操作" align="center" width="150">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope.row)" type="primary"
            >编辑</el-button
          >
          <el-button
            size="mini"
            type="danger"
            @click="handleDelete([scope.row.id])"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      :total="total"
      :page.sync="queryParams.pageIndex"
      :limit.sync="queryParams.pageSize"
      @pagination="handleQueryGift"
    />

    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
      <el-form :model="form" :rules="rules" ref="ruleForm">
        <el-form-item
          label="礼品名称"
          :label-width="formLabelWidth"
          prop="giftName"
        >
          <el-input v-model="form.giftName"></el-input>
        </el-form-item>

        <el-form-item
          label="礼品分类"
          :label-width="formLabelWidth"
          prop="columnId"
        >
          <el-select v-model="form.columnId" placeholder="请选择分类">
            <el-option
              v-for="item in options"
              :key="item.columnId"
              :label="item.columnName"
              :value="item.columnId"
            >
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item
          label="礼品价格"
          :label-width="formLabelWidth"
          prop="price"
        >
          <el-input v-model="form.price" type="number"></el-input>
        </el-form-item>

        <el-form-item
          label="礼品图片"
          :label-width="formLabelWidth"
          prop="picUrl"
        >
          <el-upload
            class="avatar-uploader"
            action="#"
            :show-file-list="false"
            :http-request="handleUploadGiftPic"
          >
            <img
              v-if="form.picUrl"
              :src="baseUrl + form.picUrl"
              class="avatar"
            />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </el-form-item>

        <el-form-item
          label="礼品数量"
          :label-width="formLabelWidth"
          prop="number"
        >
          <el-input-number
            v-model="form.number"
            controls-position="right"
          ></el-input-number>
        </el-form-item>

        <el-form-item label="排序" :label-width="formLabelWidth" prop="sort">
          <el-input-number
            v-model="form.sort"
            controls-position="right"
          ></el-input-number>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitForm('ruleForm')"
          >确 定</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  queryGift,
  createGift,
  updateGift,
  deleteGift,
  uploadGiftPic,
} from '@/api/gift'

import { queryCategory } from '@/api/category'
export default {
  data() {
    return {
      dialogTitle: '',
      multipleSelection: [],
      tableData: [],
      dialogFormVisible: false,
      form: {},
      baseUrl: process.env.VUE_APP_BASE_API,
      rules: {
        giftName: [{ required: true, message: '请输入礼品名称' }],
        number: [{ required: true, message: '请输入礼品数量' }],

        columnId: [{ required: true, message: '请选择礼品分类' }],

        picUrl: [
          {
            required: true,
            message: '请上传礼品图片',
          },
        ],
        sort: [
          {
            required: true,
            message: '请输入礼品排序',
          },
        ],
      },
      formLabelWidth: '120px',
      total: 0,
      queryParams: {
        orderBy: '',
        sort: '',
        pageIndex: 1,
        pageSize: 20,
        columnId: '',
        isAdmin: true,
      },

      options: [],
    }
  },

  created() {
    this.handleQueryGift()

    queryCategory({
      orderBy: '',
      sort: '',
      pageIndex: 1,
      pageSize: 0,
    }).then((res) => {
      this.options = res.data
    })
  },
  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val.map((item) => item.id)
    },
    handleUploadGiftPic(params) {
      console.log(params)

      let formData = new FormData()

      formData.append('file', params.file)

      uploadGiftPic(formData).then((res) => {
        this.form.picUrl = res.data[0]

        this.$notify({
          title: '成功',
          message: '上传礼品图片成功！',
          type: 'success',
        })
      })
    },
    handleQueryGift() {
      queryGift(this.queryParams).then((res) => {
        this.tableData = res.data.dataSource
        this.total = res.data.totalCount
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.dialogTitle === '编辑礼品') {
            updateGift(this.form).then(() => {
              this.handleQueryGift()
              this.dialogFormVisible = false

              this.$notify({
                title: '成功',
                message: '更新礼品成功！',
                type: 'success',
              })
            })
          } else {
            createGift(this.form).then(() => {
              this.handleQueryGift()
              this.dialogFormVisible = false

              this.$notify({
                title: '成功',
                message: '新增礼品成功！',
                type: 'success',
              })
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    handleCreateGift() {
      this.dialogTitle = '新增礼品'
      this.form = {
        giftName: '',
        number: 1,
        picUrl: '',
        sort: 0,
        columnId: '',
        price: null,
      }

      this.dialogFormVisible = true

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },
    handleEdit(row) {
      this.dialogTitle = '编辑礼品'

      this.form = this._.cloneDeep(row)
      this.dialogFormVisible = true
    },
    handleDelete(ids) {
      this.deleteConfirm(deleteGift, ids).then(() => {
        this.handleQueryGift()
      })
    },
  },
}
</script>
