<template>
  <div class="login">
    <div class="custom-title">H5 VANT-NUXT</div>

    <div class="form-wrap">
      <van-form
        label-align="right"
        :show-error-message="false"
        @submit="onSubmit"
      >
        <van-field
          v-model="form.phone"
          name="账号"
          placeholder="请输入账号"
          left-icon="contact"
          :rules="[{ required: true }]"
        />
        <van-field
          v-model="form.password"
          :type="cipherShow ? 'password' : 'text'"
          name="密码"
          left-icon="shield-o"
          placeholder="请输入密码"
          :rules="[{ required: true }]"
          right-icon="eye"
          @click-right-icon="cipherShow = !cipherShow"
        />

        <div class="flex">
          <van-field
            v-model="form.code"
            name="验证码"
            placeholder="请输入验证码"
            left-icon="qr"
            :rules="[{ required: true }]"
          >
          </van-field>

          <img :src="codeImg" alt="" class="code-img" />
        </div>

        <div class="mt-xl mb-s">
          <van-button round block type="info" native-type="submit"
            >提交</van-button
          >
        </div>
      </van-form>
    </div>
  </div>
</template>

<script>
import { getCode } from '@/api/login'

let md5 = require('md5')

let _ = require('lodash')

export default {
  data() {
    return {
      cipherShow: true,
      form: {
        phone: '',
        password: '',
        code: '',
        uuid: '',
      },
      codeImg: '',
    }
  },

  created() {
    console.log(this.$route)

    this.handleGetCode()
  },

  methods: {
    handleGetCode() {
      getCode().then((res) => {
        console.log(res)
        this.codeImg = res.data.captchaCode

        this.form.uuid = res.data.captchaGUID
      })
    },

    onSubmit(values) {
      // md5加密传输密码
      let form = _.cloneDeep(this.form)

      form.password = md5(form.password).toUpperCase()

      this.$store
        .dispatch('login', form)
        .then(() => {
          this.$store.dispatch('getUserInfo').then((res) => {
            console.log(this.$route.query)

            let path = this.$route.query.redirect
              ? this.$route.query.redirect
              : '/home'

            this.$router.push(path)
          })
        })
        .catch(() => {
          this.handleGetCode()
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.login {
  background: #f3f4f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-wrap {
    width: 520px;
    margin: 30px 0;
    background: #ffffff;
    padding: 30px;

    .code-img {
      width: 150px;
      height: 60px;
    }
  }

  .title {
    font-size: 24px;
  }
}
</style>
