<template>
  <div class="app-container">
    <!-- 搜索区域设置 -->

    <div class="flex mb-s">
      <el-button
        v-permission="['PRIV_ONLINE_DELETE']"
        type="danger"
        icon="el-icon-delete"
        size="mini"
        @click="handleDelete"
        >踢出用户</el-button
      >

      <el-input
        v-model="queryParams.queryText"
        placeholder="请输入用户编号"
        prefix-icon="el-icon-search"
        class="width-m ml-a"
        @input="getList"
      />
    </div>

    <!-- 表格内容设置 -->

    <el-row>
      <el-table
        ref="userOnlineList"
        v-loading="loading"
        height="calc(100vh - 248px)"
        :data="dataResult.dataSource"
        row-key="id"
        stripe
        border
        :default-sort="{ prop: queryParams.orderby, order: queryParams.sort }"
        @sort-change="handleSortable"
      >
        <el-table-column sortable type="selection" width="55" align="center" />
        <el-table-column
          prop="userID"
          label="用户编号"
          align="center"
          width="150"
        />
        <el-table-column
          prop="loginTime"
          label="登录时间"
          sortable
          align="center"
          width="150"
        />
        <el-table-column prop="sessionID" label="会话ID" align="center" />
        <el-table-column
          prop="ipAddress"
          label="IP地址"
          align="center"
          width="150"
        />
        <el-table-column
          prop="updateTime"
          label="最后访问"
          sortable
          align="center"
          width="150"
        />
        <el-table-column
          prop="source"
          label="来源"
          :show-overflow-tooltip="true"
          sortable
          align="center"
          width="150"
        />
      </el-table>
      <pagination
        :total="total"
        :page.sync="queryParams.pageIndex"
        :limit.sync="queryParams.pageSize"
        @pagination="getList"
      />
    </el-row>
  </div>
</template>

<script>
import { queryOnline, deleteOnline } from '@/api/system/online'
export default {
  name: 'Online',
  data() {
    return {
      // 遮罩层
      loading: true,
      // 返回结果集
      dataResult: [],

      // 删除用户列表
      delSelections: [],

      // 合计条数
      total: 0,
      // 查询参数
      queryParams: {
        pageIndex: 1,
        queryText: '',
        pageSize: 20,
        orderby: 'loginTime',
        sort: 'descending',
      },
    }
  },
  created() {
    this.getList()
  },
  methods: {
    /** 查询列表 */
    getList() {
      this.loading = true
      queryOnline(this.queryParams).then((response) => {
        this.dataResult = response.data
        this.total = this.dataResult.totalCount
        this.loading = false
      })
    },

    // 删除按钮操作
    handleDelete() {
      this.delSelections = []
      this.$refs.userOnlineList.selection.forEach((element) => {
        console.log(element)
        this.delSelections.push(element.sessionID)
      })
      if (this.delSelections.length === 0) {
        this.$message.error('请选中需要踢出用户！')
      } else {
        this.$confirm('是否确认踢出选中的用户?', '警告', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
        })
          .then(() => {
            deleteOnline({
              sessionIds: this.delSelections,
            }).then((response) => {
              if (response.statusCode === 200) {
                this.$notify({
                  title: '成功',
                  message: '踢出用户成功！',
                  type: 'success',
                })

                this.getList()
              }
            })
          })
          .catch(() => {
            this.$message({
              type: 'info',
              message: '已取消踢出用户',
            })
          })
      }
    },

    // 排序操作
    handleSortable(val) {
      this.queryParams.orderby = val.prop
      this.queryParams.sort = val.order
      this.getList()
    },
  },
}
</script>
