<template>
  <div class="app-container">
    <el-table
      :data="tableData"
      style="width: 100%"
      border=""
      height="calc(100vh - 200px)"
    >
      <el-table-column label="领取账号" prop="userID" align="center">
      </el-table-column>

      <el-table-column label="兑换码" prop="exchangeCode" align="center">
      </el-table-column>
      <el-table-column label="礼品名称" prop="giftName" align="center">
      </el-table-column>

      <el-table-column label="收件人" prop="trueName" align="center">
      </el-table-column>
      <el-table-column label="收件人手机号" prop="userID" align="center">
      </el-table-column>

      <el-table-column label="收件人地址" prop="address" align="center">
      </el-table-column>

      <el-table-column label="是否发货" prop="isSend" align="center">
        <template slot-scope="scope">
          <el-tag :type="scope.row.isSend ? 'success' : 'danger'">{{
            scope.row.isSend ? '已发货' : '未发货'
          }}</el-tag>
        </template>
      </el-table-column>

      <el-table-column label="领取时间" prop="receiveDate" align="center">
      </el-table-column>

      <el-table-column label="操作" align="center" width="150">
        <template slot-scope="scope">
          <el-button
            size="mini"
            @click="handleUpdateReceive(scope.row)"
            type="primary"
            >编辑</el-button
          >
          <el-button
            size="mini"
            type="danger"
            @click="handleDelete([scope.row.id])"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      :total="total"
      :page.sync="queryParams.pageIndex"
      :limit.sync="queryParams.pageSize"
      @pagination="handleQueryReceive"
    />

    <el-dialog title="领取编辑" :visible.sync="dialogFormVisible">
      <el-form :model="form" :rules="rules" ref="ruleForm">
        <el-form-item
          label="收件人"
          :label-width="formLabelWidth"
          prop="trueName"
        >
          <el-input v-model="form.trueName"></el-input>
        </el-form-item>

        <el-form-item
          label="收件人手机号"
          :label-width="formLabelWidth"
          prop="phone"
        >
          <el-input v-model="form.phone"></el-input>
        </el-form-item>

        <el-form-item
          label="收件地址"
          :label-width="formLabelWidth"
          prop="address"
        >
          <el-input v-model="form.address"></el-input>
        </el-form-item>

        <el-form-item
          label="是否发货"
          :label-width="formLabelWidth"
          prop="isSend"
        >
          <el-switch
            v-model="form.isSend"
            active-text="已发货"
            inactive-text="未发货"
          >
          </el-switch>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitForm('ruleForm')"
          >确 定</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { queryReceive, updateReceive, deleteReceive } from '@/api/receive'
export default {
  data() {
    return {
      tableData: [],
      dialogFormVisible: false,
      form: {
        trueName: '',
        address: '',
        isSend: false,
        phone: '',
      },

      rules: {
        trueName: [{ required: true, message: '请输入收件人姓名' }],
        address: [{ required: true, message: '请输入收件地址' }],
        phone: [{ required: true, message: '请输入收件人手机号' }],
      },
      formLabelWidth: '120px',
      total: 0,
      queryParams: {
        pageIndex: 1,
        pageSize: 20,
        orderBy: '',
        sort: '',
        userID: '',
      },
    }
  },

  created() {
    this.handleQueryReceive()
  },
  methods: {
    handleQueryReceive() {
      queryReceive(this.queryParams).then((res) => {
        this.tableData = res.data.dataSource
        this.total = res.data.totalCount
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          updateReceive(this.form).then(() => {
            this.handleQueryReceive()

            this.dialogFormVisible = false

            this.$notify({
              title: '成功',
              message: '修改领取信息成功！',
              type: 'success',
            })
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },

    handleUpdateReceive(row) {
      this.form = this._.cloneDeep(row)
      this.dialogFormVisible = true
    },
    handleDelete(ids) {
      this.deleteConfirm(deleteReceive, ids).then(() => {
        this.handleQueryReceive()
      })
    },
  },
}
</script>
