<template>
  <div class="app-container distribute-bill">
    <div v-if="!entrustVisible">
      <div class="my-el-table">
        <el-table :data="tableData" style="width: 100%" border="">
          <el-table-column label="日期" width="180">
            <template slot-scope="scope">
              <i class="el-icon-time" />
              <span style="margin-left: 10px">{{ scope.row.date }}</span>
            </template>
          </el-table-column>
          <el-table-column label="姓名" width="180">
            <template slot-scope="scope">
              <el-popover trigger="hover" placement="top">
                <p>姓名: {{ scope.row.name }}</p>
                <p>住址: {{ scope.row.address }}</p>
                <div slot="reference" class="name-wrapper">
                  <el-tag size="medium">{{ scope.row.name }}</el-tag>
                </div>
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button
                size="mini"
                @click="handleEdit(scope.$index, scope.row)"
              >编辑</el-button>
              <el-button
                size="mini"
                type="danger"
                @click="handleDelete(scope.$index, scope.row)"
              >删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>

    <div v-else>
      <div class="distribute-head">
        <span>案件编号：A4403085100002020046004_33013_2020 </span>
        <span>案件状态：未受理</span>
        <span>已受理受理号：受理[2020]0001号</span>
      </div>

      <div class="form-container">
        <el-form
          ref="ruleForm"
          :model="ruleForm"
          :rules="rules"
          label-width="100px"
          class="demo-ruleForm"
          size="small"
        >
          <el-form-item label="市场调查人" prop="region">
            <el-select v-model="ruleForm.region" placeholder="请选择市场调查人">
              <el-option label="主办人" value="shanghai" />
              <el-option label="区域二" value="beijing" />
            </el-select>
          </el-form-item>
          <el-form-item label="主办人" prop="region">
            <el-select v-model="ruleForm.region" placeholder="请选择主办人">
              <el-option label="区域一" value="shanghai" />
              <el-option label="区域二" value="beijing" />
            </el-select>
          </el-form-item>
          <el-form-item label="协办人" prop="region">
            <el-select v-model="ruleForm.region" placeholder="请选择协办人">
              <el-option label="区域一" value="shanghai" />
              <el-option label="区域二" value="beijing" />
            </el-select>
          </el-form-item>
          <el-form-item label="协办人" prop="region">
            <el-select v-model="ruleForm.region" placeholder="请选择协办人">
              <el-option label="区域一" value="shanghai" />
              <el-option label="区域二" value="beijing" />
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button
              type="primary"
              @click="submitForm('ruleForm')"
            >确定派单</el-button>
          </el-form-item>
        </el-form>
      </div>
      <price-define-entrust />
    </div>
  </div>
</template>

<script>
import PriceDefineEntrust from '@/components/PriceDefineEntrust'

export default {
  components: {
    PriceDefineEntrust
  },
  data() {
    return {
      entrustVisible: true,
      tableData: [
        {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        },
        {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1517 弄'
        },
        {
          date: '2016-05-01',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1519 弄'
        },
        {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1516 弄'
        }
      ],

      ruleForm: {
        region: ''
      },
      rules: {
        region: [
          {required: true, message: '请选择活动区域', trigger: 'change'}
        ]
      }
    }
  },

  created() {
    console.log(this.$route.query.id)
  },

  methods: {
    handleEdit(index, row) {
      this.entrustVisible = true
      console.log(index, row)
    },
    handleDelete(index, row) {
      console.log(index, row)
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          alert('submit!')
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.distribute-bill {
  .distribute-head {
    font-size: 14px;
    text-align: center;
    margin: 12px 0;
    span {
      margin-right: 24px;
    }
  }
  .form-container {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 24px;
    border: 1px solid #dcdfe6;
    width: 60%;
    margin-bottom: 24px;
  }
}
</style>
