<template>
  <view class="mine-info">
  
    <u-form 
      ref="uForm"
      :model="form" 
      :label-style="{fontWeight:'bold'}"
      label-position="top"
    >
      <u-form-item 
        label="补充机构名称:" 
        prop="organName">
        <u-input v-model="form.organName" />
      </u-form-item>
      <u-form-item 
        label="邮件:" 
        prop="email">
        <u-input v-model="form.email" />
      </u-form-item>
    </u-form>
	
    <view class="foot-navbar">
		
      <view class="foot-navbar-wrap">
        <u-button
          style="width: 65%;"
          type="primary" 
          @click="submit">提交修改</u-button>
      </view>
     
    </view>
	
    <u-toast ref="uToast" />
  </view>
</template>

<script>
export default {
  data() {
    return {
      form: {
        organName: '房间大经放大看撒反馈',
        email: '1007246883@qq.com',
        userPhone: this.$store.state.vuex_user.userPhone
      },
      rules: {
        organName: [
          { 
            required: true, 
            message: '请输入补仓机构名称', 
         
            trigger: 'blur'
          }
        ],
        email: [
          {
            required: true, 
            message: '请输入邮箱', 
              
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    submit() {
      this.$refs.uForm.validate(valid => {
        if (valid) {
          this.$u.api.updateUser(this.form).then(() => {
			 	this.$refs.uToast.show({
			 					title: '修改成功！',
			 					type: 'success'
			 		
			 				})
		 })
        } else {
          console.log('验证失败')
        }
      })
    }
  },
  // 必须要在onReady生命周期，因为onLoad生命周期组件可能尚未创建完毕
  onReady() {
    this.$refs.uForm.setRules(this.rules)
  }
}
</script>

<style lang="scss" scoped>
	
	.mine-info{
		margin: 0 20rpx;
	
	}
	
</style>