<template>
  <view>
    <view class="head">
      <image 
        src="../../static/images/logo.png" 
        mode="widthFix" 
        class="head-logo"/>
      <view class="head-title">
        H5系统应用
      </view>
    </view>
    <view class="form-container">
      <view class="account">
        <text class="tip">用户账号</text>
        <u-input 
          v-model="username"
          :clearable="false" 
     
          type="text" 
          border 
          placeholder="请输入用户账号" />
      </view>
      <view class="pass">
        <text class="tip">账号密码</text>
        <u-input 
          v-model="password" 
          :clearable="false" 
          type="password" 
          border 
   
          password-icon 
          placeholder="请输入账号密码" />
      </view>
    </view>
    <u-button 
      :ripple="true" 
      ripple-bg-color="#c8c9cc"
      hover-class="none" 
      type="primary" 
      class="login-btn" 
      @click="login">登 录</u-button>
  </view>
</template>

<script>
export default {
  data() {
    return {
      username: '',
      password: ''
    }
  },

  methods: {
		
    login() {
      let username = this.username
      let password = this.password
      if (!username) {
        this.$u.toast('请输入用户账号')
      } else if (!password) {
        this.$u.toast('请输入账号密码')
      } else {
        this.$u.api
          .login({
            username,
            password
          })
          .then(res => {
            uni.switchTab({
              url: '/pages/home/home'
            })
            this.$u.vuex('vuex_token', res.token)
            // 登录成功调用获取用户接口将用户信息存入vuex
            this.$u.api.getUserInfo().then(res => {
              this.$u.vuex('vuex_user', res)
            })
          })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.head {
	text-align: center;
	margin: 100rpx 0;
	.head-logo{
		width: 100rpx;
		
	}
	.head-title{
		margin-top: 30rpx;
		font-size: $uni-font-size-title;
		letter-spacing: 4rpx;
	}

}

.form-container {
	padding: 50rpx;
	margin-top: 100rpx;

	.account {
		display: flex;
		align-items: center;
		margin-top: 36rpx;
		.tip {
			margin-right: 24rpx;
			font-size: 30rpx;
		}
	}
	.pass {
		@extend .account;
	}
}
.login-btn {
	width: 70%;
	margin: auto;
	margin-top: 100rpx;
	background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
	box-shadow: 4rpx 0 12rpx rgba(0,0,0,0.2);
}
</style>
