<template>
  <div class="index">
    <div class="carousel-container my-el-carousel">

      <el-carousel>
        <el-carousel-item v-for="(item,index) in swiperList" :key="index">
          <img :src="item.src" alt="" class="carousel-img">
        </el-carousel-item>
      </el-carousel>

    </div>

    <div class="wrapper">

      <div class="about">
        <h2>关于我们{{ todos }}</h2>
        <p>
          宏扬投资顾问有限公司是成立于1997年，
          <br>
          是一家以信息技术为服务手段，以政企配套服务为主攻方向的多元化现代智慧型服务企业，
          <br>
          是广州开发区（黄埔区）政府的指定招商服务机构。
          <br>
          主要从事招商选资、天使投资、电子商务、政企服务、文化旅游、人力资源和工业地产等服务。
        </p>

        <nuxt-link to="/">
          <el-button type="primary">查看详情</el-button>
        </nuxt-link>

      </div>

      <div class="service">
        <div v-for="(item,index) in serviceList" :key="index" class="card-container">
          <el-card>
            <el-image
              style="width: 172px;height: 95px;"
              :src="item.image"
              fit="cover"
            />

            <dl class="my-dl">
              <dt>{{ item.title }}</dt>

              <p v-if="item.article">
                {{ item.article }}
              </p>
              <dd v-for="(each,idx) in item.list" :key="idx">{{ each.title }}</dd>

            </dl>
            <div class="button-container">
              <el-button type="primary" size="mini">了解更多</el-button>

            </div>
          </el-card>
        </div>

      </div>

      <div class="company">
        <h2>旗下公司</h2>

        <el-divider><i class="iconfont icon-personal" /></el-divider>

        <div class="company-picture">
          <img v-for="(item,index) in companyList" :key="index" :src="item.image" alt="">

        </div>
      </div>

    </div>

    <div class="big" @click="getName">YANGJIABAO</div>
    <div class="small">YANGJIABAO</div>

  </div>
</template>

<script>
export default {

  async asyncData({$axios}) {
    const ip = await $axios.$get('api/Auth/Code')
    // console.log(ip)
    return (ip)
  },

  data() {
    return {

      serviceList: [{
        image: '/image/service.png',
        title: '主营业务',
        article: '宏扬公司凭着多年的从业经验，在公司的发展史上谱写了一个又一个的经典',
        list: [{
          id: 1,
          title: '投资融资服务'
        }, {
          id: 2,
          title: '投资融资服务'
        }, {
          id: 3,
          title: '投资融资服务'
        }, {
          id: 4,
          title: '投资融资服务'
        }]
      },
      {
        image: '/image/service.png',
        title: '主营业务',
        article: '',
        list: [{
          id: 1,
          title: '投资融资服务'
        }, {
          id: 2,
          title: '投资融资服务'
        }, {
          id: 3,
          title: '投资融资服务'
        }, {
          id: 4,
          title: '投资融资服务'
        }]
      }],
      swiperList: [{
        src: '/image/swiper_1.jpg'

      },
      {
        src: '/image/swiper_1.jpg'

      }],
      companyList: [{
        image: '/image/son_1.png',
        link: ''
      },
      {
        image: '/image/son_1.png',
        link: ''
      }, {
        image: '/image/son_1.png',
        link: ''
      }],
      ip: ''
    }
  },

  head: {
    title: 'Home page 🚀',
    meta: [
      {hid: 'description', name: 'description', content: 'Home page description'}
    ]

  },
  computed: {
    todos() {
      console.log(this.$store.state)
      return this.$store.state.counter
    }
  },
  methods: {
    async getName() {
      const ip = await this.$axios.$get('api/Auth/Code')
      this.ip = ip
    }
  }
}
</script>

<style lang="scss" scoped>

.index{

  .big{
    font-size: 0.24rem;
  }

  .small{
    font-size: 0.18rem;
  }

  .wrapper{

    width: 1000px;
    margin: auto;

.carousel-container{

//  & /deep/ .el-carousel__container{
//     height: (650vw/19.2);

//   }

  .carousel-img{
    width: 100vw;
  }

}

  .about{

    h2{
      width: fit-content;
      letter-spacing: 1px;
      // color: #409EFF;
      border-bottom: 2px solid #409EFF;
      margin: 24px auto;
      padding-bottom: 3px;
    }
    text-align: center;
  }

  .service{
    display: flex;
    margin: 50px 0;

    .card-container{
      width: 226px;
      margin-right: 12px;
      position: relative;

      .el-card{
        height: 100%;

        // & /deep/ .el-card__body{
        //   padding-bottom: 46px;
        // }
      }

      &:last-child{
        margin-right: 0;
      }

      .button-container{
        position:absolute;
        right:12px;
        bottom:12px;

      }

    dl{

    dt{
          font-weight: bold;
          font-size: 18px;
        }

    dd{
      margin: 6px 0;
      position: relative;
      padding-left: 12px;
      &::before{
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 100%;

        background: black;

        position: absolute;
        left: 0;
        top: 8px;
      }
    }
    }
    }

  }

  .company{

    h2{
      width: fit-content;
      letter-spacing: 1px;
      // // color: #409EFF;
      // border-bottom: 2px solid #409EFF;
      margin: 24px auto;
      // padding-bottom: 3px;
    }
    .company-picture{
      display: flex;
      justify-content: space-between;
      img{
        width: 150px;

        &:hover{

        }
      }
    }

  }

  }

}

</style>

<style lang="scss">
  .index{

     .el-carousel__container{
        height: (650vw/19.2);

        }
      .el-card__body{
          padding-bottom: 46px;
        }
  }
</style>
