<template>
  <div class="mark-classify app-container">
    <div class="app-main-button">
      <el-button
        type="primary"
        icon="el-icon-plus"
       
        @click="handleCreateMark"
      >新增</el-button>

      <el-input
        v-model="queryText"
        placeholder="请输入内容"
        prefix-icon="el-icon-search"
        style="width:250px;margin-left:auto"

        @input="handleGetLaw"
      />
   
    </div>

    <div class="main">
      <div class="my-el-table table-container">
        <el-table
          :data="tableData"
          style="width: 100%;margin-bottom: 20px;"
          row-key="id"
          border

          :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
          size="mini"
        >
          <el-table-column prop="name" label="条文名称" />
          <el-table-column prop="isSpace" label="是否空格" align="center" width="80">
            <template slot-scope="scope">
              <span>{{ scope.row.isSpace === 0 ? "否" : "是" }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="isNumber" label="是否序号" align="center" width="80">
            <template slot-scope="scope">
              <span>{{ scope.row.isNumber === 0 ? "否" : "是" }}</span>
            </template>
          </el-table-column>

          <el-table-column prop="isEnable" label="状态" align="center" width="80">
            <template slot-scope="scope">
              <span>{{ scope.row.isEnable === 0 ? "禁用" : "启用" }}</span>
            </template>
          </el-table-column>

          <el-table-column prop="isOrder" label="排序" align="center" sortable="" width="80" />

          <el-table-column label="操作" width="240">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="primary"
                @click="handleEditMark(scope.row)"
              >编辑</el-button>

              <el-button
                size="mini"
                type="success"
                @click="handleCreateChild(scope.row)"
              >新增子类</el-button>
              <el-button
                v-if="scope.row.children.length === 0 "
                size="mini"
                type="danger"
                @click="handleDeleteTemplate(scope.row.id)"
              >删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <div class="classify-container">
        <div class="title">参数选择表</div>

        <div class="list-container">
          <el-tag
            v-for="(item, index) in markList"
            :key="index"
            type="info"
            class="list-item"
            @click="handleCopy(item.options, $event)"
          >{{ item.options }}</el-tag>
        </div>
      </div>
    </div>

    <el-dialog title="认定模板编辑" :visible.sync="dialogFormVisible">
      <el-form ref="ruleForm" :model="form" :rules="rules" label-width="120px">
        <el-form-item
          label="条文名称"
   
          prop="name"
        >
          <el-input
            v-model="form.name"
            autocomplete="off"
            style="width:300px"
          />
        </el-form-item>

        <el-form-item label="状态">
          <el-select v-model="form.isEnable" placeholder="请选择是否终结">
            <el-option label="启用" :value="1" />
            <el-option label="禁用" :value="0" />
          </el-select>
        </el-form-item>

        <el-form-item label="是否空格">
          <el-radio v-model="form.isSpace" :label="1" border>是</el-radio>
          <el-radio v-model="form.isSpace" :label="0" border>否</el-radio>
        </el-form-item>

        <el-form-item label="是否排序">
          <el-radio v-model="form.isNumber" :label="1" border>是</el-radio>
          <el-radio v-model="form.isNumber" :label="0" border>否</el-radio>
        </el-form-item>

        <el-form-item label="排序" prop="isOrder">
          <el-input-number
            v-model="form.isOrder"
            controls-position="right"
            :min="0"
          />
        </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="submitForm('ruleForm')"
        >确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import clip from '@/utils/clipboard' // use clipboard directly

import {getLaw, addLaw, deleteLaw, updateLaw, getIdentifyOption} from '@/api/identify'

export default {
  data() {
    return {
      queryText: '',
      tableData: [],
      markList: [],

      dialogFormVisible: false,
      form: {
        name: '',
        isSpace: 1,
        isOrder: 0,
        isEnable: 1,
        isNumber: 1
      },

      rules: {
        name: [
          {required: true, message: '请输入条纹名称'}
        ],
        isSpace: [
          {required: true, message: '请输入对应国家分类'}
        ],
        isOrder: [
          {
            required: true,
            message: '请输入年限'
          }
        ]

      }
    }
  },

  created() {
    this.handleGetLaw()

    getIdentifyOption().then(res => {
      this.markList = res.data
    })
  },
  methods: {

    handleGetLaw() {
      getLaw({
        queryText: this.queryText
      }).then(res => {
        this.tableData = res.data
      })
    },

    handleCreateMark() {
      this.dialogFormVisible = true

      this.form = {
        parentId: 0,
        name: '',
        isSpace: 1,
        isOrder: 0,
        isEnable: 1,
        isNumber: 1
      }

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },

    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.form.id) {
            updateLaw(this.form).then(() => {
              this.handleGetLaw()
              this.dialogFormVisible = false
              this.$notify({
                title: '成功',
                message: '修改条纹成功！',
                type: 'success'
              })
            })
          } else {
            addLaw(this.form).then(() => {
              this.handleGetLaw()
              this.dialogFormVisible = false
              this.$notify({
                title: '成功',
                message: '新增条纹成功！',
                type: 'success'
              })
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },

    handleEditMark(row) {
      this.dialogFormVisible = true
      this.form = JSON.parse(JSON.stringify(row))

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },
    handleCreateChild(row) {
      this.dialogFormVisible = true

      this.form = {
        parentId: row.id,
        name: '',
        isSpace: 1,
        isOrder: 0,
        isEnable: 1,
        isNumber: 1
      }

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },

    handleDeleteTemplate(id) {
      this.deleteConfirm(deleteLaw, {id}).then(() => this.handleGetLaw())
    },
    handleCopy(text, event) {
      clip(text, event)
    }
  }
}
</script>

<style lang="scss" scoped>
.mark-classify {
  .main {
    display: flex;
    justify-content: space-between;
    .table-container {
      width: 66%;
    }
    .classify-container {
      width: 32%;
      border: 1px solid #e4e7ed;

      .title {
        text-align: center;
        padding: 12px;
        background: rgb(244, 244, 245);
      }

      .search-container {
        display: flex;
        align-items: center;
        padding-bottom: 12px;
        margin: 12px;
        border-bottom: 1px solid #e4e7ed;

        .search-tip {
          color: #606266;
          font-size: 16px;
        }
      }

      .list-container {
        display: flex;
        flex-wrap: wrap;

        .list-item {
          margin: 8px 12px;
        }
      }
    }
  }
}
</style>
