<template>
  <div class="deny-accept">
    <div class="notice-container">
      <h2>价格鉴定不予受理通知书</h2>
      <div class="notice-content">
        <div>深圳市公安局平南派出所：</div>
        <div style="text-indent:26px">
          你单位 黄文伟被盗窃案其它盗窃案 收悉。现因下述第
          <el-input
            v-model="input"
            style="width:150px;margin:0 6px;text-indent: initial"
            size="mini"
          />
          ，我单位决定不予受理。你单位委托书（函件）及相关材料随函退还。
        </div>
        <div style="text-indent:26px">特此通知。</div>
        <ul>
          <li v-for="(item, index) in noticeList" :key="index">
            <el-checkbox v-model="item.checked">{{ index + 1 }}、{{ item.label }}</el-checkbox>
          </li>
        </ul>
        <div style="text-align:right">2020年4月14日</div>
        <div style="text-align:right">
          鉴定单位：深圳市龙岗区价格认证中心
        </div>
      </div>
    </div>

    <div class="action-container">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        :rules="rules"
        label-width="100px"
        class="demo-ruleForm"
      >
        <el-form-item label="审核人" prop="region">
          <el-select v-model="ruleForm.region" placeholder="请选择审核人">
            <el-option
              v-for="(item, index) in checkStaff"
              :key="index"
              :label="item.label"
              :value="item.id"
            />
          </el-select>
        </el-form-item>

        <el-form-item>
          <el-button
            type="primary"
            @click="submitForm('ruleForm')"
          >确定价格鉴定不予受理，提交部长审核</el-button>
        </el-form-item>
      </el-form>
    </div>

    <div class="my-el-menu">

      <el-menu>
       
        <el-menu-item @click="$emit('backEntrust')">
          <i class="el-icon-menu" />
          <span slot="title">返回协议书</span>
        </el-menu-item>
        <el-menu-item @click="entrustDialogVisible = true">
          <i class="el-icon-document" />
          <span slot="title">预览协议书</span>
        </el-menu-item>
   
      </el-menu>

    </div>

    <div class="dialog-container">
      <el-dialog
        v-dragDialog
        :visible.sync="entrustDialogVisible"
        width="70%"
        :modal="false"
        top="10vh"
      >
        <div class="dialog-content custom-scrollbar">
          <PriceDefineEntrust />
        </div>
      </el-dialog>
    </div>
  </div>
</template>
<script>
import PriceDefineEntrust from '@/components/PriceDefineEntrust'

import '@/directive/drag-dialog/index'

export default {
  components: {
    PriceDefineEntrust
  },

  data() {
    return {
      noticeList: [
        {
          checked: 0,
          label: '不符合价格鉴定分级管理规定要求'
        },
        {
          checked: 1,
          label: '法律法规明确规定不以价格数额作为办案依据，不需要进行价格鉴定'
        }
      ],

      checkStaff: [
        {
          id: '1',
          label: '杨家宝'
        },
        {
          id: '0',
          label: '浩恩'
        }
      ],

      ruleForm: {
        name: ''
      },

      rules: {
        name: {required: true, message: '请输入活动名称', trigger: 'blur'}
      },
      entrustDialogVisible: false
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          alert('submit!')
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }

  }
}
</script>
<style lang="scss" scoped>
.deny-accept {
  display: flex;

  .notice-container {
    width: 58%;
    padding: 24px;
    background: rgb(244, 244, 245);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);

    .notice-content {
      font-size: 14px;

      line-height: 20px;
      ul {
        li {
          margin: 6px 0;
        }
      }
    }
  }
  .action-container {
    width: 40%;
    margin: 24px 0;
  }
  .dialog-container {
    .dialog-content {
      height: 78vh;
      overflow-y: auto;
    }
  }
}
</style>
