<template>
  <div class="repulse">
    <div class="notice-container">
      <h2 class="notice-title">深圳市涉案物品价格认定须补充的材料表</h2>
      <div class="notice-content">

        <div>提出单位：深圳市公安局平南派出</div>

        <ul class="custom-ul">
          <li v-for="(item,index) in contentList" :key="index" :style="{textIndent:item.isSpace ? '2em' : '0'}">
            {{ item.name }}
          </li>
        </ul>

        <div class="my-el-table notice-table">
          <el-table :data="tableData" border="">
            <el-table-column label="序号" width="100" align="center" prop="orders" />

            <el-table-column label="需要补充的材料内容" align="center">
              <template slot-scope="scope">
                <el-autocomplete
                  v-model="scope.row.content"
                  style="width:90%"
                  class="inline-input"
                  :fetch-suggestions="querySearch"
                  placeholder="请输入内容"
                  value-key="replenish"
                  @select="handleSelect"
                />
              </template>
            </el-table-column>
          
          </el-table>
          <el-button icon="el-icon-plus" size="mini" style="margin-top:12px" @click="addLine">新增一行</el-button>
        </div>

        <ul class="custom-ul">
          <li v-for="(item,index) in replenishList" :key="index" :style="{textIndent:item.isSpace ? '2em' : '0'}">
            {{ item.name }}
          </li>
        </ul>

        <!-- <div>提出事项：确定涉案财产的案值</div> -->
        <!-- <div>编号：A4403076800002020046051_33037_2020</div> -->
      </div>

      <div class="notice-foot">
        <!-- <p style="color:#909399">
          说明：表中未涉及的项目由经办人在空白项中填写。补充说明可另附材料。
        </p> -->
        <p style="text-align:right">
          经办人：待定1
        </p>
        <p style="text-align:right">
          认定单位：深圳市龙岗区价格认证中心
        </p>
    
      </div>

      <div class="back-button">
        <el-button
          type="primary"
          @click="submitForm"
        >提出单位提交材料不齐，打回给提出单位</el-button>
      </div>

    </div>

    <div class="my-el-menu">
      <el-button type="primary" icon="el-icon-menu" />

      <el-menu>
       
        <el-menu-item @click="$emit('backEntrust')">
          <span slot="title">返回协议书</span>
        </el-menu-item>
        <el-menu-item @click="entrustDialogVisible = true">
          <span slot="title">预览协议书</span>
        </el-menu-item>
   
      </el-menu>

    </div>

    <div class="dialog-container">
      <el-dialog
        v-dragDialog
        :visible.sync="entrustDialogVisible"
        width="70%"
        :modal="false"
        top="10vh"
      >
        <div class="dialog-content custom-scrollbar">
          <price-define-entrust />
        </div>
      </el-dialog>
    </div>
  </div>
</template>
<script>
import PriceDefineEntrust from '@/components/PriceDefineEntrust'

import '@/directive/drag-dialog/index'

import {addMaterial, getTempleMaterial} from '@/api/entrust'

import {getReplenish} from '@/api/proposer'

export default {
  components: {
    PriceDefineEntrust
  },

  data() {
    return {
      id: '',
      requireCode: 'HY1618996265726',
      contentList: [],
      replenishList: [],

      replenishOption: [],
      state1: '',
      entrustDialogVisible: false,

      tableData: [
        {
          orders: 0,
          content: ''
        }
      ]
    }
  },

  created() {
    getTempleMaterial({
      requireCode: 'HY1618996265726'
    }).then(res => {
      let {templeContentList, templeReplenishList, id, detailList} = res.data
      this.contentList = templeContentList
      this.replenishList = templeReplenishList
      this.id = id
      if (detailList) {
        this.tableData = detailList
      }
    })

    this.handleGetReplenish()
  },

  methods: {

    handleSelect(item) {
      console.log(item)
    },

    handleGetReplenish() {
      getReplenish().then(res => {
        this.replenishOption = res.data
      })
    },

    addLine() {
      console.log(this.tableData)
      this.tableData.push({
        content: '',
        orders: this.tableData.length

      })
    },

    querySearch(queryString, cb) {
      var replenishOption = this.replenishOption
      var results = queryString ? replenishOption.filter(this.createFilter(queryString)) : replenishOption
      // 调用 callback 返回建议列表的数据
      cb(results)
    },
    createFilter(queryString) {
      return (restaurant) => {
        return restaurant.replenish.toLowerCase().indexOf(queryString.toLowerCase()) === 0
      }
    },

    submitForm() {
      if (this.tableData.every(item => {
        return item.content === ''
      })) {
        this.$message.error('补充材料不能为空！')
        return
      }

      addMaterial({
        id: this.id,
        requireCode: this.requireCode,
        detailList: this.tableData
      }).then(() => {
        this.$notify({
          title: '成功',
          message: '提交补充材料成功！',
          type: 'success'
        })

        this.$emit('backEntrust')
      })
    }

  }
}
</script>
<style lang="scss" scoped>
.repulse {

  .notice-container {
    padding: 24px;
    height: 86vh;

    box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);

    .notice-title{

      text-align: center;
      font-size: 16px;

    }

    .notice-content {
      font-size: 14px;
      margin-bottom: 12px;
      line-height: 20px;
      ul {
        li {
          margin: 6px 0;
        }
      }
    }

    .notice-foot {
      font-size: 14px;
    }

    .back-button {
      text-align: center;
      margin: 12px 0;
      position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    }

    .notice-table{
      margin: 16px 0;
      width: 900px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .dialog-container {
    .dialog-content {
      height: 78vh;
      overflow-y: auto;
    }
  }
}
</style>
