<template>
  <div class="home">
    <van-button type="primary" @click="click">主要按钮</van-button>

    <div>{{ day }}</div>

    <div id="main" style="height: 200px"></div>

    <van-tabs v-model="active" swipeable>
      <van-tab v-for="index in 4" :title="'选项 ' + index" :key="index">
        <div>内容 {{ index }}</div>
      </van-tab>
    </van-tabs>

    <van-icon class-prefix="iconfont" name="hongbao" />

    <Tabbar />
  </div>
</template>

<script>
import { downloadFile } from '@/utils/index.js'

import { queryCategory, getUserInfo } from '@/api/home'

import Tabbar from '@/components/Tabbar'

import dayjs from 'dayjs'

import customParseFormat from 'dayjs/plugin/customParseFormat'

import * as echarts from 'echarts'

let _ = require('lodash')

let md5 = require('md5')

export default {
  name: 'Home',

  components: {
    Tabbar,
  },

  data() {
    return {
      active: 0,
      userInfo: {},
      day: '',
    }
  },

  created() {
    dayjs.extend(customParseFormat)

    this.day = dayjs('2019-01-25').format('DD/MM/YYYY')
    this.userInfo = this.$store.state.userInfo

    queryCategory({
      pageIndex: 1,
      pageSize: 0,
      orderBy: '',
      sort: '',
    }).then((res) => {})

    console.log(md5('123456'))
  },

  mounted() {
    // 基于准备好的dom，初始化echarts实例
    let myChart = echarts.init(document.getElementById('main'))

    console.log(myChart)
    // 绘制图表
    myChart.setOption({
      title: {
        text: 'ECharts 入门示例',
      },
      tooltip: {},
      xAxis: {
        data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子'],
      },
      yAxis: {},
      series: [
        {
          name: '销量',
          type: 'bar',
          data: [5, 20, 36, 10, 10, 20],
        },
      ],
    })
  },

  methods: {
    click() {
      downloadFile('http://hpmeettest.transfounder.com/upload/123.pdf')
    },
  },
}
</script>
<style lang="scss" scoped>
.a {
  font-size: 24px;
}
</style>
