<template>
  <section class="app-main" :style="{ marginTop: headerHeight }">
    <transition enter-active-class="fade-enter-active" mode="out-in">
      <keep-alive :include="cachedViews">
        <router-view :key="key" />
      </keep-alive>
    </transition>
  </section>
</template>

<script>
export default {
  name: 'app-main',

  data: function () {
    return {
      headerHeight: '',
    }
  },
  computed: {
    cachedViews() {
      return this.$store.state.tagsView.cachedViews
    },
    key() {
      return this.$route.path
    },
  },

  mounted() {
    let fixedHeader = document.getElementsByClassName('fixed-header')[0]
    this.headerHeight = fixedHeader ? fixedHeader.offsetHeight + 'px' : 0
  },
}
</script>

<style lang="scss" scoped>
.app-main {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;
}
</style>

<style lang="scss">
// fix css style bug in open el-dialog
.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 15px;
  }
}
</style>
