<template>
  <view>
    <u-popup
      :show="show"
      mode="center"
      :round="14"
      @close="popupClose"
    >
      <view class="padding-m">
        <u-form
          ref="uForm"
          :model="form"
          label-width="0"
          error-type="toast"
        >
          <u-form-item
            label=""
            prop="phone"
          >
            <u-input
              v-model="form.phone"
              :clearable="false"
              placeholder="请输入账号"
            />
          </u-form-item>
          <u-form-item
            label=""
            prop="password"
          >
            <u-input
              v-model="form.password"
              type="password"
              :clearable="false"
              placeholder="请输入密码"
            />
          </u-form-item>
        </u-form>

        <u-button
          type="primary"
          class="mb-s mt-m width-f"
    
          :text="loginShow ? '登 录' : '注 册'"
          @click="submit"
        />

        <view
          class="ta-r"
          :class="loginShow ? 'color-danger' : 'color-success'"
          @click="register"
        >
          {{ loginShow ? '账号注册' : '账号登录' }}
        </view>
      </view>
    </u-popup>
  </view>
</template>

<script>
export default {
  name: 'LoginPopup',

  props: {

    initShow: {
      default: false,
      type: Boolean
    }
  },
  data() {
    return {

      loginShow: true,

      show: this.initShow,
      form: {
        phone: '',
        password: ''
      },
      rules: {
        phone: [
          {
            required: true,
            message: '请输入账号',
            trigger: ['change', 'blur']
          },

          {
            validator: (rule, value, callback) => {
              return this.$u.test.mobile(value)
            },
            message: '手机号码不正确',
            trigger: ['change', 'blur']
		  		}
        ],
        password: [
          {
            required: true,
            message: '请输入密码',
            trigger: ['change', 'blur']
          }
        ]
      }

    }
  },

  watch: {
    initShow(newValue) {
      this.show = newValue

      this.$nextTick(() => {
        this.$refs.uForm && this.$refs.uForm.setRules(this.rules)
      })
    }

  },

  methods: {

    register() {
      this.loginShow = !this.loginShow
    },

    submit() {
      this.$refs.uForm.validate().then(res => {
        if (this.loginShow) {
									  console.log(this.form)
									  this.$store.dispatch('login', this.form).then(() => {
										  this.$store.dispatch('getUserInfo').then(() => {
											  this.$emit('update:initShow', false)
											  this.$emit('loginSuccess')
										  })
									  })
        } else {
						  this.$u.api.register(this.form).then(() => {
						    uni.showToast({
						      title: '注册账号成功',
						      icon: 'success',
						      success: () => {
						        this.loginShow = true
						      }
						
						    })
						  })
        }
      }).catch(errors => {
        uni.$u.toast('校验失败')
      })
		
      //     console.log('submit')
      //     this.$refs.uForm.validate(valid => {
      //       if (valid) {
      //         if (this.loginShow) {
      // 	  console.log('submit')
      // 	  this.$store.dispatch('login', this.form).then(() => {
      // 		  this.$store.dispatch('getUserInfo').then(() => {
      // 			  this.$emit('update:initShow', false)
      // 			  this.$emit('loginSuccess')
      // 		  })
      // 	  })
      
      //         } else {
      //           this.$u.api.register(this.form).then(() => {
      //             uni.showToast({
      //               title: '注册账号成功',
      //               icon: 'success',
      //               success: () => {
      //                 this.loginShow = true
      //               }

      //             })
      //           })
      //         }
      //       } else {
      //         console.log('验证失败')
      //       }
      //     })
    },

    popupClose() {
      this.$emit('update:initShow', this.show)
    }
  }
}
</script>

<style lang="scss">

</style>
