<template>
  <div class="area-manage app-container">
    <div class="app-main-button">
      <el-button type="primary" @click="handleCreateArea">新增区域</el-button>
      <el-button
        type="danger"
        @click="handleDeleteArea(multipleSelection)"
      >删除区域</el-button>
    </div>

    <div class="my-el-table">
      <el-table
        ref="multipleTable"
        :data="tableData"
        tooltip-effect="dark"
        style="width: 100%"
        border=""
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column label="区域名称" align="center" prop="name" />
        <el-table-column label="状态" align="center" prop="isEnable">
          <template slot-scope="scope">
            <span v-if="scope.row.isEnable">启用</span>
            <span v-else>禁用</span>
          </template>
        </el-table-column>

        <el-table-column label="操作" width="160" align="center">
          <template slot-scope="scope">
            <el-button
              type="primary"
              @click="handleEdit(scope.row)"
            >编辑</el-button>
            <el-button
              type="danger"
              @click="handleDeleteArea([scope.row.id])"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <el-dialog title="区域编辑" :visible.sync="dialogFormVisible">
      <el-form ref="ruleForm" :model="form" :rules="rules" label-width="120px">
        <el-form-item
          label="区域名称"
          
          prop="name"
        >
          <el-input
            v-model="form.name"
            autocomplete="off"
            style="width:300px"
          />
        </el-form-item>
        <el-form-item label="状态">
          <el-select v-model="form.isEnable" placeholder="请选择区域状态">
            <el-option label="启用" :value="1" />
            <el-option label="禁用" :value="0" />
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="submitForm('ruleForm')"
        >确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {getDistrict, addDistrict, updateDistrict, deleteDistrict} from '@/api/identify'
export default {
  data() {
    return {
      tableData: [],
      multipleSelection: [],

      dialogFormVisible: false,
      form: {
        isEnable: 1,
        name: ''
      },

      rules: {
        name: [
          {
            required: true,
            message: '请输入区域名称'

          }
        ]
      }
    }
  },

  created() {
    this.handleGetDistrict()
  },

  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val.map(item => item.id)
    },

    handleCreateArea() {
      this.dialogFormVisible = true
      this.form = {
        isEnable: 1,
        name: ''
      }
      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.form.id) {
            updateDistrict(this.form).then(() => {
              this.handleGetDistrict()

              this.$notify({
                title: '成功',
                message: '修改区域成功！',
                type: 'success'
              })
            })
          } else {
            addDistrict(this.form).then(() => {
              this.handleGetDistrict()
              this.$notify({
                title: '成功',
                message: '新增区域成功！',
                type: 'success'
              })
            })
          }
          this.dialogFormVisible = false
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },

    handleEdit(row) {
      this.dialogFormVisible = true
      this.form = JSON.parse(JSON.stringify(row))

      this.$refs.ruleForm.clearValidate()
    },
    handleDeleteArea(ids) {
      if (ids.length > 0) {
        this.deleteConfirm(deleteDistrict, {ids}).then(() => this.handleGetDistrict())
      } else {
        this.$message.error('请选中删除区域！')
      }
    },

    handleGetDistrict() {
      getDistrict().then(res => {
        this.tableData = res.data
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.area-manage {
}
</style>
