<template>
  <div class="baidu-map">
    <div v-if="searchShow" class="flex mb-s">
      <div>
        <el-input
          v-model="lng"
          placeholder="请输入经度"
          class="width-s"
          @input="latlngSearch"
        >
          <template slot="prepend">经度</template>
        </el-input>
        <el-input
          v-model="lat"
          placeholder="请输入纬度"
          class="width-s"
          @input="latlngSearch"
        >
          <template slot="prepend">纬度</template>
        </el-input>
      </div>
      <el-input
        v-model="address"
        placeholder="请输入搜索地址"
        class="width-m ml-a"
        @input="positionSearch"
      >
        <i slot="prefix" class="el-input__icon el-icon-search" />
      </el-input>
    </div>
    <div :id="id" :style="{ height: height }" />
  </div>
</template>

<script>
import { loadScript, guid } from '@/utils'

export default {
  props: {
    // 初始化纬度
    initLat: {
      default: '',
      type: String,
    },

    // 初始化经度

    initLng: {
      default: '',
      type: String,
    },

    // 初始化话地址
    initAddress: {
      default: '',
      type: String,
    },

    // 是否显示经纬度及搜索输入框

    searchShow: {
      default: true,
      type: Boolean,
    },

    // 地图高度
    height: {
      default: '500px',
    },
  },
  data() {
    return {
      lat: this.initLat,
      lng: this.initLng,
      address: this.initAddress || '广州黄埔区行政中心',

      map: null,
      id: guid(),
    }
  },

  mounted() {
    loadScript(
      '//api.map.baidu.com/getscript?type=webgl&v=1.0&ak=Z9c2RrODkOxSTKCQ6uHKjibM91G0yN8L'
    ).then(() => {
      this.initBMap()
    })
  },
  methods: {
    getPosition() {
      return {
        lat: this.lat,
        lng: this.lng,
        address: this.address,
      }
    },

    initBMap() {
      console.log('du')

      this.map = new BMapGL.Map(this.id)

      let locationControl = new BMapGL.LocationControl() // 定位控件
      this.map.addControl(locationControl)

      this.map.enableScrollWheelZoom(true) //开启鼠标滚轮缩放

      // 创建地理编码实例
      let myGeo = new BMapGL.Geocoder()

      // 地图点击事件
      this.map.addEventListener('click', (e) => {
        this.lat = e.latlng.lat
        this.lng = e.latlng.lng

        myGeo.getLocation(e.latlng, (result) => {
          this.address = result.address
        })
      })

      this.latlngSearch()
    },

    // 位置关键词搜索
    positionSearch() {
      let myGeo = new BMapGL.Geocoder()

      myGeo.getPoint(
        this.address,
        (point) => {
          if (point) {
            this.lng = point.lng
            this.lat = point.lat
            this.map.centerAndZoom(point, 16)
            this.map.addOverlay(new BMapGL.Marker(point))
          } else {
            this.$message.error('您选择的地址名称没有解析到结果！')
          }
        },
        '广州市'
      )
    },

    // 经纬度获取位置
    latlngSearch() {
      if (this.lat && this.lng) {
        // 创建地理编码实例
        var myGeo = new BMapGL.Geocoder()
        // 根据坐标得到地址描述
        myGeo.getLocation(new BMapGL.Point(this.lng, this.lat), (result) => {
          if (result) {
            let point = { lng: this.lng, lat: this.lat }

            this.map.centerAndZoom(point, 16)
            this.map.addOverlay(new BMapGL.Marker(point))
            this.address = result.address
          } else {
            this.$message.error('您选择的地址经纬度没有解析到结果！')
          }
        })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.baidu-map {
  width: 100%;
}
</style>
