<template>
  <div class="tinymce-box">
    <Editor
      v-model="contentValue"
      :init="init"
      :disabled="disabled"
      @onClick="onClick"
    />
  </div>
</template>

<script>
//引入tinymce编辑器
import Editor from '@tinymce/tinymce-vue'

//引入node_modules里的tinymce相关文件文件
import tinymce from 'tinymce/tinymce' //tinymce默认hidden，不引入则不显示编辑器
import 'tinymce/themes/silver' //编辑器主题，不引入则报错
import 'tinymce/icons/default' //引入编辑器图标icon，不引入则不显示对应图标

/* Import the langs */
import 'tinymce/langs/zh_CN.js'

/* Import the skin */
import 'tinymce/skins/ui/oxide/skin.css'

/* Import content css */
import contentUiCss from 'tinymce/skins/ui/oxide/content.css'
import contentCss from 'tinymce/skins/content/default/content.css'

// 引入编辑器插件（基本免费插件都在这儿了）
import 'tinymce/plugins/advlist' //高级列表
import 'tinymce/plugins/anchor' //锚点
import 'tinymce/plugins/autolink' //自动链接
import 'tinymce/plugins/autoresize' //编辑器高度自适应,注：plugins里引入此插件时，Init里设置的height将失效
import 'tinymce/plugins/autosave' //自动存稿
import 'tinymce/plugins/charmap' //特殊字符
import 'tinymce/plugins/code' //编辑源码
import 'tinymce/plugins/codesample' //代码示例
import 'tinymce/plugins/directionality' //文字方向
import 'tinymce/plugins/emoticons' //表情
import 'tinymce/plugins/fullpage' //文档属性
import 'tinymce/plugins/fullscreen' //全屏
import 'tinymce/plugins/help' //帮助
import 'tinymce/plugins/hr' //水平分割线
import 'tinymce/plugins/image' //插入编辑图片

import 'tinymce/plugins/imagetools' //插入编辑图片

// import 'tinymce/plugins/axupimgs' //多图片批量上传

import 'tinymce/plugins/importcss' //引入css
import 'tinymce/plugins/insertdatetime' //插入日期时间
import 'tinymce/plugins/link' //超链接
import 'tinymce/plugins/lists' //列表插件
import 'tinymce/plugins/media' //插入编辑媒体
import 'tinymce/plugins/nonbreaking' //插入不间断空格
import 'tinymce/plugins/pagebreak' //插入分页符
import 'tinymce/plugins/paste' //粘贴插件
import 'tinymce/plugins/preview' //预览
import 'tinymce/plugins/print' //打印
import 'tinymce/plugins/quickbars' //快速工具栏
import 'tinymce/plugins/save' //保存
import 'tinymce/plugins/searchreplace' //查找替换
// import 'tinymce/plugins/spellchecker'  //拼写检查，暂未加入汉化，不建议使用
import 'tinymce/plugins/tabfocus' //切入切出，按tab键切出编辑器，切入页面其他输入框中
import 'tinymce/plugins/table' //表格
import 'tinymce/plugins/template' //内容模板
import 'tinymce/plugins/textcolor' //文字颜色
import 'tinymce/plugins/textpattern' //快速排版
import 'tinymce/plugins/toc' //目录生成器
import 'tinymce/plugins/visualblocks' //显示元素范围
import 'tinymce/plugins/visualchars' //显示不可见字符
import 'tinymce/plugins/wordcount' //字数统计

export default {
  name: 'TEditor',
  components: {
    Editor,
  },
  props: {
    // 富文本内容
    value: {
      type: String,
      default: '',
    },
    // 是否可编辑
    disabled: {
      type: Boolean,
      default: false,
    },
    // 底部信息栏
    statusbar: {
      type: Boolean,
      default: false,
    },

    // 插件
    plugins: {
      type: [String, Array],
      default:
        'print preview searchreplace autolink directionality visualblocks visualchars  fullscreen image imagetools link media template code codesample table charmap hr nonbreaking anchor insertdatetime advlist lists wordcount textpattern autosave ',
    },

    // 工具栏
    toolbar: {
      type: [String, Array],
      default:
        'preview code searchreplace | fullscreen undo redo restoredraft | forecolor backcolor bold | fontselect fontsizeselect  |   italic underline strikethrough  subscript superscript removeformat  | lineheight alignleft aligncenter alignright alignjustify outdent indent | \
                 bullist numlist| link anchor | \
                table image media charmap hr insertdatetime print ',
    },
    // 菜单栏
    menubar: {
      type: String,
      default: '',
    },

    // 编辑器高度
    height: {
      type: Number,
      default: 400,
    },
  },
  data() {
    return {
      init: {
        language: 'zh_CN', //语言类型
        skin: false,
        content_css: false,
        content_style: contentUiCss.toString() + '\n' + contentCss.toString(),

        imagetools_cors_hosts: ['fhq.sino2sino.com'],

        image_advtab: true, //为图像属性编辑窗口添加高级属性，可以自定义图片的css样式（内置style）、边距（margin）和边框（border）

        plugins: this.plugins, //插件配置
        toolbar: this.toolbar, //工具栏配置，设为false则隐藏
        menubar: this.menubar, //菜单栏配置，设为false则隐藏，不配置则默认显示全部菜单，也可自定义配置--查看 http://tinymce.ax-z.cn/configure/editor-appearance.php --搜索“自定义菜单”

        fontsize_formats:
          '12px 14px 16px 18px 20px 22px 24px 28px 32px 36px 48px 56px 72px', //字体大小
        font_formats:
          '微软雅黑=Microsoft YaHei,Helvetica Neue,PingFang SC,sans-serif;苹果苹方=PingFang SC,Microsoft YaHei,sans-serif;宋体=simsun,serif;仿宋体=FangSong,serif;黑体=SimHei,sans-serif;Arial=arial,helvetica,sans-serif;Arial Black=arial black,avant garde;Book Antiqua=book antiqua,palatino;', //字体样式
        lineheight_formats: '0.5 0.8 1 1.2 1.5 1.75 2 2.5 3 4 5', //行高配置，也可配置成"12px 14px 16px 20px"这种形式

        image_prepend_url: process.env.VUE_APP_BASE_API, //地址前缀
        height: this.height, //注：引入autoresize插件时，此属性失效
        placeholder: '请输入内容',
        branding: false, //tiny技术支持信息是否显示
        // resize: false, //编辑器宽高是否可变，false-否,true-高可变，'both'-宽高均可，注意引号
        statusbar: this.statusbar, //最下方的元素路径和字数统计那一栏是否显示
        toolbar_mode: 'wrap',
        // content_style: 'img {max-width:100%;}', //直接自定义可编辑区域的css样式
        // content_css: '/tinycontent.css',  //以css文件方式自定义可编辑区域的css样式，css文件需自己创建并引入

        paste_data_images: true, //图片是否可粘贴

        // 图片上传函数
        images_upload_handler: (blobInfo, success, failure) => {
          // 转换成File
          let file = new File([blobInfo.blob()], blobInfo.filename(), {
            type: blobInfo.blob().type,
          })

          if (file.size / 1024 / 1024 > 2) {
            failure('图片大小请控制在 2M 以内')
          } else {
            this.$emit('uploadImage', file, success, failure)
          }
        },
      },
      contentValue: this.value,
    }
  },
  watch: {
    value(newValue) {
      this.contentValue = newValue
    },
    contentValue(newValue) {
      this.$emit('input', newValue)
    },
  },
  created() {},
  mounted() {
    tinymce.init({})
  },
  methods: {
    // 添加相关的事件，可用的事件参照文档=> https://github.com/tinymce/tinymce-vue => All available events
    onClick(e) {
      this.$emit('onClick', e, tinymce)
    },
    //清空内容
    clear() {
      this.contentValue = ''
    },
  },
}
</script>

<style lang="scss" scoped></style>
