<template>
  <div class="edit-form">
    <div class="company-container">
      <div class="title">认定单位信息</div>
      <el-divider />
      <div class="company-form">
        <el-form
          ref="ruleForm"
          :model="ruleForm"
          :rules="rules"
          label-width="150px"
          class="demo-ruleForm"
          inline
        >
          <el-form-item label="机构名称" prop="name">
            <el-input v-model="ruleForm.name" maxlength="50" />
          </el-form-item>

          <el-form-item label="机构简称" prop="simpleName">
            <el-input v-model="ruleForm.simpleName" />
          </el-form-item>

          <el-form-item label="机构资质证书证号" prop="certificateCard">
            <el-input v-model="ruleForm.certificateCard" />
          </el-form-item>

          <el-form-item label="法人代表" prop="legal">
            <el-input v-model="ruleForm.legal" />
          </el-form-item>

          <el-form-item label="机构编号" prop="code">
            <el-input v-model.number="ruleForm.code" />
          </el-form-item>

          <el-form-item label="机构状态" prop="isEnable">
            <el-select v-model="ruleForm.isEnable">
              <el-option label="启用" :value="1" />

              <el-option label="禁用" :value="0" />
            </el-select>
          </el-form-item>

          <el-form-item label="受理号" prop="accept">
            <el-input v-model="ruleForm.accept" />
          </el-form-item>

          <el-form-item label="不予受理函号" prop="notAccept">
            <el-input v-model="ruleForm.notAccept" />
          </el-form-item>

          <el-form-item label="其他函号" prop="otherLetter">
            <el-input v-model="ruleForm.otherLetter" />
          </el-form-item>

          <el-form-item label="价格鉴定" prop="priceIdentify">
            <el-input v-model="ruleForm.priceIdentify" />
          </el-form-item>

          <el-form-item label="价格鉴定文号序号" prop="priceIdentifyNo">
            <el-input v-model="ruleForm.priceIdentifyNo" />
          </el-form-item>

          <el-form-item label="拍卖文号序号" prop="auctionNo">
            <el-input v-model="ruleForm.auctionNo" />
          </el-form-item>
        </el-form>
      </div>
    </div>

    <div class="company-container">
      <div class="title">文件信息</div>
      <el-divider />
      <div class="company-form">
        <el-form
          ref="ruleForm"
          :model="ruleForm"
          :rules="rules"
          label-width="150px"
          class="demo-ruleForm"
        >
          <div class="item-container">

            <el-form-item label="文件红头" prop="redTitle">
              <el-upload
                class="avatar-uploader"
                :action="baseUrl + '/api/Identify/IdentifyUpload'"
                :headers="{SYSTOKEN:$store.state.user.token}"
                :before-upload="beforeAvatarUpload"
                :on-success="uploadSuccess"
                :show-file-list="false"
              >
                <img v-if="ruleForm.redTitle" :src="baseUrl + ruleForm.redTitle" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon" />
              </el-upload>
            </el-form-item>

            <el-form-item label="base64编码" prop="redTitleBase64">
              <el-input
                v-model="ruleForm.redTitleBase64"
                type="textarea"
                :rows="3"
              />
            </el-form-item>
          </div>

          <div class="item-container">
            <el-form-item label="电子印章" prop="chapter">
              <el-upload
                class="avatar-uploader"
                action=""
                :show-file-list="false"

                :before-upload="beforeAvatarUpload"

                :http-request="handleChapterUpload"
              >
                <img v-if="ruleForm.chapter" :src="baseUrl + ruleForm.chapter" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon" />
              </el-upload>
            </el-form-item>

            <el-form-item label="base64编码" prop="chapterBase64">
              <el-input
                v-model="ruleForm.chapterBase64"
                type="textarea"
                :rows="3"
              />
            </el-form-item>
          </div>
        </el-form>
      </div>
    </div>

    <div class="company-container">
      <div class="title">价格认定过程及方法</div>
      <el-divider />

      <div class="price-content">
        <div class="price-form">
          <el-form
            ref="ruleForm"
            :model="ruleForm"
            :rules="rules"
            label-width="150px"
            class="demo-ruleForm"
            inline
          >
            <el-form-item label="有实物" prop="haveEntity">
              <el-input
                v-model="ruleForm.haveEntity"
                type="textarea"
                :rows="4"
              />
            </el-form-item>

            <el-form-item label="无实物" prop="notEntity">
              <el-input
                v-model="ruleForm.notEntity"
                type="textarea"
                :rows="4"
              />
            </el-form-item>

            <el-form-item label="两者都有" prop="partEntity">
              <el-input
                v-model="ruleForm.partEntity"
                type="textarea"
                :rows="4"
              />
            </el-form-item>
          </el-form>
        </div>

        <div class="param-container">
          <div class="param-title">参数选择表</div>
          <div class="param-list">
            <el-tag v-for="(item,index) in paramList " :key="index" type="info" @click="handleCopy(item.options, $event)">{{ item.options }}</el-tag>

          </div>
        </div>
      </div>
    </div>

    <div class="company-container">
      <div class="title">中止通知书&终止通知书</div>
      <el-divider />
      <div class="notice-form">
        <el-form
          ref="ruleForm"
          :model="ruleForm"
          :rules="rules"
          :label-width="labelWidth"
          class="demo-ruleForm"
          inline
        >
          <el-form-item label="中止通知书" prop="discontinueNotice">
            <el-input
              v-model="ruleForm.discontinueNotice"
              type="textarea"
              :rows="4"
            />
          </el-form-item>

          <el-form-item label="部分中止通知书" prop="partDiscontinueNotice">
            <el-input
              v-model="ruleForm.partDiscontinueNotice"
              type="textarea"
              :rows="4"
            />
          </el-form-item>

          <el-form-item label="假冒案件的中止通知书" prop="shamDiscontinueNotice">
            <el-input
              v-model="ruleForm.shamDiscontinueNotice"
              type="textarea"
              :rows="4"
            />
          </el-form-item>

          <el-form-item label="部分假冒案件的中止通知书" prop="partShamDiscontinueNotice">
            <el-input
              v-model="ruleForm.partShamDiscontinueNotice"
              type="textarea"
              :rows="4"
            />
          </el-form-item>

          <el-form-item label="终止通知书" prop="endNotice">
            <el-input
              v-model="ruleForm.endNotice"
              type="textarea"
              :rows="4"
            />
          </el-form-item>

          <el-form-item label="部分终止通知书" prop="partEndNotice">
            <el-input
              v-model="ruleForm.partEndNotice"
              type="textarea"
              :rows="4"
            />
          </el-form-item>
        </el-form>
      </div>
    </div>

    <div class="company-container">
      <div class="title">中止通知书&特殊部分灭失物不予认定</div>
      <el-divider />
      <div class="notice-form">
        <el-form
          ref="ruleForm"
          :model="ruleForm"
          :rules="rules"
          :label-width="labelWidth"
          class="demo-ruleForm"
          inline
        >
          <el-form-item label="特殊部分灭失物不予认定" prop="specialPartLostNotIdeitifyNotice">
            <el-input
              v-model="ruleForm.specialPartLostNotIdeitifyNotice"
              type="textarea"
              :rows="4"
            />
          </el-form-item>

          <el-form-item label="部分灭物不予认定" prop="partLostNotIdeitifyNotice">
            <el-input
              v-model="ruleForm.partLostNotIdeitifyNotice"
              type="textarea"
              :rows="4"
            />
          </el-form-item>

          <el-form-item label="不予受理" prop="notAcceptNotice">
            <el-input
              v-model="ruleForm.notAcceptNotice"
              type="textarea"
              :rows="4"
            />
          </el-form-item>

          <el-form-item label="涉案物不符合价格认定条件的函" prop="entityNotIdentifyCondtionNotice">
            <el-input
              v-model="ruleForm.entityNotIdentifyCondtionNotice"
              type="textarea"
              :rows="4"
            />
          </el-form-item>

          <el-form-item label="部分涉案物不符合价格认定条件的函" prop="entityNotIdentifyCondtionNotice">
            <el-input
              v-model="ruleForm.partEntityNotIdentifyCondtionNotice"
              type="textarea"
              :rows="4"
            />
          </el-form-item>

          <el-form-item label="价格建议函" prop="priceAdviceNotice">
            <el-input
              v-model="ruleForm.priceAdviceNotice"
              type="textarea"
              :rows="4"
            />
          </el-form-item>

          <el-form-item label="更正函" prop="correctNotice">
            <el-input
              v-model="ruleForm.correctNotice"
              type="textarea"
              :rows="4"
            />
          </el-form-item>

          <el-form-item label="补充材料通知书（受理后）" prop="supplementMaterialNotice">
            <el-input
              v-model="ruleForm.supplementMaterialNotice"
              type="textarea"
              :rows="4"
            />
          </el-form-item>
        </el-form>
      </div>
    </div>

    <div class="btn-container">
      <el-button type="primary" @click="submitForm('ruleForm')">保 存</el-button>
      <el-button @click="$emit('closeTabs')">返 回</el-button>
    </div>
  </div>
</template>

<script>

import clip from '@/utils/clipboard' // use clipboard directly
import {addIdentify, updateIdentify, uploadIdentify, getIdentifyOption} from '@/api/identify'

export default {

  props: ['initRuleForm'],

  data() {
    return {

      paramList: [],
      baseUrl: process.env.VUE_APP_BASE_API,

      ruleForm: this.initRuleForm,

      labelWidth: '250px',
      rules: {
        name: [
          {required: true, message: '请输入机构名称', trigger: 'blur'},
          {min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur'}
        ],
        code: [
          {required: true, message: '请输入机构编号'},
          {type: 'number', message: '请输入机构编号需为数字'}
        ]

      }
    }
  },

  created() {
    getIdentifyOption().then(res => {
      this.paramList = res.data
      console.log(res)
    })
  },

  methods: {

    uploadSuccess(res) {
      this.ruleForm.redTitle = res.data.url

      this.ruleForm.redTitleBase64 = res.data.base64
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.ruleForm.id) {
            updateIdentify(this.ruleForm).then(() => {
              this.$emit('closeTabs')

              this.$notify({
                title: '成功',
                message: '新增认定机构成功！',
                type: 'success'
              })
            })
          } else {
            addIdentify(this.ruleForm).then(() => {
              this.$notify({
                title: '成功',
                message: '修改认定机构成功！',
                type: 'success'
              })

              this.$emit('closeTabs')
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    resetForm(formName) {
      this.$refs[formName].resetFields()
    },
  
    beforeAvatarUpload(file) {
      console.log(file.type)
      const isJPG = file.type === 'image/jpeg' || 'image/png'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG) {
        this.$message.error('上传头像图片只能是 JPG 格式!')
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 2MB!')
      }
      return isJPG && isLt2M
    },

    handleChapterUpload(option) {
      const formData = new FormData()
      formData.append('file', option.file)

      uploadIdentify(formData).then(res => {
        this.ruleForm.chapter = res.data.url

        this.ruleForm.chapterBase64 = res.data.base64
        console.log(res)
      })
      console.log(option)
    },
    handleCopy(text, event) {
      clip(text, event)
    }
  }
}
</script>

<style lang="scss" scoped>
.edit-form {
  .company-container {
    .title {
      margin-top: 12px;
      padding-left: 12px;
      border-left: 2px solid #409eff;
    }

    .el-divider--horizontal {
      margin: 12px 0;
    }
    .company-form {
      .el-input {
        width: 350px;
      }

      .el-textarea {
        width: 500px;
      }

      .item-container {
        display: inline-block;
      }
    }

    .avatar-uploader{
      display: inline-block;
    }

    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      width: 178px;
      height: 178px;
      line-height: 178px;
      text-align: center;
    }
    .avatar {
      width: 188px;
      height: 188px;
      display: block;
    }

    .price-content {
      display: flex;

      .price-form {
        width: 56%;

        .el-textarea {
          width: 32vw;
        }
      }

      .param-container {
        width: 36%;
        border: 1px solid #dcdfe6;

        .param-title {
          background: rgb(244, 244, 245);
          text-align: center;
          padding: 12px;
        }

        .param-list {
          display: flex;
          flex-wrap: wrap;
          .el-tag {
            margin: 12px;
          }
        }
      }
    }

    .notice-form {
      .el-textarea {
        width: 500px;
      }
    }
  }

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 12px;
  }
}
</style>

<style lang="scss">

.edit-form{
 .avatar-uploader .el-upload {
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
      border-color: #409eff;
    }

}

</style>
