<template>
  <div class="app-container">

    <div>

      <div class="my-el-table">
        <el-table :data="tableData" border="">
          <el-table-column
            type="index"
            width="50"
            align="center"
          />
          <el-table-column prop="requireCode" label="网上提出编号" align="center">
            <template slot-scope="scope">
              <el-link
                type="primary"
                :underline="false"
                @click="
                  $router.push({
                    path: '/entrust/entrust-preview',
                    query: { id: scope.row.requireCode, state:'ok'}
                  })
                "
              >{{ scope.row.requireCode }}</el-link>
            </template>
          </el-table-column>
          <!-- <el-table-column prop="fileName" label="文件名" align="center" /> -->
          <el-table-column
            prop="assistPurpose"
            label="委托目的"
            align="center"
          />

          <el-table-column
            prop="organizeName"
            label="委托单位"
            align="center"
          />
          <el-table-column
            prop="assistAgent"
            label="联系人"
            align="center"
          />
          <el-table-column
            prop="assistPhone"
            label="联系电话"
            align="center"
            width="100"
          />

          <el-table-column
            prop="firstSubmitTime"
            label="首次接收日期"
            align="center"
          />
          <el-table-column
            prop="submitTime"
            label="提出日期"
            align="center"
          />
          <el-table-column
            prop="hopeConclusionDate"
            label="希望出具体结论日期"
            align="center"
          />

          <el-table-column
            prop="operator"
            label="操作人"
            align="center"
            width="80"
          />
          <el-table-column prop="acceptStatuesText" label="状态" align="center" />

        </el-table>
      </div>
    </div>
    
  </div>
</template>

<script>

import {queryNetworkRequire} from '@/api/entrust'
export default {
  components: {
  },
  data() {
    return {
      tableData: []
    }
  },

  created() {
    queryNetworkRequire().then(res => {
      this.tableData = res.data
    })
    console.log(this.$route.query.id)
  },
  methods: {}
}
</script>

<style lang="scss" scoped></style>
