<script>
export default {
  onLaunch: function() {
	  // this.$u.api.login({
	  //   userName: 'honyait',
	  //   passWord: 'hy5566'
	  // }).then(res => {
		 //  console.log(123)
	  //   this.$u.vuex('vuex_token', res.data)
	  // })
    console.log('App Launch')
  },
  onShow: function() {
    console.log('App Show')
  },
  onHide: function() {
    console.log('App Hide')
  }
}
</script>

<style lang="scss">
		// @import "common/iconfont.css";
		@import "uview-ui/index.scss";
		
		@import "common/index.scss"
	/*每个页面公共css */
</style>
