<template>
  <div class="price-entrust-edit">
    <el-tabs v-model="activeName" type="border-card" @tab-click="handleClick">
      <i class="el-icon-close" @click="$emit('closeEntrustEdit')" />

      <el-tab-pane label="基础信息" class="form-container" name="1">
        <el-form
          ref="ruleForm"
          :model="ruleForm"
          :rules="rules"
          label-width="170px"
        >
          <div class="article-form">
            <div class="title">
              <h2>（案值）价格认定协助书</h2>
              <div class="title-tip">
                <span>（ 提出机关发文编号 </span>
                <el-form-item
                  label=""
                  prop="writeCode"
                  style="vertical-align:middle"
                  label-width="0"
                  :show-message="false"
                >
                  <el-input
                    v-model="ruleForm.writeCode"
                    size="mini"
                    style="width:200px"
                  />
                </el-form-item>

                <span>)</span>
              </div>
            </div>

            <div class="content">
              <div>{{ ruleForm.identifyName }} ：</div>
              <div>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我单位办理的涉嫌</span>

                <el-form-item
                  label=""
                  prop="assistPurpose"
                  label-width="0"
                  :show-message="false"
                >
                  <el-input
                    v-model="ruleForm.assistPurpose"
                    size="mini"
                    style="width:200px"
                  />
                </el-form-item>

                <span>一案，需对</span>

                <el-form-item
                  label=""
                  prop="identifiedTitle"
                  label-width="0"
                  :show-message="false"
                >
                  <el-input
                    v-model="ruleForm.identifiedTitle"
                    size="mini"
                    style="width:200px"
                  />
                </el-form-item>

                <span>等在</span>

                <el-form-item
                  label=""
                  prop="priceBasicDay"
                  label-width="0"
                  :show-message="false"
                >
                  <el-input
                    v-model="ruleForm.priceBasicDay"
                    size="mini"
                    style="width:200px"
                  />
                </el-form-item>

                <span>（价格认定基准日）的</span>

                <el-form-item
                  label=""
                  prop="priceConnotation"
                  label-width="0"
                  :show-message="false"
                >
                  <el-select
                    v-model="ruleForm.priceConnotation"
                    size="mini"
                    placeholder="请选择价格内涵"
                  >
                    <el-option
                      v-for="item in priceConnotationOption"
                      :key="item.id"
                      :label="item.connotation"
                      :value="item.connotation"
                    />
                  </el-select>
                </el-form-item>

                <el-input
                  v-if="ruleForm.priceConnotation === '其他'"
                  v-model="ruleForm.priceConnotationOther"
                  size="mini"
                  style="width:200px"
                />

                <span>价格（价格内涵）进行认定。请你单位按照有关规定和下列要求进行价格认定，为办理该案件提供价格依据。
                  价格认定内容及要求：</span>

                <el-form-item
                  label=""
                  prop="contentRequire"
                  label-width="0"
                  :show-message="false"
                >
                  <el-input
                    v-model="ruleForm.contentRequire"
                    size="mini"
                    style="width:200px"
                  />
                </el-form-item>
              </div>
            </div>
          </div>

          <div>
            <el-form-item label="案件性质" prop="caseNature">
              <el-select
                v-model="ruleForm.caseNature"
                placeholder="请选择案件性质"
              >
                <el-option
                  v-for="(item, index) in caseNatureList"
                  :key="index"
                  :label="item.name"
                  :value="item.name"
                />
              </el-select>
            </el-form-item>

            <el-form-item label="附件材料：" prop="attachment">
              <el-input
                v-model="ruleForm.attachment"
                style="width:56%"
                type="textarea"
              />
              <span style="color:#909399">
                <i class="el-icon-info" />
                如果多个附件材料，附件与附件之间请使用“、”分开。
              </span>
              <el-checkbox-group v-model="checkList" @change="checkChange">
                <el-checkbox label="车辆的行驶证复印件" />
                <el-checkbox label="车籍资料" />
                <el-checkbox label="物品情况说明" />
                <el-checkbox label="按规定可提供的询问笔录" />
                <el-checkbox label="检验报告" />
                <el-checkbox label="相片" />
                <el-checkbox label="发票" />
                <el-checkbox label="收据" />
                <el-checkbox label="认定报告" />
                <el-checkbox label="授权书" />
                <el-checkbox label="被侵权方资料" />
                <el-checkbox label="评估意见书" />
                <el-checkbox label="4S店维修单据" />
                <el-checkbox label="无实物证明" />
                <el-checkbox label="其他" />
              </el-checkbox-group>
            </el-form-item>

            <el-form-item label="特别声明：" prop="statement">
              <div style="display:flex">
                <span style="margin-right:4px">1、</span>

                <span>本单位提供的协助书和有关附件材料客观真实，真实性由我单位负责。</span>
              </div>

              <span>2、</span>

              <el-radio-group v-model="ruleForm.statement">
                <el-radio
                  label="0"
                >本次认定"标的"之前没有进行过价格认定。</el-radio>
                <el-radio
                  label="1"
                >本次认定"标的"之前已经做过价格认定。</el-radio>
                <el-input
                  v-if="ruleForm.statement === '1'"
                  v-model="ruleForm.exConculusionNo"
                  placeholder="请输入已出结论书编号"
                />
              </el-radio-group>
            </el-form-item>

            <el-form-item label="实物勘察方式：" prop="entitySurvey">
              <el-radio-group v-model="ruleForm.entitySurvey">
                <el-radio :label="1">有实物，可携带实物到认定单位勘查</el-radio>
                <el-radio
                  :label="2"
                >物品大，电话联系勘查时间，前往勘查</el-radio>
                <el-radio :label="3">无实物</el-radio>
                <el-radio :label="4">部分有实物部分无实物</el-radio>
              </el-radio-group>
            </el-form-item>

            <el-form-item label="希望出具结论时间：" prop="hopeConclusionDate">
              <el-input v-model="ruleForm.hopeConclusionDate" />
            </el-form-item>

            <el-form-item label="联系人（经办人）：" prop="assistAgent">
              <el-input v-model="ruleForm.assistAgent" />
            </el-form-item>

            <el-form-item label="联系人电话：" prop="assistPhone">
              <el-input v-model="ruleForm.assistPhone" />

              <span style="color:#909399">
                <i class="el-icon-info" />
                请填写手机号码，如协助书被受理或出结论将会收到短信通知
              </span>
            </el-form-item>

            <el-form-item label="地址：" prop="address">
              <el-input v-model="ruleForm.address" />
            </el-form-item>

            <el-form-item label="邮编：" prop="postCode">
              <el-input v-model="ruleForm.postCode" />
            </el-form-item>

            <el-form-item label="负责人：" prop="assistHead">
              <el-input v-model="ruleForm.assistHead" />
            </el-form-item>

            <el-form-item label="负责人电话：" prop="assistHeadPhone">
              <el-input v-model="ruleForm.assistHeadPhone" />
            </el-form-item>
          </div>

          <div class="foot">
            <el-form-item label="委托单位：" prop="organizeName">
              <el-input v-model="ruleForm.organizeName" style="width:200px" />
            </el-form-item>

            <el-form-item label="委托日期：" prop="requireTime">
              <el-date-picker
                v-model="ruleForm.requireTime"
                type="date"
                placeholder="选择日期"
                style="width:200px"
                value-format="yyyy-MM-dd"
              />
            </el-form-item>
          </div>
        </el-form>

        <div class="button-container">
          <el-button
            type="primary"
            @click="submitForm('ruleForm')"
          >保存协助书</el-button>

          <el-button
            type="danger"
            @click="$emit('closeEntrustEdit')"
          >放弃保存</el-button>
        </div>
      </el-tab-pane>
      <el-tab-pane v-if="tableVisible" label="配置管理" name="2">
        <GoodsTable
          :price-connotation-option="priceConnotationOption"
          :require-code="ruleForm.requireCode"
        />

        <CarTable
          :price-connotation-option="priceConnotationOption"
          :require-code="ruleForm.requireCode"
        />

        <FileUpload :require-code="ruleForm.requireCode" />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import GoodsTable from './GoodsTable'

import CarTable from './CarTable'

import FileUpload from './FileUpload'

import {
  addAssist,
  uploadAssist,
  getPriceConnotation,
  submitAssist,
  getAssistModel,
  updateAssist
} from '@/api/proposer'

import {getCaseNature, getIdentifyByCode} from '@/api/identify'

export default {
  components: {
    GoodsTable,
    CarTable,
    FileUpload
  },

  props: {
    carTableVisible: {
      default: true,
      type: Boolean
    },
    requireCode: {
      type: String,
      default: ''
    }
  },

  data() {
    return {
      activeName: '1',

      tableVisible: false,
      priceConnotationOption: [],

      ruleForm: {
        exConculusionNo: '',
        caseNature: '',
        delivery: false,
        attachment: '',
        hopeConclusionDate: '七个工作日',
        statement: '',
        entitySurvey: '',
        assistHeadPhone: '',
        assistHead: '',
        postCode: '',
        address: '',
        assistPhone: '',
        assistAgent: '',
        priceConnotation: '',
        priceConnotationOther: '',
        writeCode: '',
        priceBasicDay: '',
        requireCode: 'HY' + new Date().getTime(),
        caseNo: 'HY' + new Date().getTime(),
        assistPurpose: '',
        identifiedTitle: '',
        organizeName: '',
        requireTime: '',
        identifyName: '',
        contentRequire: '详见价格认定明细表'
      },
      rules: {
        assistAgent: {
          required: true,
          message: '请输入联系人'
        },
        caseNature: {
          required: true,
          message: '请选择案件性质'
        },
        attachment: {
          required: true,
          message: '请输入附件材料'
        },

        statement: {
          required: true,
          message: '请选择特别声明'
        },
        writeCode: {
          required: true,
          message: '请输入提出机关发文编号'
        },

        priceBasicDay: {
          required: true,
          message: '请输入价格认定基准日'
        },

        hopeConclusionDate: {
          required: true,
          message: '请输入希望出具体结论时间'
        },
        postCode: {required: true, message: '请输入邮编'},

        address: {
          required: true,
          message: '请输入地址'
        },

        contentRequire: {
          required: true,
          message: '请输入价格认定内容及要求'
        },

        assistPurpose: {
          required: true,
          message: '请输入委托目的'
        },

        identifiedTitle: {
          required: true,
          message: '请输入鉴定标题'
        },

        priceConnotation: {
          required: true,
          message: '请选择价格内涵'
        },

        organizeName: {
          required: true,
          message: '请输入委托单位'
        },

        requireTime: {
          required: true,
          message: '请选择委托日期'
        },

        assistHeadPhone: {
          required: true,
          message: '请输入负责人电话'
        },
        assistHead: {
          required: true,
          message: '请输入负责人'
        },
        assistPhone: {
          required: true,
          message: '请输入联系人电话'
        },
        entitySurvey: {
          required: true,
          message: '请选择实物勘察方式'
        }
      },
      checkList: [],
      caseNatureList: []
    }
  },
  created() {
    this.getPriceConnotation()
    this.handleGetCaseNature()

    getIdentifyByCode({code: this.$store.state.user.userInfo.code}).then(
      res => {
        this.ruleForm.identifyName = res.data.name
      }
    )

    if (this.requireCode) {
      getAssistModel({requireCode: this.requireCode}).then(res => {
        this.ruleForm = res.data.assistBook

        this.tableVisible = true
      })
    }
  },
  methods: {
    handleClick(tab, event) {
      console.log(tab, event)
    },

    handleGetCaseNature() {
      getCaseNature({queryText: ''}).then(res => {
        this.caseNatureList = res.data
      })
    },

    getPriceConnotation() {
      getPriceConnotation().then(res => {
        this.priceConnotationOption = res.data
      })
    },

    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.requireCode) {
            updateAssist(this.ruleForm).then(() => {
              this.tableVisible = true

              this.$notify({
                title: '成功',
                message: '修改协助书成功！',
                type: 'success'
              })
            })
          } else {
            addAssist(this.ruleForm).then(() => {
              this.activeName = '2'
              this.tableVisible = true

              this.$notify({
                title: '成功',
                message: '新增协助书成功！',
                type: 'success'
              })
            })
          }
        } else {
          this.$message.error('请将协助书内容填写完整！')
          return false
        }
      })
    },

    checkChange(val) {
      this.ruleForm.attachment = val.join('、')
    }
  }
}
</script>

<style lang="scss" scoped>
.price-entrust-edit {
  .title {
    text-align: center;

    h2 {
      font-size: 20px;
      margin-bottom: 8px;
    }

    .title-tip {
      font-size: 14px;
    }
  }

  .form-container {
    .el-select {
      width: 250px;
    }

    .el-input {
      width: 300px;
    }

    .el-checkbox {
      margin-right: 24px;
    }

    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .foot {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 14px;
    }

    .article-form {
      .el-form-item {
        margin-bottom: 0;
        display: inline-block;
      }
    }

    .content {
      line-height: 36px;
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  .el-tabs {
    margin-bottom: 0;

    .el-icon-close {
      position: absolute;
      top: -25px;
      right: 15px;
      font-weight: bold;
    }

    .el-tabs__content {
      overflow: auto;
    }
  }
}
</style>

<style lang="scss">
.price-entrust-edit {
  .el-tabs {
    .el-tabs__content {
      overflow: initial;
    }
  }
}
</style>
