<template>
  <div>
    <nuxt-link to="">introduce-id</nuxt-link>
  </div>
</template>

<script>
export default {
  validate({params}) {
    return !isNaN(+params.id)
  },
  asyncData({params, env, error}) {
    console.log(params)
  }

}
</script>

<style>

</style>
