<template>
  <div>
    <nuxt-link :to="'/introduce/'+ 1">introduce-id</nuxt-link>
    <nuxt-link :to="{name: 'introduce-detail', params:{id: 1,key:2}}">introduce-detail</nuxt-link>

  </div>
</template>

<script>
export default {
  data() {
    return {

    }
  }
}
</script>

<style>

</style>
