<template>
  <div class="check-box">
    <div class="check-button">
      <i v-if="check" class="el-icon-check" />
    </div>
    <span class="check-label">{{ label }}</span>
  </div>
</template>

<script>
export default {
  props: ['label', 'check'],
  data() {
    return {}
  }
}
</script>

<style lang="scss" scope>
.check-box {
  display: flex;
  align-items: center;
  margin-right: 12px;

  .check-button {
    width: 16px;
    height: 16px;
    border: 1px solid #dcdfe6;
    border-radius: 1px;
    display: flex;
    align-items: center;

    i {
      color: #67c23a;
      font-weight: bold;
    }
  }

  .check-label {
    margin-left: 6px;
  }
}
</style>
