<template>
  <div class="editor-container">
    <div :id="id" />
  </div>
</template>

<script>
import wangeditor from 'wangeditor'

import { guid } from '@/utils'

// let editor = ''

export default {
  name: 'wang-editor',

  props: {
    id: {
      default: () => {
        return 'wanged-ditor-' + guid()
      },
      type: String,
    },
    html: {
      default: '',
      type: String,
    },
    height: {
      default: 300,
      type: Number,
    },
    fullScreen: {
      default: true,
      type: Boolean,
    },
    menus: {
      default: () => [
        'head',
        'bold',
        'fontSize',
        'fontName',
        'italic',
        'underline',
        'strikeThrough',
        'indent',
        'lineHeight',
        'foreColor',
        'backColor',
        'link',
        'list',
        'todo',
        'justify',
        'quote',
        'emoticon',
        'image',
        'video',
        'table',
        'code',
        'splitLine',
        'undo',
        'redo',
      ],
      type: Array,
    },
  },

  data() {
    return {
      hasChange: false,
      hasInit: false,
      editor: '',
    }
  },

  watch: {
    html(val) {
      if (this.hasChange && this.hasInit) {
        this.editor.txt.html(val) // 重新设置编辑器内容
      }
    },
  },

  mounted() {
    this.initEditor()
  },

  methods: {
    initEditor() {
      let editor = new wangeditor('#' + this.id)

      // 设置编辑器高度
      editor.config.height = this.height

      // 编辑器 z-index 默认为 10000，可以自行调整
      editor.config.zIndex = 999

      // 使用 editor.config.menus 定义显示哪些菜单和菜单的顺序
      editor.config.menus = this.menus

      // 配置全屏功能按钮是否展示
      editor.config.showFullScreen = this.fullScreen

      // 自定义上传视频
      editor.config.customUploadVideo = function (files, insertFn) {
        this.$emit('uploadVideo', files, insertFn)
      }

      // 自己实现上传图片
      editor.config.customUploadImg = (files, insertFn) => {
        this.$emit('uploadImg', files, insertFn)
      }

      // 用户操作（鼠标点击、键盘打字等）导致的内容变化之后，会自动触发 onchange 函数执行。
      editor.config.onchange = (html) => {
        this.$emit('update:html', html)

        this.hasChange = true
      }

      editor.create()

      editor.txt.html(this.html) // 重新设置编辑器内容

      this.hasInit = true

      this.editor = editor
    },
    // 获取 html
    getHtml() {
      return this.editor.txt.html()
    },
    // 获取 text 文本
    getText() {
      return this.editor.txt.text()
    },
  },
}
</script>

<style lang="scss" scope></style>
