<template>
  <div class="app-container">
    <div class="mb-s flex">
      <el-button type="primary" @click="handleCreateAccount"
        >新增账户</el-button
      >
      <el-button type="danger" @click="handleDelete(multipleSelection)"
        >删除账户</el-button
      >

      <el-input
        v-model="queryParams.queryText"
        placeholder="请输入内容"
        class="width-m ml-a"
        @input="handleQueryAccount"
      ></el-input>
    </div>
    <el-table
      :data="tableData"
      style="width: 100%"
      border=""
      height="calc(100vh - 250px)"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" width="55" align="center">
      </el-table-column>
      <el-table-column label="账号" prop="phone" align="center">
      </el-table-column>

      <el-table-column label="操作" align="center">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="danger"
            @click="handleDelete([scope.row.userID])"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <pagination
      :total="total"
      :page.sync="queryParams.pageIndex"
      :limit.sync="queryParams.pageSize"
      @pagination="handleQueryAccount"
    />

    <el-dialog title="账户编辑" :visible.sync="dialogFormVisible">
      <el-form :model="form" :rules="rules" ref="ruleForm">
        <el-form-item
          label="账户名称"
          :label-width="formLabelWidth"
          prop="phone"
        >
          <el-input v-model="form.phone"></el-input>
        </el-form-item>

        <el-form-item
          label="账户密码"
          :label-width="formLabelWidth"
          prop="password"
        >
          <el-input v-model="form.password" show-password></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitForm('ruleForm')"
          >确 定</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { queryAccount, createAccount } from '@/api/account'

import { deleteUsers } from '@/api/users/users'

export default {
  data() {
    return {
      tableData: [],
      dialogFormVisible: false,
      form: {
        phone: '',
        password: '',
      },

      multipleSelection: [],

      rules: {
        phone: [{ required: true, message: '请输入注册账号', trigger: 'blur' }],
        password: [
          { required: true, message: '请输入账号密码', trigger: 'change' },
        ],
      },
      formLabelWidth: '120px',
      total: 0,
      queryParams: {
        pageIndex: 1,
        pageSize: 20,
        orderBy: '',
        sort: '',
        queryText: '',
      },
    }
  },

  created() {
    this.handleQueryAccount()
  },
  methods: {
    handleQueryAccount() {
      queryAccount(this.queryParams).then((res) => {
        this.tableData = res.data.dataSource
        this.total = res.data.totalCount
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          createAccount(this.form).then(() => {
            this.handleQueryAccount()

            this.$notify({
              title: '成功',
              message: '注册账号成功！',
              type: 'success',
            })
            this.dialogFormVisible = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    handleCreateAccount() {
      this.form = {
        phone: '',
        password: '',
      }

      this.dialogFormVisible = true

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },

    handleSelectionChange(val) {
      this.multipleSelection = val.map((item) => item.userID)
    },
    handleDelete(ids) {
      this.deleteConfirm(deleteUsers, { userIds: ids }).then(() => {
        this.handleQueryAccount()
      })
    },
  },
}
</script>
