<template>
  <view class="example">
    <!-- 内容为空 -->
    <view 
      v-if="isEmpty" 
      class="my-u-empty">
      <u-empty 
        text="所谓伊人，在水一方" 
        mode="list"/>
    </view>
	  
    <view 
      v-else 
      class="">
	  
      <!-- 头部导航 -->
      <u-navbar
        :is-back="false"
      >
	  
        <view class="navbar-slot">
	  		  
          <!--   <view class="title">
	  	      日照香炉生紫烟
	  	    </view> -->
	  		  
          <view class="search">
            <u-search
              v-model="keyword" 
              :show-action="false"
              placeholder="日照香炉生紫烟"/>
          </view>
	  		
          <!--   <view class="button-group">
	  	      <u-button
	  								  
	  	        type="success" 
	  								
	  	      >        <u-icon name="man-add-fill"/>新增</u-button>
	  		  
	  	     <u-button
	  		  								  
	  	        type="success" 
	  		  								
	  	      >        <u-icon name="man-add-fill"/>刷新</u-button>
	  	    </view> -->
	  	  
          <view class="icon-group">
	  	      
            <!-- <u-icon name="man-add-fill"/> -->
            <u-icon name="chat-fill"/>
          </view>
	  	    
        </view>
      </u-navbar>
      <!-- 头部标题 -->
      <view class="head-title">
        头部标题
      </view>
      <!-- 滑动操作 -->
      <u-swipe-action 
        v-for="(item, index) in list" 
        :show="item.show" 
        :index="index" 
        :key="item.id" 
        :options="options" 
        @click="click"
        @open="open"
      >
        <view class="swipe-action-slot">
	  		
          <view class="flex-row">
            <view class="image">
              <image
                :src="item.images" 
                mode="aspectFill" />
            </view>
	  		  
            <view class="flex-column">
	  			  
              <view class="date">2020-20-12</view>
              <view class="title">{{ item.title }}</view>
	  		  	
              <view class="subtitle">subtitle</view>
            </view>
	  			     
            <!-- 此层wrap在此为必写的，否则可能会出现标题定位错误 -->
	  		  
          </view>
	  	  
        </view>
      </u-swipe-action>
	  	
      <!-- 通用列表 -->
      <view class="custom-list">
        <view 
          v-for="(item,index) in list" 
          :key="index" 
          class="custom-list-item">
	  		
          <view class="flex-row">
            <view class="image">
              <image
                :src="item.images" 
                mode="aspectFill" />
            </view>
	  		  
            <view class="flex-column">
              <view class="date">
                {{ item.date }}
              </view>
	  					       
              <view class="flex-row">
	  						
                <view class="flex-column">
                  <view class="title">
                    {{ item.title }}
                  </view>
                  <view class="subtitle">
                    {{ item.subtitle }}
                  </view>
	  						 
                </view>
	  					  
                <u-icon 
                  name="arrow-right" 
                />
	  					  
                <!--   <u-button
	  					  
	  					    type="success" 
	  					
	  					  >查 看</u-button> -->
	  					
              </view>	
            </view>
	  	    
          </view>
	  	    
        </view>
		
        <!-- 底部导航 -->
        <view class="foot-navbar">
          <view class="foot-navbar-wrap">
            <view class="term">
							  
              <u-icon name="man-add-fill"/>
              <view class="text">
                新增
              </view>
            </view>
            <view class="term">
					  
              <u-icon name="chat-fill"/>
              <view class="text">
                删除
              </view>
            </view>
				
            <view class="button-group">
			          
              <u-button 
			 
                type="primary" 
              >底部按钮</u-button>
			
              <u-button 
                type="error" 
              >加入购物车</u-button>
			 
            </view>
			    
          </view>
			
        </view>
		
      </view>
    </view>
    
  </view>
</template>

<script>
let wx = require('weixin-js-sdk')
export default {

  data() {
    return {

      isEmpty: false,
      list: [
        {
          id: 1,
          title: '长安回望绣成堆，山顶千门次第开，一骑红尘妃子笑，无人知是荔枝来',
          images: 'https://cdn.uviewui.com/uview/common/logo.png',
          show: false,
		  date: '2020-10-12',
		  subtitle: '飞机打卡机富士康'
		  
        },
        {
          id: 2,
          title: '新丰绿树起黄埃，数骑渔阳探使回，霓裳一曲千峰上，舞破中原始下来',
          images: 'https://cdn.uviewui.com/uview/common/logo.png',
          show: false,
		  date: '2020-10-12',
		  subtitle: '飞机打卡机富士康'
        }
        
      ],
      disabled: false,
      btnWidth: 180,
      show: false,
      options: [
        {
          text: '收藏',
          style: {
            backgroundColor: '#007aff'
          }
        },
        {
          text: '删除',
          style: {
            backgroundColor: '#dd524d'
          }
        }
      ]
    }
  },

  methods: {
	  
	  // 微信SDK配置
	  wxSdk() {
		  this.$u.api.wxJsSdk({url: 'http://wsl.gdsrxh.com/h5/index.html#/pages/mpweixin/feedback'}).then(res => {
		  		  let {appId, timestamp, nonceStr, signature} = res.data
		  		  		  wx.config({
		  		  		    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		  		  		    appId, // 必填，公众号的唯一标识
		  		  		    timestamp, // 必填，生成签名的时间戳
		  		  		    nonceStr, // 必填，生成签名的随机串
		  		  		    signature, // 必填，签名 
		  		  		    jsApiList: ['closeWindow'] // 必填，需要使用的JS接口列表
		  		  		  })
		  })
		  },
	 
  			click(index, index1) {
  				if (index1 === 1) {
  					this.list.splice(index, 1)
  					this.$u.toast(`删除了第${index}个cell`)
  				} else {
  					this.list[index].show = false
  					this.$u.toast(`收藏成功`)
  				}
  			},
  			// 如果打开一个的时候，不需要关闭其他，则无需实现本方法
  			open(index) {
  				// 先将正在被操作的swipeAction标记为打开状态，否则由于props的特性限制，
  				// 原本为'false'，再次设置为'false'会无效
  				this.list[index].show = true
  				this.list.map((val, idx) => {
  					if (index !== idx) this.list[idx].show = false
  				})
  			}
  		}
}
</script>

<style lang="scss">
	
	page{
		background: #F4F4F5;
	}
	.example{
		// padding: 0 20rpx;
		// height: 100vh;
		
	}
</style>

