<template>
  <div class="mete-unit app-container">
    <div class="app-main-button">
      <el-button
        type="primary"
        icon="el-icon-plus"
        @click="handleCreateArea"
      >新增</el-button>
      <el-button
        type="danger"
        icon="el-icon-delete"
        @click="handleDelete(multipleSelection)"
      >删除</el-button>
    </div>

    <div class="my-el-table">
      <el-table
        ref="multipleTable"
        :data="tableData"
        tooltip-effect="dark"
        style="width: 100%"
        border=""
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column label="价格内涵" align="center" prop="connotation" />
        <el-table-column prop="code" label="机构code" align="center" width="150" />

        <el-table-column prop="isEnable" label="状态" align="center" width="150">

          <template slot-scope="scope">

            <el-select v-model="scope.row.isEnable" @change="enableChange(scope.row)">
              <el-option

                label="启用"
                :value="1"
              />
              <el-option

                label="禁用"
                :value="0"
              />
            </el-select>

            <!-- <span v-if="scope.row.isEnable">启动 </span>
            <span v-else>禁止 </span> -->
          </template>
        </el-table-column>

        <el-table-column prop="isOrder" label="排序" align="center" sortable="" width="150" />

        <el-table-column label="操作" width="200" align="center">
          <template slot-scope="scope">
            <el-button
              type="primary"
              @click="handleEdit(scope.row)"
            >编辑</el-button>
            <el-button
              type="danger"
              @click="handleDelete([scope.row.id])"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <el-dialog title="价格内涵编辑" :visible.sync="dialogFormVisible">
         
      <el-form ref="ruleForm" :model="form" :rules="rules" label-width="120px">
        <el-form-item
          label="价格内涵"
          prop="connotation"
        >
          <el-input
            v-model="form.connotation"
            autocomplete="off"
            style="width:300px"
          />
        </el-form-item>

        <el-form-item label="对应机构" prop="code">
          <el-select v-model="form.code" placeholder="请选择对应机构">
            <el-option
              v-for="(item, index) in identifyList"
              :key="index"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>

        <!-- <el-form-item
          label="机构code"
          prop="code"
        >
          <el-input
            v-model="form.code"
            autocomplete="off"
            style="width:300px"
          />
        </el-form-item> -->

        <el-form-item label="状态" prop="isEnable">
          <el-select v-model="form.isEnable" placeholder="请选择状态">
            <el-option label="启用" :value="1" />

            <el-option label="禁止" :value="0" />
          </el-select>
        </el-form-item>

        <el-form-item label="排序" prop="isOrder">
          <el-input-number
            v-model="form.isOrder"
            controls-position="right"
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="submitForm('ruleForm')"
        >确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>

import {getPriceConnote, addPriceConnote, deletePriceConnote, updatePriceConnote, updatePriceConnoteEnable, getIdentifyAll} from '@/api/identify'
export default {
  data() {
    return {
      identifyList: [{
        id: 0,
        name: '公共'
      }],

      tableData: [],
      multipleSelection: [],

      dialogFormVisible: false,
      form: {
        isEnable: 1,
        connotation: '',
        isOrder: 0,
        code: ''
      },

      rules: {
        connotation: [
          {
            required: true,
            message: '请输入价格内涵'
 
          }
        ],
        code: [
          {
            required: true,
            message: '请输入机构code'
 
          }
        ]
      }
    }
  },

  created() {
    this.handlleGetPriceConnote(),
    getIdentifyAll().then(res => {
      this.identifyList.push(...res.data)
    })
  },

  methods: {

    handlleGetPriceConnote() {
      getPriceConnote().then(res => {
        this.tableData = res.data
      })
    },
    handleSelectionChange(val) {
      this.multipleSelection = val.map(item => item.id)
    },

    handleCreateArea() {
      this.dialogFormVisible = true

      this.form = {
        isEnable: 1,
        connotation: '',
        isOrder: 0,
        code: ''
      }
      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.form.id) {
            updatePriceConnote(this.form).then(() => {
              this.handlleGetPriceConnote()

              this.dialogFormVisible = false

              this.$notify({
                type: 'success',
                message: '修改价格内涵成功！',
                title: '成功'
              })
            })
          } else {
            addPriceConnote(this.form).then(() => {
              this.handlleGetPriceConnote()

              this.dialogFormVisible = false

              this.$notify({
                type: 'success',
                message: '新增价格内涵成功！',
                title: '成功'
              })
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    handleEdit(row) {
      this.form = JSON.parse(JSON.stringify(row))
      this.dialogFormVisible = true

      this.$refs.ruleForm.clearValidate()
    },
    handleDelete(ids) {
      if (ids.length > 0) {
        this.deleteConfirm(deletePriceConnote, {ids}).then(() => this.handlleGetPriceConnote())
      } else {
        this.$message.error('请选中删除价格内涵！')
      }
    },
    enableChange(row) {
      updatePriceConnoteEnable({
        id: row.id,
        isEnable: row.isEnable
      }).then(() => {
        this.handlleGetPriceConnote()
        this.$notify({
          type: 'success',
          message: '修改状态成功！',
          title: '成功'
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped></style>
