<template>
  <div class="app-container users">
    <div v-show="divShow === 'edit'" :title="title" class="showTable">
      <el-menu
        :default-active="activeIndex"
        mode="horizontal"
        class="mb-l"
        @select="activeIndex = $event"
      >
        <el-menu-item index="1">基础信息</el-menu-item>

        <el-menu-item index="2" :disabled="title === '新增用户'"
          >账号密码</el-menu-item
        >
      </el-menu>

      <el-form
        v-if="activeIndex === '1'"
        ref="form"
        :model="form"
        label-width="100px"
        :rules="rules"
      >
        <el-row>
          <el-col :span="10">
            <el-form-item label="用户账号" prop="userID">
              <el-input
                v-model="form.userID"
                maxlength="50"
                placeholder="请输入用户账号"
                :disabled="title === '编辑用户'"
              />
            </el-form-item>
          </el-col>

          <el-col :span="2">&nbsp;</el-col>

          <el-col v-if="title === '新增用户'" :span="10">
            <el-form-item label="账号密码" prop="password">
              <el-input
                v-model="form.password"
                maxlength="50"
                show-password
                placeholder="请输入账号密码"
              />
            </el-form-item>
          </el-col>

          <el-col :span="2">&nbsp;</el-col>
        </el-row>

        <el-row>
          <el-col :span="10">
            <el-form-item label="是否启用" prop="enabled">
              <el-select v-model="form.enabled">
                <el-option label="启用" :value="true" />

                <el-option label="禁用" :value="false" />
              </el-select>
            </el-form-item>
          </el-col>

          <el-col :span="2">&nbsp;</el-col>
          <el-col :span="10">
            <el-form-item label="用户名称" prop="userName">
              <el-input v-model="form.userName" placeholder="请输入用户名称" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="10">
            <el-form-item label="邮 箱" prop="email">
              <el-input v-model="form.email" placeholder="请输入邮箱" />
            </el-form-item>
          </el-col>

          <el-col :span="2">&nbsp;</el-col>

          <el-col :span="10">
            <el-form-item label="手机号码" prop="phone">
              <el-input
                v-model="form.phone"
                maxlength="12"
                placeholder="请输入手机号码"
              />
            </el-form-item>
          </el-col>
          <el-col :span="2">&nbsp;</el-col>
        </el-row>

        <el-row>
          <el-col :span="10">
            <el-form-item label="身份证号" prop="identityCard">
              <el-input
                v-model="form.identityCard"
                maxlength="18"
                placeholder=" 请输入身份证号码"
              />
            </el-form-item>
          </el-col>
          <el-col :span="2">&nbsp;</el-col>

          <el-col :span="10">
            <el-form-item label="出生日期" prop="birthday">
              <el-date-picker
                v-model="form.birthday"
                style="width: 100%"
                type="date"
                placeholder="选择出生日期"
              />
            </el-form-item>
          </el-col>

          <el-col :span="2">&nbsp;</el-col>
        </el-row>

        <el-row>
          <el-col :span="10">
            <el-form-item label="单用户" prop="oneSession">
              <el-checkbox v-model="form.oneSession" />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item label="备 注" prop="remark">
              <el-input
                v-model="form.remark"
                type="textarea"
                :rows="4"
                show-word-limit
                placeholder="请输入用户备注"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="mt-m">
          <el-form-item>
            <el-button icon="el-icon-close" @click="cancel">取 消</el-button>
            <el-button
              type="primary"
              icon="el-icon-check"
              @click="submitUserForm"
              >确 定</el-button
            >
          </el-form-item>
        </el-row>
      </el-form>

      <div v-if="activeIndex === '2'">
        <el-form
          ref="passwordForm"
          :model="passwordForm"
          :rules="passwordRules"
          class="ml-l"
        >
          <el-row>
            <el-col :span="12" :lg="8">
              <el-form-item label="新密码" prop="password">
                <el-input
                  v-model="passwordForm.password"
                  maxlength="20"
                  placeholder="请输入新密码"
                  show-password
                />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12" :lg="8">
              <el-form-item label="确认密码" prop="confirmPassword" required>
                <el-input
                  v-model="passwordForm.confirmPassword"
                  maxlength="20"
                  placeholder="请再次输入新密码"
                  show-password
                />
              </el-form-item>
            </el-col>
          </el-row>

          <el-row class="mt-m">
            <el-col :span="15" :lg="12">
              <el-button icon="el-icon-close" @click="cancel">取 消</el-button>
              <el-button
                type="primary"
                icon="el-icon-check"
                @click="submitPasswordForm"
                >确 定</el-button
              >
            </el-col>
          </el-row>
        </el-form>
      </div>
    </div>

    <div v-show="divShow === 'query'">
      <div class="mb-s flex">
        <el-button
          v-permission="['PRIV_USERS_CREATE']"
          type="primary"
          icon="el-icon-plus"
          @click="handleCreate"
          >新增用户</el-button
        >
        <el-button
          v-permission="['PRIV_USERS_DELETE']"
          type="danger"
          icon="el-icon-delete"
          @click="handleDelete(delSelections)"
          >删除用户</el-button
        >
        <el-dropdown trigger="click" class="ml-s">
          <el-button icon="el-icon-unlock" type="warning">
            设置启用<i class="el-icon-arrow-down el-icon--right" />
          </el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item @click.native="handleEnableUsers"
              >启用选中用户</el-dropdown-item
            >
            <el-dropdown-item @click.native="handleDisabledUsers"
              >禁用选中用户</el-dropdown-item
            >
          </el-dropdown-menu>
        </el-dropdown>

        <el-input
          v-model="queryParams.queryText"
          placeholder="请输入用户名称"
          clearable
          prefix-icon="el-icon-search"
          class="width-m ml-a"
          @input="getList"
        />
      </div>

      <el-table
        ref="userTable"
        v-loading="loading"
        :data="userTable.dataSource"
        row-key="id"
        border
        :default-sort="{ prop: queryParams.orderby, order: queryParams.sort }"
        height="calc(100vh - 250px)"
        @sort-change="handleSortable"
        @selection-change="userSelectionChange"
      >
        <el-table-column type="selection" width="55" align="center" />
        <el-table-column prop="userID" align="center" label="用户账号" />
        <el-table-column prop="userName" align="center" label="用户名称" />
        <el-table-column prop="phone" align="center" label="手机号码" />

        <el-table-column
          sortable
          prop="lastLoginIP"
          align="center"
          label="上次登录IP"
          width="120"
        />

        <el-table-column
          sortable
          prop="lastLoginTime"
          align="center"
          width="150"
          label="上次登录时间"
        />

        <el-table-column
          sortable
          prop="createTime"
          align="center"
          width="150"
          label="创建时间"
        />

        <el-table-column
          prop="enabled"
          align="center"
          label="是否启用"
          width="100"
        >
          <template slot-scope="scope">
            <i
              :style="
                scope.row.enabled === true ? 'color:#67C23A' : 'color:#F56C6C'
              "
              :class="
                scope.row.enabled === true
                  ? 'el-icon-success '
                  : 'el-icon-error'
              "
              style="font-size: 16px"
            />
          </template>
        </el-table-column>
        <el-table-column
          prop="remark"
          align="center"
          label="备注"
          :show-overflow-tooltip="true"
        />
        <el-table-column label="操作" align="center" width="180">
          <template slot-scope="scope">
            <el-button-group>
              <el-button
                v-permission="['PRIV_USERS_UPDATE']"
                type="primary"
                size="mini"
                icon="el-icon-edit"
                @click="handleUpdate(scope.row)"
              />
              <el-button
                v-permission="['PRIV_USERS_DELETE']"
                type="danger"
                size="mini"
                icon="el-icon-delete"
                @click="handleDelete([scope.row.userID])"
              />
            </el-button-group>
          </template>
        </el-table-column>
      </el-table>

      <pagination
        :total="total"
        :page.sync="queryParams.pageIndex"
        :limit.sync="queryParams.pageSize"
        @pagination="getList"
      />
    </div>
  </div>
</template>
<script>
import {
  queryUsers,
  createUser,
  updateUser,
  deleteUsers,
  enableUsers,
  resetPassword,
} from '@/api/users/users'

export default {
  name: 'users',
  data() {
    var validateConfirmPassword = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请再次输入密码'))
      } else if (value !== this.passwordRules.password) {
        callback(new Error('两次输入密码不一致!'))
      } else {
        callback()
      }
    }

    return {
      // 遮罩层
      loading: false,

      // 合计条数
      total: 0,
      // 用户信息弹出框
      divShow: 'query',

      // 查询参数
      queryParams: {
        queryText: '',
        pageIndex: 1,
        pageSize: 20,
        orderby: 'createTime',
        sort: 'descending',
      },
      // 用户列表
      userTable: [],

      // 删除用户列表
      delSelections: [],
      // 查询用户列表
      userSelections: [],

      // 表单
      form: {},
      // 密码表单
      passwordForm: {
        password: '',
        confirmPassword: '',
      },
      // 表单标题
      title: '',
      // 表单校验
      rules: {
        userID: [{ required: true, message: '用户账号不能为空' }],
        userName: [{ required: true, message: '用户名称不能为空' }],
        password: [
          { required: true, message: '用户密码不能为空' },
          { min: 8, message: '用户密码长度至少8位' },
        ],
      },
      // 重置密码表单校验
      passwordRules: {
        password: [
          { required: true, message: '用户密码不能为空' },
          { min: 8, message: '用户密码长度至少8位' },
        ],
        confirmPassword: [{ validator: validateConfirmPassword }],
      },
      // 重置密码用户
      ResetPasswordUserId: '',

      activeIndex: '1',
    }
  },

  created() {
    this.getList()
  },

  methods: {
    userSelectionChange(val) {
      this.delSelections = val.map((item) => item.userID)
    },

    /** 查询菜单列表 */
    getList() {
      this.loading = true
      queryUsers(this.queryParams).then((response) => {
        this.userTable = response.data
        this.total = this.userTable.totalCount
        this.loading = false
      })
    },
    /** 新增按钮操作 */
    handleCreate() {
      this.reset()
      this.divShow = 'edit'
      this.title = '新增用户'

      this.$refs.form.resetFields()
    },

    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset()
      this.form = row
      this.ResetPasswordUserId = row.userID
      delete this.form.password
      this.divShow = 'edit'
      this.title = '编辑用户'
    },

    // 删除按钮操作
    handleDelete(ids) {
      if (ids.length === 0) {
        this.$message.error('请选中需要删除用户！')
        return
      }
      this.$confirm('是否确认删除选中的 ' + ids.length + ' 条数据?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      })
        .then(() => {
          deleteUsers({
            userIds: ids,
          }).then((response) => {
            this.$notify({
              title: '成功',
              message: '成功删除' + response.data + '条数据',
              type: 'success',
            })

            this.getList()
          })
        })
        .catch(() => {})
    },

    // 启用用户
    handleEnableUsers() {
      if (this.$refs.userTable.selection.length > 0) {
        this.userSelections = []
        this.$refs.userTable.selection.forEach((element) => {
          this.userSelections.push(element.userID)
        })
        enableUsers({
          userIds: this.userSelections,
          status: true,
        }).then(() => {
          this.$notify({
            title: '成功',
            message: '启用选中用户成功！',
            type: 'success',
          })

          this.getList()
        })
      } else {
        this.$message.error('请选中需要启用用户！')
      }
    },
    // 禁用用户
    handleDisabledUsers() {
      if (this.$refs.userTable.selection.length > 0) {
        this.userSelections = []
        this.$refs.userTable.selection.forEach((element) => {
          this.userSelections.push(element.userID)
        })
        enableUsers({
          userIds: this.userSelections,
          status: false,
        }).then(() => {
          this.$notify({
            title: '成功',
            message: '禁用选中用户成功！',
            type: 'success',
          })

          this.getList()
        })
      } else {
        this.$message.error('请选中需要禁用用户！')
      }
    },
    // 新建用户提交按钮
    submitUserForm() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          if (this.title !== '新增用户') {
            updateUser(this.form).then(() => {
              this.$notify({
                title: '成功',
                message: '修改用户成功！',
                type: 'success',
              })
              this.divShow = 'query'
              this.getList()
            })
          } else {
            createUser(this.form).then(() => {
              this.$notify({
                title: '成功',
                message: '新增用户成功！',
                type: 'success',
              })
              this.title = '编辑用户'
              this.ResetPasswordUserId = this.form.userID
              this.getList()
            })
          }
        }
      })
    },

    // 排序操作
    handleSortable(val) {
      this.queryParams.orderby = val.prop
      this.queryParams.sort = val.order
      this.getList()
    },

    // 重置密码提交
    submitPasswordForm() {
      this.$refs['passwordForm'].validate((valid) => {
        if (valid) {
          if (
            this.passwordForm.password !== this.passwordForm.confirmPassword
          ) {
            this.$message.error('两次密码输入不一致')
            return
          }
          resetPassword({
            userID: this.ResetPasswordUserId,
            confirmPassword: this.passwordForm.password,
          }).then(() => {
            this.$refs['passwordForm'].resetFields()
            this.openPassword = false

            this.$notify({
              title: '成功',
              message: '重置密码成功！',
              type: 'success',
            })
          })
        }
      })
    },
    // 表单重置
    reset() {
      this.form = {
        userID: '',
        userName: '',
        nickName: '',
        email: '',
        password: '',

        phone: '',
        remark: '',
        identityCard: '',
        birthday: '',
        enabled: true,
        oneSession: true,
      }
      this.passwordForm = {
        password: '',
        confirmPassword: '',
      }
    },
    // 取消按钮
    cancel() {
      this.divShow = 'query'
      this.openPassword = false
      this.reset()
      this.getList()
    },
  },
}
</script>
<style lang="scss" scoped></style>
