<template>
  <div class="home">
    mine

    <Tabbar />
  </div>
</template>

<script>
import Tabbar from '@/components/Tabbar'

import { queryCategory, getUserInfo } from '@/api/home'

export default {
  name: 'Mine',

  components: {
    Tabbar,
  },
  data() {
    return {
      userInfo: {},
    }
  },

  created() {
    console.log(this.$store.state.userInfo)
    this.userInfo = this.$store.state.userInfo

    queryCategory({
      pageIndex: 1,
      pageSize: 0,
      orderBy: '',
      sort: '',
    }).then((res) => {})
  },

  methods: {
    click() {
      getUserInfo().then((res) => {})
    },
  },
}
</script>
<style lang="scss" scoped>
.a {
  font-size: 24px;
}
</style>
