<template>
  <view class="home">
    <u-navbar
      :is-back="false"
      :border-bottom="false"
      title-width="300"
      title="VISiONIX威视力中国"
    />

    <view v-if="authorizeButtonShow">
      <AuthorizeButton
        :redirect="redirect"
        @closeAuthorize="authorizeButtonShow = false"
      />
    </view>

    <view v-else>
      <view class="index-container">
        <u-swiper
          :list="swiperList"
          height="450"
        />

        <view class="nav-title">
          预约服务
        </view>

        <view class="my-u-grid">
          <u-grid
            :col="3"
            :border="false"
          >
            <u-grid-item
              v-for="(item,index) in navList"
              :key="index"
              @click="jumpPage(item.link)"
            >
              <image
                :src="item.icon"
                style="width: 120rpx;height: 120rpx;"
              />
              <!--      <u-icon 
             
                name="car-fill"/> -->

              <view class="text">
                {{ item.title }}
              </view>
            </u-grid-item>
          </u-grid>
        </view>
      </view>
    </view>

    <u-tabbar
      v-model="current"
      :list="vuex_tabbar"
      active-color="#2979ff"
    />
  </view>
</template>

<script>
import {
  AuthorizeButton
} from '@/components/AuthorizeButton.vue'
export default {

  components: {

    AuthorizeButton

  },

  onLoad() {
    this.$u.api.authLogin({
      userName: 'honyait',
      passWord: 'hy5566'
    }).then(res => {
      this.$u.vuex('vuex_token', res.data)
    })
  },

  data() {
    return {

      authorizeButtonShow: false,

      redirect: '',

      // 顶部轮播
      swiperList: [],

      current: 0,
      navList: [{
        icon: '../../static/images/repair.png',
        title: '报障',
        link: '../repair/repair'
      },
      {
        icon: '../../static/images/install.png',
        title: '装机',
        link: '../install/install'
      },
      {
        icon: '../../static/images/detach.png',
        title: '移机',
        link: '../detach/detach'
      },
      {
        icon: '../../static/images/purchase.png',
        title: '采购',
        link: '../purchase/purchase'
      },
      {
        icon: '../../static/images/train.png',
        title: '培训',
        link: '../train/train'
	  },
      {
        icon: '../../static/images/train.png',
        title: '培训',
        link: '../train/train'
	  }
      ]

    }
  },
  onLoad() {
    this.$u.api.getSwiper().then(res => {
      this.swiperList = res.data.map(item => 'https://wsl.gdsrxh.com:52' + item.picturePath)

      console.log(this.swiperList)
    })
  },

  onShow() {
    this.authorizeButtonShow = false
  },

  onShareAppMessage(res) {
    return {

    }
  },

  onShareTimeline() {
    return {

    }
  },

  methods: {

    jumpPage(url) {
      if (!this.vuex_user.userPhone) {
        this.authorizeButtonShow = true

        this.redirect = url
      } else {
        uni.navigateTo({
          url
        })
      }
    }

  }
}
</script>

<style lang="scss" scoped>
	.home {

		.index-container {

			margin: 0 20rpx;

			.nav-title {
				font-size: $uni-font-size-lg;
				margin: 48rpx 0 24rpx 0;
				text-align: center;
				padding: 12rpx;
				border-bottom: 2px solid #a0cfff;

			}

			// 	.nav {
			// 		display: flex;

			// 		align-items: center;
			// 		margin: 50rpx 0;
			// 		flex-wrap: wrap;

			// 		.nav-item {
			// 			margin:24rpx 58rpx ;
			// 		display: flex;
			// 		align-items: center;
			// 		flex-direction: column;

			// 			.nav-tiem-title {

			// 				margin-top: 12rpx;

			// 			}
			// 		}
			// 	}

		}

	}
</style>
