<script>
export default {
  onLaunch: function() {
  },
  onShow: function() {
			
  },
  onHide: function() {
			
  }
}
</script>

<style lang="scss">
	/*每个页面公共css */
	@import "@/uni_modules/uview-ui/index.scss";
	
	@import "@/common/index.scss";
	
</style>
