<template>
  <div>
    123
  </div>

</template>

<script>
export default {
 
  data() {
    return {
      chart: null
    }
  },
  mounted() {

  },
  beforeDestroy() {

  },
  methods: {

  }
}
</script>

