<template>
  <section class="app-main">
    <transition enter-active-class="fade-enter-active" mode="out-in">
      <keep-alive :include="cachedViews">
        <router-view :key="key" />
      </keep-alive>
    </transition>
  </section>
</template>

<script>
export default {
  name: 'app-main',
  computed: {
    cachedViews() {
      console.log(this.$store.state.tagsView.cachedViews, 999999)
      return this.$store.state.tagsView.cachedViews
    },
    key() {
      return this.$route.path
    },
  },
}
</script>

<style lang="scss" scoped>
.app-main {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;
}

.fixed-header + .app-main {
  margin-top: 50px;
}

.headerTitleShow .fixed-header + .app-main {
  margin-top: 80px;
  min-height: calc(100vh - 80px);
}

.tagsViewShow .fixed-header + .app-main {
  margin-top: 94px;
  min-height: calc(100vh - 94px);
}

.headerTitleShow.tagsViewShow .fixed-header + .app-main {
  margin-top: 120px;
  min-height: calc(100vh - 120px);
}
</style>

<style lang="scss">
// fix css style bug in open el-dialog
.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 15px;
  }
}
</style>
