<template>
  <div class="app-container">
    <div class="flex mb-s">
      <el-button
        v-permission="['PRIV_MENUS_CREATE']"
        type="primary"
        icon="el-icon-plus"
        @click="handleCreate(-1)"
        >新增菜单</el-button
      >

      <el-input
        v-model="queryParams.name"
        placeholder="请输入菜单名称"
        clearable
        prefix-icon="el-icon-search"
        class="width-m ml-a"
        @input="getList"
      />
    </div>

    <el-table
      v-loading="loading"
      :data="menuList"
      row-key="id"
      stripe
      border
      :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
    >
      <el-table-column
        prop="name"
        maxlength="50"
        label="菜单名称"
        :show-overflow-tooltip="true"
        width="200"
      />
      <el-table-column prop="icon" label="图标" align="center" width="100">
        <template slot-scope="scope">
          <svg-icon :icon-class="scope.row.icon" />
        </template>
      </el-table-column>
      <el-table-column
        prop="sortIndex"
        label="排序"
        align="center"
        width="80"
      />
      <el-table-column
        prop="path"
        label="路由地址"
        align="center"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        prop="component"
        label="组件路径"
        align="center"
        :show-overflow-tooltip="true"
      />
      <el-table-column
        prop="viewPower"
        label="权限标识"
        align="center"
        :show-overflow-tooltip="true"
      />

      <el-table-column prop="hidden" label="状态" align="center" width="80">
        <template slot-scope="scope">
          <el-tag :type="scope.row.hidden ? 'danger' : 'success'">{{
            scope.row.hidden ? '隐藏' : '显示'
          }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="keepAlive"
        :formatter="Aliveformat"
        label="是否缓存"
        align="center"
        width="80"
      />
      <el-table-column
        prop="isFrame"
        :formatter="isFrameformat"
        label="是否外链"
        align="center"
        width="80"
      />

      <el-table-column
        label="操作"
        align="center"
        width="200"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button-group>
            <el-button
              v-permission="['PRIV_MENUS_UPDATE']"
              type="primary"
              size="mini"
              icon="el-icon-edit"
              @click="handleUpdate(scope.row)"
            />
            <el-button
              v-permission="['PRIV_MENUS_DELETE']"
              type="danger"
              size="mini"
              icon="el-icon-delete"
              @click="handleDelete(scope.row)"
            />
          </el-button-group>
        </template>
      </el-table-column>
    </el-table>

    <!-- 添加或修改菜单对话框 -->
    <el-dialog
      :title="title"
      :visible.sync="open"
      width="850px"
      append-to-body
      :close-on-click-modal="false"
      @close="cancel"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="100px">
        <el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="上级菜单">
                <treeselect
                  v-model="form.parentUID"
                  :options="menuOptions"
                  :clearable="false"
                  :normalizer="normalizer"
                  :show-count="true"
                  no-results-text="没有查询到菜单"
                  placeholder="选择上级菜单"
                />
              </el-form-item>
            </el-col>
          </el-row>

          <el-row>
            <el-col :span="24">
              <el-form-item label="菜单图标">
                <el-popover
                  placement="bottom-start"
                  width="660"
                  trigger="click"
                  @show="$refs['iconSelect'].reset()"
                >
                  <IconSelect ref="iconSelect" @selected="selected" />
                  <el-input
                    slot="reference"
                    v-model="form.icon"
                    placeholder="点击选择图标"
                    readonly
                  >
                    <svg-icon
                      v-if="form.icon"
                      slot="prepend"
                      :icon-class="form.icon"
                      class="font-size-l"
                    />
                    <i
                      v-else
                      slot="prefix"
                      class="el-icon-search el-input__icon"
                    />
                  </el-input>
                </el-popover>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row>
            <el-col :span="12">
              <el-form-item label="菜单名称" prop="name">
                <el-input
                  v-model="form.name"
                  maxlength="50"
                  placeholder="请输入菜单名称"
                />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="" prop="component">
                <span slot="label">
                  <el-tooltip
                    class="item"
                    effect="dark"
                    content="该项菜单对应页面文件路径"
                    placement="bottom"
                  >
                    <i class="el-icon-question" />
                  </el-tooltip>
                  组件路径
                </span>

                <el-input
                  v-model="form.component"
                  maxlength="255"
                  placeholder="请输入组件路径"
                />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="路由地址" prop="path">
                <el-input
                  v-model="form.path"
                  maxlength="50"
                  placeholder="请输入路由地址（kebab-case命名）"
                />
              </el-form-item>
            </el-col>

            <el-col :span="12">
              <el-form-item label="归属系统" prop="system">
                <el-select
                  v-model="form.system"
                  placeholder="请选择归属系统"
                  style="width: 100%"
                >
                  <el-option
                    v-for="item in systemOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="parseInt(item.value)"
                  />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="权限标识" prop="viewPower">
                <el-autocomplete
                  v-model="form.viewPower"
                  value-key="name"
                  :maxlength="50"
                  :fetch-suggestions="handlePowerSearch"
                  placeholder="请选择权限标识"
                  style="width: 100%"
                >
                  <template slot-scope="{ item }">
                    {{ item.name }} | {{ item.description }}
                  </template>
                </el-autocomplete>
              </el-form-item>
            </el-col>

            <el-col :span="12">
              <el-form-item label="显示状态" prop="hidden">
                <el-select v-model="form.hidden" placeholder="请选择">
                  <el-option label="显示" :value="false" />
                  <el-option label="隐藏" :value="true" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>

          <el-row>
            <el-col :span="12">
              <el-form-item label="是否外链" prop="isFrame">
                <el-radio-group v-model="form.isFrame">
                  <el-radio :label="true">是</el-radio>
                  <el-radio :label="false">否</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>

            <el-col :span="12">
              <el-form-item label="是否缓存" prop="keepAlive">
                <el-radio-group v-model="form.keepAlive">
                  <el-radio :label="true">是</el-radio>
                  <el-radio :label="false">否</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="菜单排序" prop="sortIndex">
                <el-input-number
                  v-model="form.sortIndex"
                  :min="0"
                  :max="999"
                  step-strictly
                  controls-position="right"
                />
              </el-form-item>
            </el-col>
          </el-row>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="open = false">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  queryMenu,
  createMenu,
  updateMenu,
  deleteMenu,
} from '@/api/system/menus'
import { getOption } from '@/api/system/options'
import { queryPower } from '@/api/system/powers'
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
import IconSelect from '@/components/IconSelect'
export default {
  name: 'Menus',
  components: { Treeselect, IconSelect },
  data() {
    return {
      // 遮罩层
      loading: true,
      // 菜单表格树数据
      menuList: [],
      // 菜单树选项
      menuOptions: [],
      // 菜单树选项
      powerOptions: [],
      // 弹出层标题
      title: '',
      // 是否显示弹出层
      open: false,
      // 归属系统选项
      systemOptions: [],
      // 查询参数
      queryParams: {
        name: '',
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        name: [{ required: true, message: '请输入菜单名称' }],
        sortIndex: [{ required: true, message: '请输入菜单排序' }],
        path: [{ required: true, message: '请输入路由地址' }],
      },
    }
  },

  created() {
    getOption('SYSTEM_MENU_SYSTEM').then((response) => {
      this.systemOptions = response.data
    })
    this.getList()
  },
  methods: {
    // 选择图标
    selected(name) {
      this.form.icon = name
    },

    /** 查询菜单列表 */
    getList() {
      this.loading = true
      queryMenu(this.queryParams).then((response) => {
        this.menuList = response.data
        this.loading = false
      })
    },
    /** 转换菜单数据结构 */
    normalizer(node) {
      if (node.children && !node.children.length) {
        delete node.children
      }
      return {
        id: node.id,
        label: node.name,
        children: node.children,
      }
    },
    /** 查询菜单下拉树结构 */
    getTreeselect() {
      queryMenu({}).then((response) => {
        this.menuOptions = []
        const menu = {
          id: '-1',
          name: '根菜单',
          children: [],
          hasChildren: true,
        }
        menu.children = response.data
        this.menuOptions.push(menu)
      })
    },
    // 取消按钮
    cancel() {
      this.open = false
      this.reset()
      this.getList()
    },
    // 表单重置
    reset() {
      this.form = {
        id: undefined,
        parentUID: '-1',
        name: undefined,
        icon: undefined,
        sortIndex: 0,
        isFrame: false,
        hidden: false,
        keepAlive: false,
        system: 0,
      }
    },

    /** 新增按钮操作 */
    handleCreate(id) {
      this.reset()
      this.getTreeselect()
      this.form.parentUID = id
      this.title = '添加菜单'

      this.open = true

      this.$nextTick(() => {
        this.$refs.form.clearValidate()
      })
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      // this.reset()
      this.getTreeselect()
      row.parentUID = row.parentUID === null ? '-1' : row.parentUID

      console.log(row, 2222)
      this.form = row
      this.title = '修改菜单'

      this.open = true
    },
    /** 提交按钮 */
    submitForm: function () {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          if (this.form.id !== undefined) {
            console.log(this.form, 333)
            updateMenu(this.form).then(() => {
              this.$notify({
                title: '成功',
                message: '更新菜单成功！',
                type: 'success',
              })

              this.open = false
              this.getList()
            })
          } else {
            createMenu(this.form).then(() => {
              this.$notify({
                title: '成功',
                message: '新增菜单成功！',
                type: 'success',
              })

              this.open = false
              this.getList()
            })
          }
        }
      })
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      this.$confirm('是否确认删除名称为"' + row.name + '"的数据项?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      })
        .then(() => {
          deleteMenu(row.id).then(() => {
            this.getList()

            this.$notify({
              title: '成功',
              message: '删除菜单成功！',
              type: 'success',
            })
          })
        })
        .catch(function () {})
    },
    // 转化表格内容是否为外链
    isFrameformat(row) {
      if (row.isFrame === true) {
        return '是'
      } else {
        return '否'
      }
    },

    // 转化是否缓存
    Aliveformat(row) {
      if (row.keepAlive === true) {
        return '是'
      } else {
        return '否'
      }
    },

    handlePowerSearch(queryString, cb) {
      queryPower({ name: queryString }).then((response) => {
        cb(response.data.dataSource)
      })
    },
  },
}
</script>
