<template>
  <div class="app-container market-examine">
    <h1>价格调查记录</h1>

    <div class="form-container">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        :rules="rules"
        label-width="150px"
        inline
      >
        <el-form-item label="调查事项：" prop="name">
          <el-input v-model="ruleForm.name" />
        </el-form-item>
        <el-form-item label="调查时间：" prop="name">
          <el-input v-model="ruleForm.name" />
        </el-form-item>
        <el-form-item label="调查方式：	" prop="name">
          <el-input v-model="ruleForm.name" />
        </el-form-item> 
        <el-form-item label="调查方式：" prop="name">
          <el-input v-model="ruleForm.name" />
        </el-form-item>
        <el-form-item label="联系途径：" prop="name">
          <el-input v-model="ruleForm.name" />
        </el-form-item>
      </el-form>
    </div>

    <div class="my-el-table">
      <el-table :data="tableData" style="width: 100%" border="" size="mini">
        <el-table-column label="序号" width="100" type="index" align="center" />

        <el-table-column label="物品名称" prop="goodsName" align="center" />

        <el-table-column label="物品型号" prop="goodsModel" align="center" />

        <el-table-column label="单位" prop="unit" align="center" />
        <el-table-column label="基准日期" prop="date" align="center" />
        <el-table-column label="调查日期" prop="examineDate" align="center" />
        <el-table-column label="取值原因" prop="reason" align="center" />

        <el-table-column label="取值" prop="reason" align="center" />
        <el-table-column label="扣除" prop="reason" align="center" />
        <el-table-column label="净值" prop="reason" align="center" />

        <el-table-column label="操作" align="center">
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="primary"
              @click="handleEdit(scope.$index, scope.row)"
            >录入</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <div class="form-container">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        :rules="rules"
        label-width="150px"
      >
        <el-form-item label="调查（询问）情况：" prop="name">
          <el-input
            v-model="ruleForm.name"
            type="textarea"
            :rows="4"
          />
        </el-form-item>
        <el-form-item label="其他记录：" prop="name">
          <el-checkbox v-model="ruleForm.isRecord">录音</el-checkbox>
          <el-input
            v-model="ruleForm.recordDuration"
            style="width:60px"
            size="mini"
          />
          <span style="margin-right:24px">时长</span>
          <el-checkbox v-model="ruleForm.isVideo">摄像</el-checkbox>
          <el-input
            v-model="ruleForm.videoDuration"
            style="width:60px"
            size="mini"
          />
          <span style="margin-right:24px">时长</span>

          <el-checkbox v-model="ruleForm.isPicture">照片</el-checkbox>
          <el-input
            v-model="ruleForm.pictureNumber"
            style="width:60px"
            size="mini"
          />
          <span style="margin-right:24px">张</span>
        </el-form-item>
        <el-form-item label="电子资料保存处：" prop="name">
          <el-input v-model="ruleForm.name" />
        </el-form-item>
        <el-form-item label="调查人签字：" prop="name">
          <el-input v-model="ruleForm.name" />
        </el-form-item>
        <el-form-item label="被调查人签字：" prop="name">
          <el-input v-model="ruleForm.name" />
        </el-form-item>

        <el-form-item>
          <el-button
            type="primary"
            @click="submitForm('ruleForm')"
          >保存</el-button>
        </el-form-item>
      </el-form>
    </div>

    <examine-record
      :init-dialog-visible="examineRecordVisible"
      @closeExamineRecord="examineRecordVisible = false"
    />
  </div>
</template>

<script>
import ExamineRecord from './components/ExamineRecord'
export default {
  components: {
    ExamineRecord
  },
  data() {
    return {
      ruleForm: {
        name: '',
        region: '',
        date1: '',
        date2: '',
        delivery: false,
        type: [],
        resource: '',
        desc: ''
      },
      rules: {
        name: [
          {required: true, message: '请输入活动名称', trigger: 'blur'},
          {min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur'}
        ],
        region: [
          {required: true, message: '请选择活动区域', trigger: 'change'}
        ],
        date1: [
          {
            type: 'date',
            required: true,
            message: '请选择日期',
            trigger: 'change'
          }
        ],
        date2: [
          {
            type: 'date',
            required: true,
            message: '请选择时间',
            trigger: 'change'
          }
        ],
        type: [
          {
            type: 'array',
            required: true,
            message: '请至少选择一个活动性质',
            trigger: 'change'
          }
        ],
        resource: [
          {required: true, message: '请选择活动资源', trigger: 'change'}
        ],
        desc: [{required: true, message: '请填写活动形式', trigger: 'blur'}]
      },

      tableData: [
        {
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        },
        {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1517 弄'
        }
      ],

      //   gridData: [
      //     {
      //       date: "2016-05-02",
      //       name: "王小虎",
      //       address: "上海市普陀区金沙江路 1518 弄"
      //     },
      //     {
      //       date: "2016-05-04",
      //       name: "王小虎",
      //       address: "上海市普陀区金沙江路 1518 弄"
      //     },
      //     {
      //       date: "2016-05-01",
      //       name: "王小虎",
      //       address: "上海市普陀区金沙江路 1518 弄"
      //     },
      //     {
      //       date: "2016-05-03",
      //       name: "王小虎",
      //       address: "上海市普陀区金沙江路 1518 弄"
      //     }
      //   ],

      examineRecordVisible: false
    }
  },

  created() {
    console.log(this.$route.query.id)
  },

  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          alert('submit!')
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    handleEdit(index, row) {
      this.examineRecordVisible = true
    }
  }
}
</script>

<style lang="scss" scoped>
.market-examine {
  h1 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  .form-container {
    margin: 24px 0;
    .el-input {
      width: 300px;
    }
    .el-textarea {
      width: 520px;
    }
  }
}
</style>
