@font-face {
  font-family: "iconfont"; /* Project id 3159607 */
  src: url('iconfont.woff2?t=1643007903308') format('woff2'),
       url('iconfont.woff?t=1643007903308') format('woff'),
       url('iconfont.ttf?t=1643007903308') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-hongbao:before {
  content: "\e600";
}

