<template>
  <div class="home">
    <van-dropdown-menu z-index="9999">
      <van-dropdown-item
        v-model="street"
        :options="streetOption"
        @change="streetChange"
      />
      <van-dropdown-item
        v-model="category"
        :options="categoryOption"
        @change="categoryChange"
      />

      <van-dropdown-item
        v-model="gradeValue"
        :options="gradeOption"
        @change="gradeChange"
      />
    </van-dropdown-menu>

    <div id="container"></div>

    <SiteDeatailPopup
      :show.sync="popupShow"
      @close="popupShow = false"
      :siteId="site.id"
      :lng="site.lng"
      :lat="site.lat"
    />

    <ChartPopup :street="street" :category="category" :grade="gradeValue" />
  </div>
</template>

<script>
import { loadScript } from '@/utils'

import { getStreet, getCategory, querySite, getGrade } from '@/api/home'

import SiteDeatailPopup from '@/components/SiteDeatailPopup'

import ChartPopup from '@/components/ChartPopup'

export default {
  name: 'Home',

  components: {
    SiteDeatailPopup,
    ChartPopup,
  },

  data() {
    return {
      popupShow: false,
      map: '',
      street: '',
      touchStartTime: '',
      touchEndTime: '',
      category: '',
      streetOption: [],
      site: {},
      gradeValue: '',
      gradeOption: [
        {
          text: '全部等级',
          value: '',
        },
      ],
      categoryOption: [],
      southWest: {},
      northEast: {},
      list: [],
      zoom: 12,

      centerPoint: {
        lng: 113.506874,
        lat: 23.226106,
      },
      baseUrl: process.env.VUE_APP_BASE_API,
    }
  },

  created() {
    this.handleGetStreet()

    this.handleGetCategory()

    this.handleGetGrade()

    console.log(this, this.$axios)
  },

  mounted() {
    loadScript(
      'https://api.map.baidu.com/api?v=3.0&ak=h8CEfdChAcdPOauNOcqPdk6zoWZXvny1&callback=initialize'
    ).then((res) => {
      setTimeout(() => {
        this.initMap()
      }, 500)
    })
  },

  methods: {
    gradeChange() {
      this.handleQuerySite()
    },

    categoryChange() {
      this.handleGetGrade()

      this.handleQuerySite()

      this.gradeValue = ''
    },

    handleGetGrade() {
      getGrade(this.category).then((res) => {
        let option = [
          {
            text: '全部级别',
            value: '',
          },
        ]

        if (res.data.length > 0) {
          res.data.forEach((item) => {
            option.push({
              text: item.identity,
              value: item.identity,
            })
          })
        }

        this.gradeOption = option
      })
    },

    initCenterMap() {
      this.map = new BMap.Map('container')

      let point = new BMap.Point(this.centerPoint.lng, this.centerPoint.lat)

      this.zoom = 16

      this.map.centerAndZoom(point, this.zoom)

      this.southWest = this.map.getBounds().getSouthWest()
      this.northEast = this.map.getBounds().getNorthEast()

      this.handleQuerySite()
    },

    handleGetStreet() {
      getStreet().then((res) => {
        let option = [
          {
            text: '全部街道',
            value: '',
            lng: 113.506874,
            lat: 23.226106,
          },
        ]

        res.data.forEach((item) => {
          option.push({
            text: item.street,
            value: item.street,
            lng: item.strLng,
            lat: item.strLat,
          })
        })

        this.street = option[0].value
        this.streetOption = option
      })
    },

    handleGetCategory() {
      getCategory().then((res) => {
        this.categoryOption = res.data

        let option = [
          {
            text: '全部类别',
            value: '',
          },
        ]

        res.data.forEach((item) => {
          option.push({
            text: item.category,
            value: item.category,
          })
        })

        this.category = option[0].value

        this.categoryOption = option
      })
    },

    streetChange(value) {
      console.log(value, this.streetOption, value)

      let streetItem = this.streetOption.filter(
        (item) => item.value === value
      )[0]

      console.log(streetItem)

      this.centerPoint = {
        lng: streetItem.lng,
        lat: streetItem.lat,
      }
      console.log(streetItem, this.centerPoint)

      if (value) {
        this.zoom = 16
        this.initCenterMap()
      } else {
        this.zoom = 12
        this.southWest = {}
        this.northEast = {}

        this.handleQuerySite()
      }
    },

    handleQuerySite() {
      querySite({
        street: this.street,
        category: this.category,
        identity: this.gradeValue,
        southWest: this.southWest,
        northEast: this.northEast,
        level: this.zoom,
      }).then((res) => {
        this.list = res.data

        this.initMap()

        // if (res.data.length > 0) {
        //   this.list = res.data

        //   this.initMap()
        // } else {
        //   this.$toast.fail({
        //     type: 'fail',
        //     message: '获取古迹为空',
        //   })
        // }
      })
    },

    getBoundary(map) {
      let bdary = new BMap.Boundary()

      bdary.get('广州市黄埔区', function (rs) {
        //4.添加环形遮罩层
        let earth = new BMap.Polygon(
          rs.boundaries[0],

          {
            strokeColor: '#409EFF',
            strokeWeight: 2,
            fillColor: 'rgb(0,0,0)',
            fillOpacity: 0.08,
          }
        ) //建立多边形覆盖物

        map.addOverlay(earth)
      })
    },

    initMap() {
      this.map = new BMap.Map('container')

      console.log(this.centerPoint.lng, this.centerPoint.lat)
      let point = new BMap.Point(this.centerPoint.lng, this.centerPoint.lat)

      this.map.centerAndZoom(point, this.zoom)

      // this.map.addControl(new BMap.NavigationControl())

      this.map.addEventListener('zoomend', (target) => {
        console.log('zoomend', this.map.getZoom())
        this.zoom = this.map.getZoom()

        console.log(this.map.getZoom())

        if (this.map.getZoom() < 16) {
          this.street = ''

          this.southWest = {}

          this.northEast = {}

          this.initComplexCustomOverlay()
        } else {
          this.southWest = this.map.getBounds().getSouthWest()

          this.northEast = this.map.getBounds().getNorthEast()

          this.initMarker()
        }

        // this.handleQuerySite()
      })

      this.map.addEventListener('moveend', (e) => {
        console.log('moveend')

        if (this.map.getZoom() >= 16) {
          this.southWest = this.map.getBounds().getSouthWest()
          this.northEast = this.map.getBounds().getNorthEast()
          console.log(this.map.getZoom())

          this.initMarker()
        }
      })

      if (this.map.getZoom() >= 16) {
        this.initMarker()
      } else {
        this.initComplexCustomOverlay()
      }
    },

    initComplexCustomOverlay() {
      this.map.clearOverlays()

      function ComplexCustomOverlay(
        point,
        street,
        category,
        count,
        unit,
        lng,
        lat,
        name,
        address,
        years,
        status,
        user,
        society,
        property,
        shortStreet
      ) {
        this._point = point
        this._shortStreet = shortStreet
        this._street = street
        this._category = category
        this._count = count
        this._unit = unit
        this._lng = lng
        this._lat = lat
        this._name = name
        this._address = address
        this._years = years
        this._status = status
        this._user = user
        this._society = society
        this._property = property
      }

      ComplexCustomOverlay.prototype = new BMap.Overlay()

      let _this = this
      // 实现初始化方法
      ComplexCustomOverlay.prototype.initialize = function (map) {
        this._map = map
        var div = (this._div = document.createElement('div'))
        div.style.position = 'absolute'
        div.style.zIndex = BMap.Overlay.getZIndex(this._point.lat)
        div.style.backgroundColor = '#409EFF'

        div.style.color = 'white'
        div.style.height = '40px'
        div.style.width = '40px'
        div.style.padding = '2px'
        // div.style.lineHeight = '18px'
        // div.style.whiteSpace = 'nowrap'
        div.style.fontSize = '12px'
        div.style.borderRadius = '100%'
        div.style.display = 'flex'
        div.style.justifyContent = 'center'
        div.style.alignItems = 'center'

        div.style.flexDirection = 'column'

        div.style.opacity = '0.8'

        if (_this.street) {
          let nameSpan = document.createElement('span')

          div.appendChild(nameSpan)

          nameSpan.appendChild(document.createTextNode(this._name))
        } else {
          let streetSpan = document.createElement('span')
          let totalSpan = document.createElement('span')
          let categorySpan = document.createElement('span')
          div.appendChild(streetSpan)
          div.appendChild(categorySpan)

          div.appendChild(totalSpan)

          streetSpan.style.flex = 'none'

          streetSpan.appendChild(document.createTextNode(this._shortStreet))
          categorySpan.appendChild(
            document.createTextNode(this._category ? this._category : '')
          )

          totalSpan.appendChild(
            document.createTextNode(
              `${this._count}${this._unit ? this._unit : ''}`
            )
          )
        }

        map.getPanes().labelPane.appendChild(div)

        div.addEventListener('touchstart', (e) => {
          this.touchStartTime = new Date().getTime()
        })

        div.addEventListener('touchend', (e) => {
          this.touchEndTime = new Date().getTime()

          console.log(this.touchEndTime - this.touchStartTime)

          if (this.touchEndTime - this.touchStartTime < 150) {
            _this.street = this._street

            _this.zoom = 16

            _this.streetChange(this._street)
          }
        })

        return div
      }

      ComplexCustomOverlay.prototype.draw = function () {
        var pixel = this._map.pointToOverlayPixel(this._point)
        this._div.style.left = pixel.x + 'px'
        this._div.style.top = pixel.y + 'px'
      }

      querySite({
        street: this.street,
        category: this.category,
        level: this.zoom,
        identity: this.gradeValue,

        southWest: this.southWest,
        northEast: this.northEast,
      }).then((res) => {
        this.list = res.data

        for (let item of this.list) {
          let myCompOverlay = new ComplexCustomOverlay(
            new BMap.Point(item.lng, item.lat),
            item.street,
            item.category,
            item.totalCount,
            item.unit,
            item.lng,
            item.lat,
            item.name,
            item.address,
            item.years,
            item.status,
            item.user,
            item.society,
            item.property,
            item.shortStreet
          )

          this.map.addOverlay(myCompOverlay)
        }
      })

      this.getBoundary(this.map)
    },

    initMarker() {
      this.map.clearOverlays()

      querySite({
        street: this.street,
        category: this.category,
        level: this.zoom,
        identity: this.gradeValue,

        southWest: this.southWest,
        northEast: this.northEast,
      }).then((res) => {
        this.list = res.data

        for (let item of this.list) {
          let icon = new BMap.Icon(
            this.baseUrl + item.catePic,
            new BMap.Size(25, 25),
            {
              imageSize: new BMap.Size(25, 25),
            }
          )

          let marker = new BMap.Marker(new BMap.Point(item.lng, item.lat), {
            icon,
          }) // 创建标注

          marker.addEventListener('click', (e) => {
            console.log('click')

            this.site = this.list.filter((it) => it.id === item.id)[0]

            this.popupShow = true
          })

          this.map.addOverlay(marker)
        }
      })
    },
  },
}
</script>
<style lang="scss" scoped>
#container {
  height: calc(100vh - 48px);
}
</style>
