<template>
  <view class="about">
	
	<u-parse :html="content"></u-parse>
  </view>
</template>

<script>
export default {
  data() {
    return {
		content:'',
		
				
    }
  },
  onLoad() {
  	this.$u.api.aboutUs().then(res => {
		
		this.content = res.data.articleContent
		console.log(res)
	})
  }
}
</script>

<style lang="scss">
	.about{
		margin: 18rpx;
	}
		

</style>
