<template>
  <div class="company-manage app-container">
    <div class="app-main-button">
      <el-button
        type="primary"
        icon="el-icon-plus"
        @click="createProposer"
      >新增</el-button>
      <el-button
        type="danger"
        icon="el-icon-delete"
        @click="handleDeleteProposer(multipleSelection)"
      >删除</el-button>

      <el-select v-model="districtId" placeholder="请选择区域" style="margin:0 12px " clearable @change="handleQueryOrganize">
        <el-option
          v-for="item in districtList"
          :key="item.id"
          :label="item.name"
          :value="item.id"
        />
      </el-select>

      <el-select v-model="code" placeholder="请选择认定中心" clearable @change="handleQueryOrganize">
        <el-option
          v-for="item in identifyList"
          :key="item.id"
          :label="item.name"
          :value="item.id"
        />
      </el-select>
      
      <el-input
        v-model="queryText"
        placeholder="请输入内容"
        prefix-icon="el-icon-search"
        style="width:250px;margin-left:auto"

        @input="handleQueryOrganize"
      />
    </div>

    <div class="my-el-table">
      <el-table
        :data="tableData"
        style="width: 100%"
        border=""
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" width="55" align="center" />

        <el-table-column label="提出单位名称" prop="name" align="center" />

        <el-table-column label="对应机构" prop="identifyName" align="center" />

        <el-table-column label="单位对应编码" prop="policeId" align="center" />
        <el-table-column
          label="所属分区"
          prop="distirctName"
   
          align="center"
        />

        <el-table-column label="状态" width="180" align="center">
          <template slot-scope="scope">
            <span v-if="scope.row.isEnable" style="margin-left: 10px">启用</span>
            <span v-else style="margin-left: 10px">禁用</span>
          </template>
        </el-table-column>

        <el-table-column label="操作" width="160" align="center">
          <template slot-scope="scope">
            <el-button
              type="primary"
              @click="handleEdit(scope.row)"
            >编辑</el-button>
            <el-button
              type="danger"
              
              @click="handleDeleteProposer([scope.row.id])"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <el-dialog title="提出方编辑" :visible.sync="dialogFormVisible">
      <el-form ref="ruleForm" :model="form" :rules="rules" label-width="120px">
        <el-form-item
          label="委托单位"
          
          prop="name"
        >
          <el-input
            v-model="form.name"
            autocomplete="off"
            style="width:350px"
          />
        </el-form-item>

        <el-form-item label="警综对应code" prop="policeId">
          <el-input
            v-model.number="form.policeId"
            autocomplete="off"
            style="width:350px"
          />
        </el-form-item>
  
        <el-form-item label="对应机构" prop="code">
          <el-select v-model="form.code" placeholder="请选择对应机构">
            <el-option
              v-for="(item, index) in identifyList"
              :key="index"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>

        <el-form-item label="单位分区" prop="districtId">
          <el-select v-model="form.districtId" placeholder="请选择单位分区">
            <el-option
              v-for="(item, index) in districtList"
              :key="index"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>

        <el-form-item label="状态">
          <el-select v-model="form.isEnable" placeholder="请选择状态">
            <el-option label="启用" :value="1" />
            <el-option label="禁用" :value="0" />
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="submitForm('ruleForm')"
        >确 定</el-button>
      </div>
    </el-dialog>

    <pagination v-show="totalCount > 0" :total="totalCount" :page.sync="pageIndex" :limit.sync="pageSize" @pagination="handleQueryOrganize" />
  
  </div>
</template>

<script>
import {queryOrganize, deleteOrganize, updateOrganize, addOrganize, getDistrict, getIdentifyAll} from '@/api/identify'
export default {
  data() {
    return {
      tableData: [],
      districtList: [],

      identifyList: [],
    
      districtId: '',
      code: '',
      queryText: '',
      pageIndex: 1,
      pageSize: 15,
      totalCount: 0,

      dialogFormVisible: false,
      form: {
        name: '',
        code: '',
        policeId: '',
        districtId: '',
        isEnable: 1
      },

      rules: {
        name: [
          {required: true, message: '请输入委托单位'}
        ],
        policeId: [
        
          {required: true, message: '请输入警综对应code'},
          {type: 'number', message: '警综对应code需为数字'}

        ],
        code: [{required: true, message: '请选择对应机构'}],
        districtId: [
        
          {required: true, message: '请选择单位分区'}

        ]
      },

      multipleSelection: []
 
    }
  },

  created() {
    this.handleQueryOrganize()

    getDistrict().then(res => {
      this.districtList = res.data
    })

    getIdentifyAll().then(res => {
      this.identifyList = res.data
    })
  },
  methods: {

    handleQueryOrganize() {
      queryOrganize({
        pageIndex: this.pageIndex,
        pageSize: this.pageSize,
        queryText: this.queryText,
        districtId: this.districtId,
        code: this.code
      }).then(res => {
        this.tableData = res.data.dataSource
        this.totalCount = res.data.totalCount
        console.log(res)
      })
    },
    handleEdit(row) {
      this.dialogFormVisible = true

      this.form = JSON.parse(JSON.stringify(row))

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },

    createProposer() {
      this.dialogFormVisible = true

      this.form = {
        name: '',
 
        policeId: '',
        districtId: '',
        isEnable: 1
      }

      this.$nextTick(() => {
        this.$refs.ruleForm.clearValidate()
      })
    },

    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.form.id) {
            updateOrganize(this.form).then(() => {
              this.handleQueryOrganize()
              this.dialogFormVisible = false
              this.$notify({
                title: '成功',
                message: '修改提出方成功！',
                type: 'success'
              })
            })
          } else {
            addOrganize(this.form).then(() => {
              this.handleQueryOrganize()
              this.dialogFormVisible = false

              this.$notify({
                title: '成功',
                message: '新增提出方成功！',
                type: 'success'
              })
            })
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    handleDeleteProposer(ids) {
      if (ids.length > 0) {
        this.deleteConfirm(deleteOrganize, {ids}).then(() => this.handleQueryOrganize())
      } else {
        this.$message.error('请选中删除提出方！')
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val.map(item => item.id)
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
