<template>
  <div class="company-manage app-container">
    <div class="app-main-button">
      <el-button type="primary" @click="createCompany">新增人员</el-button>
      <el-button
        type="danger"
        @click="handleDeleteStaff(multipleSelection)"
      >删除人员</el-button>
    </div>

    <div class="my-el-table">
      <el-table
        :data="tableData"
        style="width: 100%"
        border=""
        @selection-change="handleSelectionChange"
      >
        <el-table-column
          type="selection"
          width="55"
          align="center"
        />

        <el-table-column label="认定人员姓名" prop="staffName" align="center" />

        <el-table-column label="对应机构" prop="companyName" align="center" />

        <el-table-column label="上次登陆时间" prop="lastLoginTime" />
        <el-table-column
          label="上次登陆ip"
          prop="lastLoginIP"
          width="180"
          align="center"
        />

        <el-table-column label="登陆时间" prop="loginTime" align="center" />

        <el-table-column label="登陆ip" prop="loginIP" align="center" />

        <el-table-column label="登陆次数" prop="loginNumber" align="center" />

        <el-table-column label="上锁" prop="lock" align="center">
          <template slot-scope="scope">
            <el-button
              v-if="scope.row.lock"
              type="primary"
              icon="el-icon-unlock"
              circle
              size="mini"
            />

            <el-button
              v-else
              type="danger"
              icon="el-icon-lock"
              circle
              size="mini"
            />
          </template>
        </el-table-column>

        <el-table-column label="错误次数" prop="failNumber" align="center" />

        <el-table-column label="状态" width="180" align="center">
          <template slot-scope="scope">
            <span v-if="scope.row.status" style="margin-left: 10px">启用</span>
            <span v-else style="margin-left: 10px">禁用</span>
          </template>
        </el-table-column>

        <el-table-column label="排序" prop="sort" align="center" sortable="" />

        <el-table-column label="操作" width="160" align="center">
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="primary"
              @click="handleEdit(scope.$index, scope.row)"
            >编辑</el-button>
            <el-button
              size="mini"
              type="danger"
              @click="handleDeleteStaff([scope.row.id])"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <el-dialog
      title="认定人员编辑"
      :visible.sync="dialogFormVisible"
      width="70%"
      top="10vh"
    >
      <div class="form-container">
        <el-form ref="ruleForm" :model="form" inline :rules="rules">
          <el-form-item label="姓名" :label-width="formLabelWidth" prop="name">
            <el-input v-model="form.name" autocomplete="off" />
          </el-form-item>

          <el-form-item
            label="所属角色"
            :label-width="formLabelWidth"
            class="roles-form-item"
          >
            <el-select v-model="form.selectRoles" multiple placeholder="请选择">
              <el-option
                v-for="item in rolesOptions"
                :key="item.id"
                :label="item.label"
                :value="item.id"
              />
            </el-select>
          </el-form-item>

          <el-form-item label="密码" :label-width="formLabelWidth" prop="pass">
            <el-input
              v-model="form.pass"
              type="password"
              autocomplete="off"
            />
          </el-form-item>

          <el-form-item
            label="确认密码"
            :label-width="formLabelWidth"
            prop="checkPass"
          >
            <el-input
              v-model="form.checkPass"
              type="password"
              autocomplete="off"
            />
          </el-form-item>

          <el-form-item label="状态" :label-width="formLabelWidth">
            <el-select v-model="form.status" placeholder="请选择">
              <el-option label="启用" :value="1" />
              <el-option label="禁用" :value="0" />
            </el-select>
          </el-form-item>

          <el-form-item label="所属机构" :label-width="formLabelWidth">
            <el-select v-model="form.organize" placeholder="请选择">
              <el-option
                v-for="item in organizeOptions"
                :key="item.id"
                :label="item.label"
                :value="item.id"
              />
            </el-select>
          </el-form-item>

          <el-form-item label="办公电话" :label-width="formLabelWidth">
            <el-input v-model="form.phone" autocomplete="off" />
          </el-form-item>

          <el-form-item
            label="签名文件"
            :label-width="formLabelWidth"
            style="display:block"
          >
            <el-upload
              class="avatar-uploader"
              action="https://jsonplaceholder.typicode.com/posts/"
              :show-file-list="false"
              :on-success="handleAvatarSuccess"
              :before-upload="beforeAvatarUpload"
            >
              <img v-if="imageUrl" :src="imageUrl" class="avatar">
              <i v-else class="el-icon-plus avatar-uploader-icon" />
            </el-upload>
          </el-form-item>

          <el-form-item label="签名base64" :label-width="formLabelWidth">
            <el-input v-model="form.signBase64" autocomplete="off" />
          </el-form-item>

          <el-form-item label="KeyID" :label-width="formLabelWidth">
            <el-input v-model="form.keyId" autocomplete="off" />
          </el-form-item>

          <el-form-item label="key密码" :label-width="formLabelWidth">
            <el-input v-model="form.keyPass" autocomplete="off" />
          </el-form-item>

          <el-form-item label="GMKeyID" :label-width="formLabelWidth">
            <el-input v-model="form.gmkKeyId" autocomplete="off" />
          </el-form-item>

          <el-form-item label="GMKey密码" :label-width="formLabelWidth">
            <el-input v-model="form.gmkeyPass" autocomplete="off" />
          </el-form-item>
        </el-form>
      </div>

      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button
          type="primary"
          @click="submitForm('ruleForm')"
        >确 定</el-button>
      </div>
    </el-dialog>

    <div class="my-el-pagination">
      <el-pagination
        :current-page="pageIndex"
        :page-sizes="[15, 25, 35, 45]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="pageTotal"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    var validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入密码'))
      } else {
        if (this.form.checkPass !== '') {
          this.$refs.ruleForm.validateField('checkPass')
        }
        callback()
      }
    }
    var validatePass2 = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请再次输入密码'))
      } else if (value !== this.form.pass) {
        callback(new Error('两次输入密码不一致!'))
      } else {
        callback()
      }
    }

    return {
      tableData: [
        {
          staffName: '',
          companyName: '',
          lastLoginTime: '',
          lastLoginIP: '',
          loginTime: '',
          loginIP: '',
          loginNumber: '',
          lock: true,
          status: true,
          failNumber: 2,
          sort: 0
        },
        {
          staffName: '',
          companyName: '',
          lastLoginTime: '',
          lastLoginIP: '',
          loginTime: '',
          loginIP: '',
          loginNumber: '',
          lock: false,
          status: false,
          failNumber: 2,
          sort: 0
        }
      ],

      pageIndex: 1,
      pageSize: 15,
      pageTotal: 0,

      dialogFormVisible: false,
      form: {
        name: '',
        phone: '',
        pass: '',
        checkPass: '',
        status: 0,
        signBase64: '',
        keyId: '',
        keyPass: '',
        selectRoles: '',
        gmkKeyId: '',
        gmkeyPass: ''
      },

      rules: {
        name: [{required: true, message: '请输入活动名称', trigger: 'blur'}],
        pass: [{validator: validatePass, trigger: 'blur'}],
        checkPass: [{validator: validatePass2, trigger: 'blur'}]
      },

      formLabelWidth: '120px',
      multipleSelection: [],

      organizeOptions: [
        {
          id: '0',
          label: '黄金糕'
        },
        {
          id: '2',
          label: '双皮奶'
        }
      ],

      rolesOptions: [
        {
          id: '0',
          label: '黄金糕'
        },
        {
          id: '2',
          label: '双皮奶'
        }
      ],
      value: '',
      imageUrl: ''
    }
  },
  methods: {
    handleEdit(index, row) {
      console.log(index, row)
    },
    handleDeleteStaff(row) {
      if (row.length > 0) {
        this.$confirm('此操作将永久删除该认定人员, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        })
          .then(() => {
            this.$notify({
              type: 'success',
              message: '删除成功！',
              title: '成功'
            })
          })
          .catch(() => {
            this.$message({
              type: 'info',
              message: '已取消删除'
            })
          })
      } else {
        this.$message.error('请选中删除人员！')
      }
    },
    createCompany() {
      this.dialogFormVisible = true
    },

    handleSizeChange(val) {
      console.log(`每页 ${val} 条`)
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`)
    },
    handleSelectionChange(val) {
      this.multipleSelection = val
    },

    handleAvatarSuccess(res, file) {
      this.imageUrl = URL.createObjectURL(file.raw)
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG) {
        this.$message.error('上传头像图片只能是 JPG 格式!')
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 2MB!')
      }
      return isJPG && isLt2M
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          alert('submit!')
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.company-manage {
  .form-container {
    .el-input {
      width: 350px;
    }

    .avatar-uploader .el-upload {
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
      border-color: #409eff;
    }
    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      width: 178px;
      height: 178px;
      line-height: 178px;
      text-align: center;
    }
    .avatar {
      width: 178px;
      height: 178px;
      display: block;
    }
  }
}
</style>
