<template>
  <div class="case-entrust app-container">
    <PriceEntrustEdit v-if="entrustEditShow" :require-code="requireCode" @closeEntrustEdit="closeEntrustEdit" />

    <div v-else>
      <div class="app-main-button">
        <el-button
          type="primary"
          @click="handleEntrustEdit"
        >录入协助书</el-button>

        <div style="margin-left:auto">
          <el-input v-model="queryText" placeholder="请输入搜索内容" style="width:250px" @input="handleQueryAssist" />
        </div>
      </div>

      <div class="my-el-table">
        <el-table :data="tableData" style="width: 100%" border="" height="76vh"> 
          <el-table-column label="序号" width="60" type="index" align="center" />
 
          <el-table-column label="标识" align="center" prop="requireCode" width="150">

            <template slot-scope="scope">
              <el-link
                type="primary"
                :underline="false"

                @click="
                  $router.push({
                    path: '/entrust/entrust-preview',
                    query: { id: scope.row.requireCode , state:scope.row.acceptState}
                  })
                "
              >{{ scope.row.requireCode }}</el-link>
            </template>
          </el-table-column>

          <el-table-column label="案件编号" align="center" prop="caseNo" />

          <el-table-column label="发文编号" prop="writeCode" align="center" />

          <el-table-column label="认定中心名称" prop="identifyName" align="center" />

          <el-table-column label="委托目的" prop="assistPurpose" align="center" />

          <el-table-column label="委托类型" prop="attistTypeText" align="center" />

          <el-table-column label="鉴定标题" prop="identifiedTitle" align="center" />
          <el-table-column label="委托单位" prop="organizeName" align="center" />
          <el-table-column label="联系人" prop="assistAgent" align="center" width="100" />
          <el-table-column label="联系电话" prop="assistPhone" align="center" />

          <el-table-column label="委托日期" prop="requireTime" align="center" />

          <el-table-column label="协助书状况" prop="acceptStatuesText" align="center" />

          <el-table-column label="操作" align="center" width="100">
            <template slot-scope="scope">

              <!-- <el-button
                :disabled="scope.row.acceptState !== 0 && scope.row.acceptState !== 3 && scope.row.acceptState !== 11"
          
                type="primary"
                @click="handleEdit(scope.$index, scope.row)"
              >编辑</el-button> -->

              <el-button
                :disabled="scope.row.acceptState !== 0 && scope.row.acceptState !== 3"
      
                type="danger"
                @click="handleDelete(scope.row.requireCode)"
              >删除</el-button>

            </template>
          </el-table-column>
        </el-table>
      </div>

      <pagination v-show="totalCount > 0" :total="totalCount" :page.sync="pageIndex" :limit.sync="pageSize" @pagination="handleQueryAssist" />
   
    </div>
  </div>
</template>

<script>
import PriceEntrustEdit from '@/components/PriceEntrustEdit'

import {queryAssist, deleteAssist} from '@/api/proposer'

// import deleteConfirm from '@/utils/deleteConfirm'

export default {
  components: {
    PriceEntrustEdit
  },
  data() {
    return {

      requireCode: '',
      tableData: [],

      queryText: '',

      pageIndex: 1,
      totalCount: 0,
      pageSize: 15,
      entrustEditShow: false
    }
  },

  created() {
    this.handleQueryAssist()
  },

  methods: {

    closeEntrustEdit() {
      this.handleQueryAssist()  

      this.entrustEditShow = false
    },
    handleQueryAssist() {
      queryAssist({
        pageIndex: this.pageIndex,
        pageSize: this.pageSize,
        queryText: this.queryText

      }).then(res => {
        this.tableData = res.data.dataSource

        this.totalCount = res.data.totalCount
      })
    },
    // handleEdit(index, row) {
    //   this.requireCode = row.requireCode

    //   this.entrustEditShow = true
    // },
    handleDelete(requireCode) {
      this.deleteConfirm(deleteAssist, {requireCode}).then(() => this.handleQueryAssist())
    },
  
    handleEntrustEdit() {
      this.requireCode = ''
      this.entrustEditShow = true
    }
  }
}
</script>

<style lang="scss" scoped>
.case-entrust {
 
}
</style>
