<template>
  <view class="mine">

    <view>
      <view class="header">
        <u-avatar 
          :src="vuex_user.avatarUrl" 
          :show-sex="true"
          :sex-icon="vuex_user.gender === '1' ? 'man' : 'woman'" 
          size="large" />
        <view class="header-right">
          <view class="header-right-name">
            {{ vuex_user.nickName }}
          </view>

        </view>

      </view>
	  
      <u-cell-group>
        <u-cell-item 
          v-for="(item,index) in navList"
          :key="index" 
          :title="item.title"
          @click="jumpPage(item.src)">
          <u-icon
            slot="icon"
            :name="item.icon"
            style="margin-right: 20rpx;" 
            custom-prefix="custom-icon" 
            size="46" />
		  
        </u-cell-item>
      </u-cell-group>

      <view class="login-out-button">
        <u-button 
          type="error" 
          @click="loginOut">退出登录</u-button>
      </view>

    </view>

    <u-tabbar 
      :list="vuex_tabbar" 
      active-color="#2979ff" />

  </view>
</template>

<script>
export default {

  data() {
    return {

      navList: [{
        icon: 'repair-record',
        title: '服务记录',
        src: '/pages/service-record/service-record'

      },

      {
        icon: 'about',
        title: '关于我们',
        src: '/pages/about/about'

      },
      {
        icon: 'personal',
        title: '个人信息',
        src: '/pages/mine-info/mine-info'

      }
      ]
    }
  },

  methods: {
    jumpPage(url) {
      console.log(url)
      this.$u.route(url)
    },
    loginOut() {
      this.$u.vuex('vuex_user', {})
    }
  }
}
</script>

<style lang="scss" scoped>
	.mine {

		.header {
			background: #FFFFFF;
			display: flex;
			justify-content: center;
			align-items: center;

			margin-bottom: 80rpx;
			padding: 30rpx 0;

			&-right {
				margin-left: 24rpx;

				&-name {
					font-size: $uni-font-size-lg;
					font-weight: bold;
					margin-bottom: 24rpx;
					margin-top: 12rpx;
				}

			}
		}

		.login-out-button {
			width: 500rpx;
			margin: auto;
			margin-top: 100rpx;
			.u-btn{
				box-shadow: 0 0 10rpx rgba(0,0,0,0.5);
			}
		
		}

	}
</style>

<style>
	page {
		background: #F7F7F7;
	}
</style>

