<template>
  <div class="editor-container">
    <div :id="id" />
  </div>
</template>

<script>
import wangeditor from 'wangeditor'

import { guid } from '@/utils'

import { getToken } from '@/utils/token'

export default {
  name: 'wang-editor',

  props: {
    id: {
      default: () => {
        return 'wanged-ditor-' + guid()
      },
      type: String,
    },
    html: {
      default: '',
      type: String,
    },
    height: {
      default: 300,
      type: Number,
    },
    fullScreen: {
      default: true,
      type: Boolean,
    },
    menus: {
      default: () => [
        'head',
        'bold',
        'fontSize',
        'fontName',
        'italic',
        'underline',
        'strikeThrough',
        'indent',
        'lineHeight',
        'foreColor',
        'backColor',
        'link',
        'list',
        'todo',
        'justify',
        'quote',
        'emoticon',
        'image',
        'video',
        'table',
        'code',
        'splitLine',
        'undo',
        'redo',
      ],
      type: Array,
    },
  },

  data() {
    return {
      editor: null,
    }
  },

  mounted() {
    this.initEditor()
  },

  methods: {
    initEditor() {
      let editor = new wangeditor('#' + this.id)

      // 设置编辑器高度
      editor.config.height = this.height

      // 编辑器 z-index 默认为 10000，可以自行调整
      editor.config.zIndex = 999

      // 使用 editor.config.menus 定义显示哪些菜单和菜单的顺序
      editor.config.menus = this.menus

      // 配置全屏功能按钮是否展示
      editor.config.showFullScreen = this.fullScreen

      // 上传图片时添加 http 请求的 header
      // editor.config.uploadImgHeaders = {
      //   SYSTOKEN: getToken(),
      // }

      // 配置 server 接口地址
      // editor.config.uploadImgServer = '/upload-img'

      // 可使用回调函数，对上传图片的不同阶段，做相应处理
      // editor.config.uploadImgHooks = {
      //   // 上传图片之前
      //   before: function (xhr) {
      //     console.log(xhr)

      //     // 可阻止图片上传
      //     return {
      //       prevent: true,
      //       msg: '需要提示给用户的错误信息',
      //     }
      //   },
      //   // 图片上传并返回了结果，图片插入已成功
      //   success: function (xhr) {
      //     console.log('success', xhr)
      //   },
      //   // 图片上传并返回了结果，但图片插入时出错了
      //   fail: function (xhr, editor, resData) {
      //     console.log('fail', resData)
      //   },
      //   // 上传图片出错，一般为 http 请求的错误
      //   error: function (xhr, editor, resData) {
      //     console.log('error', xhr, resData)
      //   },
      //   // 上传图片超时
      //   timeout: function (xhr) {
      //     console.log('timeout')
      //   },
      //   // 图片上传并返回了结果，想要自己把图片插入到编辑器中
      //   // 例如服务器端返回的不是 { errno: 0, data: [...] } 这种格式，可使用 customInsert
      //   customInsert: function (insertImgFn, result) {
      //     // result 即服务端返回的接口
      //     console.log('customInsert', result)

      //     // insertImgFn 可把图片插入到编辑器，传入图片 src ，执行函数即可
      //     insertImgFn(result.data[0])
      //   },
      // }

      // 自定义上传视频
      editor.config.customUploadVideo = function (files, insertFn) {
        this.$emit('uploadVideo', files, insertFn)
      }

      // 自己实现上传图片
      editor.config.customUploadImg = (files, insertFn) => {
        this.$emit('uploadImg', files, insertFn)
      }

      // 用户操作（鼠标点击、键盘打字等）导致的内容变化之后，会自动触发 onchange 函数执行。
      editor.config.onchange = (html) => {
        this.$emit('update:html', html)
      }

      editor.create()

      editor.txt.html(this.html) // 重新设置编辑器内容

      this.editor = editor
    },
    // 获取 html
    getHtml() {
      return this.editor.txt.html()
    },
    // 获取 text 文本
    getText() {
      return this.editor.txt.text()
    },
  },

  beforeDestroy() {
    // 销毁编辑器
    this.editor.destroy()
    this.editor = null
  },
}
</script>

<style lang="scss" scope></style>
