<template>
  <div class="app-container price-identify">
    <div class="flex-container">
      <div class="right">
        <div class="my-el-row">
          <el-row class="small" type="flex">
            <el-col :span="2"><div class="grid-content grid-bg">结论书编号</div></el-col>
            <el-col :span="6"><div class="grid-content ">
              深宝价认定

              <el-input
                v-model="input"
                :disabled="true"
                size="mini"
                style="width:60px"
              />
              <el-input
                v-model="input"
                :disabled="true"
                size="mini"
                style="width:60px"
              /></div></el-col>

            <el-col :span="2"><div class="grid-content grid-bg">受理号</div></el-col>
            <el-col :span="6"><div class="grid-content ">受理{2020}40001号</div></el-col>

            <el-col :span="2"><div class="grid-content grid-bg">案件编号</div></el-col>
            <el-col :span="6"><div class="grid-content ">
              A4403065700002020046114_33038_2020
            </div></el-col>
          </el-row>
        </div>

        <div>
          <h2>基础信息</h2>
          <div>
            <div class="my-el-row">
              <el-row class="small" type="flex">
                <el-col :span="3"><div class="grid-content grid-bg">提出机关*</div></el-col>
                <el-col :span="5"><div class="grid-content ">
                  <el-input v-model="input" size="mini" /></div></el-col>

                <el-col :span="3"><div class="grid-content grid-bg">联系人*</div></el-col>
                <el-col :span="5"><div class="grid-content ">
                  <el-input v-model="input" size="mini" /></div></el-col>

                <el-col :span="3"><div class="grid-content grid-bg">联系电话*</div></el-col>
                <el-col :span="5"><div class="grid-content ">
                  <el-input v-model="input" size="mini" /></div></el-col>
              </el-row>

              <el-row class="small" type="flex">
                <el-col :span="3"><div class="grid-content grid-bg">案件分类</div></el-col>
                <el-col :span="5"><div class="grid-content ">
                  <el-select v-model="value" size="mini">
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    />
                  </el-select></div></el-col>

                <el-col :span="3"><div class="grid-content grid-bg">案件性质</div></el-col>
                <el-col :span="5"><div class="grid-content ">
                  <el-select v-model="value" size="mini">
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    />
                  </el-select></div></el-col>

                <el-col :span="3"><div class="grid-content grid-bg">单位统计</div></el-col>
                <el-col :span="5"><div class="grid-content ">
                  <el-select v-model="value" size="mini">
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    />
                  </el-select></div></el-col>
              </el-row>

              <el-row class="small" type="flex">
                <el-col :span="3"><div class="grid-content grid-bg">认定基准日期</div></el-col>
                <el-col :span="5"><div class="grid-content ">
                  <el-input v-model="input" size="mini" /></div></el-col>

                <el-col :span="3"><div class="grid-content grid-bg">结论完成日期</div></el-col>
                <el-col :span="5"><div class="grid-content ">
                  <el-input v-model="input" size="mini" /></div></el-col>

                <el-col :span="3"><div class="grid-content grid-bg">案值确定</div></el-col>
                <el-col :span="5"><div class="grid-content ">
                  <el-input v-model="input" size="mini" /></div></el-col>
              </el-row>
            </div>
          </div>
        </div>

        <div class="identify-way">
          <h2>认定方式</h2>
          <div>
            <div class="my-el-row">
              <el-row class="small" type="flex">
                <el-col :span="4"><div class="grid-content grid-bg">价格认定标的</div></el-col>
                <el-col :span="20"><div class="grid-content ">
                  <el-input v-model="input" size="mini" /></div></el-col>
              </el-row>

              <el-row class="small" type="flex">
                <el-col :span="4"><div class="grid-content grid-bg">认定方法</div></el-col>
                <el-col :span="20"><div class="grid-content ">
                  <el-input v-model="input" size="mini" />
                  <el-checkbox-group v-model="checkList">
                    <el-checkbox label="成本法" />
                    <el-checkbox label="市场法法" />
                    <el-checkbox label="专家咨询法" />
                  </el-checkbox-group></div></el-col>
              </el-row>

              <el-row class="small" type="flex">
                <el-col :span="4"><div class="grid-content grid-bg">价格内涵</div></el-col>
                <el-col :span="20"><div class="grid-content">
                  <el-input
                    v-model="input"
                    size="mini"
                    style="width:40%;margin-right:auto"
                  />
                  <el-checkbox-group v-model="checkList">
                    <el-checkbox label="在用物品价格" />
                    <el-checkbox label="市场零售价格" />
                  </el-checkbox-group></div></el-col>
              </el-row>

              <el-row class="small" type="flex">
                <el-col :span="4"><div class="grid-content grid-bg">
                  价格认定过程及方法
                </div></el-col>
                <el-col :span="20"><div class="grid-content ">
                  <el-input
                    v-model="input"
                    size="mini"
                    type="textarea"
                    :rows="3"
                  />
                  <el-radio-group v-model="radio">
                    <el-radio :label="3">有实物</el-radio>
                    <el-radio :label="6">无实物</el-radio>
                    <el-radio :label="9">两个都有</el-radio>
                    <el-radio :label="9">部分不予认定</el-radio>
                  </el-radio-group>
                </div></el-col>
              </el-row>
            </div>
          </div>
        </div>

        <div>
          <h2>函件</h2>
          <div>
            <div class="my-el-row">
              <el-row class="small" type="flex">
                <el-col :span="4"><div class="grid-content grid-bg">部分函件</div></el-col>
                <el-col :span="20"><div class="grid-content column">
                  <div
                    v-for="(item, index) in partLetter"
                    :key="index"
                    class="part-letter"
                  >
                    <el-checkbox v-model="item.checked" :label="item.label" />

                    <div class="part-letter-input">
                      <el-input
                        v-show="item.checked"
                        v-model="item.input"
                        size="mini"
                        type="textarea"
                        :rows="3"
                      />
                    </div>
                  </div></div></el-col>
              </el-row>

              <el-row class="small" type="flex">
                <el-col :span="4"><div class="grid-content grid-bg">函件</div></el-col>
                <el-col :span="20"><div class="grid-content ">
                  <i class="el-icon-info" style="color:#909399">
                    整个案件不能进行下去，需要出函，在此操作</i>
                </div></el-col>
              </el-row>

              <el-row class="small" type="flex">
                <el-col :span="24"><div class="grid-content ">
                  <el-button size="mini">中止通知书</el-button>
                  <el-button size="mini">假冒中止通知书</el-button>
                  <el-button size="mini">假冒建议</el-button>
                  <el-button size="mini">终止通知书</el-button>
                  <el-button size="mini">涉案物不认定</el-button>
                  <el-button size="mini">灭失物不认定</el-button>
                  <el-button size="mini">补充材料通知书</el-button>
                </div></el-col>
              </el-row>
            </div>
          </div>
        </div>

        <div>
          <h2>模板</h2>
          <div>
            <div class="my-el-row">
              <el-row class="small" type="flex">
                <el-col :span="24"><div class="grid-content ">
                  <el-button size="mini">默认模板</el-button>
                  <el-button size="mini">灭失物</el-button>
                </div></el-col>
              </el-row>
            </div>
          </div>
        </div>
      </div>

      <div class="left">
        <h2>模板预览</h2>

        <el-tabs type="border-card">
          <el-tab-pane label="预览" />
          <el-tab-pane label="编辑">
            <el-table
              :data="tableData"
              style="width: 100%;margin-bottom: 20px;"
              row-key="id"
              border
              default-expand-all
              :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
              size="mini"
            >
              <el-table-column type="selection" width="50" align="center" />

              <el-table-column prop="date" label="条文" header-align="center" />

              <el-table-column label="排序" sortable width="80" align="center">
                <template slot-scope="scope">
                  <el-input v-model="scope.row.sort" size="mini" />
                </template>
              </el-table-column>

              <el-table-column label="操作" width="90" align="center">
                <template slot-scope="scope">
                  <el-button
                    size="mini"
                    type="text"
                    @click="handleEdit(scope.$index, scope.row)"
                  >新增</el-button>

                  <el-button
                    size="mini"
                    type="text"
                    @click="handleEdit(scope.$index, scope.row)"
                  >编辑</el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      checked: false,
      options: [
        {
          value: '选项1',
          label: '黄金糕'
        },
        {
          value: '选项2',
          label: '双皮奶'
        }
      ],

      num: '0',

      partLetter: [
        {
          label: '部分灭失物不予认定',
          checked: false,
          input: ''
        },
        {
          label: '特殊部分灭失物不予认定',
          checked: false,
          input: ''
        },
        {
          label: '部分假冒案件的中止通知书',
          checked: false,
          input: ''
        },
        {
          label: '部分涉案物不符合价格认定条件的函',
          checked: false,
          input: ''
        },
        {
          label: '中止通知书',
          checked: true,
          input: ''
        }
      ],

      tableData: [
        {
          id: 1,
          date: '价格认定事项描述',
          sort: 0
        },
        {
          id: 2,
          date: '价格认定依据',
          sort: 0,

          children: [
            {
              id: 66,
              date: '国家、地方有关法律、法规及相关文件',
              sort: 0,

              children: [
                {
                  id: 77,
                  date: '《中华人民共和国价格法》。',
                  sort: 0
                }
              ]
            }
          ]
        },
        {
          id: 3,
          date: '价格认定事项描述',
          sort: 0,

          children: [
            {
              id: 31,
              date: '价格认定标的：详见价格认定明细表。',
              sort: 0
            },
            {
              id: 32,
              date:
                '价格认定目的：确定价格认定标的在价格认定基准日的在用物品价格，为提出机关办理案件提供价格依据。',
              sort: 0
            }
          ]
        }
      ],

      checkList: [],
      radio: '',
      value: '',
      input: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.flex-container {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 14px;
    border-left: 2px solid #409eff;
    padding-left: 12px;
  }
  .right {
    width: 56%;
    border: 1px solid #dcdfe6;
    padding: 12px;

    .identify-way {
      .el-input {
        width: 40%;
        margin-right: auto;
      }
      .el-textarea {
        width: 40%;
        margin-right: auto;
      }

      .el-checkbox-group {
        margin-right: auto;
      }

      .el-radio {
        margin-right: 12px;
      }
    }

    .part-letter {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 12px 0;
      align-items: center;

      .part-letter-input {
        min-height: 65px;
        width: 60%;
      }
    }
  }
  .left {
    width: 43%;
    border: 1px solid #dcdfe6;
    padding: 0 12px;
  }
}
</style>
