@import "variables";
@import "mixin";
@import "transition";
@import "element-ui";
@import "sidebar";
@import "btn";
@import "eladmin";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0 !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式

.app-main-button {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.app-container {
  margin: 15px;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.components-container {
  margin: 30px 50px;
  position: relative;
}

// .pagination-container {
//   margin-top: 30px;
// }

.text-center {
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(
    90deg,
    rgba(32, 182, 249, 1) 0%,
    rgba(32, 182, 249, 1) 0%,
    rgba(33, 120, 241, 1) 100%,
    rgba(33, 120, 241, 1) 100%
  );

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.custom-ul {
  margin: 0;
  padding: 0;
}

.custom-ul li {
  list-style: none;
  line-height: 24px;
}

// 自定义滚动条
.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(235, 235, 235);
  }

  // &::-webkit-scrollbar-track {
  //   background: rgb(244, 244, 245);
  // }
}

// 协助书菜单
.my-el-menu {
  position: fixed;
  right: 0;
  top: 50vh;
  z-index: 99;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  text-align: center;
  background: #ffffff;

  opacity: 0.5;

  // width: auto;

  // transform: translateX(0);

  &:hover {
    transition: all 0.5s;
    opacity: 1;

    transform: translateX(-15px);

    .el-menu {
      display: block;
    }
  }
  .el-menu {
    display: none;
  }

  .el-button {
    padding: 5px 10px;
    i {
      font-size: 18px;
    }
  }
}

// 重置element样式

.my-el-row {
  .el-row {
    border: 1px solid #e4e7ed;
    border-bottom: none;

    &:last-child {
      margin-bottom: 0;
      border-bottom: 1px solid #e4e7ed;
    }

    .grid-bg {
      background: #f4f4f4;
    }

    .grid-content {
      min-height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 12px;
      flex-wrap: wrap;
    }

    .column {
      flex-direction: column;
    }
  }

  .small {
    .grid-content {
      min-height: 28px;
      padding: 6px;
      font-size: 12px;
      word-break: break-word;
    }
  }
}

.my-el-table {
  .el-table {
    th {
      background: rgb(244, 244, 245);
    }
  }
}

.my-el-backtop {
  .el-backtop {
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

/** 基础通用 **/
.pt5 {
  padding-top: 5px;
}
.pr5 {
  padding-right: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb8 {
  margin-bottom: 8px;
}
.ml5 {
  margin-left: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.ml {
  margin-left: auto;
}
.mr {
  margin-right: auto;
}
.mt {
  margin-top: auto;
}
.mb {
  margin-bottom: auto;
}

// .el-dialog:not(.is-fullscreen) {
//   margin-top: 6vh !important;
// }

/** 表格布局 **/
// .pagination-container {
//   position: relative;
//   height: 25px;
//   margin-top: 5px;
//   padding: 10px 20px !important;
// }

// .pagination-container .el-pagination {
//   right: 0;
//   position: absolute;
// }

.pull-right {
  float: right !important;
}

/* text color */
.text-navy {
  color: #1ab394;
}

.text-primary {
  color: inherit;
}

.text-success {
  color: #1c84c6;
}

.text-info {
  color: #23c6c8;
}

.text-warning {
  color: #f8ac59;
}

.text-danger {
  color: #ed5565;
}

.text-muted {
  color: #888888;
}

/* image */
.img-circle {
  border-radius: 50%;
}

.img-lg {
  width: 120px;
  height: 120px;
}
/* 解决element-ui的table表格控件表头与内容列不对齐问题 */

.el-table th.gutter {
  display: table-cell !important;
}

.el-checkbox.mini .el-checkbox__label {
  font-size: 12px !important;
}
.el-checkbox.small .el-checkbox__label {
  font-size: 12px !important;
}
.el-checkbox.medium .el-checkbox__label {
  font-size: 14px !important;
}

.vue-treeselect.mini {
  font-size: 12px !important;
}
.vue-treeselect.small {
  font-size: 13px !important;
}
.vue-treeselect.medium {
  font-size: 14px !important;
}
.vue-treeselect.mini .vue-treeselect__control {
  height: 28px;
}
.vue-treeselect.small .vue-treeselect__control {
  height: 32px;
}
.vue-treeselect.medium .vue-treeselect__control {
  height: 34px;
}
.vue-treeselect.mini .vue-treeselect__single-value {
  line-height: 28px;
}
.vue-treeselect.small .vue-treeselect__single-value {
  line-height: 32px;
}
.vue-treeselect.medium .vue-treeselect__single-value {
  line-height: 34px;
}
