<template>
  <view class="mine">
    <u-tabs
      :list="tabsList"
      key-name="columnName"
  
      @change="change"
    />

    <view class="ml-s mr-s mt-s flex  jc-sb ai-s fw-w">
      <view
        v-for="(item,index) in list"
        :key="index"
        class=" mb-s bc-w pb-s br-m flex jc-sb ai-s  fd-c"
        style="width: 48%;"
      >
        <image
          :src="baseUrl + item.picUrl"
          mode=""
          class="item-image br-m"
        />
        <view
          class="margin-s"
        >
          <text>{{ item.giftName }}</text>
		  
          <view class="fs-xs color-s">
            ({{ item.specs }})
          </view>
        </view>

        <view class="ml-s mr-s flex jc-c">
          <!-- <u-button type="primary" text="立即兑换"></u-button> -->

          <u-button
      
            size="medium"
  
            shape="circle"
            class=" bc-w color-danger"
         
            text="立即兑换"
            @click="receiveGift(item.id)"
          />
        </view>
      </view>
    </view>
	
    <view class="ml-xl mr-xl mt-s mb-s color-info fs-xs">
      *图片仅供参考，礼品以实物为主（发货颜色随机），本次兑换活动所有解释权归新疆汇和银行所有。
    </view>

    <u-loadmore
      v-if="list.length >= queryParams.pageSize"
      :status="status"
      class="mt-s mb-s"
    />

    <LoginPopup :init-show.sync="LoginPopupShow" />

    <u-modal
      ref="uModal"
      v-model="show"
      title="兑现礼品"
      :async-close="true"
      show-cancel-button
      :title-style="{color: 'red'}"
      @confirm="receiveConfirm"
    >
      <view class="slot-content ml-m mr-m mt-s">
        <u-form
          ref="uForm"
          :model="form"
          label-width="160"
          label-align="right"
          :error-type="['toast']"
          :border-bottom="false"
          :label-style="{fontWeight:'bold'}"
        >
          <u-form-item
            label="兑换码:"
            prop="exchangeCode"
            :border-bottom="false"
          >
            <u-input
              v-model="form.exchangeCode"
              placeholder="请输入兑换码"
            />
          </u-form-item>
          <u-form-item
            label="收件人姓名:"
            prop="trueName"
            :border-bottom="false"
          >
            <u-input
              v-model="form.trueName"
              placeholder="请输入收件人姓名"
            />
          </u-form-item>
          <u-form-item
            label="收件人手机:"
            prop="phone"
            :border-bottom="false"
          >
            <u-input
              v-model="form.phone"
              placeholder="请输入收件人手机"
            />
          </u-form-item>
		  
          <u-form-item
            label="收件地址:"
            prop="area"
            :border-bottom="false"
          >
            <u-input
              v-model="form.area"
              type="select"
              placeholder="请选择收件地址区域"
              :select-open="areaShow"
              @click="areaShow = true"
            />
          </u-form-item>
		  
          <u-form-item
            label="详细地址:"
            prop="address"
            :border-bottom="false"
          >
            <u-input
              v-model="form.address"
              placeholder="请输入详细地址"
            />
          </u-form-item>
        </u-form>
      </view>
    </u-modal>
	
    <u-picker
      v-model="areaShow"
      mode="region"
      :area-code="['44', '4401', '440112']"
      @confirm="areaConfirm"
    />
  </view>
</template>

<script>
import LoginPopup from '@/components/LoginPopup.vue'

import {queryGift, queryCategory} from '@/common/api.js'

export default {

  components: {

    LoginPopup
  },

  data() {
    return {
		
      value6: '',
      status: 'loadmore',
	  
	  areaShow: false,
      form: {

        giftID: '',
        userID: '',
        exchangeCode: '',

        trueName: '',
        address: '',
        area: '',
        phone: ''
      },

      rules: {
        exchangeCode: [
          {
            required: true,
            message: '请输入兑换码',
            // 可以单个或者同时写两个触发验证方式 
            trigger: ['change', 'blur']
	  					}
	  				],
   
        trueName: [
          {
            required: true,
            message: '请输入收件人姓名',
            // 可以单个或者同时写两个触发验证方式 
            trigger: ['change', 'blur']
          }
        ],
        address: [
          {
            required: true,
            message: '请输入收件地址',
            // 可以单个或者同时写两个触发验证方式 
            trigger: ['change', 'blur']
          }
        ],
        phone: [
		  {
		    required: true,
		    message: '请输入收件人手机号',
		    // 可以单个或者同时写两个触发验证方式 
		    trigger: ['change', 'blur']
		  }
        ]

      },

      LoginPopupShow: false,
      // modelShow: false,
      show: false,
      baseUrl: '',
      queryParams: {

        pageIndex: 1,
        pageSize: 10,
        orderBy: 'sort',
        sort: 'desc',
        columnId: '',
        isAdmin: false
      },

      list: [],

      tabsList: [],
      current: 0

    }
  },

  onLoad() {
	  console.log(45)
	  
    queryCategory({
      pageIndex: 1,
      pageSize: 0,
      orderBy: '',
      sort: ''
    }).then(res => {
      console.log(res)
      this.tabsList = res
	  
      console.log(this.tabsList)

      this.queryParams.columnId = this.tabsList[0].columnId

      this.queryGift()
    })
	
    // console.log(uni.$u, this.$store.state)

    this.baseUrl = uni.$u.http.config.baseURL
    this.form.userID =  this.$store.state.userInfo?.userID
  },

  onReachBottom() {
    if (this.status === 'nomore') return
    this.status = 'loading'
    this.queryParams.pageIndex = ++this.queryParams.pageIndex

    this.queryGift()
  },

  methods: {
	  
	  areaConfirm(params) {
		  console.log(params)
		  this.form.area = `${params.province.label}${params.city.label}${params.area.label}`
	  },

    receiveConfirm() {
      this.$refs.uForm.setRules(this.rules)
      this.$refs.uForm.validate(valid => {
        if (valid) {
          this.form.address = this.form.area + this.form.address
          this.$u.api.createReceive(this.form).then(() => {
            uni.showToast({
              title: '领取成功'

            })
            this.show = false
          }).catch((err) => {
			  console.log(err)
			  this.$refs.uModal.clearLoading()
		  })
        } else {
          this.$refs.uModal.clearLoading()
          console.log('验证失败')
        }
      })
    },

    queryGift() {
      queryGift(this.queryParams).then(res => {
		  this.status = res.dataSource.length < this.queryParams.pageSize ? 'nomore' : 'loadmore'
		  
        this.list.push(...res.dataSource)
        // this.status = this.list.length < this.queryParams.pageSize ? 'nomore' : 'loadmore'
      })
    },

    receiveGift(id) {
		
      if (this.$store.state.userInfo.userID) {
        this.form.giftID = id
        this.show = true
      } else {
		  
		  console.log('LoginPopupShow')
        this.LoginPopupShow = true
      }
    },

    change(index) {
      console.log(index)
      this.current = index
      this.queryParams.pageIndex = 1
      this.queryParams.pageSize = 10
	  this.list = []

      this.queryParams.columnId = this.tabsList[index].columnId

      this.queryGift()
    }

  }
}
</script>

<style lang="scss" scoped>
	.mine {
		.item-image {
			width: 100%;
			height: 355rpx;
		}
		
		::v-deep .u-tabbar__content__item__text{
			
			font-weight: bold;
		}
	}
</style>

<style>
	page {
		background: #F3F4F6;
	}
</style>
