







html{

// 改变根元素font-size来配合rem做移动端适配
  font-size: calc(100vw/750px*32px);
}



// 当屏宽>768时限制最大宽度及根元素font-size并居中
@media screen and (min-width: 768PX) {



  html{


    font-size: 32.768PX;


    body{

      max-width: 768PX;
      margin: auto;
    }
  }




  
}




// 公共样式







// // 自定义底部导航

// .foot-navbar{
	
// 	height: 112px;
// 	.foot-navbar-wrap{

		
// 		height: 112px;
// 		position: fixed;
// 		left: 0;
// 		bottom: 0;
// 		right: 0;
// 		border-top: 1px solid $uni-bg-color-grey;
// 		padding: 15px;
// 		display: flex;
// 		align-items: center;
// 		justify-content: space-around;
// 		background: #FFFFFF;
		
// 		.button-group{
// 			display: flex;
// 			align-items: center;
// 			justify-content: space-around;
// 			flex: auto;
// 			margin-left: 20px;
// 		}
		
// 		.term{
	
// 			 text-align: center;
// 			 color:#606266;
// 			 margin: 0 20px;
		
			
// 			.u-icon{
// 				font-size: 40px;
// 			}
			
// 			.text{
// 				font-size: $uni-font-size-sm;
				
// 			}
			
			
// 		}
		
		
		
		
// 	}
	
// 	}
	
	







// 通用内容
.custom-content{
    font-size: 28px;
    color: #303133;
	line-height: 40px;
}

// 通用标题
.custom-title{


        font-size: 34px;
        font-weight: bold;
		margin: 30px 0 20px 0;

  
}

// 控制元素显示类型
.display-b{

    display: block !important;
}

.display-ib{

    display: inline-block !important;

}

.display-i{

    display: inline !important;

}


// 定位
.position-s{
    position: sticky !important;
}


.position-f{
    position: fixed !important;
}


.position-a{
    position: absolute !important;
}

.position-r{
    position: relative !important;
}

// 控制浏览器如何计算元素的总大小
.bs-bb{

    box-sizing: border-box !important;
}

.bs-cb{

    box-sizing: border-box !important;
}


// 当鼠标悬停在一个元素上时，用于控制光标样式的功能类。

.cursor-p	{
  cursor: pointer !important;
}

.cursor-n-a	{
  cursor: not-allowed !important;
}

.cursor-m	{
  cursor: move !important;
}

.cursor-d	{
  cursor: default !important;
}

.cursor-t	{
  cursor: text !important;

}

.cursor-w	{
  cursor: wait !important;
}

.cursor-a	{
  cursor: auto !important;
}

.cursor-h	{
  cursor: help !important;
}


// 上内边距
 .pt-xs {
    padding-top: 10px !important;
  }
  
  .pt-s {
    padding-top: 20px !important;
  }
  
  .pt-m {
    padding-top: 30px !important;
  }
  
  .pt-l {
    padding-top: 40px !important;
  }

  .pt-xl {
    padding-top: 80px !important;
  }


  .pt-n{
    padding-top: 0 !important;
  }



  // 下内边距
.pb-xs {
    padding-bottom: 10px !important;
  }
  
  .pb-s {
    padding-bottom: 20px !important;
  }
  
  .pb-m {
    padding-bottom: 30px !important;
  }
  
  .pb-l {
    padding-bottom: 40px !important;
  }

  .pb-xl {
    padding-bottom: 80px !important;
  }

  .pb-n{
    padding-bottom: 0 !important;
  }


  // 左内边距
.pl-xs {
    padding-left: 10px !important;
  }
  
  .pl-s {
    padding-left: 20px !important;
  }
  
  .pl-m {
    padding-left: 30px !important;
  }
  
  .pl-l {
    padding-left: 40px !important;
  }

  .pl-xl {
    padding-left: 80px !important;
  }


  .pl-n{
    padding-left: 0 !important;
  }
  


  
// 右内边距
.pr-xs {
    padding-right: 10px !important;
  }
  
  .pr-s {
    padding-right: 20px !important;
  }
  
  .pr-m {
    padding-right: 30px !important;
  }
  
  .pr-l {
    padding-right: 40px !important;
  }

  .pr-xl {
    padding-right: 80px !important;
  }
  

  .pr-n{
    padding-right: 0 !important;
  }

// 内边距
  .padding-xs {
    padding: 10px !important;
  }
  
  .padding-s {
    padding: 20px !important;
  }
  
  .padding-m {
    padding: 30px !important;
  }
  
  .padding-l {
    padding: 40px !important;
  }

  .padding-xl {
    padding: 80px !important;
  }

  .padding-n{
    padding: 0 !important;
  }



  // 右外边距
.mr-xs {
    margin-right: 10px !important;
  }
  
  .mr-s {
    margin-right: 20px !important;
  }
  
  .mr-m {
    margin-right: 30px !important;
  }
  
  .mr-l {
    margin-right: 40px !important;
  }

  .mr-xl {
    margin-right: 80px !important;
  }
  
  .mr-a{
    margin-right: auto !important;
  }
  .mr-n{
    margin-right: 0 !important;
  }
  


  // 左外边距
.ml-xs {
    margin-left: 10px !important;
  }
  
  .ml-s {
    margin-left: 20px !important;
  }
  
  .ml-m {
    margin-left: 30px !important;
  }
  
  .ml-l {
    margin-left: 40px !important;
  }

  .ml-xl {
    margin-left: 80px !important;
  }
  
  .ml-a{
    margin-left: auto !important;
  }
  .ml-n{
    margin-left: 0 !important;
  }


  // 上外边距
.mt-xs {
    margin-top: 10px !important;
  }
  
  .mt-s {
    margin-top: 20px !important;
  }
  
  .mt-m {
    margin-top: 30px !important;
  }
  
  .mt-l {
    margin-top: 40px !important;
  }

  .mt-xl {
    margin-top: 80px !important;
  }
  
  .mt-a{
    margin-top: auto !important;
  }
  .mt-n{
    margin-top: 0 !important;
  }
  
  
  .opacity-n{
	  
	  opacity: 0 !important;
	  
	  
  } 
  


  // 下外边距
.mb-xs {
    margin-bottom: 10px !important;
  }
  
  .mb-s {
    margin-bottom: 20px !important;
  }
  
  .mb-m {
    margin-bottom: 30px !important;
  }
  
  .mb-l {
    margin-bottom: 40px !important;
  }
  
  .mb-xl {
    margin-bottom: 80px !important;
  }

  .mb-a{
    margin-bottom: auto !important;
  }
  
  .mb-n{
    margin-bottom: 0 !important;
  }



// 外边距
  .margin-xs {
    margin: 10px !important;
  }
  
  .margin-s {
    margin: 20px !important;
  }
  
  .margin-m {
    margin: 30px !important;
  }
  
  .margin-l {
    margin: 40px !important;
  }

  .margin-xl {
    margin: 80px !important;
  }

  .margin-n{
    margin: 0 !important;
  }


  // 文本水平对齐方式
.ta-c{
    text-align: center !important;
  
  }
  .ta-l{
    text-align: left !important;
  
  }
  .ta-r{
    text-align: right !important;
  
  }


  // 宽度

.width-xs{
    width: 100px !important;
  }
  .width-s{
    width: 200px !important;
  }
  
  .width-m{
    width: 300px !important;
  }
  .width-l{
    width: 400px !important;
  }

  .width-xl{
    width: 600px !important;
  }
  
  .width-f{
    width: 100% !important;
  }




  // 字体大小
.fs-xs{
    font-size: 24px !important;
  }
  .fs-s{
    font-size: 28px !important;
  }
  .fs-m{
    font-size: 32px !important;
  }
  .fs-l{
    font-size: 36px !important;
  }

  .fs-xl{
    font-size: 40px !important;
  }


// 字体粗细
  .fw-n{
    font-weight: normal !important;
  }
  
.fw-b{
    font-weight: bold !important;
  }
  


  
// 颜色主题
.color-primary{
    color: #2979ff !important;
  }
  
  .color-success{
    color: #19be6b !important;
  }
  
  .color-warning{
    color: #ff9900 !important;
  }
  
  .color-danger{
    color: #fa3534 !important;
  }
  
  .color-info{
    color: #909399 !important;
  }



  // 字体颜色
.color-b{
    color: #000000 !important;
  }
  
  .color-w{
    color: #FFFFFF !important;
  }

  .color-s{
    color: #909399 !important;
  }

  .color-m{
    color: #606266 !important;
  }

  .color-l{
    color: #303133 !important;
  }


  // 边框颜色
  .border-s{
    border: 1px solid #EBEEF5 !important;
  }
  .border-m{
    border: 1px solid #E4E7ED !important;
  }
  .border-l{
    border: 1px solid #DCDFE6 !important;
  }
  
  
  // 边框颜色
  .bb-s{
    border-bottom: 1px solid #EBEEF5 !important;
  }
  .bb-m{
    border-bottom: 1px solid #E4E7ED !important;
  }
  .bb-l{
    border-bottom: 1px solid #DCDFE6 !important;
  }
  
  
  
  // 边框颜色
  .bt-s{
    border-top: 1px solid #EBEEF5 !important;
  }
  .bt-m{
    border-top: 1px solid #E4E7ED !important;
  }
  .bt-l{
    border-top: 1px solid #DCDFE6 !important;
  }
  
  

  



  // 背景颜色主题
.bc-primary{
    background-color: #2979ff !important;
  }
  
  .bc-success{
    background-color: #19be6b !important;
  }
  
  .bc-warning{
    background-color: #ff9900 !important;
  }
  
  .bc-danger{
    background-color:#fa3534 !important;
  }
  
  .bc-info{
    background-color: #909399 !important;
  }
  
  .bc-main{
    background-color: #f3f4f6 !important;
  }
  
  .bc-b{
      background-color: #000000 !important;
    }
	
	.bc-w{
	    background-color: #ffffff !important;
	  }
    
  



  // flex布局

.flex{
    display: flex;
    align-items: center;
  }
// 用于控制 flex 项目放大和缩小的功能类。

.flex-n{
  flex: none !important;
}


.flex-a{
  flex: 1 1 auto !important;

}


.flex-1{
  flex: 1 1 0% !important;

}
  
// 控制 Flex 子项的方向的功能类


.fd-c{

  flex-direction: column !important;


}

.fd-r{

  flex-direction: row !important;


}
  // 换行
  .fw-w{
    flex-wrap: wrap !important;
    
  }


    // align-self属性允许单个项目有与其他项目不一样的对齐方式
 .as-fs{
    align-self: flex-start !important;
  }
  .as-fe{
    align-self: flex-end !important;
  }
  .as-c{
    align-self: center !important;
  }
  .as-a{
    align-self: auto !important;
  }
  .as-s{
    align-self: stretch !important;
  }


  
  // Y轴对齐方式
  .jc-c{
    justify-content: center !important;
  }
  
  .jc-sb{
    justify-content: space-between !important;
  }
  
  .jc-fe{
    justify-content: flex-end !important;
  }
  
  .jc-sa{
    justify-content: space-around !important;
  }
  .jc-fs{
    justify-content: flex-start !important;
  }
  .jc-se{
    justify-content: space-evenly !important;
  }
  
  
  // X轴对齐方式
  .ai-fs{
    align-items: flex-start !important;  
  }
  
  .ai-fe{
    align-items: flex-end !important;
  }
  .ai-b{
    align-items: baseline !important;
  }
  .ai-s{
    align-items: stretch !important;
  }
  .ai-c{
    align-items: center !important;
  }
  

//   阴影
  .bs-s{
  
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05) !important
  }

  .bs-m{
  
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1) !important
  }
  
  
  .bs-l{
  
     box-shadow: 0 0 8px rgba(0,0,0,0.4) !important;
  }
  



  
//   边框圆角
  .br-n{
    border-radius: 0 !important;
  }

  .br-s{
    border-radius:4px !important;
  }
  .br-m{
    border-radius: 8px !important;
  }

  .br-l{
    border-radius: 16px !important;
  }

  .br-f{
    border-radius: 999em !important;
  }
  
  
  
  
  
  
  // 用于控制元素如何处理超出容器的内容的功能类。
  
  
  
  .overflow-a{
    overflow: auto !important;
  
  }
  
  
  .overflow-s{
    overflow: scroll !important;
  
  
  }
  
  
  .overflow-h{
    overflow: hidden !important;
  
  
  }
  .overflow-v{
     overflow: visible !important;
  
  
  }
  
  
  
  // 用于控制元素中的换行符的功能类。
  
  
  .wb-ba{
    word-break: break-all !important;
  
  }
  
  .wb-bw{
    overflow-wrap: break-word !important;
  
  }


//   指定元素内的空白怎样处理

.ws-n{
    white-space:nowrap

}
.ws-p{
    white-space:pre

}

.ws-pw{
    white-space:pre-wrap

}

.ws-pl{
    white-space:pre-line

}

