<template>
  <div class="home">
  home


  </div>
</template>


<script>



export default {
  data() {
    return {

    };
  },
created(){

console.log(13)
this.queryCategory()
},


     
  methods: {

      
queryCategory(){




    this.$store.dispatch('app/getUserInfo')



    this.$api.queryCategory({

  pageIndex: 1,
  pageSize: 0,
  orderBy: "",
sort: ""

    }).then(res => {



        console.log(res)
    })
}

  },
};
</script>

<style lang="scss" scoped>
.home{


    
}

</style>
