<template>
  <div class="login">


    <div class="custom-title ta-c">H5 VANT-NUXT</div>

    <div class="form-wrap">
<van-form label-align="right" :show-error-message="false" @submit="onSubmit">
  <van-field
    v-model="form.phone"
    name="用户名"

    placeholder="请输入用户账号"
    left-icon="contact"

    :rules="[{ required: true }]"
  />
  <van-field
    v-model="form.password"
    type="password"
    name="密码"
    left-icon="shield-o"
    placeholder="请输入账号密码"
 
    :rules="[{ required: true}]"
  />
  <div class="mt-xl mb-s">
    <van-button round block type="info" native-type="submit">提交</van-button>
  </div>
</van-form>


    </div>


  </div>
</template>


<script>



export default {
  data() {
    return {

form:{

        phone: '',
      password: '',

}


    };
  },

 created(){




 },


  methods: {


      onSubmit(values) {

  this.$store.dispatch('app/login',this.form).then(() => {





    this.$store.dispatch('app/getUserInfo')
  })





    },

   

  },
};
</script>

<style lang="scss" scoped>

.login{
		background: #F3F4F6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .form-wrap{

width: 520px;
margin: 30px 0;
background: #FFFFFF;
padding:30px;

  }


.title{


  font-size: 24px;
}


}


</style>
